html{
	height: 100%;
}
html.animated{
	overflow: hidden;
}

h1{
	font-weight: 100;
	color: #FFF;
	text-shadow: 0px 1px 0px #000;
}
h1, h2, h3{
	font-weight: 100;
	font-size: 24px;
	margin-top: 0;
	font-family: 'Raleway';
}
section{
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}
a {
	color: rgb(219, 95, 0);
}
p{
	color: white;
	font-size: 1.2em;
	font-weight: 200;
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 100;
	src: local('Raleway Thin'), local('Raleway-Thin'), url('../fonts/Raleway Thin.woff') format('woff');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 200;
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url('../fonts/Raleway ExtraLight.woff') format('woff');
}

main{
	max-width: 720px;
	margin: 0 auto;
	overflow: hidden;
}

.panel, .well {
	background-color: rgba(255, 255, 255, 0.71);
}

.panel-default>.panel-heading {
	background: rgba(255, 255, 255, 0.27);
}
footer{
	text-align: center;
	color: rgba(255, 255, 255, 0.75);
}
body{
	background:rgb(50,50,50);
	font-family: 'Helvetica';
	font-weight: 200;
	height: 100%;
	margin: 0%;

	-webkit-animation:fadeIn .5s ease-in-out forwards;
	-moz-animation:fadeIn .5s ease-in-out forwards;
	-o-animation:fadeIn .5s ease-in-out forwards;
	animation:fadeIn .5s ease-in-out forwards;
}
#logo_espace {
	min-width: 40px;
}
#logo_ressource {
	width: 100%;
	-webkit-filter: blur(10px) grayscale(20%);
	filter: url("data:image/svg+xml;utf8,<svg =xmlns\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'15\' /></filter></svg>#blur");
	opacity: 0.2;
	left: 0px;
	z-index:-1;
	top: -25%;
	position: fixed;
	-webkit-user-drag: none;
}
body.fade-out{
	-webkit-animation:fadeOut 1s ease-in-out .5s forwards;
	-moz-animation:fadeOut 1s ease-in-out .5s forwards;
	-o-animation:fadeOut 1s ease-in-out .5s forwards;
	animation:fadeOut 1s ease-in-out .5s forwards;
}
.panel {
	background-color: rgba(255, 255, 255, 0.8);
}
@-webkit-keyframes fadeOut{

	0%{
		-webkit-transform:scale(1);
		opacity: 1;
	}
	100%{
		-webkit-transform:scale(1.2);
		opacity: 0;
	}
}
@-moz-keyframes fadeOut{

	0%{
		-moz-transform:scale(1);
		opacity: 1;
	}
	100%{
		-moz-transform:scale(1.2);
		opacity: 0;
	}
}
@-o-keyframes fadeOut{

	0%{
		-o-transform:scale(1);
		opacity: 1;
	}
	100%{
		-o-transform:scale(1.2);
		opacity: 0;
	}
}
@keyframes fadeOut{

	0%{
		transform:scale(1);
		opacity: 1;
	}
	100%{
		transform:scale(1.2);
		opacity: 0;
	}
}
@-webkit-keyframes fadeIn{

	0%{
		-webkit-transform:scale(1.2);
		opacity: 0;
	}
	100%{
		-webkit-transform:scale(1);
		opacity: 1;
	}
}
@-moz-keyframes fadeIn{

	0%{
		-moz-transform:scale(1.2);
		opacity: 0;
	}
	100%{
		-moz-transform:scale(1);
		opacity: 1;
	}
}
@-o-keyframes fadeIn{

	0%{
		-o-transform:scale(1.2);
		opacity: 0;
	}
	100%{
		-o-transform:scale(1);
		opacity: 1;
	}
}
@keyframes fadeIn{

	0%{
		transform:scale(1.2);
		opacity: 0;
	}
	100%{
		transform:scale(1);
		opacity: 1;
	}
}
      /*@media screen and (max-width: 480px) {
      h1{
      font-size: 2.5em;
      }
      }*/
/*.btn-action {
display: inline-block;
border: 1px solid rgb(189, 189, 189);
padding: 2px 8px;
border-radius: 3px;
background: linear-gradient(whitesmoke,rgb(221, 221, 221));
}*/
.btn-action{
	padding: 6px;
	margin: 4px;
	line-height: 14px;
	font-size: 15px;
	display: inline-block;
	min-width: 100px;
	color: #333;
	border: none;
	text-shadow: none;
	background-color: rgb(247, 247, 247);
	border-radius: 4px;
	box-shadow: 0 1px 0 rgb(199, 195, 195);
	text-align: center;
	cursor: pointer;

	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
}
.btn-action:hover{
	background-color: #BBB;
}
.btn-action.btn-success {
	color: white;
	background-color: rgba(0, 128, 0, 0.7);
}
.btn-action.btn-success:hover {
	background-color: darkgreen;
}
.panel-heading {
	border-bottom: 1px solid white;
	background: rgba(255, 255, 255, 0.67);
}
form input.ng-invalid.ng-dirty {
	box-shadow: 0 0 4px 1px #3A8B19;
	border: 1px solid rgb(195, 195, 195);
}

form input.ng-valid.ng-dirty {
	box-shadow: 0 0 4px 1px #247C0C inset;
	border: 1px solid rgb(195, 195, 195);
}
.alert-warning {
	color: #A95E0A;
	background-color: rgba(255, 241, 228, 0.83);
	border-color: #E28232;
}
main>div {
	box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3) !important;
}
#attention {
    font-size: 6em;
    line-height: 1em;
    text-shadow: 0 1px 2px rgb(210, 88, 0), 0 0px 0px black, 0 1px 4px white;
	color: rgba(208, 86, 0, 0.5);
}