section.col-sm-12.pf-centered
  .timeline-container.hidden-xs
    .store-icons
      a(href="https://itunes.apple.com/fr/app/pairform/id673935516?mt=8&amp;uo=4", target="itunes_store")
        img(alt="Disponible sur l'App Store", src="https://www.pairform.fr/img/appstore.png")
      a(href="https://play.google.com/store/apps/details?id=cape.pairform")
        img(alt="Disponible sur le Play Store", src="https://developer.android.com/images/brand/fr_app_rgb_wo_45.png")
    h1 PairForm en 4 étapes :
    img.timeline-arrow.pf-real-center(src="private/img/Fleche.svg", alt="Fleche")
    //- include ../../private/img/Fleche.svg
    .timeline-elements-container.pf-real-center
      .timeline-element.text-center
        img(src="private/img/accueil/accueil_ressources.png")
        .pres-thumb-label
          h2 J’accède à un document
          | numérique en ligne
      .timeline-element.text-center
        img(src="private/img/accueil/accueil_partager.png")
        .pres-thumb-label
          h2 Je partage mon commentaire
          | avec tous les usagers du document ou avec un groupe d’amis
      .timeline-element.text-center
        img(src="private/img/accueil/accueil_ecrire.png")
        .pres-thumb-label
          h2 J’écris un commentaire
          | au cœur du document, à l’endroit même où il me fait réagir
      .timeline-element.text-center
        img(src="private/img/accueil/accueil_interagir.png")
        .pres-thumb-label
          h2 J’interagis avec les autres
          | sur le contenu du document et sur leurs commentaires
      a(href="#/demo")
        .timeline-button-final.btn.btn-lg.btn-info Démonstration
  .flat-timeline.hidden-sm.hidden-md.hidden-lg
    .col-xs-6.text-center
      img(src="private/img/accueil/accueil_ressources.png")
      .caption
        h2 J’accède à un document
        | numérique en ligne
    .col-xs-6.text-center
      img(src="private/img/accueil/accueil_ecrire.png")
      .caption
        h2 J’écris un commentaire
        | au cœur du document, à l’endroit même où il me fait réagir
    .col-xs-6.text-center
      img(src="private/img/accueil/accueil_partager.png")
      .caption
        h2 Je partage mon commentaire
        | avec tous les usagers du document ou avec un groupe d’amis
    .col-xs-6.text-center
      img(src="private/img/accueil/accueil_interagir.png")
      .caption
        h2 J’interagis avec les autres
        | sur le contenu du document et sur leurs commentaires
    a.col-xs-12.clearfix(href="#/demo")
      .timeline-button-final.btn.btn-lg.btn-info Démonstration



section.col-md-10.col-sm-10.col-xs-12.pf-centered
  .page-header
    h1 PairForm en 6 principes :
  .row.presentation-row
    .col-md-6
      h1 Réseau social  
      p PairForm permet de relier tous les usagers d’un document : auteur, apprenant, formateur, professionnel, expert…
      p Grâce à la variété des profils de ses membres, une intelligence collective peut émerger de la communauté rassemblée autour du document partagé.
    .col-md-6.presentation-illustration
      img.img-responsive(src="private/img/accueil/reseau.png")
      figcaption Des cercles pour échanger avec ses amis ou sa classe
  hr
  .row.presentation-row
    .col-md-6
      h1 Mobilité  
      p PairForm est utilisable en tout temps et en tout lieu sur le Web, smartphones et tablettes. 
      p Ces trois versions fonctionnent en parfaite complémentarité permettant d’utiliser l’appareil le plus adapté au moment présent. Un message diffusé sur une version est immédiatement disponible sur les autres.
    .col-md-6.presentation-illustration
      .groupe-peripheriques
        .groupe-peripherique
          img(src="private/img/demo/tablette.png")
          a(href="https://itunes.apple.com/fr/app/pairform/id673935516?mt=8&amp;uo=4", target="itunes_store")
            img(alt="Disponible sur l'App Store", src="https://www.pairform.fr/img/appstore.png")
        img.hidden-xs-inline.groupe-peripherique(src="private/img/demo/ordinateur.png")
        .groupe-peripherique
          img(src="private/img/demo/smartphone.png")
          a(href="https://play.google.com/store/apps/details?id=cape.pairform")
            img(alt="Disponible sur le Play Store", src="https://developer.android.com/images/brand/fr_app_rgb_wo_45.png")
  hr
  .row.presentation-row
    .col-md-6
      h1 Gamification  
      p PairForm comprend plusieurs ressorts favorisant la motivation des participants : des points, des rôles, des succès… 
      p Plus un usager contribue à la communauté, plus il reçoit de bonus, plus il progresse, plus il débloque de nouvelles fonctionnalités.
    .col-md-6.presentation-illustration
      img.img-responsive(src="private/img/accueil/gamification.png")
      figcaption 74 succès à débloquer vous attendent sur PairForm
  hr
  .row.presentation-row
    .col-md-6
      h1 Document évolutif  
      p Les documents mis en ligne sur PairForm sont évolutifs grâce à l’apport de la communauté. 
      p Ils s’enrichissent avec la contribution de chacun (des témoignages, des compléments d’information, des avis, des débats…). PairForm apporte une dimension supplémentaire aux documents.
    .col-md-6.presentation-illustration
      img.img-responsive(src="private/img/accueil/document.png")
      figcaption Des bulles bleues marquent la présence de nouveaux messages
  hr
  .row.presentation-row
    .col-md-6
      h1 Identité numérique  
      p Les contributions d’un participant dans la communauté viennent enrichir son identité numérique qui est mise en valeur dans son profil. 
      p Ce dernier est une vitrine de la personne. Il aide les autres membres à apprécier le participant et à l’insérer dans leur réseau.
    .col-md-6.presentation-illustration
      img.img-responsive(src="private/img/accueil/profil.png")
      figcaption On y retrouve ses messages, succès, ressources et points…
  hr
  .row.presentation-row
    .col-md-6
      h1 Apprendre avec les autres  
      p PairForm invite les membres à participer à la communauté, à adopter une posture active favorisant l’apprentissage. 
      p Les échanges permettent une collaboration, une entraide entre les participants ainsi qu’un enrichissement mutuel. L’apprentissage est plus efficace à plusieurs.
    .col-md-6.presentation-illustration
      img.img-responsive(src="private/img/accueil/messages.png")
      figcaption Entraide entre deux utilisateurs