

section.demo-section.clearfix
  .page-header
    h1 Démonstration
  .demo-content.col-md-6
    h2 Ecrivez des commentaires directement dans ce site web!
    br
    p
      | {{'web_label_commentaires_bulle_rouge' | translate}}

    .alert.alert-info
      //- span.glyphicon.glyphicon-warning-sign
      | Note : les messages sont sauvegardés sur votre ordinateur uniquement.

  //-.demo-content-arrow
    img("")
  .demo-content-illustration.col-md-6
    .panel.panel-default.pf-demo
        .panel-heading
            h1 Cliquez sur un de ces éléments :
        .panel-body.pf-background
          span(pf-commentable) Vous pouvez commenter un bloc de texte, mais aussi :
          ul
            li(pf-commentable) Une ligne dans une liste,
            li(pf-commentable) Ou une autre!
          | Ou encore, une image :
          span(pf-commentable)
            img(src="private/img/PairformFullFinal_30.png")



section.demo-section.clearfix
  hr
  .demo-content.col-md-6
    .row
      p {{'web_label_action_reseau_social' | translate}}.
      
      p {{'web_label_propres_a_chaque_ressource' | translate}}
  
    .row
      p {{'web_label_points_droits' | translate}}
  .demo-content-illustration.col-md-6
    .row
      | {{'web_label_par_exemple' | translate}} : 
      .panel.pf-background
        .pres-score-container
          .pres-score-value +10
          .pres-score-action {{'web_label_ecrire_message' | translate}}
        .pres-score-container
          .pres-score-value +1
          .pres-score-action {{'web_label_voter_message' | translate}}
        .pres-score-container
          .pres-score-value +30
          .pres-score-action {{'web_label_gagner_defi' | translate}}
        .pres-score-container
          .pres-score-value.pres-score-value-neg -30
          .pres-score-action {{'web_label_se_faire_sup_msg' | translate}}
    .row
      | En terme de droits, vous pourrez par exemple:
      ul
        li déplacer des messages,
        li {{'web_label_donner_medailles' | translate}},
        li {{'web_label_attribuer_tags' | translate}}.
    //- img(ng-src="{{'private/img/pres/rep0.png'}}", alt="{{'web_label_profil_utilisateur' | translate}}", title="{{'web_label_profil_utilisateur' | translate}}")

section.demo-section.clearfix
  .page-header
    h2 En version mobile ou web
  .demo-content.col-md-6
    p Nous avons développé des applications natives pour Android et iOS.

    p Vous pouvez les retrouver sur leur magasin respectif :
  .demo-content-illustration.col-md-6      
    .groupe-peripheriques
      .groupe-peripherique
        img(src="private/img/demo/tablette.png")
        a(href="https://itunes.apple.com/fr/app/pairform/id673935516?mt=8&amp;uo=4", target="itunes_store")
          img(alt="Disponible sur l'App Store", src="https://www.pairform.fr/img/appstore.png")
      img.hidden-xs-inline(src="private/img/demo/ordinateur.png")
      .groupe-peripherique
        img(src="private/img/demo/smartphone.png")
        a(href="https://play.google.com/store/apps/details?id=cape.pairform")
          img(alt="Disponible sur le Play Store", src="https://developer.android.com/images/brand/fr_app_rgb_wo_45.png")
