.container
  .page-header
      h1 Utilisation dans l'enseignement

  p Dynamiser l’apprentissage de vos étudiants ! Offrez leurs un environnement motivant. Mettez les en action, en interaction avec des pairs autour de vos supports de cours. 
  p Créez facilement avec PairForm des activités sociales innovantes et développez des communautés autour de vos disciplines.

  .circle-container.col-md-6.pf-centered.theme-enseignement.hidden-xs
    .circle-element
      .circle-title.pf-background Activité pédagogique
    .circle-element
      .circle-title.pf-background Usage
    .circle-element
      .circle-title.pf-background Suivi
    .circle-element
      .circle-title.pf-background Transfert
    .circle-element
      .circle-title.pf-background Espace de publication
    .circle-element
      .circle-title.pf-background Plateforme pédagogique
    .circle-center
      iframe.center-animation.pf-real-center(src="https://clips.animatron.com/c5edfb2c94533c1997d7cb242c3a57d0?w=520&h=420&t=0&r=1", width="500", height="420", frameborder="0")
    .circle-content
      .circle-description.pf-real-center PairForm offre aux formateurs la possibilité d’ouvrir leur formation au delà du périmètre de la classe. Ils peuvent créer des activités originales, impliquantes, engageantes en s’appuyant sur des communautés apprenantes. Un manuel auteur illustre des exemples d’activités en amont et durant les formations.
      .circle-description.pf-real-center Les messages postés fournissent des indications sur les usages du document : Quand est-il utilisé ? Combien de personnes y ont-elles recours ? Dans quel contexte est-il exploité ? Quelles parties suscitent le plus de discussions ? Quels sont les points difficiles ? ... Une mine d’informations pertinentes pour les auteurs.
      .circle-description.pf-real-center Les messages diffusés constituent des traces pour observer l’évolution des apprentissages de chacun. Ils permettent d’une part une plus grande individualisation de la formation et d’autre part une meilleure perception du travail fait à distance par les apprenants.
      .circle-description.pf-real-center La communauté perdure au delà de la période de formation. Les apprenants peuvent la solliciter pour les aider à transférer sur le terrain leurs nouvelles connaissances. Les retours d’expérience, les témoignages des membres sont une aide précieuse. Les experts et les formateurs de la communauté sont là aussi pour fournir une assistance.
      .circle-description.pf-real-center Les établissements disposent d’un espace de publication propre. Leurs auteurs peuvent mettre en ligne quand ils veulent des documents et définir qui peut y accéder. Un administrateur local à l’établissement peut définir les privilèges des personnes chargées de la publication.
      .circle-description.pf-real-center PairForm vient en complément des plateformes pédagogiques des établissements. Il ajoute à ces outils des fonctionnalités de réseau social. PairForm vient s’intégrer ainsi au cœur de Moodle ou de Canvas. L’authentification sur les documents PairForm est automatiquement passée par la plateforme en toute transparence.
  
  .container.visible-xs
    .row  
      h1.text-center Espace de publication 
      .thumbnail.pf-background
        .caption
          p Les établissements disposent d’un espace de publication propre. Leurs auteurs peuvent mettre en ligne quand ils veulent des documents et définir qui peut y accéder. Un administrateur local à l’établissement peut définir les privilèges des personnes chargées de la publication.
    .row  
      h1.text-center Plateforme pédagogique 
      .thumbnail.pf-background
        .caption
          p PairForm vient en complément des plateformes pédagogiques des établissements. Il ajoute à ces outils des fonctionnalités de réseau social. PairForm vient s’intégrer ainsi au cœur de Moodle ou de Canvas. L’authentification sur les documents PairForm est automatiquement passée par la plateforme en toute transparence.
    .row
      h1.text-center Activité pédagogique 
      .thumbnail.pf-background
        .caption
          p PairForm offre aux formateurs la possibilité d’ouvrir leur formation au delà du périmètre de la classe. Ils peuvent créer des activités originales, impliquantes, engageantes en s’appuyant sur des communautés apprenantes. Un manuel auteur illustre des exemples d’activités en amont et durant les formations.
    .row  
      h1.text-center Usage 
      .thumbnail.pf-background
        .caption
          p Les messages postés fournissent des indications sur les usages du document : Quand est-il utilisé ? Combien de personnes y ont-elles recours ? Dans quel contexte est-il exploité ? Quelles parties suscitent le plus de discussions ? Quels sont les points difficiles ? ... Une mine d’informations pertinentes pour les auteurs.

    .row  
      h1.text-center Suivi 
      .thumbnail.pf-background
        .caption
          p Les messages diffusés constituent des traces pour observer l’évolution des apprentissages de chacun. Ils permettent d’une part une plus grande individualisation de la formation et d’autre part une meilleure perception du travail fait à distance par les apprenants.
    .row  
      h1.text-center Transfert 
      .thumbnail.pf-background
        .caption
          p La communauté perdure au delà de la période de formation. Les apprenants peuvent la solliciter pour les aider à transférer sur le terrain leurs nouvelles connaissances. Les retours d’expérience, les témoignages des membres sont une aide précieuse. Les experts et les formateurs de la communauté sont là aussi pour fournir une assistance.
  .page-header
    h1 Comment intégrer PairForm dans son cours ?

  p PairForm peut techniquement s'intégrer dans tout site internet.
  p Cependant, pour faciliter la création de cours totalement compatibles avec PairForm, nous avons travaillé avec des editeurs de chaînes éditoriales :

  .row
    .col-sm-4
      .thumbnail.pf-background
        //- img(src="private/img/enseignement/scenari.png")
        h1.text-center #[a(href="http://scenari-platform.org/") Scenari]
        .caption
          p Si vous avez déjà un cours créé avec le modèle Opale / OpaleAdvanced 3.7, il n'y a que quelques modifications pour rendre votre cours dynamique!
          p Pour cela, téléchargez notre modèle Opale spécial (#[a(href="https://www.pairform.fr/scenari.wsppack") version française] ou #[a(href="https://www.pairform.fr/scenari_en.wsppack") version anglaise]), puis suivez les étapes du #[a(href="https://www.pairform.fr/PFRes/ManuelAuteurs/web/co/2-Installation_Scenari.html") manuel pour les auteurs.]
    .col-sm-4
      .thumbnail.pf-background
        //- img(src="private/img/enseignement/chainedit.png")
        h1.text-center #[a(href="http://www.chainedit.fr/") ChainEdit]
        .caption
          p Nous sommes actuellement en collaboration avec l'éditeur de ChainEdit pour créer un modèle PairForm.
          p Si vous êtes interessé, #[a(href="mailto:contact[arobase]pairform.fr") contactez-nous] pour connaître l'avancement du projet.

    .col-sm-4
      .thumbnail.pf-background
        h1.text-center Autre chaine éditoriale
        .caption
          p Vous êtes éditeur d'une chaîne éditoriale ou d'un éditeur de documents innovant, et vous souhaitez rendre votre produit facilement interfacable avec PairForm? 
          a(href="mailto:contact[arobase]pairform.fr") Contactez-nous!
  //- http://scenari-platform.org/
  //- http://www.chainedit.fr/