.container
  .page-header
      h1 Application au monde de l'entreprise
  p
    | La réforme de la formation professionnelle ouvre de nouveaux horizons. 
    | La formation reconnue n’est plus limitée au seul présentiel, elle s’élargit à la formation à distance, à la formation entre pairs, à la formation en mobilité…
  p
    | PairForm est l’outil idéal pour exploiter les nouvelles possibilités offertes par la loi, pour dynamiser le potentiel de votre entreprise.
  .circle-container.col-md-6.pf-centered.theme-entreprise.hidden-xs
    .circle-element
      .circle-title.pf-background Formation individualisée      
    .circle-element
      .circle-title.pf-background Employé au centre
    .circle-element
      .circle-title.pf-background Formation par les pairs
    .circle-element
      .circle-title.pf-background Prolongement  
    .circle-element
      .circle-title.pf-background Mutation de l'entreprise
    .circle-element
      .circle-title.pf-background Support de travail
      
    .circle-center
      iframe.center-animation.pf-real-center(src="https://clips.animatron.com/323eeed5cdbfea191ab2ea489b8cd169?w=450&h=225&t=0&r=1", width="440", height="250", frameborder="0")
    .circle-content
      .circle-description.pf-real-center La formation devient plus individualisée. Le responsable de formation peut piloter les formations et voir l’évolution des apprentissages de ses employés. Ils peut identifier les personnes les plus impliquées et leur proposer un rôle de tuteur auprès de leurs collègues.
      .circle-description.pf-real-center L’employé est au centre de la formation. Il se forme sur les sujets qui l’intéressent, à son rythme, quand il en a besoin, en juste à temps, sur les temps de travail, de transport et personnel. Il peut trouver une réponse pédagogique à son problème. Il se sent impliqué et développe son identité numérique d’apprentissage.
      .circle-description.pf-real-center En s’appuyant sur les technologies majeures (mobilité, cloud, réseau social, ...) que chacun utilise déjà à des fins personnelles, la formation devient omniprésente. Ces technologies sont exploitées ici dans un cadre de formation professionnelle. à travers une communauté, les employés échangent et collaborent au delà du temps formel de formation.
      .circle-description.pf-real-center La communauté perdure au delà de la période formelle de formation : les apprenants prolongent les échanges, sollicitent de l’aide pour transférer sur le terrain leurs nouvelles connaissances, partagent des retours d’expérience. Les experts et les formateurs de la communauté sont là aussi pour fournir une assistance.
      .circle-description.pf-real-center Le numérique bouleverse les entreprises et les métiers. Les employés doivent s’adapter, faire évoluer leurs compétences rapidement. En se formant avec les technologies numériques récentes, ils se les approprient et peuvent mieux les intégrer dans leurs métiers. La formation est le point d’entrée de la transformation réussie de l’entreprise.
      .circle-description.pf-real-center Les documents de formation augmentés de la communauté deviennent des supports de travail. Véritable base de connaissance, réseau professionnel, ils contribuent à une plus grande efficacité. Ils favorisent les évolutions des métiers et des compétences. Ils permettent des interactions entre les acteurs en formation et ceux en activité.

  .container.visible-xs
    .row
      h1.text-center Mutation de l'entreprise
      .thumbnail.pf-background
        .caption
          p Le numérique bouleverse les entreprises et les métiers. Les employés doivent s’adapter, faire évoluer leurs compétences rapidement. En se formant avec les technologies numériques récentes, ils se les approprient et peuvent mieux les intégrer dans leurs métiers. La formation est le point d’entrée de la transformation réussie de l’entreprise.
    .row  
      h1.text-center Support de travail
      .thumbnail.pf-background
        .caption
          p Les documents de formation augmentés de la communauté deviennent des supports de travail. Véritable base de connaissance, réseau professionnel, ils contribuent à une plus grande efficacité. Ils favorisent les évolutions des métiers et des compétences. Ils permettent des interactions entre les acteurs en formation et ceux en activité.
    .row  
      h1.text-center Formation individualisée
      .thumbnail.pf-background
        .caption
          p La formation devient plus individualisée. Le responsable de formation peut piloter les formations et voir l’évolution des apprentissages de ses employés. Ils peut identifier les personnes les plus impliquées et leur proposer un rôle de tuteur auprès de leurs collègues.
    .row  
      h1.text-center Employé au centre
      .thumbnail.pf-background
        .caption
          p L’employé est au centre de la formation. Il se forme sur les sujets qui l’intéressent, à son rythme, quand il en a besoin, en juste à temps, sur les temps de travail, de transport et personnel. Il peut trouver une réponse pédagogique à son problème. Il se sent impliqué et développe son identité numérique d’apprentissage.

    .row  
      h1.text-center Formation par les pairs
      .thumbnail.pf-background
        .caption
          p En s’appuyant sur les technologies majeures (mobilité, cloud, réseau social, ...) que chacun utilise déjà à des fins personnelles, la formation devient omniprésente. Ces technologies sont exploitées ici dans un cadre de formation professionnelle. à travers une communauté, les employés échangent et collaborent au delà du temps formel de formation.
    .row  
      h1.text-center Prolongement
      .thumbnail.pf-background
        .caption
          p La communauté perdure au delà de la période formelle de formation : les apprenants prolongent les échanges, sollicitent de l’aide pour transférer sur le terrain leurs nouvelles connaissances, partagent des retours d’expérience. Les experts et les formateurs de la communauté sont là aussi pour fournir une assistance.
