.container.marketing
  .page-header
      h1 L'équipe
        small  derrière PairForm
  .row
    .equipe-personne.col-md-4.col-sm-6.col-xs-12
      h1 Albert Cau
      .equipe-presentation.thumbnail.pf-background
        img.img-responsive.float-left(src="private/img/equipe/albert.jpg")
        p Arrivé au CAPE en 2013, Albert est spécialisé dans le développement Android et web.
        p Soucieux de l'organisation et des méthodes de travail, il élabore des workflows au top.
        //- p.text-success Phrase fétiche : "On se fait un Doodle ?"
        br

    .equipe-personne.col-md-4.col-sm-6.col-xs-12
      h1 Christian Colin
      .equipe-presentation.thumbnail.pf-background
        img.img-responsive.float-left(src="private/img/equipe/christian.jpg")
        p Christian Colin est responsable du projet PairForm.
        p Enseignant-chercheur à l’Ecole des Mines de Nantes, il dirige le Centre d’Appui aux Pratiques d’Enseignement de l’école.
        //- p.text-success Phrase fétiche : "On est prêts ?"
        br

    .equipe-personne.col-md-4.col-sm-6.col-xs-12
      h1 Maen Juganaikloo  
      .equipe-presentation.thumbnail.pf-background
        img.img-responsive.float-left(src="private/img/equipe/maen.jpg")
        p Arrivé au CAPE en 2012, Maen est spécialisé dans le développement iOS et web.
        p Sur demande, Maen peut se métamorphoser en graphiste maniant images vectorielles, calques et CSS plus vite que son ombre.
        //- p.text-success Phrase fétiche : "Ça frotte, mais ça passe!"

  .panel.panel-default
    .equipe-presentation.panel-body.pf-background
      img.img-responsive.float-left(src="private/img/equipe/emn.png")
      img.img-responsive.float-left(src="private/img/equipe/cape.png")
      p PairForm a été imaginé et développé au sein du Centre d’Appui aux Pratiques d’Enseignement (CAPE) de l’Ecole des Mines de Nantes, une structure dédiée à l’évolution des pratiques de formation pour favoriser l'apprentissage. 
      p Le CAPE collabore avec les grands établissements d’enseignement supérieur. Il est en relation avec la recherche en éducation et mène de nombreuses innovations pédagogiques : #[a(href="https://itunes.apple.com/fr/app/parlez-vous-chinois-3/id475698632?mt=8") mobilité], #[a(href="http://imedia.emn.fr/videos/watch.php?id=618") jeu sérieux], #[a(href="http://podcast.mines-nantes.fr/moocsst/") MOOC], #[a(href="https://imedia.emn.fr/videos/watch.php?id=622") plateau télé]…
      p PairForm intègre les savoir-faire de cette équipe d’une dizaine de spécialistes du développement pédagogique, du numérique, et des nouveaux usages dans l’enseignement.  Il est au carrefour des innovations pédagogiques actuelles : communauté d'apprentissage, pédagogie active, gamification, byod, apprentissage entre pairs…

  .page-header
      h1 Les financeurs
        small  derrière PairForm
  .row.last-feeds-container
    .col-lg-2.col-sm-3.col-xs-6
      a(href="http://www.mines-telecom.fr/")
        .thumbnail.text-center
          //- img(src="private/img/partenaires/partenaire_imt.jpeg")
          .caption
            | Institut Mines-Télécom
    .col-lg-2.col-sm-3.col-xs-6
      a(href="http://www.education.gouv.fr")
        .thumbnail.text-center
          //- img(src="private/img/partenaires/partenaire_menesr.jpeg")
          .caption
            | Ministère de l'Éducation Nationale, de l'Enseignement Supérieur et de la Recherche
    .col-lg-2.col-sm-3.col-xs-6
      a(href="http://www.unit.eu/")
        .thumbnail.text-center
          img(src="private/img/partenaires/partenaire_unit.gif")
          .caption
            | Fondation UNIT