section(ng-controller="controller_kiosque")
  .finder.pf-centered.col-md-6
      h1 Recherche rapide :
      .input-group
        input.form-control(ng-model='recherche_ressource', ng-minlength="3" type="text", placeholder="Recherchez le nom d'un document (minimum 3 caractères)")
        .input-group-btn
          button.btn.btn-default(type="submit")
            i.glyphicon.glyphicon-search
      .ressources.kiosque-recherche
        .ressources-items-container(ng-show="recherche_ressource")
          span(class="finder-no-results" ng-hide='ressources_filtre.length')
            | Aucun résultat ne correspond à vos critères de recherche.
          div(ng-repeat='ressource in ressources_filtre = (ressources | filter:recherche_ressource)', ng-attr-data-count="{{(typeof(nombre_messages[ressource.id_ressource]) != 'undefined') ? nombre_messages[ressource.id_ressource] : '0'}}", title="{{ressource.description + 'Auteurs : ' + ressource.auteur}}", ng-click='afficherFicheRessource(ressource.id_ressource)')
            img.ressources-item-icon(alt='{{ressource.nom_court}}', ng-src='{{ressource.url_logo}}')
            span {{ressource.nom_long}}
            img.icone_drap_res(ng-src='private/img/langue/icone_drapeau_rond_{{ressource.code_langue}}.png', alt='{{ressource.code_langue}}')

  hr
  
  .filters.pf-centered.col-sm-6.clearfix
    .form-group.col-sm-6
      h2 Afficher par :
      select.form-control(ng-model='sort_type' ng-options='sort_mode.index as sort_mode.label for sort_mode in sort_types')
    .form-group.col-sm-6
      h2 Trier par :
      select.form-control(ng-model='order_type' ng-options='order_type.value as order_type.label for order_type in order_types')
      label Inverser :
      input(ng-model='order_type_reverse' type="checkbox")

  .tile-container.col-md-9
    .ressources.kiosque(ng-repeat="item in res_sorted[sort_type] | orderBy:order_type:!order_type_reverse track by item.nom_court")
      .tile(ng-style="sort_type == 0 ? {'background-image' : 'url({{item.url_logo}})'} : {'background' : colorFromString(item.nom_court)}" ng-class="{'small-tile' : item.ressources.length == 0, 'large-tile' : 1 < item.ressources.length && item.ressources.length <= 3, 'huge-tile' : 4 < item.ressources.length, 'flipped' :$root.ressource_affiche == item.nom_court}", ng-click="showRessources(item);")
        //-.tile-content.image
          img(ng-src='{{item.url_logo}}')
        .ressources-items-container.kiosque(ng-show="$root.ressource_affiche == item.nom_court")   
          div(ng-repeat='ressource in item.ressources', ng-attr-data-count="{{(typeof(nombre_messages[ressource.id_ressource]) != 'undefined') ? nombre_messages[ressource.id_ressource] : '0'}}", title="{{ressource.description + 'Auteurs : ' + ressource.auteur}}", ng-click='afficherFicheRessource(ressource.id_ressource)')
            img.ressources-item-icon(alt='{{ressource.nom_court}}', ng-src='{{ressource.url_logo}}')
            span {{ressource.nom_court}}
            img.icone_drap_res(ng-src='private/img/langue/icone_drapeau_rond_{{ressource.code_langue}}.png', alt='{{ressource.code_langue}}')
        .brand
          span {{item.nom_court}}
          span.nombre_ressources(ng-class="{'small-nombre' : item.ressources.length == 0, 'large-nombre' : 1 < item.ressources.length && item.ressources.length <= 3, 'huge-nombre' : 4 < item.ressources.length}") {{item.ressources.length}}
