
.container.marketing.col-sm-12
    .page-header
        h1 Ressources multimédias 
          small autour de PairForm
      //- .row.last-feeds-container
    .row
      section#tweetBox.col-sm-3
        h1 Tweet de @PairForm
        a.twitter-timeline(href="https://twitter.com/PairForm", data-theme="dark", width="320", data-chrome="noheader nofooter", data-widget-id="575704853214814210")
          | Tweets de @PairForm
        //- script.
        //-   !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

      .col-md-9
        .thumbnail.pf-background.clearfix
          .caption
            h3 Vidéos
            .thumbnail.col-md-6
              video(src="https://www.pairform.fr/video/Demo-PairForm.mp4", style="width:100%", controls)
              .caption Présentation de PairForm sur iOS
            .thumbnail.col-md-6
              iframe(style="min-height:310px; width:100%", src="https://videotheque.univ-poitiers.fr/embed.php?id=gqz4adkq14t8t58dw5pa&link=v8qc4ac2l5zhnrhaboxnk8liwnqgsi", frameborder="0", allowfullscreen, scrolling="no")
              .caption Présentation au Printemps des UNT 2014
            .thumbnail.col-md-10
              iframe(style="min-height:310px; width:100%", src="https://www.canal-u.tv/video/canal_u_medecine/embed.1/printemps_des_unt_2014_des_projets_phares_portes_par_les_unt_au_service_de_l_agenda_numerique_du_menesr_unit.15528", frameborder="0", allowfullscreen, scrolling="no")
              .caption Présentation au Campus européen d'eté 2014 - Université de Poitiers
    .row
      .col-md-8
        .thumbnail.pf-background
          .caption
            h3 Slides
            .thumbnail.col-md-12
                iframe(src="https://www.slideshare.net/slideshow/embed_code/43272613", frameborder="0", marginwidth="0", marginheight="0", scrolling="no", style="min-height:355px; width:100%;", allowfullscreen)
                .caption Présentation de PairForm pour la CCI de Nantes
      .col-md-4
        .row
          .thumbnail.pf-background
            .caption
              h3 Articles
              a(href="http://2014.ticeconf.org/images/actes-REX-provisoires.pdf") Actes de TICE 2014 (page 84 à 86)
        .row
          .thumbnail.pf-background
            .caption
              h3 Documentation
              p Vous avez à votre disposition plusieurs guides concernant l'utilisation de PairForm :
              ul
                li 
                  a(ng-click="afficherFicheRessource(1)") Un guide d'intégration de PairForm dans vos documents
                li 
                  a(ng-click="afficherFicheRessource(1)") Un guide sur l'application web,
                li 
                  a(ng-click="afficherFicheRessource(1)") Un guide sur l'application iOS,
                li
                  a(href="https://www.pairform.fr/compatibilite.html") Et un test de compatibilite de votre navigateur.
        .row
          .thumbnail.pf-background
            .caption
              h3 Vous voulez découvrir plus profondément PairForm?
              p Essayez toutes les fonctionalités de PairForm sur le document 
                a(ng-click="afficherFicheRessource(1)") Bac à Sable!
              p Dès que vous vous authentifiez, vous avez toutes les fonctionalités qu'un expert peut avoir sur PairForm.
