.container.marketing
  .page-header
    h1 Les tarifs d'utilisation
  .row.last-feeds-container
    .col-sm-4
      h1.text-center Apprenant
      .thumbnail.pf-background
        .caption
          p Utilisation gratuite de l’application
          p Utilisation des documents : gratuit ou payant selon le souhait de leurs auteurs.
          br

    .col-sm-4
      h1.text-center Auteur / Formateur
      .thumbnail.pf-background
        .caption
          p Gratuit pour les documents gratuits, librement accessibles, et dans le cadre de formations non commerciales.
          p En cas de vente, #[a(href="mailto:contact[arobase]pairform.fr") nous contacter].
          //- p 20% du prix du document en cas de vente.

    .col-sm-4
      h1.text-center Organisme / Entreprise
      .thumbnail.pf-background
        .caption
          //- p 10 € par mois et par apprenant dans le cadre de formations commerciales ou de documents non librement accessibles.
          p #[a(href="mailto:contact[arobase]pairform.fr") Nous consulter] pour des licences en volume.
        
  .page-header
    h1 Conditions d'utilisation
  .row.last-feeds-container
    .col-sm-4
      h1.text-center Utilisation
      .thumbnail.pf-background
        .caption
          p CGU générale pour l'utilisation de l'application, #[a(href="https://www.pairform.fr/CGU_user.html") cliquez-ici.]
    .col-sm-4
      h1.text-center Réseau social
      .thumbnail.pf-background
        .caption
          p CGU spécifique à l'usage du réseau social intégré, #[a(href="https://www.pairform.fr/CGU_rs.html") cliquez-ici.]
    .col-sm-4
      h1.text-center Auteurs de documents
      .thumbnail.pf-background
        .caption
          p CGU spécifique pour les auteurs / déposants de contenu, #[a(href="https://www.pairform.fr/CGU_depot.html") cliquez-ici.]
      
