html {
	font-size: 0.9em;
}
body{
	margin: 0px;
	cursor: default;
}
#tplPage{
	position: absolute;
	top:5px;
	left:5px;
	bottom:5px;
	right:5px;
	border-bottom: 2px solid;
	-moz-border-bottom-colors: ThreeDShadow ThreeDHighlight;
}
#tplTabs{
	position: absolute;
	top:80px;
	left:0px;
	bottom:5px;
	right:0px;
}
.dk_appM_name {
	font-size: 1.5em;
	font-weight: bold;
	color: #003E80;
}
.appUi .infobloc_ti{
	font-size: 1.1em;
}
