.gradient-white {
  background: #f4f4f4;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f4f4f4 0%, #dddddd 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #dddddd));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f4f4f4 0%, #dddddd 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f4f4f4 0%, #dddddd 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f4f4f4 0%, #dddddd 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f4f4f4 0%, #dddddd 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dddddd', GradientType=0);
  /* IE6-9 */

  opacity: 0.9;
}
.btn-box {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  height: 2em;
}
.transition {
  transition: All 0.5s ease-in-out;
  -webkit-transition: All 0.5s ease-in-out;
  -moz-transition: All 0.5s ease-in-out;
  -o-transition: All 0.5s ease-in-out;
}
.lightText {
  color: #dddddd;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
html {
  font-size: 16px;
  font-family: Tahoma, linux;
}
iframe {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: #111111;
  transition: All 0.5s ease-in-out;
  -webkit-transition: All 0.5s ease-in-out;
  -moz-transition: All 0.5s ease-in-out;
  -o-transition: All 0.5s ease-in-out;
}
a:visited {
  color: #111111;
}
a:hover,
a:active {
  color: #881111;
}
#content {
  padding-top: 3em;
  min-height: 1000px;
  background: url("../img/wood_pattern.jpg") no-repeat;
}
#content h1 {
  font-size: 1.5em;
  font-weight: normal;
  color: #dddddd;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  text-align: center;
}
#content #switch {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  width: 100px;
  padding: 6px;
  margin-left: 20px;
  border-radius: 4px;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
}
#content .shelf {
  margin: 0 auto;
  background: url("../img/Shelf.png") no-repeat;
  height: 158px;
  width: 1024px;
  box-shadow: 0 10px 45px black;
  border-radius: 4px;
}
#content .shelf .res-container {
  height: 138px;
}
#content .shelf .res-container div {
  margin: 10px 20px 0;
  vertical-align: top;
  display: inline-block;
}
#content .shelf .res-container div:first-child {
  margin-left: 50px;
}
#content .shelf .res-container div .res-icon {
  display: block;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  width: 80px;
  margin: 0 auto;
}
#content .shelf .res-container div span {
  color: #dddddd;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  max-width: 200px;
  margin-top: 0.2em;
  text-align: center;
}
#content .shelf .shelf-title {
  display: block;
  margin: 0 40px;
  padding: 1px 20px;
  border-radius: 4px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0px 0px 2px #210d00;
}
#content iframe {
  height: 100%;
}
