@import 'variables';

html{
	font-size: 16px;
	font-family: Tahoma, linux;
}

iframe{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color:@textColor;
	.transition;

	&:visited{
		color:@textColor;
	}
	&:hover, &:active{
		color:@textColor2;
	}
}
#content{
	padding-top: 3em;
	min-height: 1000px;
	background: url("../img/wood_pattern.jpg") no-repeat;
	
	h1{
		font-size: 1.5em;
		font-weight: normal;
		.lightText;
		margin-bottom: 20px;
		text-align: center;
	}

	#switch{
		box-shadow: @boxShadow;
		width: 100px;
		padding: 6px;
		margin-left: 20px;
		border-radius: 4px;
		text-align: center;
		background: rgba(255,255,255,0.6);
	}
	.shelf{
		margin: 0 auto;
		background: url("../img/Shelf.png") no-repeat;
		height: 158px;
		width: 1024px;
		box-shadow: 0 10px 45px black;
		border-radius: 4px;

		.res-container{
			height: 138px;

			div{		
				&:first-child{
					margin-left:50px;
				}
				margin:10px 20px 0;
				vertical-align: top;
				display: inline-block;

				.res-icon{
					display: block;
					box-shadow: @boxShadow;
					border-radius: 16px;
					width: 80px;
					margin: 0 auto;
				}

				span{
					.lightText;
					display: inline-block;
					max-width:200px;
					margin-top: 0.2em;
					text-align: center;
				}
			}
		}

		.shelf-title{
			display: block;
			margin: 0 40px;
			padding: 1px 20px;
			border-radius: 4px;
			font-style: italic;
			font-variant: small-caps;
			font-weight: bold;
			color: rgba(0,0,0,0.8);
			text-shadow:0px 0px 2px #210d00;
			//background-color: rgba(0,0,0,0.2);
		}
	}
	iframe{
		height: 100%;
	}
}