.gradient-white {
  background: #f4f4f4;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f4f4f4 0%, #dddddd 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #dddddd));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f4f4f4 0%, #dddddd 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f4f4f4 0%, #dddddd 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f4f4f4 0%, #dddddd 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f4f4f4 0%, #dddddd 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dddddd', GradientType=0);
  /* IE6-9 */

  opacity: 0.9;
}
.btn-box {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  height: 2em;
}
.transition {
  transition: All 0.5s ease-in-out;
  -webkit-transition: All 0.5s ease-in-out;
  -moz-transition: All 0.5s ease-in-out;
  -o-transition: All 0.5s ease-in-out;
}
.lightText {
  color: #dddddd;
  text-shadow: 0 0 20px #000000;
}
header {
  position: fixed;
  top: 0px;
  left: 0px;
  background: #f4f4f4;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f4f4f4 0%, #dddddd 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #dddddd));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f4f4f4 0%, #dddddd 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f4f4f4 0%, #dddddd 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f4f4f4 0%, #dddddd 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f4f4f4 0%, #dddddd 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dddddd', GradientType=0);
  /* IE6-9 */

  opacity: 0.9;
  height: 2em;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
header > div {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  height: 2em;
  position: fixed;
}
header > div div {
  margin: 0 10px;
  line-height: 2em;
}
header > div div img {
  vertical-align: middle;
}
#btn-Res {
  left: 0px;
}
#label-SupCast {
  left: 48%;
}
#btn-Profil {
  right: 0px;
}
#panel-Res {
  z-index: 200;
  position: fixed;
  top: 33px;
  left: 0px;
  display: none;
  min-width: 220px;
  padding: 0px;
}
#panel-Res ul {
  line-height: 3em;
}
#panel-Res ul li {
  transition: All 0.5s ease-in-out;
  -webkit-transition: All 0.5s ease-in-out;
  -moz-transition: All 0.5s ease-in-out;
  -o-transition: All 0.5s ease-in-out;
  background-color: #d4d4d4;
  opacity: 0.9;
  padding: 0px 20px;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#panel-Res ul li:hover {
  background: #eda32b;
}
#panel-Res ul li .res-icon {
  height: 3em;
  vertical-align: bottom;
  margin-right: 10px;
}
