body{
	font-family: 'Helvetica Neue';
	background: rgb(188,188,188); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(188,188,188,1) 1%, rgba(245,245,245,1) 25%, rgba(245,245,245,1) 75%, rgba(188,188,188,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(188,188,188,1)), color-stop(25%,rgba(245,245,245,1)), color-stop(75%,rgba(245,245,245,1)), color-stop(100%,rgba(188,188,188,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(188,188,188,1) 1%,rgba(245,245,245,1) 25%,rgba(245,245,245,1) 75%,rgba(188,188,188,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(188,188,188,1) 1%,rgba(245,245,245,1) 25%,rgba(245,245,245,1) 75%,rgba(188,188,188,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(188,188,188,1) 1%,rgba(245,245,245,1) 25%,rgba(245,245,245,1) 75%,rgba(188,188,188,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(188,188,188,1) 1%,rgba(245,245,245,1) 25%,rgba(245,245,245,1) 75%,rgba(188,188,188,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#bcbcbc',GradientType=1 ); /* IE6-9 */

	
	    font-family: Helvetica Neue;
}

h1, h2, h3{
	font-weight: 100;
	margin: 0;
}
#uploadWrapper{
	cursor: pointer;
	overflow: hidden;
	width: 100px;
	height: 100px;
	padding: 2px;
	border-radius: 60px;
	border: 2px solid rgba(0,0,0,0.4);

	position: fixed;
	bottom: 20px;
	right: 20px;

	transition: width ease-in-out 0.3s;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
#uploadWrapper:hover{
	width: 320px;
}
#uploadWrapper:hover h1{

width: 200px;
opacity: 1;
right: 15px;
}

#uploadWrapper img{
	display: inline-block;
	vertical-align: middle;
}

#uploadWrapper img:hover{
  -webkit-filter: drop-shadow(0 0px 8px teal);
}

#uploadWrapper h1{
float: right;
width: 200px;
opacity: 0;
position: absolute;
top: 13px;
right: -100px;
	font-family: 'Helvetica Neue';
	font-weight: 100;
transition: all ease-in-out 0.3s;
margin: 0;
}
#formContainer {
position: absolute;
top: calc(50% - 325px);
left: calc(50% - 350px);
width: 700px;
}

.formBoxRes form input[type=text]{
	width: 200px;
}
.formBoxRes{
	width: 700px;
}
.formBoxRes section{
	width: 320px;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}
.formBoxRes section:nth-of-type(1){
	border-right: 1px solid #F0F0F0;
	box-shadow: 1px 0 0px #CCC;
}
.formBoxRes section textarea{

	margin: 2px;
	max-height: 230px;
	width: 308px;
	height: 120px;
	max-width: 300px;
}


#formResSubmit {
    /* display: block; */
    /* margin: 20px auto 0; */
    float: right;
}

#hash_label{
	color:red;
	font-variant: italic;
}
#formResGetParams {
    /*float: right;
    clear: right;
    display: inline-block;*/
}
#dropfile{
	display: inline-block;
	width: 100px;
	height: 100px;
	outline: 3px dashed #BBBBBB;
	line-height:100px;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}
#spanWrapper{
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
#spanWrapper h4{
	max-width: 100%;
	word-wrap:break;
}
#success{
	display: none;
	margin: 0 auto;
	width: 350px;
}

#my-ressources-loading {
	padding-top: 75px;
	width: 900px;
	margin: 0 auto;
	opacity: 0;
	text-align: center;
}

#my-ressources {
	padding-top: 25px;
	width: 900px;
	margin: 0 auto;
	opacity: 0;
}
#my-ressources > h1,
#my-ressources > h2,
#my-ressources > h3{
	text-align: center;
}
#my-ressources > section {
	background-color: whiteSmoke;
    padding: 25px 0;
    border-bottom: 1px solid rgb(219, 219, 219);
    box-shadow: 0 1px 0px white;
    min-height: 100;
}
#my-ressources > section > .column:last-child {
	float: right;
}
#my-ressources > section > .column {
    display: inline-block;
    vertical-align: middle;
    font-family: Helvetica Neue;
    padding: 0 8px;	
}
#my-ressources > section > img {
	width: 100px;
	height: 100px;
}
#my-ressources h1, #my-ressources h2{
	font-weight: 100;
	margin: 0 0 10px 0;
}
#my-ressources .res-icon{
	position: relative;
}
#my-ressources .res-icon img{
	width: 100px;
	height: 100px;
}
#my-ressources .res-icon:not([data-count='0'])::after {
    content: attr(data-count);
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  text-shadow: 0 1px #444;
  text-align: center;
  position: absolute;
  
    right: -6px;
    top: -6px;
    color: #EFEFEF;
  display: inline-block;
  z-index: 0;
  border-radius: 14px;
  padding: 2px 6px;
  box-shadow: -1px 1px 4px #444;
  
  background: #ff0505;
}
#my-ressources .btn-action{
	display: block;
}
#my-ressources .my-ressources-web-label, #my-ressources .my-ressources-mob-label{
	font-style: italic;
}
#my-ressources .my-ressources-web-label{
	color: rgb(15, 143, 15);
}
#my-ressources .my-ressources-mob-label{
	color: rgb(0, 0, 182);
}
#success_div_hash{
	line-height: initial;
}