/***************
	Variables 
****************/

.customFont{

	font-family: 'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif;
	font-size: 14px;
}
.gradient-white{
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(20%,#eaeaea), color-stop(80%,#dddddd), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4f4f4 0%,#eaeaea 20%,#dddddd 80%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4f4f4 0%,#eaeaea 20%,#dddddd 80%,#dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4f4f4 0%,#eaeaea 20%,#dddddd 80%,#dbdbdb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4f4f4 0%,#eaeaea 20%,#dddddd 80%,#dbdbdb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
	opacity: 0.95;
}

.gradient-orange{
	background: #feccb1; /* Old browsers */
	background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
	opacity: 0.95;
}
.btn-box{
	display: inline-block;
	min-width: 100px;
	text-align: center;
	height: 26px;
}

.transition{
	transition:All 0.5s ease-in-out;
	-webkit-transition:All 0.5s ease-in-out;
	-moz-transition:All 0.5s ease-in-out;
	-o-transition:All 0.5s ease-in-out;
}
.lightText{
	color:@lightTextColor;
	text-shadow:@shadow;
}

@-webkit-keyframes turnToGrey {
	0% {-webkit-filter: grayscale(100%);}
	100% {-webkit-filter: grayscale(0%);}
}

@textColor : #111;
@textColor2 : #811;
@lightTextColor : #ddd;
@borderRadius : 8px;
@shadow : 1px 1px 1px rgba(0,0,0,0.3);
@boxShadow : 0 0 15px rgba(0,0,0,0.8);
@hoverColor : rgba(237,163,43,1);
@borderColor : 1px solid rgba(0,0,0,0.2);

.shadow{
	box-shadow:0px 3px 16px rgba(0,0,0,0.7);
}
a{
	text-decoration: none;
	cursor: pointer;
	color:@textColor;
	.transition;

	&:visited{
		color:@textColor;
	}
	&:hover, &:active{
		color:@textColor2;
	}
}

/***********************************************/
nav{
	.shadow;
	.customFont;
	position: fixed;
	top: 0px;
	left:0px;
	z-index: 200;
	.gradient-white;
	height: 27px;
	width: 100%;
	border-bottom: @borderColor;
	box-sizing: border-box;

	> div{
		position: fixed;
		display: inline-block;
		line-height: 26px;
		padding: 0 20px;
		
			> a img{
				vertical-align: middle;
				width: 24px;
				height: 24px;
				border-radius: 2px;
			}

	}		
	#btn-Res{
		left: 10px;
		border-right: 1px solid rgba(0, 0, 0, 0.3);
		box-shadow: 1px 0 0 rgba(0, 0, 0, 0.2);
	}

	#label-SupCast{
		left: 48%;
	}
	#btn-Profil, #btn-Login{
		border-left: 1px solid rgba(0,0,0,0.3);
		box-shadow: -1px 0 0 rgba(0,0,0,0.2);
		right: 10px;
		display: none;
	}

	.panel{
	.customFont;
	z-index: 200;
	position: fixed;
	display: none;
	margin-top: 26px;
	min-width:220px;
	padding: 0px;

	ul{
		line-height: 3em;
    margin:0;
    padding:0;
    border:0;
    outline:0;

		li{
			cursor: pointer;
			.transition;
			background-color: white;
			opacity: 0.95;
			padding: 0px 20px;
			list-style: none;
			border-bottom: @borderColor;
			&:hover{
				background:@hoverColor;
			}
			.res-icon{
				height: 3em;
				vertical-align: bottom;
				margin-right: 10px;
			}
		}
	}
}
#panel-Res{
	.panel;
}

#panel-Profil{
	.panel;
	right: 0px; 
}
}

/*********************************************/
/********** Systeme de commentaires **********/

/* Desactive la selection de test dans la zone de contenu */
.mainContent_co{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Mise en évidence de la zone cliquée */
.context-menu-active{
/*
	.transition;*/
	-webkit-filter: drop-shadow(0 0px 8px rgba(140,30,40,0.8));
}

.context-menu-root .icon-commenter{
	background-image : url("//imedia.emn.fr/SCWeb/dyn/res/img/pack/001_45.png");
}

.context-menu-root .icon-lireCommentaires{
	background-image : url("//imedia.emn.fr/SCWeb/dyn/res/img/pack/001_50.png");
}

.context-menu-root .icon-commenter, .context-menu-root .icon-lireCommentaires{
	background-repeat:  no-repeat;
	line-height: 24px;
	.transition;
	
	span{
		.customFont;
		display: inline-block;
		margin: 0 0 5px 10px;
	}

	&.hover{
		background-color: rgba(267,163,26,0.7);
	}
}

.focusedItem{
	/*.transition;*/
	-webkit-filter: drop-shadow(0 0px 8px rgba(247,104,27,0.8));
	opacity: 0.8;
}
/* Boite + formulaire d'écriture de message */
.activeMenuToggle a.mnu_tgle_c:before {
    position: absolute;
    content: "\276f";
    font-size: 14px;
    color: rgb(185, 1, 1);
    text-shadow: 0 0 3px rgb(255, 0, 0);
	top:0px;
    left: 0px;
    line-height: 14px;
}

#formWrapper{
	z-index: 200;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	/*-webkit-filter:blur(3px) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));*/
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.ui-tooltip-top, .ui-tooltip-bottom {
	z-index: 205;
	min-height: 120px;
	min-width: 260px;
  color:#ffffff;
  cursor:normal;
  display:-moz-inline-stack;
  display:inline-block;
  font-size:12px;
  font-family:arial;
  padding:.5em 1em;
  position: absolute;
  /*position:relative;*/
  text-align:center;
  text-shadow:0 -1px 1px #111111;
  -webkit-border-top-left-radius:4px ;
  -webkit-border-top-right-radius:4px ;
  -webkit-border-bottom-right-radius:4px ;
  -webkit-border-bottom-left-radius:4px ;
  -khtml-border-top-left-radius:4px ;
  -khtml-border-top-right-radius:4px ;
  -khtml-border-bottom-right-radius:4px ;
  -khtml-border-bottom-left-radius:4px ;
  -moz-border-radius-topleft:4px ;
  -moz-border-radius-topright:4px ;
  -moz-border-radius-bottomright:4px ;
  -moz-border-radius-bottomleft:4px ;
  border-top-left-radius:4px ;
  border-top-right-radius:4px ;
  border-bottom-right-radius:4px ;
  border-bottom-left-radius:4px ;
  -o-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  -moz-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  -khtml-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  -webkit-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  background-color:#3b3b3b;
  background-image:-moz-linear-gradient(top,#555555,#222222);
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#555555),color-stop(1,#222222));
  filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555,EndColorStr=#222222);
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555,EndColorStr=#222222);
}
.ui-tooltip-top:after, .ui-tooltip-bottom:after {
  content:"\25B8";
  display:block;
  font-size:4em;
  height:0;
  line-height:0;
  position:absolute;
}
.ui-tooltip-bottom:after {
  color:#2a2a2a;
  bottom:0;
  left:1px;
  text-align:center;
  text-shadow:1px 0 2px #000000;
  -o-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -khtml-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  width:100%;
}
.ui-tooltip-top:after {
  bottom:auto;
  color:#4f4f4f;
  left:-2px;
  top:0;
  text-align:center;
  text-shadow:none;
  -o-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -khtml-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  width:100%;
}

.formBox{
	z-index: 201;
	width: 320px;
	min-height: 200px;
	border-radius: @borderRadius;
	box-shadow: @boxShadow;
	.gradient-white;
	padding: 20px;
	position: absolute;
	.customFont;

	h1{
		font-size: 1.5em;
		color: black;
		line-height: 1.5em;
		padding: 10px 0px;
	}

	form, div{
		line-height: 36px;
		padding: 20px 0px;
		border-top: 1px solid rgba(0,0,0,0.3);

		input[type=text], input[type=password]{
			float: right;
			height: 26px;
		}

		input[type=submit]{
			margin: 10px auto 0px;
			float: right;
		}
	}

	#logSwitch{
		cursor: pointer;
	}

	#loginBox{

	}
	#registerBox{
		display: none;
	}
	#postRegisterBox{
		display: none;

		h3{
			margin-bottom: 10px;
		}

		div{
			line-height: normal;
			
			span:last-child{
				font-style:italic;
				
			}
		}
	}
}

#formComBar, #formComInline{
	display: table-caption;
	textarea{
		min-width: 495px;
		min-height: 80px;
		border: none;
		resize:vertical;
		box-shadow: 0 1px 4px rgba(0,0,0,0.3);
		border-radius: 4px;
	}
	input{
		float: right;
	}
}
#formComBar{
	display: block;
	textarea{
	  width: 100%;
	  display: block;
	}
}

/********************** Display des commentaires **********************/
.nbreCom{
	width: 48px;
	height: 48px;
	display: block;
	float: right;
	position: relative;
	top: -24px;
	vertical-align: middle;
	text-align: center;
	line-height: 48px;
	background-image: url("//imedia.emn.fr/SCWeb/dyn/res/img/bubble.png");
	content:"1";
	z-index: 10;
	cursor: pointer; 
}

#comBar{
	box-sizing:border-box;
	z-index: 20;
	.customFont;
	position: fixed;
	bottom: 0px;
	min-width: 745px;
	height: 260px;
	width: 800px;
	overflow: auto;
	resize:both;
	.gradient-white;
	border-top: 1px solid rgba(0,0,0,0.2);
	padding: 20px 0px 20px 20px;
	box-shadow: 4px -4px 14px rgba(0,0,0,0.3);
	border-top-right-radius: 4px;
	
	/*
	&::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 10px;
	    height: 10px;
	}

	&::-webkit-scrollbar-thumb {
	    border-radius: 8px;
	    background-color: rgba(0, 0, 0, .5);
	}
	*/
	#comAction{
		display: inline-block;
		position: fixed;
		border-right: 1px solid rgba(0,0,0,0.2);
		box-shadow: 1px 0 0 rgba(0,0,0,0.1);
		vertical-align: top;
		padding-right: 20px; 

		ul{
			list-style: none;
			margin: 0;
			padding: 0;

			li{
				cursor: pointer;
				display: block;
				line-height: 32px;
				.transition;
			    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

				&:hover{
					-webkit-filter: grayscale(0%) drop-shadow(0 0px 6px rgba(140,30,40,0.8));
				}
				img{
					vertical-align: middle;
				}
			}
		}
	}
	#comContainer{
		display: inline-block;
		padding: 0 20px;

		width: calc(~"100% - 240px");
		width: -moz-calc(~"100% - 240px");
		width: -webkit-calc(~"100% - 240px");
		min-width: 520px;
		margin-left: 185px;

		.comBox{
			padding: 20px;
			box-shadow:0 1px 4px rgba(0,0,0,0.3); 
			margin-bottom: 20px;
			border-radius: 4px;
			z-index: 25;

			clear: both;
			/*
			-webkit-transition: -webkit-transform .3s ease;
			-webkit-transform-origin-x: 0px;
			-webkit-transform-origin-y: 0px;
			-webkit-transform-origin-z: 0px;		
			-webkit-transform-style: preserve-3d;
			
			&:hover {
				-webkit-background-size: 225px 220px;
			
				-webkit-transform: rotateX(10deg);
			}
			*/
			.comProfil{
				margin-right: 16px;
				display: inline-block;
				float: left;

				.voteSection{
					display: inline-block;
					vertical-align: top;
					margin: -4px auto 0px;
					line-height: 24px;

					.vote{

						filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
					    filter: gray; /* IE6-9 */						cursor: pointer;
						width: 24px;
						height: 24px;						
						margin: 0 auto;

					    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

						&:hover{
							-webkit-filter: grayscale(0%) drop-shadow(0 0px 6px rgba(140,30,40,0.8));
						}
						&.active{
						    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
						   -webkit-filter: grayscale(0%);
						}
					}
		
					.voteYes{
						background:url("//imedia.emn.fr/SCWeb/dyn/res/img/pack/001_28.png") no-repeat;
					}

					.voteNo{
						background:url("//imedia.emn.fr/SCWeb/dyn/res/img/pack/001_26.png") no-repeat;
					}

					.voteCount{
						font-size: 24px;
						text-align: center;
						color: #444;	
					}
				}

				.imgProfil{
					border-radius: 8px;
					border:1px solid rgba(0,0,0,0.2);
					overflow: hidden;

					width: 60px;
					height: 60px;
				}

			}
			.comContent{
				
				display: inline-block;

				width: calc(~"100% - 122px");
				width: -moz-calc(~"100% - 122px");
				width: -webkit-calc(~"100% - 122px");

				.comTitle{
					border-bottom: 1px solid rgba(0, 0, 0, 0.1);
					box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);

					.comUserName{
						font-weight: bold;
						font-size: 16px;
						color: #444;
						font-variant: small-caps;
					}

					.comUserRank{
						font-size: 12px;
						font-style: italic;
						color:grey;
					}				

				
					.timeCreated{
						font-style: italic;
						font-size: 12px;
						color: #444;
						float:right;
						padding-top: 4px;
					}
				}

				.comText{
					min-height: 40px;
					margin: 10px 0;
				}

				.textEdit{
					width: 100%;
					min-height: 40px;
					margin-top: 10px;
					border: none;
					box-shadow: 0 1px 4px rgba(0,0,0,0.3);
					border-radius: 4px;
				}

				.actionSection{
					font-size: 12px;
					color:grey;
					text-align: right;

					div{
						display: inline-block;						
						border-right: 1px solid #AAA;
						padding: 0 5px;
						cursor: pointer;

						-webkit-transition: all ease-in-out 0.4s;
						-moz-transition: all ease-in-out 0.4s;
						transition: all ease-in-out 0.4s;

						&:hover{
							color:white;
							background-color: grey;
						}

					}

					div:last-child{
						border-right: 0px solid #FFF;
					}
				}
			}
		}

		.supprime{
			opacity: 0.4;
		}
		/* Customisation de la couleur des commentaires */

		.rank-1{
			border:3px solid rgba(224,185,88,0.1);
		}
		.rank-2{
			border:3px solid rgba(224,185,88,0.2);
		}
		.rank-3{
			border:3px solid rgba(224,185,88,0.3);
		}
		.rank-4{
			border:3px solid rgba(224,185,88,0.4);
		}
		.rank-5{
			border:3px solid rgba(224,185,88,0.5);
		}
	}
}

.message {
	opacity: 0.95;
    z-index: 300;
    display: none;
    position: absolute;
    color: #ffffff;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

	cursor: pointer;

	&.valid{
    	background-color: #39B521;
    }

	&.error{
    	background-color: #c04848;
	}

	&.info{
    	background-color: #101CC4;
	}

	.message-inner {
	    position: relative;
	}

	.message-text {
	    padding: 15px;
	}

	.message-close {
	    padding: 2px 6px 3px 6px;
	    font-family: Arial,sans-serif;
	    font-size: 16px;
	    font-weight: normal;
	    color: #fcb2b1 !important;
	    line-height: 1;
	    float: right;
	    border: 1px solid rgba(255, 255, 255, 0.2);
	    margin-top: 8px;
	    margin-right: 8px;
	}
}

