.gradient-white{
background: #f4f4f4; /* Old browsers */
background: -moz-linear-gradient(top,  #f4f4f4 0%, #dddddd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f4f4f4 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f4f4f4 0%,#dddddd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f4f4f4 0%,#dddddd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f4f4f4 0%,#dddddd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
opacity: 0.9;
}

.btn-box{
	display: inline-block;
	min-width: 100px;
	text-align: center;
	height: 2em;
}

.transition{
	transition:All 0.5s ease-in-out;
	-webkit-transition:All 0.5s ease-in-out;
	-moz-transition:All 0.5s ease-in-out;
	-o-transition:All 0.5s ease-in-out;
}
.lightText{
	color:@lightTextColor;
	text-shadow:@shadow;
}
@textColor : #111;
@textColor2 : #811;
@lightTextColor : #ddd;
@shadow : 1px 1px 1px rgba(0,0,0,0.3);
@boxShadow : 0 0 15px rgba(0,0,0,0.8);
@hoverColor : rgba(237,163,43,1);
@borderColor : 1px solid rgba(0,0,0,0.2);