/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	padding-bottom: 40px;
	color: #5a5a5a;
	background-image: url('../img/background.png');
}

.img-responsive{  
	margin: 0 auto;
}

.well {
	background: #f4f4f4;
	background: -moz-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, rgba(221, 221, 221, 0.89) 80%, rgba(219, 219, 219, 0.86) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(20%, #eaeaea), color-stop(80%, rgba(221, 221, 221, 0.89)), color-stop(100%, rgba(219, 219, 219, 0.86)));
	background: -webkit-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, rgba(221, 221, 221, 0.89) 80%, rgba(219, 219, 219, 0.86) 100%);
	background: -o-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, rgba(221, 221, 221, 0.89) 80%, rgba(219, 219, 219, 0.86) 100%);
	background: -ms-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, rgba(221, 221, 221, 0.89) 80%, rgba(219, 219, 219, 0.86) 100%);
	background: linear-gradient(to bottom, #f4f4f4 0%, #eaeaea 20%, rgba(221, 221, 221, 0.89) 80%, rgba(219, 219, 219, 0.86) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dbdbdb', GradientType=0);
	border-color: #ACACAC;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.well fieldset.separateur {
	border-top: 0.5px solid #adadad;
	padding-top: 15px;
	margin-top: 15px
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: relative;
	z-index: 15;
}
.navbar{
	border-radius: 0px;
	min-height: 32px;
}
.navbar-header {
	padding: 3px;
}
.navbar-brand {
	padding: 0px 15px;
	max-width: 50%;
}
.navbar-brand img {
	height: 44px;
	padding-right: 10px;
}
.navbar .container {
	margin: 0 0;
	max-width: 100%;
}
.navbar-login{
	float: right;
	padding: 2px;
}
.navbar-inverse {
	background: #f4f4f4;
	background: -moz-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, rgba(221, 221, 221, 0.89) 80%, rgba(219, 219, 219, 0.86) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(20%, #eaeaea), color-stop(80%, rgba(221, 221, 221, 0.89)), color-stop(100%, rgba(219, 219, 219, 0.86)));
	background: -webkit-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, rgba(221, 221, 221, 0.89) 80%, rgba(219, 219, 219, 0.86) 100%);
	background: -o-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, rgba(221, 221, 221, 0.89) 80%, rgba(219, 219, 219, 0.86) 100%);
	background: -ms-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, rgba(221, 221, 221, 0.89) 80%, rgba(219, 219, 219, 0.86) 100%);
	background: linear-gradient(to bottom, #f4f4f4 0%, #eaeaea 20%, rgba(221, 221, 221, 0.89) 80%, rgba(219, 219, 219, 0.86) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dbdbdb', GradientType=0);
	border-color: #ACACAC;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.navbar img.drapeau-langue {
	margin-right: 5px;
	width: 25px;
}
.navbar a.dropdown-toggle:hover + ul.dropdown-menu, .navbar ul.dropdown-menu:hover {
	display: block;
}


/* CUSTOMIZE BTN-GROUP
-------------------------------------------------- */

div.btn-group-vertical {
    border-collapse: separate;
    display: table;
    table-layout: fixed;
    width: 100%;
}