.hasComment.readed::before {
	color: rgb(126, 126, 126);
	text-shadow: none;
	background: #d1d1d1;
	/* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #d1d1d1 36%, #a8a8a8 100%);
	/* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(36%, #d1d1d1), color-stop(100%, #a8a8a8));
	/* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #d1d1d1 36%, #a8a8a8 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #d1d1d1 36%, #a8a8a8 100%);
	/* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #d1d1d1 36%, #a8a8a8 100%);
	/* IE10+ */
	background: radial-gradient(ellipse at center, #F0F0F0 36%, #D8D8D8 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#a8a8a8', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

.hasComment::before {
	content:attr(data-count);
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-shadow: 0 1px rgba(0, 0, 0, 0.62);
	text-align:center;
	/*position:relative;*/
	color:#EFEFEF;
	display:inline;
	z-index: 0;
	border-radius: 14px;
	padding: 0px 5px;
	/*min-width:22px;*/
	/* border: 1px solid #eee; */
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	margin:0 4px;
	background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
	-webkit-animation:fade 0.6s ease-in-out;
	-moz-animation:fade 0.6s ease-in-out;
	-o-animation:fade 0.6s ease-in-out;
	animation:fade 0.6s ease-in-out;
}

.hasComment:not(.mainContent_ti) {
	border-left: 1px solid #5CBDD9;
	box-shadow: -1px 0 0px #BEE0EA;
	padding-left: 3px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	/*cursor: pointer;*/
}

.hasComment:not(.mainContent_ti).readed {
	border-left:1px solid #d1d1d1;
	box-shadow: -1px 0 0px #F0F0F0;
}

.selected {
	-webkit-transition:text-shadow 0.5s ease-in-out;
	-mozilla-transition:text-shadow 0.5s ease-in-out;
	transition:text-shadow 0.5s ease-in-out;
	text-shadow: 0 0 8px rgba(252, 132, 18, 1);
}

.selected img{
	-webkit-transition:box-shadow 0.5s ease-in-out;
	-mozilla-transition:box-shadow 0.5s ease-in-out;
	transition:box-shadow 0.5s ease-in-out;
	box-shadow: 0 0 8px 2px rgba(252, 132, 18, 1);
}

.mainContent_ti.hasComment::before {
	top:-4px;
	left:0px;
	position: relative;
}