.popinWrapper(ng-controller="controller_accroche", ng-show="visible")
  .popinFocus
  .popin
    .btn-cross-fermer(ng-click="remove()", title="{{'web_label_fermer_panneau' | translate}}") x
    section#presBox
      h1 {{"web_label_site_utilise_pairform" | translate}} :
      ul#pres-thumbnails-list
        li
          img(ng-src="{{res_url_private + 'img/accroche_etudiez.png'}}", alt="{{'web_label_etudiez' | translate}}", title="{{'web_label_etudiez' | translate}}")
          .pres-thumb-label
            h2 {{"web_label_etudiez" | translate}}
            | {{"web_label_notions_contenus_ressources" | translate}}
        li
          img(ng-src="{{res_url_private + 'img/accroche_echangez.png'}}", alt="{{'web_label_partagez' | translate}}", title="{{'web_label_partagez' | translate}}")
          .pres-thumb-label
            h2 {{"web_label_partagez" | translate}}
            | {{"web_label_questions_idees" | translate}}
        li
          img(ng-src="{{res_url_private + 'img/accroche_beneficiez.png'}}", alt="{{'web_label_benificiez' | translate}}", title="{{'web_label_benificiez' | translate}}")
          .pres-thumb-label
            h2 {{"web_label_benificiez" | translate}}
            | {{"web_label_retour_auteurs_experts_participants" | translate}}
        li
          img(ng-src="{{res_url_private + 'img/accroche_decouvrez.png'}}", alt="{{'web_label_poursuivez' | translate}}", title="{{'web_label_poursuivez' | translate}}")
          .pres-thumb-label
            h2 {{"web_label_poursuivez" | translate}}
            | {{"web_label_avec_autres_ressources" | translate}}
      footer
        span
          | {{"web_label_former_avec_vos_pairs" | translate}},
          #btn-accr-creer-compte.btn-action(ng-click="fermerEtAfficherConnexion()") {{"web_button_creez_vous_un_compte" | translate}}
        br
        span
          | {{"web_label_en_savoir_plus" | translate}},
          #btn-afficher-plus.btn-action(ng-click="fermerEtAfficherPresentation()") {{"web_button_cliquez_ici" | translate}}.
        i.utilisation_cookies {{"web_label_utilisation_cookies" | translate}}
