#preferences-container.panel-container-left.pf(ng-controller="controller_preferences", ng-show="visible")
  section#preferences-wrapper.panel-wrapper
    #btn-preferences-fermer.btn-cross-fermer(ng-click="remove()") x
    section#preferences-head.panel-head
      h1.panel-title {{"web_label_menu_preferences" | translate}}
    section.preferences-container
      #preferences-wrapper
        div
          h1 Compte
          ul
            li
              .btn-action(ng-click="fonctionPasDisponible()")
                | {{(preferences.connexion_automatique ? "web_label_desactiver" : "web_label_activer") | translate}} {{"web_label_connexion_automatique" | translate}}
            li
              label(for="register-langue") {{"label_langue_principale_2" | translate}} : 
              select(ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="id_langue", ng-init="id_langue = current_code_langue", ng-change="selectLangue(id_langue)", ng-options="lg.id as lg.label for lg in tableau_labels")
        div
          h1 Sur cette ressource
          ul
            li
              .btn-action(ng-click="switchNotificationMail()")
                | {{(preferences.notification_mail ? "web_label_desactiver" : "web_label_activer") | translate}} {{"web_label_les_notifications" | translate}}
            li
              .btn-action(ng-if="utilisateur_local.est_admin", ng-click="fonctionPasDisponible()")
                | {{(preferences.afficher_noms_reels ? "web_label_desactiver" : "web_label_activer") | translate}} {{"web_label_affichage_des_noms_reels" | translate}}
        div
          h1 Actions manuelles
          ul
            li
              .btn-action(ng-click="reinitialiserMessagesLus()") {{"web_button_reinit_messages_lus" | translate}}
            li
              .btn-action(ng-click="actualiserMessages()") {{"button_recuperer_nouveaux_messages" | translate}}
            li
              .btn-action(ng-click="effacerToutesDonnees()") {{"button_effacer_donnees" | translate}}
