<div ng-controller="controller_recherche_profil" class="panel-container-left pf" id="profil-recherche-container" ng-show="visible">
	<section id="profil-search-wrapper" class="panel-wrapper">
		<div class="btn-cross-fermer" ng-click="remove()" id="btn-profil-search-fermer">x</div>
		<section class="panel-head" id="ressources-head">
			<h1 class='panel-title'>{{(mode == 'recherche_profil' ? 'web_label_menu_recherche' : 'web_button_ajouter_une_personne_cercle') | translate}}</h1>
			<section class="panel-actions" id="profil-search-actions">				
				<input ng-model="filtre_utilisateurs" type="search" results="5" name="username" autosave="fr.emn.pairform" placeholder="{{'label_pseudo' | translate}}">
				<!-- <div id="btn-profil-search-trigger" class="btn-action">{{'web_button_rechercher' | translate}}</div> -->
			</section>
		</section>
		<section id="profil-search-results">
			<h1 class="profil-search-not-found">{{'web_label_aucun_resultat' | translate}}</h1>
			<ul id="profil-search-list-results">
			<!-- ng-class="{online : (utilisateur.offline == false)}" -->
				<li ng-click="mode == 'recherche_profil' ? afficherProfil(utilisateur.id_utilisateur) : angular.noop()"  class="profil-search-result-user" ng-repeat="utilisateur in utilisateurs_array | search:filtre_utilisateurs:['username','etablissement']:'OR' | limitTo:limit">
					<img ng-src="{{utilisateur.image}}" alt="" class="profil-search-img">
					<div class="profil-search-inner">
						<h1 class="profil-search-username">{{utilisateur.username}}</h1>
						<div class="profil-search-etablissement">{{utilisateur.etablissement}}</div>
					</div>
					<div class="reseaux-add profil-search-add-user" ng-click="ajouterUtilisateurDansReseauDepuisRecherche(utilisateur)" ng-if="mode == 'reseau'" title="{{'button_ajouter' | translate}}">+</div>
				</li>
			</ul>
		</section>
	</section>
</div>