.special-event.wrapper(ng-hide="$storage.flag_special_event_pip")
  .accroche
    h2 PairForm est finaliste du prix de l'i-novation pédagogique 2016
    h1 Votez pour notre projet !
  a.block(ng-click="ga('send','event','special','vote','true'); $storage.flag_special_event_pip = true" target="prix_innovation_pedagogique" href="https://prix-innovation-pedagogique.com/contestants/pairform/")

    img(src="/public/img/logo.png")
    h2 Cliquez ici ! tiny.cc/pairform
  
  .btn-cross-fermer(ng-click="ga('send','event','special','vote','false'); $storage.flag_special_event_pip = true", title="{{'web_label_fermer_panneau' | translate}}") x
    

style.
  .pf .special-event {
      position:fixed;
      background: linear-gradient(45deg, #ee520d,#f28015);
      color:white;
      text-align: center;
      width: 100%;
      padding: 10px 0;
      z-index:20000;
      
      transition:all cubic-bezier(0.18, 0.89, 0.35, 1.15) .3s;
      margin-top:-80px;
      opacity:0;
      background-size: 400% 400%;

      -webkit-animation: BackgroundAnimation 10s ease infinite, 
        SlideIn 1s 3s cubic-bezier(0.18, 0.89, 0.35, 1.15) forwards;
      -moz-animation: BackgroundAnimation 10s ease infinite, 
        SlideIn 1s 3s cubic-bezier(0.18, 0.89, 0.35, 1.15) forwards;
      -o-animation: BackgroundAnimation 10s ease infinite, 
        SlideIn 1s 3s cubic-bezier(0.18, 0.89, 0.35, 1.15) forwards;
      animation: BackgroundAnimation 10s ease infinite, 
        SlideIn 1s 3s cubic-bezier(0.18, 0.89, 0.35, 1.15) forwards;
  }

  @-webkit-keyframes SlideIn {
      0%{
        margin-top:-80px;
        opacity:0;
      }
      100%{
        margin-top:0px;
        opacity:1;
      }
  }
  @-moz-keyframes SlideIn {
      0%{
        margin-top:-80px;
        opacity:0;
      }
      100%{
        margin-top:0px;
        opacity:1;
      }
  }
  @-o-keyframes SlideIn {
      0%{
        margin-top:-80px;
        opacity:0;
      }
      100%{
        margin-top:0px;
        opacity:1;
      }
  }
  @keyframes SlideIn { 
      0%{
        margin-top:-80px;
        opacity:0;
      }
      100%{
        margin-top:0px;
        opacity:1;
      }
  }

  @-webkit-keyframes BackgroundAnimation {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes BackgroundAnimation {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-o-keyframes BackgroundAnimation {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes BackgroundAnimation { 
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  .pf .special-event .accroche,
  .pf .special-event .block {
      display:inline-block;
      vertical-align:middle;
      padding:10px 20px;
  }
  .pf .special-event h1{
      font-size: 22px;
      color: white;
  }
  .pf .special-event h2{
      font-size: 14px;
      color: #efefef;
  }
  .pf .special-event .accroche h2,
  .pf .special-event .accroche h1{
    text-align:right;
  }
  .pf .special-event .block {
      background: #099bdf;
      max-width: 200px;
      padding:2px 4px;
      border-radius:8px;
      text-align:left;
      transition: background ease-out .1s;
  }
  .pf .special-event .block:hover {
    background: #01a3ef;
  }

  .pf .special-event .block img,
  .pf .special-event .block h2 {
      display:inline-block;
      max-width: 70%;
      vertical-align:middle;
      font-size: 18px;
      color:white;
  }

  .pf .special-event .block img {
      width: 48px;
      margin-right: 6px;
  }
  .pf .special-event .btn-cross-fermer {
    background: white;
    color: #464646;
    border: 1px solid #dadada;
  }


  @media (max-width: 655px){

    .pf .special-event .accroche h2,
    .pf .special-event .accroche h1{
      text-align:center;
    }
  }
