.popinWrapper(ng-controller='controller_tutoriel', ng-show='visible')
  .popinFocus
    //-(ng-click='visible = false')
  #popin-connexion.popin.formBox
    section
      h1 Bienvenue sur PairForm !
      div
        | Pour commencer à utiliser PairForm sur votre site, vous devez :
      ol
        li Créer un compte,
        li Choisir le contenu qui est commentable,
        li Renseigner quelques informations sur votre site,
        li Et intégrer le script d'activation dans votre code.
      button.btn-action(ng-click='commencerInjection()') C'est parti !