nav(ng-controller='controller_nav_bar')
      #btn-wrapper-left
        span Étapes 
        span.step.step-1(ng-click="changerEtape(1)") 1
        span.step.step-2(ng-click="changerEtape(2)") 2
        span.step.step-3(ng-click="changerEtape(3)") 3
        span.step.step-4(ng-click="changerEtape(4)") 4
        span.btn-action(ng-click="switchToApp()") Retourner à votre site
      
      include tutoriel.jade

      #label-title
        h3 {{capsule.nom_long}}
      #btn-login(ng-hide='utilisateur_local.est_connecte', ng-click='afficherConnexion()')
        span {{"button_connexion" | translate}}
      #btn-wrapper-right(ng-show='utilisateur_local.est_connecte')
        //- #btn-bar-deplacer-messages.btn-bar.btn-bar-expandable(draggable='true', ng-show='array_messages_deplacement.length', ng-click='afficherMessagesDeplacement()')
          ul.arrow_box(ng-show='messages_deplacement_visible')
            li(draggable='true', ng-repeat='message in array_messages_deplacement track by message.id_message')
              // <li ng-drag-start="messageDragStart($data,$event)" ng-drag-start="messageDragStop($data,$event)" ng-drag="true" ng-drag-data="message" ng-center-anchor="true" ng-repeat="message in array_messages_deplacement track by message.id_message">
              .illustration(ng-style="{'background-image' : 'url('+message.url_avatar_auteur+')'}")
              .content-wrapper
                span {{message.pseudo_auteur}}
                span {{message.contenu | limitTo:20}}...
              .content-action
                div(ng-click='supprimerDeplacementMessage(message)') &cross;
                a(ng-href="{{res_url_root + 'webServices/message/rediriger?id_message=' + message.id_message}}") &#x276F;
        //- #btn-bar-actualiser-messages.btn-bar(ng-click='actualiser()', title="{{'button_recuperer_nouveaux_messages' | translate}}")
        //- #btn-bar-notifications-score.btn-bar.btn-bar-expandable(ng-click="afficherNotification('us')", data-count='{{notifications.count_us}}', title='Notifications de changement de score')
          ul.arrow_box(ng-show="notifications.visible == 'us'")
            li.notification.notification-empty.notification-header(ng-show='notifications.us.length == 0') {{"web_label_aucune_notification_recente" | translate}}
            li.notification(ng-click="actionNotification(notif, 'us')", ng-repeat='notif in notifications.us | limitTo:15  track by notif.id_notification', data-type='us')
              .illustration(ng-class="{'positif' : notif.points > 0, 'negatif' : notif.points < 0}")
                | {{notif.points > 0 ? ("+" + notif.points) : notif.points}}
              .content-wrapper
                span {{notif.titre | translate}}
                span {{notif.label | translate}}
                div
        //- #btn-bar-notifications-user.btn-bar.btn-bar-expandable(ng-click="afficherNotification('un')", data-count='{{notifications.count_un}}', title='Notifications')
          ul.arrow_box(ng-show="notifications.visible == 'un'")
            li.notification.notification-empty.notification-header(ng-show='notifications.un.length == 0') {{"web_label_aucune_notification_recente" | translate}}
            li.notification(ng-click="actionNotification(notif, 'un')", ng-repeat='notif in notifications.un | limitTo:15  track by notif.id_notification', data-type='un')
              .illustration(ng-style="{'background-image' : 'url(' + res_url_private + 'img/' + (notif.sous_type == 'gs' ? 'succes/' : '')+ + notif.image + (notif.sous_type == 'gm' ? notif.contenu.split(' - ')[1] : '')+ '.png)'}")
              .content-wrapper
                span {{notif.titre | translate}}
                span {{notif.label | translate}}
                div
        #btn-profil(ng-click='afficherProfil()')
          img(ng-src='{{utilisateur_local.avatar_url}}')
          h5#profil-name {{utilisateur_local.username}}
          //- span#profil-pts {{utilisateur_local.rank[capsule.id_capsule].score}}
          //- span#profil-pts-label  {{"label_pts" | translate}}
          //- #wsIndicator.unsure(title="{{'web_label_maj_temps_reel' | translate}}")
          //-#panel-Profil
            ul
              li#btn-mon-profil {{"button_profil" | translate}}
              li#btn-menu-notifications
              li#btn-menu-noms-reels
              li#btn-reinitmesslus {{"web_button_reinit_messages_lus" | translate}}
              li#btn-refreshPage {{"button_recuperer_nouveaux_messages" | translate}}
              li#btn-logout {{"button_deconnexion" | translate}}
