doctype html
html(ng-app='backoffice', lang='fr')

	head
		meta(charset='utf8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='{{"META.DESCRIPTION" | translate}}')
		meta(name='author', content='{{"META.AUTEUR" | translate}}')
		meta(name='keywords', content='{{"META.KEYWORDS" | translate}}')
		meta(name='langage', content='{{"META.LANGAGE" | translate}}')

		title {{"META.TITRE" | translate}}

		link(rel='icon', type='image/png', href='public/ico/favicon.png')
		link(href='public/fonts/font-awesome-4.2.0/css/font-awesome.min.css', rel="stylesheet")
		link(href='public/css/bootstrap.min.css', rel="stylesheet")
		link(href='public/css/outdatedbrowser.min.css', rel="stylesheet")
		link(href='public/css/toastr.min.css', rel="stylesheet")
		link(href='public/css/pairform.css', rel="stylesheet")
		link(href='private/css/backoffice.css', rel="stylesheet")

	body
		include menu
		
		section(ng-view)
		
		div#outdated

		footer
			div.container
				br
				p {{"FOOTER.COPYRIGHT" | translate}}
					a(ng-href='mailto:{{"LABEL.EMAIL_PAIRFORM" | translate}}') {{"LABEL.EMAIL_PAIRFORM" | translate}}

		script(type='text/javascript').
			window.utilisateur = !{JSON.stringify(utilisateur)};
		script(src='public/js/jquery.js')
		script(src='public/js/bootstrap.min.js')
		script(src='public/js/outdated-browser-1.1.0/outdatedbrowser.min.js')
		script(src='public/js/outdated-browser-1.1.0/gestion-versions-navigateurs.js')
		script(src='public/js/angular.min.js')
		script(src='public/js/angular-route.min.js')
		script(src='public/js/angular-translate.min.js')
		script(src='public/js/angular-translate-loader-static-files.js')
		script(src='public/js/angular-file-upload.min.js')
		script(src='public/js/toastr.min.js')
		script(src='public/js/ngStorage.js')
		script(src='private/js/routesAngularJS.js')
		script(src='private/js/filtres.js')
		script(src='private/js/services.js')
		script(src='private/js/controleursMenu.js')
		script(src='private/js/controleursTableauDeBord.js')
		script(src='private/js/controleursConnexion.js')
		script(src='private/js/controleursEspaces.js')
		script(src='private/js/controleursRessources.js')
		script(src='private/js/controleursCapsules.js')
		script(src='private/js/controleursGroupes.js')
		script(src='private/js/controleursRoles.js')
		script(src='private/js/controleursStatistiques.js')
