.container
	nav.navbar.navbar-inverse.navbar-fixed-top(ng-controller='controlleurMenu')
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#/tableauDeBord')
				img(alt='ALT.LOGO_PAIRFOM', src='public/img/PairformLogo.png')
		.collapse.navbar-collapse
			p.navbar-text: strong {{"MENU.BETA" | translate}}
			ul.nav.navbar-nav
				li(ng-show='utilisateur_connecte'): a(href='#/tableauDeBord') {{"MENU.TABLEAU_DE_BORD" | translate}}
			ul.nav.navbar-nav.navbar-right
				li: a(alt='{{"ALT.AIDE" | translate}}', title='{{"ALT.AIDE" | translate}}', ng-href='{{"MENU.AIDE" | translate}}', target='_blank')
					div.btn-aide.btn-pairform-menu
				li(ng-show='utilisateur_connecte')
					a.dropdown-toggle(href='', data-toggle='dropdown') {{utilisateur_connecte.pseudo}}
						span &nbsp;
						b.caret
					ul.dropdown-menu
						li: a(href='', ng-click='deconnecterUtilisateur()') {{"MENU.PROFIL.DECONNEXION" | translate}}
				//li
					a.dropdown-toggle(href='', data-toggle='dropdown')
						img.drapeau-langue(alt='{{"MENU.LANGUES.LANGAGES" | translate}}', ng-src='public/img/drapeau_langue/{{"IMAGE.IMG_LANGUE" | translate}}.png')
						b.caret
					ul.dropdown-menu
						li
							a(href='', ng-click='changerLangue("en")')
								img.drapeau-langue(alt='{{"ALT.DRAPEAU_LANGUE" | translate}}', src='public/img/drapeau_langue/flag_en.png')
								span {{"MENU.LANGUES.ANGLAIS" | translate}}
						li
							a(href='', ng-click='changerLangue("fr")')
								img.drapeau-langue(alt='{{"ALT.DRAPEAU_LANGUE" | translate}}', src='public/img/drapeau_langue/flag_fr.png')
								span {{"MENU.LANGUES.FRANCAIS" | translate}}
