
/* 
 * Globale à la page d'accueil
 */
.site-vitrine .accueil > section {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fbfbfb;
	border-top: 1px solid #cccccc;
}
.site-vitrine section h1 {
	text-align:center;
	padding-bottom:20px;
	font-size:24px;
}
.accueil-header {
	margin: 0px;
	background-image: url('../private/img/accueil/header_a.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #2b2b2b;
	text-align: center;
	min-height: 450px;
}
.accueil-header .call-to-action {
	padding: 20px;
	background: url('../private/img/accueil/header_a_blur_light.jpg') no-repeat;
	width:100%;
	background-size: cover;
	background-position: 0% -130px;
}
@media (max-width: 500px){

	.accueil-header {
		background: none;
		min-height:300px;
	}
	.accueil-header .call-to-action {
	   background-position: 50% 50%;
	   height: 100%;
	}
}
.site-vitrine .accueil-header h1, .accueil-header h2 {
	padding-bottom:10px;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.50);
}
.site-vitrine .accueil-header h1 {
	font-size: 32px;
}


/* 
 * Icones des stores 
 */

.accueil-header .store-icons{
	position: absolute;
	bottom: 10px;
	right: 20px;
}
.accueil-header .store-icons a{
	margin-left:8px;
	display: inline-block;
}


/* 
 * accueil-reference 
 */
/*
.site-vitrine .accueil-reference .row > div {
	min-height: 100px;
}
.site-vitrine .accueil-reference .thumbnail {
	vertical-align: middle;
	display: block;
}
*/
.site-vitrine .accueil-reference img {
	transition:all ease-out .2s;
	max-height: 80px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	vertical-align: middle;
}
.site-vitrine .accueil-reference .caption {
	transition:all ease-out .2s;
	color:white;
	opacity:0;
	margin-top:10px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.site-vitrine .accueil-reference .thumbnail:hover img {
	-webkit-filter:none;
	filter:none;
}
.site-vitrine .accueil-reference .thumbnail:hover .caption{
	opacity:1;
	margin-top:20px;
}


/* 
 * accueil-plus-value 
 */

.site-vitrine .accueil .accueil-plus-value{
	background: url("../private/img/background/pattern_1.png");
}
.site-vitrine .accueil-plus-value .thumbnail img {
	max-height: 140px;
	margin-bottom: 10px;
}
.site-vitrine .accueil-plus-value .thumbnail h2{
	color: #0082bb;
	text-shadow: 0 1px 1px white;
	font-size:20px;
	font-weight:200;
}
.site-vitrine .accueil-plus-value .thumbnail .caption {
	display: block;
}
.site-vitrine .accueil-plus-value .thumbnail .caption.bold {
	font-weight:600;
}
.site-vitrine .accueil-plus-value .btn{
	margin: 0 auto;
	display: block;
	width: 160px;
}


/* 
 * accueil-comment 
 */

.site-vitrine .accueil .accueil-comment{
	background: url("../private/img/background/pattern_2.png");
}
.site-vitrine .step-bar-button-container{
	text-align: center;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-top: 1px solid #d8d8d8;
	margin-bottom: 20px;
	background: #f1f1f1;
	cursor:pointer;
	padding: 0;
}
.site-vitrine .step-bar-button-container .step-bar-button{
	display: inline-block;
	border-right: 1px solid #d8d8d8;
	border-radius: 0;
	margin-bottom: 0;
}
.site-vitrine .step-bar-button-container .step-bar-button:hover {
	background: #eaeaea;
}
.site-vitrine .step-bar-button-container .step-bar-button.selected {
	background:white;
}
.site-vitrine .step-bar-button-container .step-bar-button:last-child{
	border-right: none;
}
.site-vitrine .accueil-comment .step-bar-button img {
	max-height: 80px;
	margin-bottom: 4px;
}
@media (max-width: 500px){
	.site-vitrine .accueil-comment .step-bar-button img {
		max-height:60px;
	}
}
.site-vitrine .step-display-container {
	background: rgb(255, 255, 255);
	border: 1px solid lightgray;
	margin-top: -21px;
}


/* 
 * accueil-cta 
 */

 .site-vitrine .accueil .accueil-cta {
    min-height: 300px; 
	background: url("../private/img/background/pattern_blue.jpg");
	background-size:cover;
	background-position: 50%;
	color: whitesmoke;

}
 .site-vitrine .accueil .accueil-cta .container {
 	margin-top: 40px;
 }
/* 
 * accueil-temoignages 
 */

.site-vitrine .accueil .accueil-temoignages{
	background: url("../private/img/background/pattern_blue.jpg");
	background-size:cover;
	background-position: 50%;
	color: whitesmoke;
}
.accueil-temoignages .media {
	background: rgba(0, 0, 0, 0.08);
	padding: 10px;
	border-radius: 6px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
	position: relative;
}
.accueil-temoignages .media::before {
	content: '”';
	font-family: cursive;
	position:absolute;
	right: 0px;
	font-size: 80px;
	margin: -30px 10px 0 0;
	opacity: 0.4;
}
.accueil-temoignages .media img {
	border-radius:50px;
	max-height:80px;
}
.accueil-temoignages .media-heading {
	color: white;
	font-weight: 200;
	padding-bottom: 4px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
.accueil-media .media-object{
	max-width:120px;
}
@media (max-width: 500px){
	.accueil-media .media-object{
		max-width:80px;
	}
}
.media-body {
	width: 10000px;
}
.media, .media-body {
	overflow: hidden;
	zoom: 1;
}
.media-body, .media-left, .media-right {
	display: table-cell;
	vertical-align: top;
}
.media-left, .media>.pull-left {
	padding: 10px 10px;
}



.site-vitrine .accueil > section.accueil-inovation-pedagogique {
    background: linear-gradient(45deg, #ee520d,#f28015);
    color:white;
}

.site-vitrine .accueil-inovation-pedagogique .wrapper {
    text-align: center;
}

.site-vitrine .accueil-inovation-pedagogique .wrapper > * {
    display:inline-block;
    vertical-align:middle;
    padding:10px 20px;
}
.site-vitrine .accueil-inovation-pedagogique h1{
    font-size: 42px;
}
.site-vitrine .accueil-inovation-pedagogique h2{
    font-size: 22px;
    color: #e0e0e0;
}
.site-vitrine .accueil-inovation-pedagogique .accroche h2,
.site-vitrine .accueil-inovation-pedagogique .accroche h1{
	text-align:right;
}
.site-vitrine .accueil-inovation-pedagogique .block {
    background: #099bdf;
    max-width: 410px;
    padding:10px 20px;
    border-radius:14px;
    text-align:left;
    transition: background ease-out .1s;
}
.site-vitrine .accueil-inovation-pedagogique .block:hover {
	background: #099bdf;
}

.site-vitrine .accueil-inovation-pedagogique .block img,
.site-vitrine .accueil-inovation-pedagogique .block h2 {
    display:inline-block;
    max-width: 70%;
    vertical-align:middle;
    font-size: 32px;
    color:white;
}

.site-vitrine .accueil-inovation-pedagogique .block img {
    width: 90px;
    margin-right:18px;
}


@media (max-width: 956px){

	.site-vitrine .accueil-inovation-pedagogique .accroche h2,
	.site-vitrine .accueil-inovation-pedagogique .accroche h1{
		text-align:center;
	}
}

@media (max-width: 445px){

	.site-vitrine .accueil-inovation-pedagogique .block img{
		display: none;
	}
}