[ng-view] section:first-child {
  /* padding-top: 20px; */
}

[ng-controller="main_controller"]:not(.ng-cloak) + .navbar{
	opacity: 1;
}
[ng-view] {
	opacity: 1;
}
[ng-view].ng-leave{
	-webkit-animation: scaleOutSoft ease-in-out .5s;
	-moz-animation: scaleOutSoft ease-in-out .5s;
	-o-animation: scaleOutSoft ease-in-out .5s;
	animation: scaleOutSoft ease-in .5s;
	transform-origin:50% 0%;
}

[ng-view].ng-enter{
	opacity: 0;
	transform-origin:50% 0%;
	-webkit-animation: scaleInSoft ease-in-out .5s;
	-moz-animation: scaleInSoft ease-in-out .5s;
	-o-animation: scaleInSoft ease-in-out .5s;

	animation: scaleInSoft ease-out .3s;
	
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}