
.demo-section {
	margin: 0vh 5vw;
	/* background: red; */
	/*float: left;*/
}

.timeline-container{
	position: relative;
	/*height: 100%;*/
	height: 80vh;
}
.timeline-container .timeline-elements-container {
	width: 800px;
}
.timeline-container .timeline-arrow{
	height: 280px;
}
.timeline-container .timeline-element img{
	width: 100%;
}
.timeline-container .timeline-element{
	display: inline-block;
	/* top: 0%; */
	vertical-align: top;
	max-width: 160px;
	/*color: white*/;
}
.timeline-container .timeline-element:nth-child(even){
	margin-top: 300px;
}
.timeline-container .timeline-element h2{
	color: rgb(236, 125, 0);
	font-weight: 400;
	text-shadow: 0 1px 2px black;
}
.timeline-container .timeline-button-final {
	position: absolute;
	right: -40px;
	top: 37%;
}