
.site-vitrine .equipe > section {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fbfbfb;
	border-top: 1px solid #cccccc;
}


/* 
 * equipe-membres 
 */

.site-vitrine .equipe-membres{
	background: url("../private/img/background/pattern_1.png");
}
.site-vitrine .equipe-membres .thumbnail img {
	max-height: 128px;
	margin-bottom: 10px;
	border-radius: 7px;
}
.site-vitrine .equipe-membres .thumbnail h2{
	color: #0082bb;
	text-shadow: 0 1px 1px white;
	font-size:20px;
	font-weight:200;
}
.site-vitrine .equipe-membres .thumbnail .caption {
	display: block;
}
.site-vitrine .equipe-membres .thumbnail .caption.bold {
	font-weight:600;
}


/* 
 * equipe-projet 
 */

.site-vitrine .equipe .equipe-projet{
	background: url("../private/img/background/pattern_blue.jpg");
	background-size:cover;
	background-position: 50%;
}
.site-vitrine .equipe .equipe-projet h1 {
	color: whitesmoke;
}
.site-vitrine .equipe-projet .container {
	background: rgb(255, 255, 255);
	border: 1px solid lightgray;
	padding-top: 18px;
	padding-bottom: 10px;
}
.site-vitrine .equipe-projet img {
	max-height: 80px;
}


/* 
 * equipe-reference 
 */

.site-vitrine .equipe-reference img {
	transition:all ease-out .2s;
	max-height: 80px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	vertical-align: middle;
}
.site-vitrine .equipe-reference .caption {
	transition:all ease-out .2s;
	color:white;
	opacity:0;
	margin-top:10px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.site-vitrine .equipe-reference .thumbnail:hover img {
	-webkit-filter:none;
	filter:none;
}
.site-vitrine .equipe-reference .thumbnail:hover .caption{
	opacity:1;
	margin-top:20px;
}
