[ng-controller="controller_kiosque"]{
	/* background: url("../img/background/pattern_1.png"); */
}
.kiosque section {
	padding:10px;
}
.kiosque section:nth-child(1) {
	background: url("../private/img/background/pattern_1.png");
	border-bottom: 1px solid #bfbfbf;
}
.kiosque section:nth-child(2) {
}
.kiosque .ressources-items-container {
	/* float: left; */
	margin-bottom: 70px;
}

.kiosque .ressources-items-container .media.list-group-item{
	margin-top: 6px;
}
.kiosque .ressources-items-container  .media.list-group-item {
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.44);
	background-color: rgba(255, 255, 255, 0.84);
}
.kiosque .ressources-items-container  .list-group-item.active, .kiosque .ressources-items-container  .list-group-item.active:focus, .kiosque .ressources-items-container  .list-group-item.active:hover{

	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
}
.kiosque .ressources-items-container img.media-object {
	max-width: 60px;
}

.kiosque .ressources-items-container .media-heading {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.07);
	padding-bottom: 4px;
	color: #4e4e4e;
}
.kiosque .ressources-items-container .ressource-item.ng-enter{
	opacity:0;
}
.kiosque .ressources-items-container .ressource-item{
	overflow: visible;
	position: relative;
	display: block;
	background: #f7f7f7;
	border: 1px solid rgba(191, 191, 191, 0.49);
	padding: 8px 8px;
	border-radius: 4px;
	margin-bottom: -70px;
	margin-top: 0px;
	height:100px;
	transition: all .2s ease-out;
}
.kiosque .ressources-items-container .ressource-item:not(:last-child):hover{
	margin-bottom: 0;
}
.kiosque .ressources-items-container .media-body {
}
.description_pre-line{
	white-space: pre-line;
	max-height: 40px;
	overflow:hidden;
	color: black;
}

.kiosque .ressources-items-container .ressource-item:not([data-count='0'])::after, .capsule-item:not([data-count='0'])::after {
      content:attr(data-count);
    min-width: 12px;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0 1px rgba(0, 0, 0, 0.62);
    text-align:center;
    /*position:relative;*/
    color:#EFEFEF;
    display:inline;
    z-index: 200;
    border-radius: 14px;
    padding: 0px 5px;
    /*min-width:22px;*/
    /* border: 1px solid #eee; */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    margin:0 4px;
    background: #5CBDD9;
    background: -moz-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%, #5CBDD9), color-stop(100%, #0D8CD7));
    background: -webkit-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
    background: -o-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
    background: -ms-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
    background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
    background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CBDD9', endColorstr='#0D8CD7', GradientType=1);
	position: absolute;
	right: -8px;
	top: -10px;
}
.tile-container{-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;/*margin: 0px auto;*/display: block;}
.tile{
	/*margin-bottom: 10px;*/
	min-width: 120px;
	min-height: 120px;
	max-width: 150px;
	background-repeat: no-repeat;
	/* background-size: cover; */
	background-position: 50%;
	background-size: 100px 100px;
	background-color: white;
	-webkit-transition: all ease-in-out .5s;
	-o-transition: all ease-in-out .5s;
	transition: all ease-in-out .5s;
}
.tile.small-tile{
	/*min-width: 50px;*/
	/*min-height: 50px;*/
	max-width: 100px;
	max-height: 100px;
}
.tile.large-tile{
	/*min-width: 160px;*/
	/*min-height: 160px;*/
	max-width: 250px;
	max-height: 280px;
}
.tile.huge-tile{
	/*min-width: 200px;*/
	/*min-height: 200px;*/
	max-width: 360px;
	/*max-height: 360px;*/
}
.tile .tile-content.image img{
	width: 100%;
}

.tile .nombre_ressources{
	float: right;
	background-color: rgba(255, 126, 0, 0.66);
	padding: 0 7px;
	color: white;
}
.tile .small-nombre{
	background-color: rgba(255, 255, 255, 0.66);
}
.tile .large-nombre{
	background-color: rgba(255, 68, 0, 0.66);
}
.tile .huge-nombre{
	background-color: rgba(255, 0, 0, 0.66);
}
.metro .tile-group{
	width: calc(100% - 160px);
}
.metro .tile{
	-webkit-transition: all ease-in-out .4s;
	-o-transition: all ease-in-out .4s;
	transition: all ease-in-out .4s;
}
.metro .tile:hover{
	/*-webkit-transform: scale(1.05);*/

	-webkit-filter: saturate(150%);
	-ms-filter: saturate(150%);
	-o-filter: saturate(150%);
	filter: saturate(150%);
}
.metro .tile.flipped{
	width: initial !important;
	padding: 35px;
	height: auto !important;
}

.tile .brand {
	position: absolute;
	bottom: 0px;
	background: rgba(255, 255, 255, 0.75);
	left: 0px;
	right: 0px;
	text-align: center;
	color: black;
}

.finder-no-results{
	color: black;
	text-align: center;
}
.metro .tile .brand .badge, .metro .tile .tile-status .badge{
	right: 0px;
}
.metro .tile.flipped .tile-content.image{
	/*z-index: 200;*/
/*	-webkit-transition: all ease-in-out .8s;
-o-transition: all ease-in-out .8s;
transition: all ease-in-out .8s;
*/	-webkit-filter: blur(4px);
-ms-filter: blur(4px);
-o-filter: blur(4px);
filter: blur(4px);
background: white;
/*-webkit-transform: rotateY(180deg) scale(1.5);*/
}
.metro .tile.flipped .tile-content.image img{
opacity: 0.4;
}
.ressources.kiosque-recherche {width: 50%;}
.ressources.kiosque-recherche .ressources-items-container{
background: white;
overflow-x: scroll;
overflow-y: hidden;
-webkit-transition: all ease-in-out .4s;
-o-transition: all ease-in-out .4s;
transition: all ease-in-out .4s;
top: 0px;
opacity: 1;
position: relative;
/*z-index: -1;*/
}
.ressources .large-tile .ressources-items-container.kiosque,
.ressources .huge-tile .ressources-items-container.kiosque{
transition-delay:.3s;
}
.ressources .ressources-items-container.kiosque{
-webkit-transition: all ease-in-out .2s;
-o-transition: all ease-in-out .2s;
transition: all ease-in-out .2s;
opacity: 1;
padding-bottom: 10px;
}
.ressources .ressources-items-container.kiosque.ng-hide{

opacity: 0;
}
.ressources .ressources-items-container.kiosque.ng-hide-add{
}
.ressources .ressources-items-container.kiosque.ng-hide-remove{
/*display: none;*/
}
.ressources.kiosque-recherche .ressources-items-container.ng-hide{
top: -20px;
opacity: 0;
}
.ressources.kiosque-recherche .ressources-items-container.ng-hide-remove, .ressources.kiosque-recherche .ressources-items-container.ng-hide-remove{
display: block !important;
}

.ressources.kiosque-recherche .ressources-items-container div{
-webkit-transition: all ease-in-out .4s;
-o-transition: all ease-in-out .4s;
transition: all ease-in-out .4s;
cursor: pointer;
}
.ressources.kiosque-recherche .ressources-items-container div{
opacity: 1;
}
.ressources.kiosque-recherche .ressources-items-container div.ng-leave {
opacity: 0;
}
.ressources.kiosque-recherche .ressources-items-container div.ng-leave, .ressources.kiosque-recherche .ressources-items-container div.ng-enter {
/*display: block !important;*/
}
.ressources.kiosque{width: auto;margin: auto;margin-bottom: 10px;cursor: pointer;border: 1px solid #dadada;}
.ressources .ressources-items-container.kiosque{
	position: relative;
	white-space: initial;
	border-top: none;
	overflow-x: initial;
	box-shadow: none;
	background: rgba(255, 255, 255, 0.85);
  cursor: initial;
}
.ressources .ressources-items-container.kiosque div{
margin: 10px 20px;
cursor: pointer;
}
.ressources .ressources-items-container.kiosque div:hover{

-webkit-filter: saturate(150%);
-ms-filter: saturate(150%);
-o-filter: saturate(150%);
filter: saturate(150%);
}
/*.ressources .ressources-items-container.kiosque div:not([data-count='0'])::after{
margin: -105px 50px;