body{
	font-size: 13px;
	background: rgb(245, 245, 245);
	font-family: 'Helvetica';
	font-weight: 200;
}
.page-header{
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px 0;
	margin-top: 0;
	padding-top: 44px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.53);
	box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.25);
}
.page-header a > * {
	display:inline-block;
	margin-left:12px
}
.logo_espace{
	max-width: 100px;
	display:inline-block;
	border-radius:4px
}
.description_pre-line{
	white-space: pre-line;
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
	font-family: 'Raleway';
	margin-top: 0;
	font-family: 'Raleway';
}
h3, h4, h5 {
	font-weight: 300;
}
h1{
	font-size: 2.2rem;
	font-weight: 100;
	color: #000;
	text-shadow: 0px 1px 0px #000;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.8rem;
}
h4, h3 span {
	font-size: 1.6rem;
}
h5 {
	font-size: 1.3rem;
}

.btn-action.btn-success {
	color: white;
	background-color: rgba(0, 128, 0, 0.7);
}
.btn-action.btn-success:hover {
	background-color: darkgreen;
}
.panel, .well {
	background-color: rgba(255, 255, 255, 0.71);
}
.panel-default>.panel-heading {
	background: rgba(255, 255, 255, 0.27);
}
.panel-vide{
	padding-top: 130px;
	height: 325px;
	text-align: center;
}
.panel{
	box-shadow: 0px 5px 12px -6px rgba(0, 0, 0, 0.53);
}

.media.list-group-item {
	margin-top: 0px;
}
body .media.list-group-item {
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.44);
	background-color: rgba(255, 255, 255, 0.84);
}
body .list-group-item.active, body .list-group-item.active:focus, body .list-group-item.active:hover {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
}
body .ressource-item:hover, body .capsule-item a:hover {
	color: #db6c00;
	text-decoration: none;
}
body .capsule-item a {
	color: #555;
}
img.media-object {
	max-width: 80px;
}
#logo_background {
	width: 140%;	
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='blur'><feGaussianBlur stdDeviation='45' /></filter></svg>#blur");
    -webkit-filter: blur(45px);
    filter: blur(45px);
	left: -20%;
	z-index: -1;
	top: -20%;
	position: fixed;
	-webkit-user-drag: none;
}
.media-heading {	
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.07);
	padding-bottom: 4px;
}
.ressource-item, .capsule-item{
	overflow: visible;
}
.ressource-item:not([data-count='0'])::after, .capsule-item:not([data-count='0'])::after {
	content:attr(data-count);
	min-width: 12px;
	font-size: 18px;
	font-weight: 300;
	text-shadow: 0 1px rgba(0, 0, 0, 0.62);
	text-align:center;
	color:#EFEFEF;
	display:inline;
	z-index: 200;
	border-radius: 14px;
	padding: 0px 5px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	margin:0 4px
	background: #5CBDD9;
	background: -moz-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%, #5CBDD9), color-stop(100%, #0D8CD7));
	background: -webkit-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -o-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -ms-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
	background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CBDD9', endColorstr='#0D8CD7', GradientType=1);
	position: absolute;
	right: -8px;
	top: -10px;
}

.bouton-information {
	font-family: "Helvetica";
	font-weight: initial;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(145, 145, 145);
	border-radius: 20px;
	color: rgb(82, 82, 82);
	cursor: pointer;
	display: inline-block;
	line-height: normal;
	padding: 0 6px;
	transition: all 0.2s ease-in-out 0s;
}
.bouton-information + a{
	display:inline-block;
	margin-left:6px;
}
.bouton-information:hover {
	background: orange;
}
.media-body .description_pre-line {
	opacity: 0;
	max-height: 0;
	overflow-y:auto;
    transition: opacity .2s ease-out, max-height ease-out .5s;
}
.media-body .description_pre-line.description_on {
	opacity: 1;
	max-height: 700px;
}