body{
	color: white;
	font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif, Arial;
	
	background: url("https://www.pairform.fr/public/img/background_black_fs.png") 50% 0% no-repeat rgb(50,50,50);

}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 100;
	src: local('Raleway Thin'), local('Raleway-Thin'), url('/public/fonts/raleway/raleway-thin-webfont.woff') format('woff');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 200;
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url('/public/fonts/raleway/raleway-extralight-webfont.woff') format('woff');
}
main{
	max-width: 970px;
	width: 100%;
	margin: 40px auto;
}
h1,h2,h3{
	font-weight: 100;
}
#ws-response{
	/*float: right;
	clear: both;
	width: 50%;
	*/
	/*width: 45%;*/
	margin-left: 20px;
}
pre {
	background-color: rgba(0, 0, 0, 0.35);
	/* border: 1px solid silver; */
	border-radius: 4px;
	/* padding: 10px 20px; */
	/* margin: 20px; */
	height: 415px;
	/* max-width: 100%; */
	overflow: scroll;
	/* color: wheat; */
}
.json-key {
	color: rgb(224, 166, 18);
}
.json-value {
	color: rgb(195, 184, 255);
}
.json-string {
	color: rgb(0, 180, 14);
}

#log, #ws-response > code{
	width: 100%;
	height: 300px;
	/* border: 4px dotted green; */
	background: rgba(255, 255, 255, 0.08);
	border-radius: 14px;
	padding: 0px;
	display: block;
	overflow-y:scroll;
	word-wrap:break-word;
}
#log li{
	list-style: none;
}
.button{
	background: green;
	border-radius: 5px;
	min-width: 80px;
	padding: 4px 20px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	transition: background-color ease-in-out .2s;
}
#effacer-button{
	background: orange;
}

section[ng-controller="settings"] > div{

	display: inline-block;
	width: 48%;
	vertical-align: top;
}
section[ng-controller="settings"] input:not([type="checkbox"]):not([type="radio"]), section[ng-controller="settings"] select, section[ng-controller="settings"] textarea{
	display: block;
	width: 100%;
	font-size:inherit;
}
section[ng-controller="settings"] textarea{
	resize:vertical;
}
.result-good{
	color: green;
}
.result-bad{
	color: red;
}
.pending{
	background: red;
	animation: animationFrames ease-in-out 0.8s;
	animation-iteration-count: 200;
	transform-origin: ;
	-webkit-animation: animationFrames ease-in-out 0.8s;
	-webkit-animation-iteration-count: 200;
	-webkit-transform-origin: ;
	-moz-animation: animationFrames ease-in-out 0.8s;
	-moz-animation-iteration-count: 200;
	-moz-transform-origin: ;
	-o-animation: animationFrames ease-in-out 0.8s;
	-o-animation-iteration-count: 200;
	-o-transform-origin: ;
	-ms-animation: animationFrames ease-in-out 0.8s;
	-ms-animation-iteration-count: 200;
	-ms-transform-origin: ;
}

@keyframes animationFrames{
	0% {
		left:0px;
		top:0px;
		opacity:1;
		transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
	}
	50% {
		opacity:0.5;
	}
	100% {
		left:0px;
		top:0px;
		opacity:1;
		transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
	}
}

@-moz-keyframes animationFrames{
	0% {
		left:0px;
		top:0px;
		opacity:1;
		-moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
	}
	50% {
		opacity:0.5;
	}
	100% {
		left:0px;
		top:0px;
		opacity:1;
		-moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
	}
}

@-webkit-keyframes animationFrames {
	0% {
		left:0px;
		top:0px;
		opacity:1;
		-webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
	}
	50% {
		opacity:0.5;
	}
	100% {
		left:0px;
		top:0px;
		opacity:1;
		-webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
	}
}

@-o-keyframes animationFrames {
	0% {
		left:0px;
		top:0px;
		opacity:1;
		-o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
	}
	50% {
		opacity:0.5;
	}
	100% {
		left:0px;
		top:0px;
		opacity:1;
		-o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
	}
}

@-ms-keyframes animationFrames {
	0% {
		left:0px;
		top:0px;
		opacity:1;
		-ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
	}
	50% {
		opacity:0.5;
	}
	100% {
		left:0px;
		top:0px;
		opacity:1;
		-ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
	}
}