.accueil
	section.col-sm-12.jumbotron.accueil-header
		//- iframe(width="560" height="315" src="https://www.youtube.com/embed/_YnnsaFeaf8" frameborder="0")
		.pf-real-center.call-to-action
			h1 Transformez votre formation
			h2 Vous souhaitez mettre en place du blended learning,
			h2 du social learning ou de la classe inversée ?
			.btn.btn-info(ng-click="goToSubscribe()") Essayer

		.store-icons
			a(href='https://itunes.apple.com/fr/app/pairform/id673935516?mt=8&amp;uo=4', target='itunes_store')
				img(alt='{{"STORE.APP_STORE" | translate}}', ng-src='public/img/store/{{"STORE.APP_STORE_IMG" | translate}}')
			a(href='https://play.google.com/store/apps/details?id=cape.pairform', target='_blank')
				img(alt='{{"STORE.PLAY_STORE" | translate}}', ng-src='public/img/store/{{"STORE.PLAY_STORE_IMG" | translate}}')

	section.col-sm-12.accueil-reference
		h1 Ils nous font confiance
		.container
			.row
				.col-sm-2.col-xs-4
					.thumbnail.text-center
						img(src='private/img/partenaires/Mines_Nantes_RVB.png')
						.caption.ui-tooltip.ui-tooltip-top Ecole des Mines de Nantes
				.col-sm-2.col-xs-4
					.thumbnail.text-center
						img(src='private/img/partenaires/partenaire_imt.jpg')
						.caption.ui-tooltip.ui-tooltip-top Institut Mines-Telecom
				.col-sm-2.col-xs-4
					.thumbnail.text-center
						img(src='private/img/partenaires/Cafoc.png')
						.caption.ui-tooltip.ui-tooltip-top CAFOC Nantes
				.col-sm-2.hidden-xs
					.thumbnail.text-center
						img(src='private/img/partenaires/Logo_ponts_paristech.png')
						.caption.ui-tooltip.ui-tooltip-top Ponts & chaussés
				.col-sm-2.hidden-xs
					.thumbnail.text-center
						img(src='private/img/partenaires/logo_ul.jpg')
						.caption.ui-tooltip.ui-tooltip-top Université de Lorraine
				.col-sm-2.hidden-xs
					.thumbnail.text-center
						img(src='private/img/partenaires/mesr.jpg')
						.caption.ui-tooltip.ui-tooltip-top Ministère de l'enseignement supérieur et de la recherche
			
	//- section.col-sm-12.accueil-inovation-pedagogique
		//- img(src="public/img/Banniere_vote_xs_orange.png", alt="")
		.wrapper
			.accroche
				h2 Prix de l'i-novation pédagogique 2016
				h1 Votez pour notre projet !
			a.block(target="prix_innovation_pedagogique" href="https://prix-innovation-pedagogique.com/contestants/pairform/")

				img(src="public/img/logo.png")
				h2 Cliquez ici ! tiny.cc/pairform

	section.col-sm-12.accueil-plus-value
		.container
			.row
				.col-sm-4
					.thumbnail.text-center
						img(src='private/img/accueil/accueil_decouvrez.png')
						h2 Découvrez vos apprenants
						h3 avant votre formation
						hr
						.caption.
							Faites émerger les profils d’apprenants en les invitant à se présenter et à échanger autour d’un document de préparation à la formation.

						.caption.bold.
							Gagnez en efficacité en adaptant la conduite et le contenu de votre formation en fonction de votre public.
							
				.col-sm-4
					.thumbnail.text-center
						img(src='private/img/accueil/accueil_accompagnez.png')
						h2 Accompagnez vos apprenants
						h3 au fil de votre formation
						hr
						.caption.
							Identifiez les interrogations et bénéficiez des retours de vos apprenants autour de votre support de formation tout au long de votre session.
						.caption.bold.
							Profitez de l’entraide entre apprenants, et du temps en présentiel pour approfondir les points bloquants.
							
				.col-sm-4
					.thumbnail.text-center
						img(src='private/img/accueil/accueil_suivez.png')
						h2 Suivez vos apprenants
						h3 à la suite de votre formation
						hr
						.caption.
							Invitez les apprenants d’une session à échanger sur la mise en œuvre des savoirs et savoirs-faire appris durant votre formation, et apportez votre expertise quand vous le souhaitez.
						.caption.bold.
							Augmentez la qualité de suivi et le rayonnement de votre formation auprès des apprenants.
							
			.btn.btn-info(ng-click="goToSubscribe()") Essayer

	section.col-sm-12.accueil-comment(ng-init="accueil_panneau = 0")
		h1 Comment ça marche ?
		.step-bar-button-container.container
			.step-bar-button.col-xs-4.thumbnail.text-center(ng-click="accueil_panneau = 0" ng-class="{selected : (accueil_panneau == 0)}")
				img(src='private/img/accueil/accueil_ressources.png')
				h3 Creation
			.step-bar-button.col-xs-4.thumbnail.text-center(ng-click="accueil_panneau = 1" ng-class="{selected : (accueil_panneau == 1)}")
				img(src='private/img/accueil/accueil_partager.png')
				h3 Diffusion
			.step-bar-button.col-xs-4.thumbnail.text-center(ng-click="accueil_panneau = 2" ng-class="{selected : (accueil_panneau == 2)}")
				img(src='private/img/accueil/accueil_ecrire.png')
				h3 Animation
		.step-display-container.container
			.step-display(ng-show="accueil_panneau == 0")
				.page-header
					h1 Créez et réutilisez des contenus facilement
				.row
					.col-sm-3
						.feature-item
							h3 Créez des contenus multimédia
							p Utilisez notre éditeur intégré, ou utilisez vos chaînes éditoriales préférées : nous sommes compatibles avec Scenari & ChainEdit.
							br.hidden-xs-inline
						.feature-item
							h3 Hébergez sur le cloud
							p Vos contenus peuvent être hébergés sur nos serveurs, situés en France.
					.col-sm-6
						img.img-responsive.hidden-xs-inline(src="private/img/accueil/accueil_feature_frontoffice.png")
					.col-sm-3
						.feature-item
							h3 Ré-utilisez vos contenus existants 
							p Importez vos documents word en un clic, ou utilisez PairForm sur n'importe quel site internet existant (un blog Wordpress par exemple).
							br.hidden-xs-inline
						.feature-item
							h3 Utilisez vos outils préférés
							p Intégrez d'autres applications dans votre formation : des visio-conférences, des éditeurs collaboratifs…
				.row.feature-item
					.col-md-offset-2.col-md-2.col-sm-3.col-xs-4
						img.img-responsive(src="private/img/accueil/accueil_timeline.png", alt="")
					.col-md-6.col-sm-9
						h2 Organisation simple de vos formations
						p Une fois vos contenus créés, construisez votre formation en un clin d'œil !
						p Vous pouvez co-gérer votre contenu à plusieurs, et décider des rôles de chacun dans l'administration de votre formation.
				.row.feature-item
					.col-md-offset-2.col-md-2.col-sm-3.col-xs-4
						img.img-responsive(src="private/img/accueil/accueil_integrations.png", alt="")
					.col-md-6.col-sm-9
						h2 Intégrations dans des LMS
						p Vos contenus peuvent être intégrés dans d'autres plateformes pédagogiques (LMS) : Moodle, Canvas, FUN... Nous respectons le standard LTI (TinCan API à venir) pour favoriser l'intéroperabilité avec les LMS.
			
			.step-display(ng-show="accueil_panneau == 1")
				.page-header
					h1 Diffusez vos contenus et gérez vos apprenants

				.row
					.col-sm-3
						.feature-item
							h3 MOOC ou SPOC
							p Vous pouvez choisir si vos contenus sont publics (MOOC) ou privés (SPOC), c'est vous qui décidez.
							br.hidden-xs-inline
						.feature-item
							h3 Contrôle d'accès simplifié
							p Déclarez qui a accès à vos contenus avec juste une liste d'adresse e-mail.
					.col-sm-6
						img.img-responsive.hidden-xs-inline(src="private/img/accueil/accueil_feature_backoffice.png")
					.col-sm-3
						.feature-item
							h3 Durée de diffusion
							p Gérez également la durée d'accès de votre contenu pour vos apprenants : 1 semaine, 3 mois ou 2 ans par exemple.
							br.hidden-xs-inline
						.feature-item
							h3 Suivi et statistiques 
							p Suivez la progression de vos apprenants, et générez des bilans d'apprentissages personnalisés.
				.row.feature-item
					.col-md-offset-2.col-md-2.col-sm-3.col-xs-4
						img.img-responsive(src="private/img/accueil/accueil_diffusion_auto.png", alt="")
					.col-md-6.col-sm-9
						h2 Diffusion automatique 
						p Il vous suffit d'indiquer la date d'ouverture de votre contenu, le jour venu, PairForm enverra automatiquement un e-mail à vos apprenants pour les inviter sur vos supports.
				.row.feature-item
					.col-md-offset-2.col-md-2.col-sm-3.col-xs-4
						img.img-responsive(src="private/img/accueil/accueil_plateformes.png", alt="")
					.col-md-6.col-sm-9
						h2 Sur toutes les plateformes
						p Votre contenu sera accessible sur tablettes, smartphones et ordinateurs de toutes marques. Le fonctionnement en parfaite complémentarité permet d’utiliser l’appareil le plus adapté au moment présent. 

			.step-display(ng-show="accueil_panneau == 2")
				.page-header
					h1 Animez une communauté au cœur de vos supports
				
				.row
					.col-sm-3
						.feature-item
							h3 Réseau social contextualisé
							p Grâce à notre technologie unique, vos apprenants et vous pouvez échanger directement là où le contenu vous fait réagir (un paragraphe, une image, etc.),
							br.hidden-xs-inline
						.feature-item
							h3 Certification et reconnaissance
							p Attribuez des badges (compatibles avec les OpenBadges Mozilla) aux apprenants pour certifier l'appropriation des compétences, et ditribuer des médailles sur les messages, pour récompenser la qualité d'un propos .
					.col-md-offset-1.col-md-4.col-sm-6
						.demo-content-illustration.hidden-xs-inline
							.panel.panel-default.pf-demo
								.panel-heading
									h1 {{"DEMONSTRATION.DEMONSTRATION" | translate}}
									h3 {{"DEMONSTRATION.CLIQUEZ_ELEMENT" | translate}}
								.panel-body.pf-background
									span(pf-commentable) {{"DEMONSTRATION.POSSIBILITES_COMMENTAIRE" | translate}}
									ul
										li(pf-commentable) {{"DEMONSTRATION.POSSIBILITES_COMMENTAIRE_1" | translate}}
										li(pf-commentable) {{"DEMONSTRATION.POSSIBILITES_COMMENTAIRE_2" | translate}}
									p {{"DEMONSTRATION.POSSIBILITES_COMMENTAIRE_3" | translate}}
									span(pf-commentable)
										img.img-responsive(src='private/img/PairformFullFinal_30.png')
					.col-md-offset-1.col-sm-3
						.feature-item
							h3 Gestion des groupes
							p répartissez vos apprenants dans des groupes, observez leurs activités et échangez en privé avec eux. 
							br.hidden-xs-inline
						.feature-item
							h3 Modération
							p La modération se fait par la communauté, ce qui permet de n'afficher que les échanges les plus pertinents. En cas de besoin, PairForm intégre aussi des fonctionnalités de modération plus avancés.
				.row.feature-item
					.col-md-4.col-sm-3.col-xs-4
						.demo-content-illustration
							.pres-score-container
								.pres-score-value +10
								.pres-score-action {{"DEMONSTRATION.ECRIRE_MESSAGE" | translate}}
							.pres-score-container
								.pres-score-value.pres-score-value-neg -30
								.pres-score-action {{"DEMONSTRATION.SE_FAIRE_SUP_MSG" | translate}}
							.pres-score-container
								.pres-score-value +30
								.pres-score-action {{"DEMONSTRATION.GAGNER_DEFI" | translate}}
							.pres-score-container
								.pres-score-value +1
								.pres-score-action {{"DEMONSTRATION.VOTER_MESSAGE" | translate}}
					.col-md-6.col-sm-9
						h2 Gamification
						p Quand un usager contribue à la communauté, il reçoit des points d'expérience et débloque des succès. En progressant, il accède à de nouveaux rôles qui lui débloque de nouvelles fonctionnalités.
				.row.feature-item
					.col-md-offset-2.col-md-2.col-sm-3.col-xs-4
						img.img-responsive(src="private/img/accueil/accueil_fonctionnalites.png", alt="")
					.col-md-6.col-sm-9
						h2 Mais encore :
						ul
							li Les apprenants peuvent également définir leurs propres objectifs d'apprentissage et leur profil d'apprenant.
							li Utilisez des défis, des quizz et de nombreuses autres fonctionnalités pour animer votre formation !
				

	//- section.col-sm-12.accueil-temoignages
		h1 Cas d'usages
		.container
			.media
				.media-left
					a(href="")
						img.media-object(src='private/img/accueil/morgane_massart.jpg')
				.media-body
					h4.media-heading Morgane Massart, Ecole des Ponts et Chaussés, Paris
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos minima dolore nihil. Adipisci ratione, cumque asperiores, odio dolor sequi similique accusamus, obcaecati itaque et eum optio hic molestiae! Laborum.
					div Culpa doloribus est quis, rem nemo vel. Non molestiae quo facere culpa vitae, nostrum amet soluta laborum adipisci hic ex modi est veritatis quaerat aut incidunt, suscipit voluptatem sit delectus.					

			.media
				.media-left
					a(href="")
						img.media-object(src='http://placekitten.com/100/101')
				.media-body
					h4.media-heading Petit Chat
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos minima dolore nihil. Adipisci ratione, cumque asperiores, odio dolor sequi similique accusamus, obcaecati itaque et eum optio hic molestiae! Laborum.
					div Culpa doloribus est quis, rem nemo vel. Non molestiae quo facere culpa vitae, nostrum amet soluta laborum adipisci hic ex modi est veritatis quaerat aut incidunt, suscipit voluptatem sit delectus.					


			.media
				.media-left
					a(href="")
						img.media-object(src='http://placekitten.com/101/101')
				.media-body
					h4.media-heading Gros chat
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos minima dolore nihil. Adipisci ratione, cumque asperiores, odio dolor sequi similique accusamus, obcaecati itaque et eum optio hic molestiae! Laborum.
					div Culpa doloribus est quis, rem nemo vel. Non molestiae quo facere culpa vitae, nostrum amet soluta laborum adipisci hic ex modi est veritatis quaerat aut incidunt, suscipit voluptatem sit delectus.					


	section.col-sm-12.accueil-media
		h1 Ils parlent de nous
		.container
			.media
				.media-left
					a(href="http://cursus.edu/institutions-formations-ressources/technologie/27279/apportez-des-commentaires-tout-moment-tout/")
						img.media-object(src='private/img/accueil/thot_cursus.png')
				.media-body
					h4.media-heading Thot Cursus :
					p.
						Le projet PAIRFORM s'appuie sur l'idée qu'une ressource d'information ou d'apprentissage peut s'enrichir grâce aux commentaires de tous.

						Dit autrement, on peut apprendre non pas uniquement par des documents "officiels" ou "formels" mais aussi par les apports collaboratifs de ses pairs.

						Les créateurs de cette application ont retenu ce qui fonctionne et ont marié des principes issus de pratiques diverses.


			.media
				.media-left
					a(href="http://www.presseocean.fr/actualite/nantes-les-mooc-prennent-le-grand-air-24-01-2016-182467")
						img.media-object(src='private/img/accueil/presse_ocean.png')
				.media-body
					h4.media-heading Presse Ocean :
					p.
						Avec des collègues et après plusieurs années de recherches, il vient de développer une méthode qui permet au Mooc d'utiliser les technologies du smartphone et de la tablette et les avantages de la géolocalisation à des fins d'apprentissage sur le terrain, à grande échelle. Ce « PairForm » permet aux participants de mieux percevoir la réalité des enseignements dispensés.


	section.col-sm-12.accueil-cta
		h1 Vous souhaitez utiliser PairForm dans votre formation ? 
		.container
			.col-md-6.col-md-push-3.col-sm-8.col-sm-push-2.col-xs-12(ng-show="$root.subscribed")
				p Merci ! Nous vous enverrons une invitation très prochainement.
			.col-md-6.col-md-push-3.col-sm-8.col-sm-push-2.col-xs-12(ng-hide="$root.subscribed")
				p Laissez nous votre adresse e-mail pour essayer PairForm !
				form.input-group(ng-submit="subscribe()")
					input.form-control(type="email" name="email" ng-model="$root.email" placeholder="Entrez votre adresse e-mail")
					.input-group-btn
						button.btn.btn-success(type='submit') J'essaye
				.alert.alert-info(ng-show="error")
					p {{error}}

	include footer
