.equipe

	section.col-sm-12.equipe-membres
		h1 L'équipe derrière PairForm
		.container
			.row
				.col-sm-4
					.thumbnail.text-center
						img(src='private/img/equipe/albert.jpg')
						h2 Albert Cau
						h3 Co-fondateur
						hr
						.caption.
							Albert est spécialisé dans le développement Android et web. Soucieux de l'organisation et des méthodes de travail, il élabore des workflows au top.

				.col-sm-4
					.thumbnail.text-center
						img(src='private/img/equipe/maen.jpg')
						h2 Maen Juganaikloo
						h3 Co-fondateur
						hr
						.caption.
							Maen est spécialisé dans le développement iOS et web. Sur demande, Maen peut se métamorphoser en graphiste maniant images vectorielles, calques et CSS plus vite que son ombre.

				.col-sm-4
					.thumbnail.text-center
						img(src='private/img/equipe/christian.jpg')
						h2 Christian Colin
						h3 Co-fondateur & conseiller scientifique
						hr
						.caption.
							Christian Colin est à l'initiative du projet PairForm. Enseignant-chercheur à l’Ecole des Mines de Nantes, il dirige le Centre d’Appui aux Pratiques d’Enseignement de l’école.

	section.col-sm-12.equipe-projet
		h1 Le projet PairForm
		.container
			.row
				.col-sm-3
					.thumbnail.text-center
						img(src='private/img/partenaires/nantes_tech.png')
					.thumbnail.text-center
						img(src='private/img/partenaires/Mines_Nantes_RVB.png')
				.col-sm-9
					p Notre ambition est d’améliorer la qualité pédagogique des formations, et d’apporter des outils de qualité aux formateurs. Nous souhaitons réaliser cela en collaboration avec nos utilisateurs et partenaires, en impliquant chacun à son échelle dans la conception de notre produit.
					p PairForm intègre les savoir-faire d'une équipe de spécialistes du développement pédagogique, du numérique, et des nouveaux usages dans l’enseignement. Il est au carrefour des innovations pédagogiques actuelles : communauté d'apprentissage, pédagogie active, gamification, byod, apprentissage entre pairs…
					p PairForm est issu du Centre d’Appui aux Pratiques d’Enseignement (CAPE) de l’Ecole des Mines de Nantes, une structure dédiée à l’évolution des pratiques de formation pour favoriser l'apprentissage.

	section.col-sm-12.equipe-reference
		h1 Ils nous soutiennent
		.container
			.row
				
				.col-sm-2.col-xs-4
					.thumbnail.text-center
						img(src='private/img/partenaires/partenaire_imt.jpg')
						.caption.ui-tooltip.ui-tooltip-top Institut Mines-Telecom
				.col-sm-2.col-xs-4
					.thumbnail.text-center
						img(src='private/img/partenaires/Atlanpole.jpg')
						.caption.ui-tooltip.ui-tooltip-top Atlanpôle
				.col-sm-2.col-xs-4
					.thumbnail.text-center
						img(src='private/img/partenaires/region_PDL.png')
						.caption.ui-tooltip.ui-tooltip-top Région Pays de la Loire
				.col-sm-2.hidden-xs
					.thumbnail.text-center
						img(src='private/img/partenaires/logo_unit.png')
						.caption.ui-tooltip.ui-tooltip-top Fondation UNIT
				.col-sm-2.hidden-xs
					.thumbnail.text-center
						img(src='private/img/partenaires/BPI_France.png')
						.caption.ui-tooltip.ui-tooltip-top BPI France
				.col-sm-2.hidden-xs
					.thumbnail.text-center
						img(src='private/img/partenaires/mesr.jpg')
						.caption.ui-tooltip.ui-tooltip-top Ministère de l'enseignement supérieur et de la recherche

	include footer