section.col-sm-12.footer
	.container
		.pull-left
			p ComPairs SAS - Tous droits réservés.
			p Contact : #[img.email-contact-pairform(src="public/img/email_pairform.png")]
		.pull-right
			a(href="https://twitter.com/PairForm")
				img(src="public/img/twitter.png", style="width: 60px;", alt="Twitter")