doctype html
html(lang='fr')
	head
		meta(charset='utf-8')
		meta(name='hash_ressource', content='00000000')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='author', content='#{espace.nom_long}')
		meta(name='google-site-verification', content='S_X9E5CawtD3BNGQ4ABq9BlbhPzwZIeTAVxWPQcRnYQ')

		title #{espace.nom_long}

		link(rel='shortcut icon', href='#{url_serveur_node}/public/ico/favicon.png')
		link(href='#{url_serveur_node}/public/lib/css/bootstrap_3.3.5.min.css', rel='stylesheet')
		link(rel='stylesheet' href='#{url_serveur_node}/private/css/kiosque_espace.css')
		
		script(src='#{url_serveur_node}/app')
		script.
			PF.globals.selector = "none";
			PF.globals.selectorRes = "none";
			PF.globals.selectorPage = "none";
			PF.globals.selectorContent = "none";
			PF.globals.needs_update = true;

	body
		img#logo_background(src='#{espace.url_logo}')
		.page-header
			a(href=url_serveur_node + "/doc/" + espace.id_espace)
				img(src='#{espace.url_logo}').logo_espace
				h1 #{espace.nom_long}

		.container
			.col-lg-4.col-md-4
				.panel.panel-default
					h3.panel-heading Ressources de #{espace.nom_court} :
					.panel-body.list-group
						for ressource in ressources
							- var url_ressource = url_serveur_node + "/doc/" + espace.id_espace + "/" + ressource.id_ressource;
							if capsules && ressource_selectionne
								a.media.list-group-item.ressource-item(href=url_ressource, data-count=nombre_messages_ressources[ressource.id_ressource], class= (ressource.id_ressource == ressource_selectionne.id_ressource ? "active" : ""))
									.media-left
										img.media-object(src=ressource.url_logo)
									.media-body
										h4.media-heading= ressource.nom_long 
										span= "Créé le "
											span(ng-bind='::"'+ ressource.date_creation +'" | date_timestamp')
											span= " par "+ ressource.pseudo_createur
							else
								a.media.list-group-item.ressource-item(href=url_ressource, data-count=nombre_messages_ressources[ressource.id_ressource])
									.media-left
										img.media-object(src=ressource.url_logo)
									.media-body
										h4.media-heading= ressource.nom_long 
										span= "Créé le "
											span(ng-bind='::"'+ ressource.date_creation +'" | date_timestamp')
											span= " par "+ ressource.pseudo_createur

			if capsules && ressource_selectionne
				.col-lg-8.col-md-8
					.panel.panel-default
						h3.panel-heading= "Documents de "
							span= ressource_selectionne.nom_long
						.panel-body.list-group
							p.description_pre-line= ressource_selectionne.description
							for capsule in capsules
								.media.list-group-item.capsule-item(data-count=nombre_messages_capsules[capsule.id_capsule])
									.media-body
										span.bouton-information(ng-click="informations_capsule_affichees = (capsule.informations_capsule_affichees == #{capsule.id_capsule} ? null : #{capsule.id_capsule})") i
										a(href=capsule.url_web)
											h4= capsule.nom_long
										.description_pre-line(ng-class="{description_on : informations_capsule_affichees == #{capsule.id_capsule}}")
											span= "Auteurs : "+ capsule.auteurs
											br
											span= "Licence : "+ capsule.licence
											br
											span= "Créé le "
												span(ng-bind='::"'+ capsule.date_creation +'" | date_timestamp')
											if capsule.date_edition
												br
												span= "Mis à jour le "
													span(ng-bind='::"'+ capsule.date_edition +'" | date_timestamp')
											br
											br
											p= capsule.description
			else
				.col-lg-8.col-md-8
					.panel.panel-default
						.media.panel-heading.panel-vide
							h4 Sélectionnez une ressource
								br
								br
								small dans la colonne à gauche de l'écran
