.container.marketing
	.page-header
		h1 {{"TARIF.SECTION_1_TITRE" | translate}}
	.row.last-feeds-container
		.col-sm-4
			h1.text-center {{"TARIF.SECTION_1_BLOC_1_TITRE" | translate}}
			.thumbnail.pf-background
				.caption
					p {{"TARIF.SECTION_1_BLOC_1_TEXTE_1" | translate}}
					p {{"TARIF.SECTION_1_BLOC_1_TEXTE_2" | translate}}

		.col-sm-4
			h1.text-center {{"TARIF.SECTION_1_BLOC_2_TITRE" | translate}}
			.thumbnail.pf-background
				.caption
					p {{"TARIF.SECTION_1_BLOC_2_3_TEXTE_1" | translate}}
					p {{"TARIF.SECTION_1_BLOC_2_3_TEXTE_2" | translate}}
					div.text-center: a(href='mailto:contact[arobase]pairform.fr')
						.btn.btn-info {{"TARIF.SECTION_1_BLOC_2_3_LINK" | translate}}

		.col-sm-4
			h1.text-center {{"TARIF.SECTION_1_BLOC_3_TITRE" | translate}}
			.thumbnail.pf-background
				.caption
					p {{"TARIF.SECTION_1_BLOC_2_3_TEXTE_1" | translate}}
					p {{"TARIF.SECTION_1_BLOC_2_3_TEXTE_2" | translate}}
					div.text-center: a(href='mailto:contact[arobase]pairform.fr')
						.btn.btn-info {{"TARIF.SECTION_1_BLOC_2_3_LINK" | translate}}
					
	.page-header
		h1 {{"TARIF.SECTION_2_TITRE" | translate}}
	.row.last-feeds-container
		.col-sm-4
			h1.text-center {{"TARIF.SECTION_2_BLOC_1_TITRE" | translate}}
			.thumbnail.pf-background
				.caption
					p {{"TARIF.SECTION_2_BLOC_1_TEXTE" | translate}}#[a(href='https://www.pairform.fr/node/cgu/utilisateur') {{"TARIF.SECTION_2_BLOC_1_LINK" | translate}}]
		.col-sm-4
			h1.text-center {{"TARIF.SECTION_2_BLOC_2_TITRE" | translate}}
			.thumbnail.pf-background
				.caption
					p {{"TARIF.SECTION_2_BLOC_2_TEXTE" | translate}}#[a(href='https://www.pairform.fr/node/cgu/reseau_social') {{"TARIF.SECTION_2_BLOC_2_LINK" | translate}}]
		.col-sm-4
			h1.text-center {{"TARIF.SECTION_2_BLOC_3_TITRE" | translate}}
			.thumbnail.pf-background
				.caption
					p {{"TARIF.SECTION_2_BLOC_3_TEXTE" | translate}}#[a(href='https://www.pairform.fr/node/cgu/auteur') {{"TARIF.SECTION_2_BLOC_3_LINK" | translate}}]
			
