
/**/

.timeline-holder {
	/* position: relative; */
	/* height: 297px; */
	/* border-left: none; */
	/* border-right: none; */
	background: white;
	/* height: 100px; */
	/* padding: 0; */
}

.timeline-items-container.pf-droppable{
	transform:scale(1.05);
	box-shadow: 0 50px 25px -50px rgba(0, 0, 0, 0.68);
}

.timeline-items-container{
	overflow-x:scroll;
	overflow-y: hidden;
	/* white-space: nowrap; */
	background: white;
	padding: 80px 0;
	display: block;
	transition:all ease-out .2s;
}
.timeline__step-content input {
	width:80px;
	border: 0;
	text-align: center;
	font-size: 13px;
	/* line-height: 12px; */
	background: none;
	padding: 0px;
}

.timeline-holder datepicker {
	display: block;
	line-height: initial;
}
.timeline-holder ._720kb-datepicker-calendar {
	/* top: -10%; */
	/* left: 100%; */
	/* line-height: 12px; */
	width: 220px;
}
.timeline-holder ._720kb-datepicker-calendar-day {
	margin: 0;
}
.timeline-holder ._720kb-datepicker-calendar-header  {
	line-height: 32px;
	background: #ff8d00 !important;
}
/**/
/**/
/**/
/**/
/**/

.timeline {
  margin: 2px 0px;
  padding: 0;
  border-top: 2px solid #428bca;
  list-style: none;
  display: block;
  width: 2000px;
}

.timeline__step {
  float: left;
  width: 120px;
  padding-top: 30px;
  position: relative;
}
.timeline__step:first-of-type:before, .timeline__step:last-of-type:before {
  content: "";
  width: 50%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: -2px;
  left: 0;
}
.timeline__step:last-of-type:before {
  left: 50%;
  display: none;
}
.timeline__step:hover .timeline__step-label {
  opacity: 1;
  bottom: 90%;
}
.timeline__step:hover .timeline__step-label:before, .timeline__step:hover .timeline__step-label:after {
  display: block;
}

.timeline__step-label {
  opacity: 0;
  padding: 5px 10px;
  height: auto;
  font-size: 12px;
  border-width: 1px;
  width: 110px;
  margin: 0 0 45px -55px;
  border-style: solid;
  border-color: #428bca;
  background: #fff;
  font-weight: normal;
  position: absolute;
  left: 50%;
  bottom: 80%;
  transition: all ease-out .2s;
}
.timeline__step-label:before, .timeline__step-label:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
}
.timeline__step-label:before {
  border-top-color: #428bca;
  border-width: 8px;
  margin-left: -8px;
}
.timeline__step-label:after {
  border-top-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}

.timeline__step-content {
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.timeline__step-title {
  display: block;
  width: 100%;
  padding: 30px 0 0;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 0;
}

.timeline__step-marker {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background: #fff;
  text-align: center;
  color: #428bca;
  font-size: 24px;
  line-height: 36px;
  font-style: normal;
  position: absolute;
  top: -26px;
  left: 50%;
  box-shadow: 0 0 0 10px #fff;
}
i.timeline__step-marker{
	
  border: 4px solid #428bca;
  border-radius: 50%;
}

img.timeline__step-marker {
	width: auto;
	margin-left: -20px;
}
.done .timeline__step-marker {
  background: #428bca;
  color: #fff;
}

.timeline__step-radio {
  display: none;
  /**
   * not needed for now,
   * because markers won't be clicked in horz version
   */
}

.timeline--summary {
  width: 200px;
  border-width: 2px;
}
.timeline--summary .timeline__step-label {
  margin-bottom: 19px;
}
.timeline--summary .timeline__step-title {
  padding: 10px 0 0;
  font-size: 8px;
  font-weight: bold;
}
.timeline--summary .timeline__step-marker {
  width: 12px;
  height: 12px;
  margin-left: -6px;
  border-width: 2px;
  text-indent: -999em;
  box-shadow: 0 0 0 3px #fff;
  top: -7px;
}