//- include index.html

doctype html
html(lang='fr')
    head
        meta(charset='utf-8')
        meta(name='hash_ressource', content='b208089d')
        meta(name='pf_vitrine')
        meta(name='generator', content='special')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='{{"META.DESCRIPTION" | translate}}')
        meta(name='author', content='{{"META.AUTEUR" | translate}}')
        meta(name='keywords', content='{{"META.KEYWORDS" | translate}}')
        meta(name='langage', content='{{"META.LANGAGE" | translate}}')
        meta(name='google-site-verification', content="S_X9E5CawtD3BNGQ4ABq9BlbhPzwZIeTAVxWPQcRnYQ")

        title PairForm

        link(rel='shortcut icon', href="public/ico/favicon.png")
        link(href='public/css/bootstrap.min.css', rel="stylesheet")
        link(href='private/css/pf_vitrine.css', rel="stylesheet")
        
        //- script(src='private/js/jquery-2.0.1.min.js', type="text/javascript")
        script(src='private/js/masonry.min.js', type="text/javascript")
        script(src='app')
        script.
            PF.globals.selector = ".pf-demo span, .pf-demo li";
            PF.globals.selectorRes = "none";
            PF.globals.selectorPage = "none";
            PF.globals.selectorContent = ".pf-demo";
        //- script(src='public/js/angular-route.min.js')
        script(src='private/js/pf_vitrine.min.js', type="text/javascript")
        
    body
      .navbar.navbar-default.navbar-fixed-top
        .container-fluid
          button.navbar-toggle(type='button')
            span.sr-only Afficher le menu
            span.icon-bar
            span.icon-bar
            span.icon-bar

          .navbar-header
            a.navbar-brand.hidden-sm(href="#/accueil")
              img(src="public/img/PairformLogo.png")
            p.navbar-text.hidden-xs.hidden-sm.hidden-md Vos commentaires au cœur des documents
          .collapse.navbar-collapse.navbar-right#navigation-bar
            ul.nav.navbar-nav
              li(menu-item) 
                a(href="#/accueil") Accueil
              li(menu-item)
                a(href="#/kiosque") Kiosque
              li(menu-item) 
                a(href="#/entreprise") Entreprise
              li(menu-item) 
                a(href="#/enseignement") Enseignement
              li(menu-item) 
                a(href="#/plus") Plus d'infos
              li(menu-item) 
                a(href="#/tarif") Tarif / CGU
              li(menu-item) 
                a(href="#/equipe") Qui sommes-nous?
      main.container-fluid.clearfix
        .spin-box
        div(ng-view)
      //- footer.clearfix
      //-   | PairForm - CAPE - Ecole des Mines de Nantes (2015)
