/* General HTML CSS */

*{
	max-width: 100%;
	height: auto;
}

html{
	margin: 0px;
	padding: 0px;
}

body{
	margin: 3px;
	padding: 0px;
	height: 100%;
	font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

table{
	padding: 0px;
	margin: 0px;
	border-collapse: collapse; 
}

h1, h2, h3, h4, h5, h6{
	padding:0px;
	margin:0px;
}
h1{
	font-size: 2.6em;
	color: #636363;
	font-weight: 100;
}
h2{
	font-size:2em;
	color:#636363;
}
h3{
	font-size: 1.5em;
	color: #636363;
}
h4, h5, h6{
	font-size: 1.4em;
	color: #636363;
}
p{
	text-align: justify;
	font-size: 1.2em;
	margin: 0.2em 1em 0.7em 1em;
}

.hidden{
	position: absolute;
	top:-5000px;
	left:-5000px;
	overflow: hidden;
	width:1px;
	height:1px;
	color:black
}

#tplRgt .hidden, #tplLft .hidden, #tplBtm .hidden, #tplTop .hidden{
	color:white
}

/************************************************ SupCast ************************************************/

.mainContent{
	background-color: transparent;
	/*background-color: rgb(221, 221, 221);*/
	color: rgb(85,85,85);
}

.mainContent_co {
	margin: 2px;
}
/* inlineStyles */
.op_txt_is_emp, 
.op_sTxt_is_emp, 
.op_labelTxt_is_emp, 
.op_clozeTxt_is_emp,
.op_qTxt_is_emp{
	font-weight: bold;
	color: rgb(85,85,85);
}

ul.op_txt_il,
ul.op_sTxt_il,
ul.op_clozeTxt_il,
ul.op_qTxt_il{
	list-style-image: none;

}
/* imagesInline */
.op_txt_tim_form img,
.op_txt_tim_form object,
.embedObj,
.op_txt_tim_ico img,
.op_qTxt_tim_form img,
.op_qTxt_tim_form object,
.op_qTxt_tim_ico img {
	max-width: 100%;
	height: auto;
}


/*********************************** iPhone ***********************************/
@media not screen and (max-device-width:1024px)
{
	/**{
		transition-duration: 0.5s;
	}*/
	.firstMenuDiv {
	    text-align: center;
	    font-size: 18px;
	    height: 29px;
	    padding: 20px;
	    border-bottom: 1px solid rgba(0,0,0,0.4);
	    box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
	}
	.startBtn.btnNxt {
	    text-decoration: none;
	    color: #222;
	    text-shadow: -1px 1px 1px rgba(0,0,0,0.2);
	}
	.firstMenuDiv:hover {
	    background-color: rgb(207, 134, 0);
	}

	@media screen and (min-width: 400px) and (max-width: 975px)
	{
	    body {
	    	background: #45484d;
	        background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	        background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
	        background: -o-linear-gradient(top, #45484d 0%,#000000 100%);
	        background: -ms-linear-gradient(top, #45484d 0%,#000000 100%);
	        background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
	        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
	    }
	    
	    .mainContent{
	        width: 320px;
	        height: 416px;
	        overflow-y: scroll;
	        overflow-x: hidden;
	        margin: 200px auto;
	        /*background-color: white;*/
	        transition: width ease-in-out 0.5s;
	    }
	        
	    .mainContent:before{
	        background: url('../img/iphone-frame.png');
	        background-repeat: no-repeat;
	        content: ' ';
	        width: 380px;
	        height: 833px;
	        position: absolute;
	        margin-top: -197px;
	        margin-left: -32px;
	        z-index: -1;
	    }
	}

	/*********************************** iPad ***********************************/

	@media screen and (min-width: 975px)
	{
	    body {
	    	background: #45484d;
	        background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	        background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
	        background: -o-linear-gradient(top, #45484d 0%,#000000 100%);
	        background: -ms-linear-gradient(top, #45484d 0%,#000000 100%);
	        background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
	        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
	    }
	    
	    .mainContent{
			width: 748px;
			height: 516px;
			overflow-y: scroll;
			overflow-x: hidden;
			margin: 136px auto;
			/*background-color: white;*/
	        transition: width ease-in-out 0.5s;
	    }
	        
	    .mainContent:before{
	        
			background: url('../img/ipad-frame.png');
			background-repeat: no-repeat;
			content: ' ';
			width: 932px;
			height: 854px;
			position: absolute;
			margin-top: -127px;
			z-index: -1;
			margin-left: -92px;
		}
	}

	ul.mnu {
	    position: relative !important;
	    width: auto !important;
	    counter-reset: chapter;
	    font-size: 20px;
	}

	.mnu li {
	    counter-increment: chapter;
	    line-height: 1.5em;
	}

	.mnu li::before {
	    content: counters(chapter, ".") " ";
	    float: left;
	}
}

.alert { /* Old browsers */   /* Old browsers */   /* FF3.6+ */   /* Chrome,Safari4+ */   /* Chrome10+,Safari5.1+ */   /* Opera 11.10+ */   /* IE10+ */   /* W3C */   /* IE6-9 */; /* FF3.6+ */   /* Chrome,Safari4+ */   /* Chrome10+,Safari5.1+ */   /* Opera 11.10+ */   /* IE10+ */   /* W3C */   /* IE6-9 */;
    min-height: 40px;
    width: 80%;
    padding: 5%;
    margin: 5%;
    border-radius: 25px;
    box-shadow: 0 0 14px rgb(39, 39, 39);
    word-break: break-word;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: rgb(223, 223, 223);
    
    background: #a90329; /* Old browsers */  
    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */  
    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */  
    background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */  
    background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */  
    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */;
}

