.container
	h2 {{"LABEL.ROLE.ATTRIBUER" | translate}}

	.row
		.col-md-6
			ol.breadcrumb
				li(ng-show='arborescence.nom_espace')
					a(ng-href='#/tableauDeBord?id_espace={{arborescence.id_espace}}') {{arborescence.nom_espace}}
		.col-md-4
			a.btn.btn-primary.pull-right(ng-href='#/roles/gestionRoles/{{arborescence.id_espace}}?nom_espace={{arborescence.nom_espace}}') {{"LABEL.ROLE.DEFINIR_COURT" | translate}}
	br

	.row
		.col-md-4
			h4 {{"LABEL.ROLE.ROLES" | translate}}

			datalist#id_liste_roles
				option(ng-repeat='role in liste_roles', value='{{role.nom}}')

			input.form-control(ng-model='recherche_role', type='text', placeholder='{{"LABEL.ROLE.CHERCHER" | translate}}', list='id_liste_roles')
			br
			select.form-control(ng-model='role_selectionne', ng-options='role.nom for role in liste_roles | filter: recherche_role', ng-change='rechercherMembreRole(); editer_membres = false; recherche_membre = ""; recherche_membre_role = "";')
				option(value='') {{"LABEL.ROLE.SELECTIONNER" | translate}}
			
			div.btn-group-vertical(ng-show='role_selectionne')
				button.btn.btn-default(ng-click='editer_membres = true; gererMembresRole();', ng-hide='role_selectionne.nom == "Sphère publique"') {{"LABEL.ROLE.GERER_MEMBRES" | translate}}
			br

		.col-md-6(ng-show='!editer_membres && role_selectionne')
			.row
				.col-md-12
					h4 {{membres_nommes}}

					datalist#id_liste_membres
						option(ng-repeat='membre in role_selectionne.liste_membres_role', value='{{membre.nom}}')

					input.form-control(ng-model='recherche_membre', type='text', placeholder='{{"LABEL.GROUPE.MEMBRE.CHERCHER" | translate}}', list='id_liste_membres')
					br
			.row
				.col-md-6
					h5 {{"LABEL.FORMULAIRE.EMAILS" | translate}}
					br
					.liste-membres-groupes
						table.table
							tbody
								tr(ng-repeat='membre_email in role_selectionne.liste_membres_email | filter: recherche_membre')
									td.membres-groupes {{membre_email.nom}}
				.col-md-6
					h5 {{"LABEL.GROUPE.MEMBRE.NOM_DOMAINE" | translate}}
					br
					.liste-membres-groupes
						table.table
							tbody
								tr(ng-repeat='membre_nom_domaine in role_selectionne.liste_membres_nom_domaine | filter: recherche_membre')
									td.membres-groupes {{membre_nom_domaine.nom}}

		.col-md-6(ng-show='editer_membres && role_selectionne')
			form.well.clearfix(name="attribuer_role_form", novalidate)
				.row
					.col-md-12
						h4 {{membres_nommes}}

						datalist#id_liste_membres_role
							option(ng-repeat='membre_role in nouvelle_liste_membres_role', value='{{membre_role.nom}}')

						input.form-control(ng-model='recherche_membre_role', ng-click='rechercherMembreRole()', type='text', placeholder='{{"LABEL.GROUPE.MEMBRE.CHERCHER" | translate}}', list='id_liste_membres_role')
						br
				.row
					.col-md-6
						h5 {{"LABEL.FORMULAIRE.EMAILS" | translate}}
						br
						.liste-membres-groupes
							table.table
								tbody
									tr(ng-repeat='membre_role_email in nouvelle_liste_membres_email | filter: recherche_membre_role')
										td: div.btn-pairform.btn-supprimer(ng-click='supprimerMembreRole(membre_role_email, nouvelle_liste_membres_email)', title='{{"LABEL.SUPPRIMER" | translate}}')
										td.membres-groupes {{membre_role_email.nom}}
					.col-md-6
						h5 {{"LABEL.GROUPE.MEMBRE.NOM_DOMAINE" | translate}}
						br
						.liste-membres-groupes
							table.table
								tbody
									tr(ng-repeat='membre_role_nom_domaine in nouvelle_liste_membres_nom_domaine | filter: recherche_membre_role')
										td: div.btn-pairform.btn-supprimer(ng-click='supprimerMembreRole(membre_role_nom_domaine, nouvelle_liste_membres_nom_domaine)', title='{{"LABEL.SUPPRIMER" | translate}}')
										td.membres-groupes {{membre_role_nom_domaine.nom}}
				.row
					.col-md-12
						br
						h4 {{"LABEL.ROLE.NOMMER_MEMBRE" | translate}}
				.row
					.col-md-12
						datalist#id_liste_membres_espace
							option(ng-repeat='membre_espace in liste_membres_espace', value='{{membre_espace.nom}}')
						
						input.form-control(ng-model='recherche_membre_espace', type='text', placeholder='{{"LABEL.GROUPE.MEMBRE.CHERCHER" | translate}}', list='id_liste_membres_espace')
				.row
					.col-md-6
						h5 {{"LABEL.FORMULAIRE.EMAILS" | translate}}
						select.form-control(ng-model='membre_nomme', ng-options='membre_espace_email.nom for membre_espace_email in liste_membres_email | filter: recherche_membre_espace')
							option(value='') {{"LABEL.FORMULAIRE.SELECTIONNER" | translate}}
					.col-md-6
						h5 {{"LABEL.GROUPE.MEMBRE.NOM_DOMAINE" | translate}}
						select.form-control(ng-model='membre_nomme', ng-options='membre_espace_nom_domaine.nom for membre_espace_nom_domaine in liste_membres_nom_domaine | filter: recherche_membre_espace')
							option(value='') {{"LABEL.FORMULAIRE.SELECTIONNER" | translate}}
						br

				.row
					.col-md-4
						button.btn.btn-primary.btn-block(ng-click='editer_membres = false;') {{"LABEL.ANNULER" | translate}}
					.col-md-4
						button.btn.btn-default.btn-block(ng-click='nommerMembreRole(membre_nomme);') {{"LABEL.ROLE.NOMMER" | translate}}
					.col-md-4
						button.btn.btn-primary.btn-block(ng-click='editer_membres = false; editerMembresRole();') {{"LABEL.ENREGISTRER" | translate}}
