.container
	h2 {{"LABEL.CONNEXION.CONNEXION" | translate}}

	.row
		form.col-md-4.well(name="connexion_form", novalidate)
					
			.form-group(ng-class='{ "has-error" : formulaire_soumis && (connexion_form.login.$invalid) }')
				label {{"LABEL.CONNEXION.IDENTIFIANT" | translate}}
				input.form-control(ng-model='login', name='login', ng-click='formulaire_soumis = false' ,type='text', placeholder='{{"LABEL.CONNEXION.IDENTIFIANT" | translate}}', required)
				span.help-block(ng-show='formulaire_soumis && connexion_form.login.$invalid') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
			
			.form-group(ng-class='{ "has-error" : formulaire_soumis && (connexion_form.mot_de_passe.$invalid) }')
				label {{"LABEL.CONNEXION.MOT_DE_PASSE" | translate}}
				input.form-control(ng-model='mot_de_passe', name='mot_de_passe', ng-click='formulaire_soumis = false', type='password', placeholder='{{"LABEL.CONNEXION.MOT_DE_PASSE" | translate}}', required)
				span.help-block(ng-show='formulaire_soumis && connexion_form.mot_de_passe.$invalid') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
			
			span.help-block(ng-show='utilisateur_non_connecte'): span.text-danger  {{"LABEL.ERREUR.IDENTIFICATION" | translate}}

			button.btn.btn-default.pull-left(ng-click='mot_de_passe_oublie = true') {{"LABEL.CONNEXION.MOT_DE_PASSE_OUBLIE" | translate}}

			button.btn.btn-primary.has-spinner.pull-right(ng-click='connecterUtilisateur(connexion_form.mot_de_passe.$valid)', data-spinner='right', ng-class='{active: connexion_form.login.$valid && connexion_form.mot_de_passe.$valid && formulaire_soumis}') {{"LABEL.CONNEXION.CONNEXION" | translate}}
				span &nbsp;
				span.spinner: i.fa.fa-refresh.fa-spin

		.col-md-4
			.panel.panel-primary
				div.panel-heading {{"LABEL.CONNEXION.ACCES_BACKOFFICE" | translate}}
				div.panel-body {{"LABEL.CONNEXION.DEMANDER_ACCES_BACKOFFICE" | translate}}
					a(ng-href='mailto:{{"LABEL.EMAIL_PAIRFORM" | translate}}') {{"LABEL.EMAIL_PAIRFORM" | translate}}

	.row(ng-show='mot_de_passe_oublie')
		form.col-md-4.well(name="reinitialisation_mdp_form", novalidate)
					
			.form-group(ng-class='{ "has-error" : reinitialisation_mdp_form.email.$dirty && reinitialisation_mdp_form.email.$invalid }')
				label {{"LABEL.FORMULAIRE.EMAIL" | translate}}
				input.form-control(ng-model='email', name='email', type='email', placeholder='{{"LABEL.FORMULAIRE.EMAIL" | translate}}', required)
				span.help-block(ng-show='reinitialisation_mdp_form.email.$dirty && reinitialisation_mdp_form.email.$invalid') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}

			button.btn.btn-primary.has-spinner.pull-right(ng-click='reinitialiserMotDePasse(reinitialisation_mdp_form.email.$valid)', data-spinner='right', ng-class='{active: reinitialisation_mdp_form.login.$valid}') {{"LABEL.CONNEXION.REINITIALISER_MOT_DE_PASSE" | translate}}
				span &nbsp;
				span.spinner: i.fa.fa-refresh.fa-spin
