.container
	h2 {{titre}}

	.row
		.col-md-10
			ol.breadcrumb
				li: a(ng-href='#/tableauDeBord?id_espace={{arborescence.id_espace}}') {{arborescence.nom_espace}}
				li(ng-show='arborescence.nom_ressource')
					a(ng-href='#/tableauDeBord?id_espace={{arborescence.id_espace}}&id_ressource={{arborescence.id_ressource}}') {{arborescence.nom_ressource}}
	br(ng-hide='id_ressource')

	.row(ng-show='id_ressource')
		.col-md-10
			span.pull-right {{"LABEL.FORMULAIRE.CREER_PAR" | translate}}
				a(ng-href='mailto:{{email_createur}}') {{nom_createur}}

	.row
		form.col-md-10.well(name="gestion_ressource_form", novalidate)
			.row
				.col-md-6
					input(ng-model='id_ressource', type='hidden')
					input(ng-model='id_espace', type='hidden')

					.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_ressource_form.nom_court.$invalid) }')
						label {{"LABEL.FORMULAIRE.NOM_COURT" | translate}}
						input.form-control(ng-model='nom_court', name='nom_court', type='text', placeholder='{{"LABEL.FORMULAIRE.NB_CARACT_MAX_20" | translate}}', ng-minlength='2', ng-maxlength='20', ng-click='ressource_doublon = false; formulaire_soumis = false;', required)
						span.help-block(ng-show='formulaire_soumis && (gestion_ressource_form.nom_court.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_ressource_form.nom_court.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_ressource_form.nom_court.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
						span.help-block(ng-show='formulaire_soumis && ressource_doublon'): span.text-danger {{"LABEL.ERREUR.DOUBLON" | translate}}
					
					.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_ressource_form.nom_long.$invalid) }')
						label {{"LABEL.FORMULAIRE.NOM_LONG" | translate}}
						input.form-control(ng-model='nom_long', name='nom_long', type='text', placeholder='{{"LABEL.FORMULAIRE.NB_CARACT_MAX_100" | translate}}', ng-minlength='2', ng-maxlength='100', required)
						span.help-block(ng-show='formulaire_soumis && (gestion_ressource_form.nom_long.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_ressource_form.nom_long.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_ressource_form.nom_long.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
					
					.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_ressource_form.description.$invalid) }')
						label {{"LABEL.FORMULAIRE.DESCRIPTION" | translate}}
						textarea.form-control(ng-model='description', name='description', placeholder='{{"LABEL.RESSOURCE.DESCRIPTION" | translate}}', ng-minlength='2', rows='5', required)
						span.help-block(ng-show='formulaire_soumis && (gestion_ressource_form.description.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_ressource_form.description.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
	
				.col-md-6
					.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_ressource_form.theme.$invalid) }')
						label {{"LABEL.FORMULAIRE.THEME" | translate}}
						select.form-control(ng-model='theme_selectionne', name='theme', ng-options='theme.nom for theme in liste_themes', required)
						span.help-block(ng-show='formulaire_soumis && (gestion_ressource_form.theme.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
					
					.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_ressource_form.usage.$invalid) }')
						label {{"LABEL.FORMULAIRE.USAGE" | translate}}
						select.form-control(ng-model='usage_selectionne', name='usage', ng-options='usage.nom for usage in liste_usages', ng-disabled='id_ressource', required)
						span.help-block(ng-show='formulaire_soumis && (gestion_ressource_form.usage.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
					
					.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_ressource_form.langue.$invalid) }')
						label {{"LABEL.FORMULAIRE.LANGUE" | translate}}
						select.form-control(ng-model='langue_selectionne', name='langue', ng-options='langue.nom for langue in liste_langues', required)
						span.help-block(ng-show='formulaire_soumis && (gestion_ressource_form.langue.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
					
					label {{"LABEL.FORMULAIRE.LOGO" | translate}}
					.row
						.col-md-6.form-group(ng-class='{ "has-error" : formulaire_soumis }')
							div.btn.btn-default(ng-file-select='recupererLogo($files)') 
								span {{"LABEL.FORMULAIRE.SELECTIONNER_IMAGE" | translate}}
								br
								span: small {{"LABEL.FORMULAIRE.SELECTIONNER_IMAGE_CONTRAINTES_100" | translate}}
						.col-md-6
							span.help-block(ng-show='format_incorrect'): span.text-danger {{"LABEL.ERREUR.FORMAT_IMAGE" | translate}}
							span.help-block(ng-show='dimensions_incorrectes'): span.text-danger {{"LABEL.ERREUR.DIMENSIONS_IMAGE" | translate}}
							img.center-block.logo-pairform(ng-show='logo_selectionne', ng-src='{{src_logo}}', alt='{{"LABEL.FORMULAIRE.LOGO" | translate}}')
							span.help-block(ng-show='logo_selectionne'): span.text-success {{nom_logo}}
					
			.row
				.col-md-6
					em {{"LABEL.FORMULAIRE.CHAMPS_OBLIGATOIRES" | translate}}
				.col-md-6
					button.btn.btn-primary.has-spinner.pull-right(ng-click='gererRessource(gestion_ressource_form.$valid)', data-spinner='right', ng-class='{active: gestion_ressource_form.$valid && formulaire_soumis && !ressource_doublon}') {{bouton_formulaire}}
						span &nbsp;
						span.spinner: i.fa.fa-refresh.fa-spin
