.container
	h2 {{"LABEL.ROLE.DEFINIR" | translate}}

	.row
		.col-md-8
			ol.breadcrumb
				li(ng-show='arborescence.nom_espace')
					a(ng-href='#/tableauDeBord?id_espace={{arborescence.id_espace}}') {{arborescence.nom_espace}}
		.col-md-2
			a.btn.btn-primary.pull-right(ng-href='#/roles/attributionRoles/{{arborescence.id_espace}}?nom_espace={{arborescence.nom_espace}}') {{"LABEL.ROLE.ATTRIBUER" | translate}}
	br

	.row
		.col-md-10
			form.well.table-rotated(name="edition_gestion_roles_form", ng-class='{ "has-error" : formulaire_soumis && (edition_gestion_roles_form.$invalid) }', novalidate)
				.row
					table.col-md-12.table.table-header-rotated
						thead
							tr
								th(colspan='2') {{"LABEL.ROLE.ROLES" | translate}}
								th.rotate-45
									div: span {{"LABEL.ESPACE.EDITER" | translate}}
								th.rotate-45
									div: span {{"LABEL.GROUPE.GERER" | translate}}
								th.rotate-45
									div: span {{"LABEL.ROLE.DEFINIR_COURT" | translate}}
								th.rotate-45
									div: span {{"LABEL.ROLE.ATTRIBUER_COURT" | translate}}
								th.rotate-45
									div: span {{"LABEL.ROLE.GERER_RESSOURSES_ET_CAPSULES" | translate}}
								th.rotate-45
									div: span {{"LABEL.CAPSULE.VISIBILITE.GERER" | translate}}
								th.rotate-45
									div: span {{"LABEL.ROLE.EDITER_TOUTES_RESSOURCES_ET_CAPSULES" | translate}}
								th.rotate-45
									div: span {{"LABEL.ROLE.GERER_VISIBILITE_TOUTES_CAPSULES" | translate}}
								th
						tbody
							tr(ng-repeat='role in liste_roles')
								th.row-header: div.btn-pairform.btn-supprimer(ng-click='supprimerRole(role)', ng-hide='role.admin_espace || !droit_gerer_roles', title='{{"LABEL.SUPPRIMER" | translate}}')
								th.row-header: input.form-control(ng-model='role.nom', name='nom', type='text', placeholder='{{"LABEL.FORMULAIRE.NB_CARACT_MAX_35" | translate}}', ng-minlength='2', ng-maxlength='35', required)

								td: input.checkbox(ng-model='role.editer_espace', ng-checked='role.editer_espace', type='checkbox', ng-disabled='role.admin_espace || !droit_gerer_roles')
								td: input.checkbox(ng-model='role.gerer_groupes', ng-checked='role.gerer_groupes', type='checkbox', ng-disabled='role.admin_espace || !droit_gerer_roles')
								td: input.checkbox(ng-model='role.gerer_roles', ng-checked='role.gerer_roles', type='checkbox', ng-disabled='role.admin_espace || !droit_gerer_roles')
								td: input.checkbox(ng-model='role.attribuer_roles', ng-checked='role.attribuer_roles', type='checkbox', ng-disabled='role.admin_espace || !droit_gerer_roles')
								td: input.checkbox(ng-model='role.gerer_ressources_et_capsules', ng-checked='role.gerer_ressources_et_capsules', ng-click='modifierDroitGererRessourcesEtCapsules(role)', type='checkbox', ng-disabled='role.admin_espace || !droit_gerer_roles')
								td: input.checkbox(ng-model='role.gerer_visibilite_capsule', ng-checked='role.gerer_visibilite_capsule', type='checkbox', ng-disabled='role.admin_espace || !droit_gerer_roles || !role.gerer_ressources_et_capsules')
								td: input.checkbox(ng-model='role.editer_toutes_ressources_et_capsules', ng-checked='role.editer_toutes_ressources_et_capsules', type='checkbox', ng-disabled='role.admin_espace || !droit_gerer_roles')
								td: input.checkbox(ng-model='role.gerer_visibilite_toutes_capsules', ng-checked='role.gerer_visibilite_toutes_capsules', type='checkbox', ng-disabled='role.admin_espace || !droit_gerer_roles')
							tr
								th.row-header
								th.row-header
									button.btn.btn-default(ng-click='ajouterRole()', ng-show='droit_gerer_roles') {{"LABEL.ROLE.AJOUTER" | translate}}
				.row
					.col-md-8
						span.help-block(ng-show='formulaire_soumis && (edition_gestion_roles_form.$invalid)') {{"LABEL.ERREUR.CHAMPS_OBLIGATOIRES" | translate}}
						span.help-block(ng-show='formulaire_soumis && edition_gestion_roles_form.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX_35" | translate}}
						span.help-block(ng-show='formulaire_soumis && edition_gestion_roles_form.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN_2" | translate}}
					
					.col-md-4
						button.btn.btn-primary.pull-right(ng-click='editerRoles(edition_gestion_roles_form.$valid)', ng-show='droit_gerer_roles') {{"LABEL.ENREGISTRER" | translate}}
