.container
	h2 {{titre}}

	.row
		.col-md-10
			ol.breadcrumb
				li: a(ng-href='#/tableauDeBord?id_espace={{arborescence.id_espace}}') {{arborescence.nom_espace}}
				li: a(ng-href='#/tableauDeBord?id_espace={{arborescence.id_espace}}&id_ressource={{arborescence.id_ressource}}') {{arborescence.nom_ressource}}
				li(ng-show='arborescence.nom_capsule')
					a(ng-href='#/tableauDeBord?id_espace={{arborescence.id_espace}}&id_ressource={{arborescence.id_ressource}}&id_capsule={{arborescence.id_capsule}}') {{arborescence.nom_capsule}}
	br

	.row(ng-show='capsule.id_capsule')
		.col-md-5.pull-left
			span {{"LABEL.CAPSULE.CLEF_PAIRFORM" | translate}}
			span {{capsule.clef_pairform}}
		.col-md-5
			span.pull-right {{"LABEL.FORMULAIRE.CREER_PAR" | translate}}
				a(ng-href='mailto:{{capsule.email_createur}}') {{capsule.nom_createur}}

	.row
		form.col-md-10.well(name="gestion_capsule_form", novalidate)
			.row
				.col-md-6
					input(ng-model='capsule.id_capsule', type='hidden')
					input(ng-model='capsule.id_ressource', type='hidden')

					.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_capsule_form.nom_court.$invalid) }')
						label {{"LABEL.FORMULAIRE.NOM_COURT" | translate}}
						input.form-control(ng-model='capsule.nom_court', name='nom_court', type='text', placeholder='{{"LABEL.FORMULAIRE.NB_CARACT_MAX_20" | translate}}', ng-minlength='2', ng-maxlength='20', ng-click='capsule_doublon = false; formulaire_soumis = false;', required)
						span.help-block(ng-show='formulaire_soumis && (gestion_capsule_form.nom_court.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.nom_court.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.nom_court.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
						span.help-block(ng-show='formulaire_soumis && capsule_doublon'): p.text-danger {{"LABEL.ERREUR.DOUBLON" | translate}}

					.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_capsule_form.nom_long.$invalid) }')
						label {{"LABEL.FORMULAIRE.NOM_LONG" | translate}}
						input.form-control(ng-model='capsule.nom_long', name='nom_long', type='text', placeholder='{{"LABEL.FORMULAIRE.NB_CARACT_MAX_100" | translate}}', ng-minlength='2', ng-maxlength='100', required)
						span.help-block(ng-show='formulaire_soumis && (gestion_capsule_form.nom_long.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.nom_long.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.nom_long.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}

					.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_capsule_form.auteurs.$invalid) }')
						label {{"LABEL.FORMULAIRE.AUTEURS" | translate}}
						input.form-control(ng-model='capsule.auteurs', name='auteurs', type='text', placeholder='{{"LABEL.FORMULAIRE.AUTEURS_DESCRIPTION" | translate}}', ng-minlength='2', ng-maxlength='100', required)
						span.help-block(ng-show='formulaire_soumis && (gestion_capsule_form.auteurs.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.auteurs.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.auteurs.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}

					.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_capsule_form.licence.$invalid) }')
						label {{"LABEL.FORMULAIRE.LICENCE" | translate}}
						input.form-control(ng-model='capsule.licence', name='licence', type='text', placeholder='{{"LABEL.FORMULAIRE.LICENCE_DESCRIPTION" | translate}}', ng-minlength='2', ng-maxlength='50', required)
						span.help-block(ng-show='formulaire_soumis && (gestion_capsule_form.licence.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.licence.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.licence.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}

				.col-md-6
					.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_capsule_form.description.$invalid) }')
						label {{"LABEL.FORMULAIRE.DESCRIPTION" | translate}}
						textarea.form-control(ng-model='capsule.description', name='description', placeholder='{{"LABEL.CAPSULE.DESCRIPTION" | translate}}', ng-minlength='2', rows='8', required)
						span.help-block(ng-show='formulaire_soumis && (gestion_capsule_form.description.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
						span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.description.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}

			fieldset.separateur
				.row
					.col-md-6
						.form-group(ng-hide='upload_archive_mobile', ng-class='{ "has-error" : formulaire_soumis && (gestion_capsule_form.url_mobile.$invalid) }')
							label {{"LABEL.CAPSULE.GESTION.URL_MOBILE" | translate}}
							input.form-control(ng-model='capsule.url_mobile', name='url_mobile', type='url_mobile', placeholder='{{"LABEL.CAPSULE.GESTION.URL_MOBILE_DESCRIPTION" | translate}}')
							span.help-block(ng-show='formulaire_soumis && (gestion_capsule_form.url_mobile.$invalid )') {{"LABEL.ERREUR.URL_INVALIDE" | translate}}

						.form-group(ng-show='upload_archive_mobile', ng-class='{ "has-error" : formulaire_soumis }')
							label {{"LABEL.CAPSULE.GESTION.ARCHIVE_MOBILE" | translate}}
							br
							div.btn.btn-default.btn-block(ng-file-select='recupererArchiveMobile($files)')
								span {{"LABEL.CAPSULE.GESTION.SELECTIONNER_ARCHIVE_MOBILE" | translate}}
							span.help-block(ng-show='format_mobile_incorrect'): span.text-danger {{"LABEL.ERREUR.FORMAT_ARCHIVE" | translate}}
							span.help-block(ng-show='archive_mobile_selectionne'): span.text-success {{nom_archive_mobile}}

						.checkbox
							label
								input.checkbox(ng-model='upload_archive_mobile', name='upload_archive_mobile', type='checkbox', value='')
								span {{"LABEL.CAPSULE.UPLOAD_CAPSULE_SUR_SERVEUR" | translate}}

						.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_capsule_form.poid.$invalid) }')
							label {{"LABEL.CAPSULE.GESTION.POID" | translate}}
							input.form-control(ng-model='capsule.poid', name='poid', type='number', placeholder='{{"LABEL.CAPSULE.GESTION.POID_DESCRIPTION" | translate}}', ng-maxlength='4', min='1')
							span.help-block(ng-show='formulaire_soumis && (gestion_capsule_form.poid.$invalid )') {{"LABEL.ERREUR.POID_INVALIDE" | translate}}
							span.help-block(ng-show='formulaire_soumis && gestion_capsule_form.poid.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}

					.col-md-6
						.form-group(ng-hide='upload_archive_web', ng-class='{ "has-error" : formulaire_soumis && (gestion_capsule_form.url_web.$invalid) }')
							label {{"LABEL.CAPSULE.GESTION.URL_WEB" | translate}}
							input.form-control(ng-model='capsule.url_web', name='url_web', type='url', placeholder='{{"LABEL.CAPSULE.GESTION.URL_WEB_DESCRIPTION" | translate}}')
							span.help-block(ng-show='formulaire_soumis && (gestion_capsule_form.url_web.$invalid )') {{"LABEL.ERREUR.URL_INVALIDE" | translate}}

						.form-group(ng-show='upload_archive_web', ng-class='{ "has-error" : formulaire_soumis }')
							label {{"LABEL.CAPSULE.GESTION.ARCHIVE_WEB" | translate}}
							br
							div.btn.btn-default.btn-block(ng-file-select='recupererArchiveWeb($files)')
								span {{"LABEL.CAPSULE.GESTION.SELECTIONNER_ARCHIVE_WEB" | translate}}
							span.help-block(ng-show='format_web_incorrect'): span.text-danger {{"LABEL.ERREUR.FORMAT_ARCHIVE" | translate}}
							span.help-block(ng-show='archive_web_selectionne'): span.text-success {{nom_archive_web}}
						.checkbox
							label
								input.checkbox(ng-model='upload_archive_web', name='upload_archive_web', type='checkbox', value='')
								span {{"LABEL.CAPSULE.UPLOAD_CAPSULE_SUR_SERVEUR" | translate}}
			br
			.row
				.col-md-6
					em {{"LABEL.FORMULAIRE.CHAMPS_OBLIGATOIRES" | translate}}
				.col-md-6
					button.btn.btn-primary.has-spinner.pull-right(ng-click='gererCapsule(gestion_capsule_form.$valid)', data-spinner='right', ng-class='{active: gestion_capsule_form.$valid && formulaire_soumis && !capsule_doublon}') {{bouton_formulaire}}
						span &nbsp;
						span.spinner: i.fa.fa-refresh.fa-spin

