.container
	h2 {{titre}}

	.row
		.col-md-10
			ol.breadcrumb
				li(ng-show='arborescence.nom_espace')
					a(ng-href='#/tableauDeBord?id_espace={{arborescence.id_espace}}') {{arborescence.nom_espace}}
	br

	.row
		form.col-md-6.well(name="gestion_espace_form", novalidate)
			input(type='hidden' ng-model='id_espace')

			.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_espace_form.nom_court.$invalid) }')
				label {{"LABEL.FORMULAIRE.NOM_COURT" | translate}}
				input.form-control(ng-model='nom_court', name='nom_court', type='text', placeholder='{{"LABEL.FORMULAIRE.NB_CARACT_MAX_20" | translate}}', ng-minlength='2', ng-maxlength='20', ng-click='espace_doublon = false;', required)
				span.help-block(ng-show='formulaire_soumis && (gestion_espace_form.nom_court.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
				span.help-block(ng-show='formulaire_soumis && gestion_espace_form.nom_court.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}
				span.help-block(ng-show='formulaire_soumis && gestion_espace_form.nom_court.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
				span.help-block(ng-show='formulaire_soumis && espace_doublon'): p.text-danger {{"LABEL.ERREUR.DOUBLON" | translate}}
			
			.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_espace_form.nom_long.$invalid) }')
				label {{"LABEL.FORMULAIRE.NOM_LONG" | translate}}
				input.form-control(ng-model='nom_long', name='nom_long', type='text', placeholder='{{"LABEL.FORMULAIRE.NB_CARACT_MAX_100" | translate}}', ng-minlength='2', ng-maxlength='100', required)
				span.help-block(ng-show='formulaire_soumis && (gestion_espace_form.nom_long.$invalid)') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
				span.help-block(ng-show='formulaire_soumis && gestion_espace_form.nom_long.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}
				span.help-block(ng-show='formulaire_soumis && gestion_espace_form.nom_long.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}

			label {{"LABEL.FORMULAIRE.LOGO" | translate}}
			.row
				.col-md-6.form-group(ng-class='{ "has-error" : formulaire_soumis }')
					div.btn.btn-default(ng-file-select='recupererLogo($files)') 
						span {{"LABEL.FORMULAIRE.SELECTIONNER_IMAGE" | translate}}
						br
						span: small {{"LABEL.FORMULAIRE.SELECTIONNER_IMAGE_CONTRAINTES_400" | translate}}
				.col-md-6
					span.help-block(ng-show='format_incorrect'): span.text-danger {{"LABEL.ERREUR.FORMAT_IMAGE" | translate}}
					span.help-block(ng-show='dimensions_incorrectes'): span.text-danger {{"LABEL.ERREUR.DIMENSIONS_IMAGE" | translate}}
					img.center-block.logo-pairform(ng-show='logo_selectionne', ng-src='{{src_logo}}', alt='{{"LABEL.FORMULAIRE.LOGO" | translate}}')
					span.help-block(ng-show='logo_selectionne'): span.text-success {{nom_logo}}

			.row
				.col-md-12
					em {{"LABEL.FORMULAIRE.CHAMPS_OBLIGATOIRES" | translate}}
					button.btn.btn-primary.pull-right(ng-click='gererEspace(gestion_espace_form.$valid)') {{bouton_formulaire}}
