.container
	h2 {{"LABEL.CAPSULE.VISIBILITE.GERER" | translate}}
	
	.row
		.col-md-6
			ol.breadcrumb
				li: a(ng-href='#/tableauDeBord?id_espace={{arborescence.id_espace}}') {{arborescence.nom_espace}}
				li: a(ng-href='#/tableauDeBord?id_espace={{arborescence.id_espace}}&id_ressource={{arborescence.id_ressource}}') {{arborescence.nom_ressource}}
				li: a(ng-href='#/tableauDeBord?id_espace={{arborescence.id_espace}}&id_ressource={{arborescence.id_ressource}}&id_capsule={{arborescence.id_capsule}}') {{arborescence.nom_capsule}}
		.col-md-2
			a.btn.btn-primary.pull-right(ng-href='#/groupes/gestionGroupes/{{arborescence.id_espace}}?nom_espace={{arborescence.nom_espace}}') {{"LABEL.GROUPE.GERER" | translate}}
	br

	.row
		.col-md-8
			form.well(name='edition_capsule_visibilite_form', novalidate)
				.row
					.col-md-12
						h4 {{sous_titre_visibilite}}
						br

				.row
					.col-md-5
						select.form-control(ng-model='sphere_publique_visibilite_selectionne', ng-options='visibilite.nom for visibilite in liste_visibilites_sphere_publique', ng-change='editerVisibilitesViaSpherePublique()')
					.col-md-2
						p {{"LABEL.CAPSULE.VISIBILITE.POUR" | translate}}
					.col-md-5
						h5 {{groupe_sphere_publique.nom}}
				br
				.row
					.col-md-5
						select.form-control(ng-model='espace_visibilite_selectionne', ng-options='visibilite.nom for visibilite in liste_visibilites_espace', ng-change='editerVisibilitesViaEspace()')
					.col-md-2
						p {{"LABEL.CAPSULE.VISIBILITE.POUR" | translate}}
					.col-md-5
						h5 {{groupe_espace.nom}}
				br
				.row
					.col-md-5
						select.form-control(ng-model='groupe_visibilite_selectionne', ng-options='visibilite.nom for visibilite in liste_visibilites_groupe', ng-change='editerVisibilitesViaGroupe()')
							option(value='') {{"LABEL.CAPSULE.VISIBILITE.SELECTIONNER" | translate}}
					.col-md-2
						p {{"LABEL.CAPSULE.VISIBILITE.POUR" | translate}}
					.col-md-5
						datalist#id_liste_groupes
							option(ng-repeat='groupe in liste_groupes', value='{{groupe.nom}}')

						input.form-control(ng-model='recherche_groupe', type='text', placeholder='{{"LABEL.GROUPE.CHERCHER" | translate}}', list='id_liste_groupes')
						br

						select.form-control(ng-model='groupe_selectionne', ng-options='groupe.nom for groupe in liste_groupes | filter: recherche_groupe')
							option(value='') {{"LABEL.GROUPE.SELECTIONNER" | translate}}

				br

				.row
					.col-md-2.col-md-offset-10
						button.btn.btn-primary.pull-right(ng-click='editerCapsuleVisibilite()') {{"LABEL.ENREGISTRER" | translate}}
				.row
					.col-md-12
						br
						p {{"LABEL.CAPSULE.VISIBILITE.DEFINITION_GLOBAL" | translate}}
						p
							| {{"LABEL.CAPSULE.VISIBILITE.DEFINITION_ACCESSIBLE" | translate}}
							br
							| {{"LABEL.CAPSULE.VISIBILITE.DEFINITION_INACCESSIBLE" | translate}}
							br
							| {{"LABEL.CAPSULE.VISIBILITE.DEFINITION_INVISIBLE" | translate}}
						p.text-warning 
							| {{"LABEL.CAPSULE.VISIBILITE.ATTENTION" | translate}}
							br
							| {{"LABEL.CAPSULE.VISIBILITE.WARNING_ACCES_VIA_URL" | translate}}
						p.text-warning  {{"LABEL.CAPSULE.VISIBILITE.WARNING_CONFIGURATION_ACCES_VIA_URL" | translate}}
							a(ng-href='mailto:{{"LABEL.EMAIL_PAIRFORM" | translate}}') {{"LABEL.EMAIL_PAIRFORM" | translate}}
