.container
	h2 {{titre}}

	.row
		.col-md-10
			ol.breadcrumb
				li: a(ng-href='#/tableauDeBord?id_espace={{arborescence.id_espace}}') {{arborescence.nom_espace}}
				li(ng-show='arborescence.nom_ressource')
					a(ng-href='#/tableauDeBord?id_espace={{arborescence.id_espace}}&id_ressource={{arborescence.id_ressource}}') {{arborescence.nom_ressource}}

	.row
		.col-md-5
			h4 {{"LABEL.STATISTIQUE.MESSAGES_RESSOURCE" | translate}}
			ul.list-group
				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.MESSAGES" | translate}}
					span.badge {{statistiques_ressource.messages_sur_ressource}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.REPONSES" | translate}}
					span.badge {{statistiques_ressource.reponses_sur_ressource}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.VOTES_POSITIFS" | translate}}
					span.badge {{statistiques_ressource.votes_positifs_sur_ressource}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.VOTES_NEGATIFS" | translate}}
					span.badge {{statistiques_ressource.votes_negatifs_sur_ressource}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.MEDAILLES_OR" | translate}}
					span.badge {{statistiques_ressource.medailles_or_sur_ressource}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.MEDAILLES_ARGENT" | translate}}
					span.badge {{statistiques_ressource.medailles_argent_sur_ressource}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.MEDAILLES_BRONZE" | translate}}
					span.badge {{statistiques_ressource.medailles_bronze_sur_ressource}}

			h4 {{"LABEL.STATISTIQUE.UTILISATEURS" | translate}}
			ul.list-group
				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.UTILISATEURS" | translate}}
					span.badge {{statistiques_ressource.utilisateurs_sur_ressource}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.UTILISATEURS_ACTIFS" | translate}}
					span.badge {{statistiques_ressource.utilisateurs_actifs_sur_ressource}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.LECTEURS" | translate}}
					span.badge {{statistiques_ressource.lecteurs_sur_ressource}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.PARTICIPANTS" | translate}}
					span.badge {{statistiques_ressource.participants_sur_ressource}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.COLLABORATEURS" | translate}}
					span.badge {{statistiques_ressource.collaborateurs_sur_ressource}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.ANIMATEURS" | translate}}
					span.badge {{statistiques_ressource.animateurs_sur_ressource}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.EXPERTS" | translate}}
					span.badge {{statistiques_ressource.experts_sur_ressource}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.MESSAGES_PAR_UTILISATEUR_ACTIF" | translate}}
					span.badge {{statistiques_ressource.messages_par_utilisateur_actif_sur_ressource}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.VOTES_PAR_UTILISATEUR_ACTIF" | translate}}
					span.badge {{statistiques_ressource.votes_par_utilisateur_actif_sur_ressource}}

		.col-md-5
			.row
				.col-md-6
					h4 {{"LABEL.STATISTIQUE.MESSAGES_CAPSULE" | translate}}
				.col-md-6
					select.liste_capsules.form-control(ng-model='capsule_selectionne', ng-options='capsule.nom_court for (clef,capsule) in statistiques_ressource.capsules')

			ul.list-group
				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.MESSAGES" | translate}}
					span.badge {{capsule_selectionne.messages_sur_capsule}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.REPONSES" | translate}}
					span.badge {{capsule_selectionne.reponses_sur_capsule}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.VOTES_POSITIFS" | translate}}
					span.badge {{capsule_selectionne.votes_positifs_sur_capsule}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.VOTES_NEGATIFS" | translate}}
					span.badge {{capsule_selectionne.votes_negatifs_sur_capsule}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.MEDAILLES_OR" | translate}}
					span.badge {{capsule_selectionne.medailles_or_sur_capsule}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.MEDAILLES_ARGENT" | translate}}
					span.badge {{capsule_selectionne.medailles_argent_sur_capsule}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.MEDAILLES_BRONZE" | translate}}
					span.badge {{capsule_selectionne.medailles_bronze_sur_capsule}}

			h4 {{"LABEL.STATISTIQUE.OBJECTIFS_APPRENTISSAGE" | translate}}
			ul.list-group
				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.OBJECTIFS_APPRENTISSAGE" | translate}}
					span.badge {{statistiques_ressource.objectifs_apprentissage_sur_ressource}}

				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.OBJECTIFS_APPRENTISSAGE_VALIDES" | translate}}
					span.badge {{statistiques_ressource.objectifs_apprentissage_valides_sur_ressource}}
					
				li.list-group-item {{"LABEL.STATISTIQUE.RESSOURCE.UTILISATEURS_UTILISANT_OBJECTIFS_APPRENTISSAGE" | translate}}
					span.badge {{statistiques_ressource.utilisateurs_utilisant_objectifs_apprentissage_sur_ressource}}
