.container
	h2 {{"MENU.TABLEAU_DE_BORD" | translate}}
	br
	
	.row
		.col-md-4
			h4 {{"LABEL.ESPACE.ESPACES" | translate}}
			
			datalist#id_liste_espaces
				option(ng-repeat='espace in liste_espaces', value='{{espace.nom_court}}')

			input.form-control(ng-model='recherche_espace', ng-click='espace_selectionne = false;', type='text', placeholder='{{"LABEL.ESPACE.CHERCHER" | translate}}', list='id_liste_espaces')
			br

			.btn-group.btn-block
				button.btn.btn-default.btn-block.dropdown-toggle(type='button', data-toggle='dropdown') {{nom_espace_selectionne}}
					span &nbsp;&nbsp;
					span.caret
				ul.dropdown-menu.btn-block(role='menu')
					li.logo-pairform(ng-show='espace_selectionne', ng-click='espace_selectionne = false; nom_espace_selectionne = nom_espace_selectionne_defaut;') {{"LABEL.ESPACE.SELECTIONNER" | translate}}
					li.divider(ng-show='espace_selectionne')
					li.logo-pairform(ng-repeat='espace in liste_espaces | filter: recherche_espace', style='background-image: url(data:image/png;base64,{{espace.logo}})', ng-click='selectionnerEspace(espace);')
						div {{espace.nom_court}}

			div.btn-group-vertical(ng-show='espace_selectionne')
				a.btn.btn-default(
					ng-disabled='!aAccesBoutonEditerEspace()',
					ng-href='#/espaces/gestionEspace/{{espace_selectionne.id_espace}}?nom_espace={{espace_selectionne.nom_court}}'
				) {{"LABEL.ESPACE.EDITER" | translate}}
				button.btn.btn-default(
					ng-show='est_admin_pairform',
					ng-click='supprimerEspace(espace_selectionne);'
				) {{"LABEL.ESPACE.SUPPRIMER" | translate}}
				a.btn.btn-default(
					ng-disabled='!aAccesBoutonCreerRessource()',
					ng-href='#/ressources/creationRessource/{{espace_selectionne.id_espace}}?nom_espace={{espace_selectionne.nom_court}}'
				) {{"LABEL.RESSOURCE.CREER" | translate}}
				a.btn.btn-default(
					ng-disabled='!aAccesBoutonGererGroupes()',
					ng-href='#/groupes/gestionGroupes/{{espace_selectionne.id_espace}}?nom_espace={{espace_selectionne.nom_court}}'
				) {{"LABEL.GROUPE.GERER" | translate}}
				a.btn.btn-default(
					ng-disabled='!aAccesBoutonGererRoles()',
					ng-href='#/roles/gestionRoles/{{espace_selectionne.id_espace}}?nom_espace={{espace_selectionne.nom_court}}'
				) {{"LABEL.ROLE.DEFINIR" | translate}}
				a.btn.btn-default(
					ng-disabled='!aAccesBoutonAttribuerRoles()',
					ng-href='#/roles/attributionRoles/{{espace_selectionne.id_espace}}?nom_espace={{espace_selectionne.nom_court}}'
				) {{"LABEL.ROLE.ATTRIBUER" | translate}}

		.col-md-4
			h4 {{"LABEL.RESSOURCE.RESSOURCES" | translate}}

			datalist#id_liste_ressources
				option(ng-repeat='ressource in liste_ressources | filtreByIdEspace: espace_selectionne.id_espace', value='{{ressource.nom_court}}')

			input.form-control(ng-model='recherche_ressource', ng-click='ressource_selectionne = false;', type='text', placeholder='{{"LABEL.RESSOURCE.CHERCHER" | translate}}', list='id_liste_ressources')
			br
			
			.btn-group.btn-block
				button.btn.btn-default.btn-block.dropdown-toggle(type='button', data-toggle='dropdown') {{nom_ressource_selectionne}}
					span &nbsp;&nbsp;
					span.caret
				ul.dropdown-menu.btn-block(role='menu')
					li.logo-pairform(ng-show='ressource_selectionne', ng-click='ressource_selectionne = false; nom_ressource_selectionne = nom_ressource_selectionne_defaut;') {{"LABEL.RESSOURCE.SELECTIONNER" | translate}}
					li.divider(ng-show='ressource_selectionne')
					li.logo-pairform(ng-repeat='ressource in liste_ressources | filter: recherche_ressource | filtreByIdEspace: espace_selectionne.id_espace', style='background-image: url(data:image/png;base64,{{ressource.logo}})', ng-click='selectionnerRessource(ressource);')
						div {{ressource.nom_court}}

			div.btn-group-vertical(ng-show='ressource_selectionne')
				a.btn.btn-default(
					ng-disabled='!aAccesBoutonEditerRessource()', 
					ng-href='#/ressources/gestionRessource/{{ressource_selectionne.id_ressource}}?id_espace={{ressource_selectionne.id_espace}}&nom_espace={{arborescence.nom_espace}}&nom_ressource={{ressource_selectionne.nom_court}}&cree_par={{ressource_selectionne.cree_par}}'
				) {{"LABEL.RESSOURCE.EDITER" | translate}}
				button.btn.btn-default(
					ng-show='est_admin_pairform',
					ng-click='supprimerRessource(ressource_selectionne);'
				) {{"LABEL.RESSOURCE.SUPPRIMER" | translate}}
				a.btn.btn-default(
					ng-disabled='!aAccesBoutonCreerCapsule()', 
					ng-href='#/capsules/creationCapsule/{{ressource_selectionne.id_ressource}}?id_espace={{ressource_selectionne.id_espace}}&nom_espace={{arborescence.nom_espace}}&nom_ressource={{ressource_selectionne.nom_court}}&ressource_cree_par={{ressource_selectionne.cree_par}}'
				) {{"LABEL.CAPSULE.CREER" | translate}}
				a.btn.btn-default(
					ng-disabled='!aAccesBoutonAfficherStatistiquesRessource()', 
					ng-href='#/statistiques/statistiquesRessource/{{ressource_selectionne.id_ressource}}?id_espace={{ressource_selectionne.id_espace}}&nom_espace={{arborescence.nom_espace}}&nom_ressource={{ressource_selectionne.nom_court}}&ressource_cree_par={{ressource_selectionne.cree_par}}'
				) {{"LABEL.STATISTIQUE.AFFICHER" | translate}}

		.col-md-4
			h4 {{"LABEL.CAPSULE.CAPSULES" | translate}}

			datalist#id_liste_capsules
				option(ng-repeat='capsule in liste_capsules | filtreByIdRessource: ressource_selectionne.id_ressource', value='{{capsule.nom_court}}')

			input.form-control(ng-model='recherche_capsule', ng-click='capsule_selectionne = false;', type='text', placeholder='{{"LABEL.CAPSULE.CHERCHER" | translate}}', list='id_liste_capsules')
			br
			
			.btn-group.btn-block
				button.btn.btn-default.btn-block.dropdown-toggle(type='button', data-toggle='dropdown') {{nom_capsule_selectionne}}
					span &nbsp;&nbsp;
					span.caret
				ul.dropdown-menu.btn-block(role='menu')
					li.logo-pairform(ng-show='capsule_selectionne', ng-click='capsule_selectionne = false; nom_capsule_selectionne = nom_capsule_selectionne_defaut;') {{"LABEL.CAPSULE.SELECTIONNER" | translate}}
					li.divider(ng-show='capsule_selectionne')
					li.logo-pairform(ng-repeat='capsule in liste_capsules | filter: recherche_capsule | filtreByIdRessource: ressource_selectionne.id_ressource', ng-click='selectionnerCapsule(capsule);')
						div {{capsule.nom_court}}

			div.btn-group-vertical(ng-show='capsule_selectionne')
				a.btn.btn-default(
					ng-disabled='!aAccesBoutonEditerCapsule()',
					ng-href='#/capsules/gestionCapsule/{{capsule_selectionne.id_capsule}}?id_espace={{arborescence.id_espace}}&nom_espace={{arborescence.nom_espace}}&id_ressource={{capsule_selectionne.id_ressource}}&nom_ressource={{arborescence.nom_ressource}}&nom_capsule={{capsule_selectionne.nom_court}}&cree_par={{capsule_selectionne.cree_par}}'
				) {{"LABEL.CAPSULE.EDITER" | translate}}
				button.btn.btn-default(
					ng-show='est_admin_pairform',
					ng-click='supprimerCapsule(capsule_selectionne, arborescence.id_espace);'
				) {{"LABEL.CAPSULE.SUPPRIMER" | translate}}
				button.btn.btn-default(
					ng-disabled='!aAccesBoutonSupprimerMessagesCapsule()',
					ng-click='supprimerMessagesCapsule(capsule_selectionne);'
				) {{"LABEL.CAPSULE.SUPPRIMER_MESSAGES" | translate}}
				a.btn.btn-default(
					ng-disabled='!aAccesBoutonGererVisibiliteCapsule()',
					ng-href='#/capsules/gestionVisibiliteCapsule/{{capsule_selectionne.id_capsule}}?id_espace={{arborescence.id_espace}}&nom_espace={{arborescence.nom_espace}}&id_ressource={{capsule_selectionne.id_ressource}}&nom_ressource={{arborescence.nom_ressource}}&nom_capsule={{capsule_selectionne.nom_court}}&cree_par={{capsule_selectionne.cree_par}}'
				) {{"LABEL.CAPSULE.VISIBILITE.GERER" | translate}}
				a.btn.btn-default(
					ng-disabled='!capsule_selectionne.url_web',
					ng-href='{{capsule_selectionne.url_web}}',
					target='_blank'
				) {{"LABEL.CAPSULE.ACCES" | translate}}
	br

	.row
		.col-md-4
			a.btn.btn-block.btn-primary(ng-show='est_admin_pairform', href='#/espaces/creationEspace') {{"LABEL.ESPACE.CREER" | translate}}
	
		.col-md-4
			.panel.panel-default(ng-show='ressource_selectionne')
				.row.panel-body
					.col-md-3
						img.logo-pairform(ng-src='data:image/png;base64,{{ressource_selectionne.logo}}', alt='{{"LABEL.FORMULAIRE.LOGO" | translate}}')
					.col-md-9
						span: strong {{ressource_selectionne.nom_court}}
						br
						span {{"LABEL.FORMULAIRE.CREER_PAR" | translate}}
							a(ng-href='mailto:{{ressource_selectionne.email_createur}}') {{ressource_selectionne.nom_createur}}
				br

		.col-md-4
			.panel.panel-default(ng-show='capsule_selectionne')
				.row.panel-body
					.col-md-offset-3.col-md-9
						span: strong {{capsule_selectionne.nom_court}}
						br
						span {{"LABEL.FORMULAIRE.CREER_PAR" | translate}}
							a(ng-href='mailto:{{capsule_selectionne.email_createur}}') {{capsule_selectionne.nom_createur}}
						br
						span {{"LABEL.CAPSULE.CLEF_PAIRFORM" | translate}}
						span {{capsule_selectionne.clef_pairform}}
