
    /* Contenu */
    #content{
    	margin:20px 20px;
    } 
    /*
    #content > h1{
    	margin-bottom:20px;
    	color:#333;
    	text-shadow: 0px 1px 2px #555;
    }
    */
    .odd{
		background-color: #F7F7F7;
    }
    
    .even{
		background-color: #F0F0F0;
    }
    
    .table{
    	width:100%;
    	border: 1px solid grey;
    	border-right:none;
    	border-radius:4px;
    	box-shadow: 0 0 4px grey;
    }
    
    .table tr{
    	height:32px;
    }
    
    .table th{
    	border-bottom: 1px solid grey;
    	font-weight:bold;
    	font-variant:small-caps;
    	color:black;
    }
    .table td, th{
    	border-right: 1px solid grey;
    	text-align:center;
    	vertical-align:middle;
    }
    .table_head{
    	background: #ffa84c; /* Old browsers */
    	background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
    	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
    	background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
    	background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
    	background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
    	background: linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* W3C */
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
    }
    
    .colModifier{
    	width:60px;
    }
    
    .table img{
        max-width: 120px;
    	cursor:pointer;
    }
    
    .contentImg{
    	float:center;
    	margin: 25px;
    	border:1px solid grey;
    	border-radius:8px;
    	box-shadow: 0px 0px 12px #aaa;
    }
	.table .refuse{
	background: rgb(219,92,92); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(219,92,92,1) 0%, rgba(193,28,25,1) 50%, rgba(221,103,93,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,92,92,1)), color-stop(50%,rgba(193,28,25,1)), color-stop(100%,rgba(221,103,93,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(219,92,92,1) 0%,rgba(193,28,25,1) 50%,rgba(221,103,93,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(219,92,92,1) 0%,rgba(193,28,25,1) 50%,rgba(221,103,93,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(219,92,92,1) 0%,rgba(193,28,25,1) 50%,rgba(221,103,93,1) 100%); /* IE10+ */

background: linear-gradient(top,  rgba(219,92,92,1) 0%,rgba(193,28,25,1) 50%,rgba(221,103,93,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db5c5c', endColorstr='#dd675d',GradientType=0 ); /* IE6-9 */


		width:40px;
		text-align:left;
	}
	.table .attente{
	background: rgb(237,220,135); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(237,220,135,1) 0%, rgba(244,195,31,1) 50%, rgba(237,220,135,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,220,135,1)), color-stop(50%,rgba(244,195,31,1)), color-stop(100%,rgba(237,220,135,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(237,220,135,1) 0%,rgba(244,195,31,1) 50%,rgba(237,220,135,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(237,220,135,1) 0%,rgba(244,195,31,1) 50%,rgba(237,220,135,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(237,220,135,1) 0%,rgba(244,195,31,1) 50%,rgba(237,220,135,1) 100%); /* IE10+ */

background: linear-gradient(top,  rgba(237,220,135,1) 0%,rgba(244,195,31,1) 50%,rgba(237,220,135,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eddc87', endColorstr='#eddc87',GradientType=0 ); /* IE6-9 */


		width:40px;
		text-align:left;
	}
	.table .valide{
	background: rgb(180,227,145); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,227,145,1)), color-stop(50%,rgba(97,196,25,1)), color-stop(100%,rgba(180,227,145,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* IE10+ */

background: linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */


		width:40px;
		text-align:left;
	}
	