.popup img{
	cursor:pointer;
}
.popup img:hover{
}


.popForm {

    line-height:25px;  
    font-size: 12px;  
    font-family:arial,sans-serif;  
}
/*
.popForm input, .popForm select, .popForm p{
	float:right;
}*/
/*
.popForm input[type=submit]{
	background-color: rgb(232,249,237);
	border: 1px solid grey;
	border-radius: 4px;
	box-shadow: 0px 0px 4px black;
	float:left;
	margin-top: 10px;
	margin-left:168px;
	margin-right:auto;
	padding: 2px;
	width:auto;
}
*/
.formDescription{
	resize:vertical;
	width:100%;
	min-height:100px;
}

.contentForm{
	padding: 15px;
	margin:auto;
	line-height:32px;  
    font-size: 12px;  
    font-family:arial,sans-serif;  
}


form >input, form >select,form >p, .blocAjoutItemRelatif select{
	float:right;
	min-width:250px;
}

.checkbox{
	text-align:right;
	margin-top:-25px;
}

.checkbox input[type=checkbox]{
	float:right;
}
input[type=select]{
	float:right;

}
input[type=submit]{

    color:#000;
    cursor:pointer;
    font-weight:bolder;
    font-size:13px;
    font-variant:small-caps;
    text-align:center;
    height:24px;
    min-width:100px;
    
    border:none;
    border-radius:4px;
    box-shadow:0px 0px 4px grey;
    
	background: #ffa84c; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
    background: linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
}

.loginForm{
	display:block;
	float:right;
	text-align:right;
	vertical-align:top right;
	margin:50px;
	line-height:28px;
}
#content .loginForm{
	display:block;
	margin-top:50px;
	line-height:28px;
	text-align:left;
	float:left;
}
#content .loginForm input{
	float:right;
	margin-left:20px;
}

#content .loginForm input[type=submit]{
	margin: 20px 0 0 0;
	float: right;
}
#switch, .loginForm input[type=submit]{
	float:right;
	display:block;
    cursor:pointer;
    
    margin:auto;

    padding:2px 5px;
    height:24px;
    width:80px;
    border:none;
    border-radius:4px;
    box-shadow:0px 0px 4px grey;
    
	background: #ffa84c; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
    background: linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
    
}

#switch a{
	
	color:#000;
    text-decoration:none;
    font-weight:bolder;
    font-size:14px;
    font-variant:small-caps;
}
#switch a > img{
	margin-right:5px;
	margin-top:2px;
	vertical-align:bottom;
}

.boutonValidation{
	margin:10px;
}
.buttonLatex{
	margin: 4px 10px;
	padding:1px 4px;
	border:1px solid grey;
	border-radius:5px;
	box-shadow:0px 0px 2px grey;
	background:white;
        -webkit-transition: background 0.3s ease-in-out;
		-moz-transition: background 0.3s ease-in-out;
        -ms-transition: background 0.3s ease-in-out;
        -o-transition: background 0.3s ease-in-out;
		transition: background 0.3s ease-in-out;
}
.buttonLatex:hover{
	background-color:#ffa84c;
}

#imageMin{
	margin: 4px;
	height:100px;
	min-width:100px;
	width:auto;
	border:1px solid grey;
	border-radius:5px;
	box-shadow:0px 0px 2px grey;
}
#imageBox{
	margin:30px;
}
#inputBox{
	padding:7px;
	border-radius:5px;
	box-shadow:0px 0px 2px grey;
}
#ajouterItemRelatif{
	cursor:pointer;
	margin: 2px 10px;
	height:25px;
	padding:1px 4px;
	border-radius:5px;
	box-shadow:0px 0px 2px grey;
	width:120px;
	background:white;
        -webkit-transition: background 0.3s ease-in-out;
		-moz-transition: background 0.3s ease-in-out;
        -ms-transition: background 0.3s ease-in-out;
        -o-transition: background 0.3s ease-in-out;
		transition: background 0.3s ease-in-out;
}

#ajouterItemRelatif > a{
	line-height:25px;
	vertical-align:top;
}
#ajouterItemRelatif > img{
	line-height:25px;
	margin-top:2.5px;
}

.blocAjoutItemRelatif{
	display:none;
	margin:5px;
	padding:4px;
	border-radius:5px;
	box-shadow:0px 0px 2px grey;
}

#ajouterItemRelatif, .blocAjoutItemRelatifValider{
	margin-left:600px; 
}
.blocAjoutItemRelatifValider{
	display:none;
	cursor:pointer;
	width:80px;
	height:25px;
	margin-top: 2px;
	margin-bottom:2px;
	padding:1px 4px;
	align:center;
	border-radius:5px;
	box-shadow:0px 0px 2px grey;
}


.blocAjoutItemRelatifValider > a{
	line-height:25px;
	vertical-align:top;
	margin-left:8px;
}
.blocAjoutItemRelatifValider > img{
	line-height:25px;
	height:25px;
	width:25px;
}

#listeItemRelatif{
	margin:0px 0 5px 25px;
}

#listeItemRelatif >li>img{
cursor:pointer;
width:16px;
height:16px;
float:right;
}
#iframeBody {
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

#iframeImage{
	border:none; 
	width:750px; 
	height:170px;
}
#boutonUpload{
	float:right;
}