    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,  
    font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,  
    tfoot, thead, tr, th, td, textarea {  
    font-family:inherit;  
    font-size:100%;  
    font-style:inherit;  
    font-weight:inherit;  
    margin:0pt;  
    padding:0pt;  
    vertical-align:baseline;  
    }  
    ::selection
	{
		background-color:#FCBB23;
	}
	::-moz-selection
	{
		background-color:#FCBB23;
	} 
    
    h1{
    	font-size:22pt;
    	margin-bottom:20px;
    	color:#333;
    	text-shadow: 0px 1px 1.5px #555;
        text-align: center;
    }
    
    h2{
    	font-size:16pt;
        text-align: center;
    }
    
    table {  
    border-collapse:separate;  
    border-spacing:0pt;  
    }  
    caption, th, td {  
    font-weight:normal;  
    text-align:left;  
    }  
    blockquote:before, blockquote:after, q:before, q:after {  
    content:"";  
    }  
    blockquote, q {  
    quotes:"" "";  
    }  
    br.both{  
    clear:both;  
    }  
    #backgroundPopup{  
    display:none;  
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6*/  
    height:100%;  
    width:100%;  
    top:0;  
    left:0;  
    background:#000000;  
    border:1px solid #cecece;  
    z-index:1;  
    }  
	#foregroundPopup{
		position:absolute;
		_position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		
	}
    .popup{   
    resize:both;
	display:none;
    overflow:visible;
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6*/  
    height:auto;  
    width:auto;  
    min-width:50%;
    min-height:50%;
    background:rgba(255,255,255,0.9);  
    border:3px solid #cecece;
    border-radius:4px;
    box-shadow: 0px 0px 5px black;
    z-index:2;  
    padding:12px;  
    font-size:13px;  
    }  
    .popup h1{  
    text-align:left;  
    color:#0162B1;  
    font-size:22px;  
    font-weight:700;  
    border-bottom:1px dotted #D3D3D3;  
    padding-bottom:2px;  
    margin-bottom:20px;  
    }  
    .popupClose{  
    font-size:14px;  
    line-height:14px;  
    right:6px;  
    top:4px;  
    position:absolute;  
    color:#6fa5fd;  
    font-weight:700;  
    display:block;  
    }  
    #button{  
    text-align:center;  
    margin:100px;  
    } 
    
   /* Body */
   
    body{  
    background:url(background_linen.png) repeat;  
    line-height:1;  
    font-size: 12px;  
    font-family:arial,sans-serif;  
    margin:0pt;  
    height:100%;  
    }  
    
        
    #body-wrapper{
    	float:center;
    	background-color:#FFF;
    	width:1024px;
    	margin: 15px auto;
    	border:1px solid grey;
    	border-radius:8px;
    	box-shadow: 0px 0px 12px black;
    	min-height:800px;
    }
    
    /* Header */
    #header{
    	display:block;
    	height:180px;
    }
    
    #header img{
    	height:140px;
    	margin:15px;
    	vertical-align:center;
    }
    
    #headerTable{
    	width:100%;
    }
    
    /* Menu niveau 1*/
    
    #nav{
    	font-variant:small-caps;
    	display:block;
    	height:24px;
    	border-top: 1px solid black;
    	border-bottom: 1px solid black;
    	background: #ffa84c; /* Old browsers */
    	background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
    	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
    	background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
    	background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
    	background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
    	background: linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* W3C */
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
    }
    
    #nav, #nav a{
    	color:#FFF;
    	text-decoration:none;
    	cursor:pointer;
    	font-weight:bolder;
    	font-size:14px;
    }
    
    #nav > li > a{
    	display:inline-block;
    	padding:5px 0px 6px 0px;
    	vertical-align:middle;
    	width:100%;
    	height:14px;
    }
	#nav > li{
    	z-index:1;
		float:left;
    	list-style:none;
    	position:relative;
    	width:100px;
    	height:24px;
		text-align:center;
		border-right:1px solid rgba(0,0,0,0.8);
		background: transparent;
        -webkit-transition: background 0.5s ease-in-out;
		-moz-transition: background 0.5s ease-in-out;
        -ms-transition: background 0.5s ease-in-out;
        -o-transition: background 0.5s ease-in-out;
		transition: background 0.5s ease-in-out;

	}
	#nav > li:first-child{
		padding-left:10px;
		background:url(/res/img/accueil.png) no-repeat left center;

	}
    #nav > li:hover{
    	/*background:rgb(244,125,61);*/
    	background:rgba(9,132,255,0.7);	
    }
    
    /* Menu niveau 2 */
    
    #nav > li ul{
    	display: none;
    	/*margin-top:6px;*/
    	margin-left:-1px;
	    z-index:2;
		background: rgba(244,121,56,1);
		border:1px solid rgba(0,0,0,0.8);
		border-top:none;
		width:inherit;
    	position:absolute;
    }
    
    #nav > li ul li{
    	clear:left;
    	z-index:3;
		padding: 6px 0px;
        -webkit-transition: background 0.5s ease-in-out;
		-moz-transition: background 0.5s ease-in-out;
        -ms-transition: background 0.5s ease-in-out;
        -o-transition: background 0.5s ease-in-out;
		transition: background 0.5s ease-in-out;
    }
    
    #nav > li ul li:hover{
    	background:rgba(1,98,175,1);
    }
    #nav > li:hover > ul
    {
    	display:block;
    }
    #nav > li:hover > ul li{
    }
    /* Warning */
    
    .warning{
    	margin:10px 20px;
    	padding:10px 25px;
    	display:table;
    	width:400px;
    	height:30px;
    	
    	border-radius:4px;
    	box-shadow: 0px 0px 6px #aaa;
    	z-index:3;
    	
    }
    .warning img{
    	float:left;
    }
    .warning h2{
    	margin-left:10px;
    	margin-top:6px;
    	float:left;
    	font-size:16px;
    }
    .warning span{
    	margin-left:10px;
    	margin-top:6px;
    	float:left;
    	font-size:14px;
		line-height:16px;
    }
	.warning li{
		margin-left:25px;
	}
    .warning-ok{
    	background: -moz-linear-gradient(top,  rgba(248,255,232,0.5) 0%, rgba(227,245,171,0.5) 33%, rgba(183,223,45,0.5) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,255,232,0.5)), color-stop(33%,rgba(227,245,171,0.5)), color-stop(100%,rgba(183,223,45,0.5))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(248,255,232,0.5) 0%,rgba(227,245,171,0.5) 33%,rgba(183,223,45,0.5) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(248,255,232,0.5) 0%,rgba(227,245,171,0.5) 33%,rgba(183,223,45,0.5) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(248,255,232,0.5) 0%,rgba(227,245,171,0.5) 33%,rgba(183,223,45,0.5) 100%); /* IE10+ */

background: linear-gradient(top,  rgba(248,255,232,0.5) 0%,rgba(227,245,171,0.5) 33%,rgba(183,223,45,0.5) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80f8ffe8', endColorstr='#80b7df2d',GradientType=0 ); /* IE6-9 */


    }
    
    .warning-fail{
    	background: -moz-linear-gradient(top,  rgba(255,112,112,0.5) 0%, rgba(207,4,4,0.5) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,112,112,0.5)), color-stop(100%,rgba(207,4,4,0.5))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(255,112,112,0.5) 0%,rgba(207,4,4,0.5) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(255,112,112,0.5) 0%,rgba(207,4,4,0.5) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(255,112,112,0.5) 0%,rgba(207,4,4,0.5) 100%); /* IE10+ */

background: linear-gradient(top,  rgba(255,112,112,0.5) 0%,rgba(207,4,4,0.5) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ff7070', endColorstr='#80cf0404',GradientType=0 ); /* IE6-9 */


    }
	
	.info{
	
    	margin:10px 20px;
    	padding:10px 25px;
    	display:table;
    	height:30px;
		width:890px;
    	
    	border-radius:4px;
    	box-shadow: 0px 0px 6px #aaa;
    	z-index:3;
		
		background: -moz-linear-gradient(top,  rgba(240,249,255,0.5) 0%, rgba(203,235,255,0.5) 47%, rgba(161,219,255,0.5) 100%); /* FF3.6+ */

		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,0.5)), color-stop(47%,rgba(203,235,255,0.5)), color-stop(100%,rgba(161,219,255,0.5))); /* Chrome,Safari4+ */
		
		background: -webkit-linear-gradient(top,  rgba(240,249,255,0.5) 0%,rgba(203,235,255,0.5) 47%,rgba(161,219,255,0.5) 100%); /* Chrome10+,Safari5.1+ */
		
		background: -o-linear-gradient(top,  rgba(240,249,255,0.5) 0%,rgba(203,235,255,0.5) 47%,rgba(161,219,255,0.5) 100%); /* Opera 11.10+ */
		
		background: -ms-linear-gradient(top,  rgba(240,249,255,0.5) 0%,rgba(203,235,255,0.5) 47%,rgba(161,219,255,0.5) 100%); /* IE10+ */
		
		background: linear-gradient(top,  rgba(240,249,255,0.5) 0%,rgba(203,235,255,0.5) 47%,rgba(161,219,255,0.5) 100%); /* W3C */
		
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80f0f9ff', endColorstr='#80a1dbff',GradientType=0 ); /* IE6-9 */


	}
	
    .info img{
    	float:left;
    }
    .info h2{
		line-height:40px;
		font-weight:bold;
	   	margin-left:10px;
    	margin-top:6px;
    	float:left;
    	font-size:16px;
    }
    .info span{
    	margin-left:10px;
    	margin-top:6px;
    	float:left;
    	font-size:14px;
		line-height:16px;
    }
	.info li{
		margin-left:25px;
	}
	.info strong{
		font-weight:bold;
		color:#990000;
	}