/*
 * style général
 */

body {
	padding-top: 70px;
}

section {
	min-height: 450px;
}

/* arborescence Espace > Ressource > capsule */
.breadcrumb {
	background-color: transparent;
	margin-bottom: 0px;
	padding: 8px;
}
.breadcrumb > li + li:before {
	color: #5a5a5a;
	content: '/ ';
	padding: 0 5px;
}
.breadcrumb > li > a {
	color: #999999;
}
.breadcrumb > li > a:hover {
	color: #5a5a5a;
}

/* boutons */
.btn-ajouter-utilisateur {
	background: url('../img/ajouter_utilisateur_64.png') no-repeat scroll 50% center / 30px auto rgba(0, 0, 0, 0);
}
.btn-aide {
	background: url('../img/aide_64.png') no-repeat scroll 50% center / 30px auto rgba(0, 0, 0, 0);
}
.btn-supprimer {
	background: url('../img/poubelle_64.png') no-repeat scroll 50% center / 30px auto rgba(0, 0, 0, 0);
}
.btn-fleche-gauche {
	background: url('../img/fleche_gauche_64.png') no-repeat scroll 50% center / 30px auto rgba(0, 0, 0, 0);
}
.btn-pairform {
	cursor: pointer;
	opacity: 1;
	height: 30px;
	width: 30px;
}
.btn-pairform:hover {
	opacity: 0.6;
}
.btn-pairform-menu {
	cursor: pointer;
	opacity: 1;
	height: 20px;
	width: 30px;
}
.btn-pairform-menu:hover {
	opacity: 0.6;
}

/* logo situé dans la balise option d'un select */
option.logo-pairform, li.logo-pairform {
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: 3% 50%;
	padding: 10px 0 0 50px;
	cursor: pointer;
}
option.logo-pairform:hover, li.logo-pairform:hover {
	background-color: #428bca;
	color: #fff;
}
/* logo d'un espace, d'une ressource, etc. */
.logo-pairform {
	height: 40px;
}

/* tableau avec les entetes de colonnes inclinées à 45° */
form.table-rotated {
	padding: 20px 30px 15px 25px;
}
.table-header-rotated input.checkbox {
	display: inline;
}
.table-header-rotated thead tr th {
	border-bottom: 0.5px solid #adadad;	
}
.table-header-rotated th.row-header {
	width: auto;
	padding: 1px;
}
.table-header-rotated tbody tr td {
	width: 40px;
	border-left: 0.5px solid #adadad;
	vertical-align: middle;
	text-align: center;
	padding: 1px;
}
.table-header-rotated th.rotate-45 {
	height: 80px;
	width: 40px;
	min-width: 40px;
	max-width: 40px;
	position: relative;
	vertical-align: bottom;
	padding: 0;
	font-size: 12px;
	line-height: 0.8;
}
.table-header-rotated th.rotate-45 > div {
	position: relative;
	top: 0px;
	left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
	height: 100%;
	-ms-transform:skew(-45deg,0deg);
	-moz-transform:skew(-45deg,0deg);
	-webkit-transform:skew(-45deg,0deg);
	-o-transform:skew(-45deg,0deg);
	transform:skew(-45deg,0deg);
	border-left: 0.5px solid #adadad;
}
.table-header-rotated th.rotate-45 span {
	-ms-transform:skew(45deg,0deg) rotate(315deg);
	-moz-transform:skew(45deg,0deg) rotate(315deg);
	-webkit-transform:skew(45deg,0deg) rotate(315deg);
	-o-transform:skew(45deg,0deg) rotate(315deg);
	transform:skew(45deg,0deg) rotate(315deg);
	position: absolute;
	bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
	left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
	display: inline-block;
	// width: 100%;
	width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
	text-align: left;
	// white-space: nowrap; /*whether to display in one line or not*/
}


 /*
  * Gerer groupes
  */

/* On différencie les groupes obligatoires (sphère publique, espace) des groupes créés par l'utilisateur */
select.liste_groupes option[value='0'], select.liste_groupes option[value='1'] {
	font-weight: bold;
}

/* liste de membre scrollable */
.liste-membres-groupes {
	min-height: 50px;
	max-height: 250px;
	overflow-y: auto;
}
.liste-membres-groupes table tbody td.membres-groupes {
	vertical-align: baseline;
}
form.well .liste-membres-groupes table tbody td {
	border-bottom: 0.5px solid #adadad;
	vertical-align: middle;
}


/*
 * Gestion capsules
 */

/* affichage d'un loader dans le bouton de validation */
.spinner {
	display: inline-block;
	opacity: 0;
	max-width: 0;

	-webkit-transition: opacity 0.25s, max-width 0.45s; 
	-moz-transition: opacity 0.25s, max-width 0.45s;
	-o-transition: opacity 0.25s, max-width 0.45s;
	transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}
.has-spinner.active {
	cursor:progress;
}
.has-spinner.active .spinner {
	opacity: 1;
	max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}


/*
 * Visibilité capsules
 */

/* position du textes */
form[name='edition_capsule_visibilite_form'] p {
	margin: 10px 0px 10px 0px;
	line-height: 1.1;
}
