.container
	h2 {{titre}}

	.row
		.col-md-11
			ol.breadcrumb
				li: a(ng-href='backoffice/tableauDeBord?id_espace={{arborescence.id_espace}}') {{arborescence.nom_espace}}
				li(ng-show='arborescence.nom_ressource')
					a(ng-href='backoffice/tableauDeBord?id_espace={{arborescence.id_espace}}&id_ressource={{arborescence.id_ressource}}') {{arborescence.nom_ressource}}
	br

	.row(ng-show='id_ressource')
		.col-md-11
			p.pull-right {{"LABEL.FORMULAIRE.CREER_PAR" | translate}}
				span {{pseudo_createur}}

	.row
		form.col-md-11.well(name="gestion_ressource_form", novalidate)
			.row.form-horizontal
				.col-md-5
					input(ng-model='id_ressource', type='hidden')
					input(ng-model='id_espace', type='hidden')

					.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_ressource_form.nom_long.$invalid) }')
						label.col-md-3.control-label {{"LABEL.FORMULAIRE.NOM" | translate}}
						.col-md-9
							input.form-control(ng-model='nom_long', name='nom_long', type='text', placeholder='{{"LABEL.FORMULAIRE.NB_CARACT_MAX_30" | translate}}', ng-minlength='2', ng-maxlength='30', ng-click='ressource_doublon = false; formulaire_soumis = false;', required)
							span.help-block(ng-show='formulaire_soumis && (gestion_ressource_form.nom_long.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
							span.help-block(ng-show='formulaire_soumis && gestion_ressource_form.nom_long.$error.maxlength') {{"LABEL.ERREUR.NB_CARACT_MAX" | translate}}
							span.help-block(ng-show='formulaire_soumis && gestion_ressource_form.nom_long.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
							span.help-block(ng-show='formulaire_soumis && ressource_doublon'): span.text-danger {{"LABEL.ERREUR.DOUBLON" | translate}}

					.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_ressource_form.theme.$invalid) }')
						label.col-md-3.control-label {{"LABEL.RESSOURCE.THEME" | translate}}
						.col-md-9
							select.form-control(ng-model='theme_selectionne', name='theme', ng-options='theme.nom for theme in liste_themes', ng-click='formulaire_soumis = false;', required)
								option(value='') {{"LABEL.RESSOURCE.SELECTIONNER_THEME" | translate}}
							span.help-block(ng-show='formulaire_soumis && (gestion_ressource_form.theme.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
					
					.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_ressource_form.usage.$invalid) }')
						label.col-md-3.control-label {{"LABEL.RESSOURCE.USAGE" | translate}}
						.col-md-9
							select.form-control(ng-model='usage_selectionne', name='usage', ng-options='usage.nom for usage in liste_usages', ng-disabled='id_ressource', ng-click='formulaire_soumis = false;', required)
								option(value='') {{"LABEL.RESSOURCE.SELECTIONNER_USAGE" | translate}}
							span.help-block(ng-show='formulaire_soumis && (gestion_ressource_form.usage.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
					
					.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_ressource_form.langue.$invalid) }')
						label.col-md-3.control-label {{"LABEL.FORMULAIRE.LANGUE" | translate}}
						.col-md-9
							select.form-control(ng-model='langue_selectionne', name='langue', ng-options='langue.nom for langue in liste_langues', ng-click='formulaire_soumis = false;', required)
								option(value='') {{"LABEL.RESSOURCE.SELECTIONNER_LANGUE" | translate}}
							span.help-block(ng-show='formulaire_soumis && (gestion_ressource_form.langue.$invalid )') {{"LABEL.ERREUR.CHAMP_OBLIGATOIRE" | translate}}
	
				.col-md-7
					.form-group(ng-class='{ "has-error" : formulaire_soumis && (gestion_ressource_form.description.$invalid) }')
						label.col-md-3.control-label {{"LABEL.FORMULAIRE.DESCRIPTION" | translate}}
						.col-md-9
							textarea.form-control(ng-model='description', name='description', placeholder='{{"LABEL.RESSOURCE.DESCRIPTION" | translate}}', ng-minlength='2', rows='5', ng-click='formulaire_soumis = false;')
							span.help-block(ng-show='formulaire_soumis && gestion_ressource_form.description.$error.minlength') {{"LABEL.ERREUR.NB_CARACT_MIN" | translate}}
										
					.form-group(ng-class='{ "has-error" : formulaire_soumis && (format_incorrect || dimensions_incorrectes || logo_selectionne)}')
						label.col-md-3.control-label {{"LABEL.FORMULAIRE.LOGO" | translate}}
						.col-md-7
							div.btn.btn-default(ng-file-select='recupererLogo($files)') 
								span {{"LABEL.FORMULAIRE.SELECTIONNER_IMAGE" | translate}}
								br
								span: small {{"LABEL.FORMULAIRE.SELECTIONNER_IMAGE_CONTRAINTES_100" | translate}}							
							span.help-block(ng-show='format_incorrect'): span.text-danger {{"LABEL.ERREUR.FORMAT_IMAGE" | translate}}
							span.help-block(ng-show='dimensions_incorrectes'): span.text-danger {{"LABEL.ERREUR.DIMENSIONS_IMAGE" | translate}}
							span.help-block(ng-show='logo_selectionne'): span.text-success {{nom_logo}}
						.col-md-2
							img.center-block.logo-pairform(ng-show='url_logo && !logo_selectionne && !dimensions_incorrectes && !format_incorrect', ng-src='{{url_logo}}', alt='{{"LABEL.FORMULAIRE.LOGO" | translate}}')
							img.center-block.logo-pairform(ng-show='logo_selectionne', ng-src='{{src_logo}}', alt='{{"LABEL.FORMULAIRE.LOGO" | translate}}')
					br
					
			.row
				.col-md-6
					em {{"LABEL.FORMULAIRE.CHAMPS_OBLIGATOIRES" | translate}}
				.col-md-6
					button.btn.btn-primary.has-spinner.pull-right(ng-click='gererRessource(gestion_ressource_form.$valid)', data-spinner='right', ng-class='{active: gestion_ressource_form.$valid && formulaire_soumis && !ressource_doublon}') {{bouton_formulaire}}
						span &nbsp;
						span.spinner: i.fa.fa-refresh.fa-spin
