.container.bo-ressource(ng-show='selection.ressource' ng-controller='backoffice_ressource')
	div(ng-controller='backoffice_plan_formation')
		h1.section-header Plan de formation
	
		.alert.alert-info(role='alert') 
			h2
				i.glyphicon.glyphicon-info-sign
				| Organisez la diffusion de votre formation 
			ul
				li Sélectionnez une session de formation
				li Glissez-déposez des documents sur l'axe du temps pour définir leur date de diffusion. 
				li Pour les enlever, glissez les dans la partie "Documents"
	
		h2 Sélectionnez une session de formation : #[select(ng-options='formation as formation.nom for formation in selection.ressource.formations' ng-model='selection.formation')]

		.timeline-holder.container

			//- a.left.timeline-control.control-hidden
				//- span.glyphicon.glyphicon-chevron-left
			//- a.right.timeline-control
				//- span.glyphicon.glyphicon-chevron-right

			timeline.timeline-items-container(items='selection.formation.items')
				.timeline
					.timeline__step.start
						span.timeline__step-title Début de la formation
						i.timeline__step-marker.glyphicon.glyphicon-calendar
					.timeline__step(ng-repeat='item in selection.formation.items | orderBy:"date_diffusion" track by item.id_capsule', draggable)
						span.timeline__step-title {{item.nom_long}}
						.timeline__step-label
							span.timeline__step-content
								//- i.glyphicon.glyphicon-calendar
								datepicker(date-format='dd/MM/yy' datepicker-append-to='.timeline-holder')
									input(ng-model='item.date_diffusion' type='text' autofocus)
									//- {{item.date_creation * 1000 | date:'dd/MM/yy'}}
						img.timeline__step-marker(ng-src='#{url_serveur_node}/public/img/icone/{{formats_noms_icones[item.id_format]}}', alt='{{item.nom_long}}')
				
			//- timeline.timeline-items-container(items='selection.formation.items')
			//-   .timeline-item.start
			//-     h2 Début de la formation
			//-     i.glyphicon.glyphicon-calendar
			//-   .timeline-item.capsule-item(ng-repeat='item in selection.formation.items track by item.id_capsule | orderBy:orderByDate', draggable)
			//-     .timeline-content
			//-       img(ng-src='#{url_serveur_node}/public/img/icone/{{formats_noms_icones[item.id_format]}}', alt='{{item.nom_long}}')
			//-       figcaption {{item.nom_long}}
			//-     .timeline-date
			//-       //- i.glyphicon.glyphicon-calendar
			//-       datepicker(date-format='dd/MM/yy')
			//-         input(ng-model='item.date_diffusion' type='text' autofocus)
			//-         //- {{item.date_creation * 1000 | date:'dd/MM/yy'}}
			//-     .timeline-marker 
			//-       i.glyphicon.glyphicon-calendar
			//-   .timeline-container
			//-     .timeline