html{
	height: 100%;
}
body{
	background: url("../img/bg.png") 50% 0% no-repeat rgb(50,50,50);
	font-family: 'Raleway';
	height: 100%;
	margin: 0%;
	/*font-smooth: always;
	transform: rotate(-0.0000000001deg)
	-webkit-font-smoothing: subpixel-antialiased;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);*/
}
h1{
	font-weight: 100;
	color: #FFF;
	text-shadow: 0px 1px 0px #000;
}
h1, h2, h3{
	font-weight: 100;
	margin-top: 0;
	font-family: 'Raleway';
}
section{
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}
a{
	color: rgb(255, 225, 202);
}
p{
	color: white;
	font-size: 1.2em;
	font-weight: 200;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url('/public/fonts/raleway/raleway-thin-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url('/public/fonts/raleway/raleway-extralight-webfont.woff') format('woff');
}
@media screen and (max-width: 480px) {
	h1{
		font-size: 2.5em;
	}
}
main{
	max-width: 720px;
	margin: 0 auto;
	overflow: hidden;
}
img {
	-webkit-user-drag: none;
}
[rn-carousel]{
	max-width: 720px;
	height: 400px;
	margin: 60px auto 0 auto;
}
[rn-carousel] li {
	max-width: 720px;
	max-height: 400px;
	background-size: contain;
	background-repeat: no-repeat;
}
[rn-carousel] li:nth-child(1) {
	background-image: url('../img/chart.png');
}
[rn-carousel] li:nth-child(2) {
	background-image: url('../img/chrome.png');
}
[rn-carousel] li:nth-child(3) {
	background-image: url('../img/safari_prive.png');
}
.panel {
    background-color: rgba(255, 255, 255, 0.71);
}

.panel-default>.panel-heading {
    background: rgba(255, 255, 255, 0.27);
}
figcaption{
	margin-top: -50px;
}
#outdated{
	position: initial;
	text-transform: none;
}
.valid{
	color:green;
}
footer{
	text-align: center;
	color: rgba(255, 255, 255, 0.75);
}