/*
 * style des capsules au format pairform
 */

body {
	background:rgb(245,245,245);
}
section.ck_editor {
	width: 960px;
	margin:0 auto;
}
section.ck_editor .content {
	background: white;
	min-height: calc(100vh - 200px);
	box-shadow: 0px 8px 10px -5px rgba(114, 114, 114, 0.33);
	border: 1px solid #E4E4E4;
	margin: 40px;
	margin-top: 10px;
}

header.ck_editor {
	padding: 6px 0px;
	background-color: rgb(30, 155, 212);
	border-bottom: 2px solid #007db7;
	margin-bottom: 10px;
	margin-top: 34px;
	color: rgb(245, 245, 245);
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.39);
}
header.ck_editor h1 {
	font-size:20px;
	margin:4px;
}

section.ck_editor #toc~.content {
	width: 760px;
	margin: 0;
}
section.ck_editor #toc {
	position: fixed;
	z-index: 1000;
	width: 250px;
	top: 86px;
	left: calc(300px + 50vw);
	min-height: 300px;
	max-height: 80vh;
	/* padding: 15px; */
	overflow-y: auto;
	text-align: left;
	border-right: 1px solid rgba(255, 255, 255, 0.66);
	box-shadow: 0px 8px 10px -5px rgba(114, 114, 114, 0.33);
	background: white;
	border: 1px solid #E4E4E4;
}			
section.ck_editor #toc nav ul {
	list-style: none;
	padding:0;
	margin:0;
}	
section.ck_editor #toc nav ul li {
	/* margin: 0px 6px; */
	padding: 6px 8px;
	border-bottom: 1px solid #f3f3f3;
	font-weight: 300;
}

section.ck_editor #toc nav ul li a {
	color:#1d1d1d;
}

section.ck_editor #toc nav ul li a.page_active {
	color: #1289bf;
	font-weight: 500;
}

.nav-links {
    display: block;
    padding: 6px 10px;
    width: 760px;
    margin-top: 10px;
    box-shadow: 0px 8px 10px -5px rgba(114, 114, 114, 0.33);
    border: 1px solid #E4E4E4;
    background: white;
    /* clear: right; */
}

#nav-link-previous {
    /* float: left; */
    padding-left: 24px;
}

#nav-link-next {
    float: right;
    padding-right: 24px;
}

#nav-link-previous::before, #nav-link-next::before {
	position:absolute;
	color: white;
	font-size: 26px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
#nav-link-previous::before {
	content: "\276e";
	left: 10px;
	transition:left ease-out .2s;
}
#nav-link-previous:hover::before {
	left:6px;
}
#nav-link-next::before {
	content: "\276f";
	display: inline;
	right: 10px;
	transition:right ease-out .2s;
}
#nav-link-next:hover::before {
	right:6px;
}

@media only screen 
  and (max-width: 500px) {
  	.nav-link{
  		display:block;
  		float:none !important;
  		min-width: 100%;
  		margin-bottom:6px;
  	}
}
/* Portrait */
@media only screen 
and (max-width: 800px) {
	section.ck_editor #toc {
   		transition: background ease-out .2s .1s, width ease-out .2s, min-height ease-out .2s , max-height ease-out .2s;
	}
	section.ck_editor #toc:not(:hover) {
		top: 36px;
		width: 36px;
		max-height: 36px;
		min-height: 36px;
		right: 10px;
		left: initial;
		overflow: hidden;
		background: #1e9bd4;
		border-radius: 24px;
	}
	section.ck_editor #toc:hover {
		top: 36px;
		left: initial;
		right: 20px;
		max-height: 500px;
	}
	section.ck_editor #toc:hover:before {
		display:none;
	}
	section.ck_editor #toc:hover ul {
		opacity:1;
		display: block;
	}
	section.ck_editor #toc:before {
		content: "";
		position: absolute;
		top: 8px;
		left: 7px;
		width: 20px;
		height: 17px;
		border-top: 10px double #fff;
		border-bottom: 3px solid #fff;
	}
	section.ck_editor #toc nav ul {
		transition: all ease-in-out .3s;
		transition-delay:.3s;
		opacity:0;
		display: none;
	}
}