body{
 background: url("../img/background_black_fs.png") 50% 50% no-repeat rgb(28, 29, 28);
 /*background-size: cover;*/
 background-attachment: fixed;
 font-family: 'Helvetica';
 font-weight: 200;
 height: 100%;
 margin: 0%;
}
@font-face {
 font-family: 'Raleway';
 font-style: normal;
 font-weight: 100;
 src: local('Raleway Thin'), local('Raleway-Thin'), url('../fonts/raleway/raleway-thin-webfont.woff') format('woff');
}
@font-face {
 font-family: 'Raleway';
 font-style: normal;
 font-weight: 200;
 src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url('../fonts/raleway/raleway-extralight-webfont.woff') format('woff');
}
h1, h2, h3 {
 font-family: 'Raleway', 'HelveticaNeue', Helvetica;
 font-weight:100;
 margin: 0 0 10px 0;
 color: #FFF;
}
body > h1{
	margin: 10px 0;
}
h1{
	font-size: 24px;
  text-shadow: 0px 1px 0px #000;
}
h2{
	font-size: 20px;
 font-weight:200;
}
h3{
	color: black;
 font-weight:300;
	font-size: 18px;
}
main{
 max-width: 720px;
 margin: 0 auto;
 overflow: hidden;
}
footer{
 text-align: center;
 color: rgba(255, 255, 255, 0.75);
}