<div class="popinWrapper" ng-controller="controller_accroche" ng-show="visible">
	<div class="popinFocus"></div>
	<div class="popin" >
		<div class="btn-cross-fermer" ng-click="remove()" title="{{'web_label_fermer_panneau' | translate}}">x</div>
		<section id="presBox">

			<h1>{{'web_label_site_utilise_pairform' | translate}} :</h1>
			<ul id="pres-thumbnails-list">
				<li>
					<img ng-src="{{res_url_private + 'img/accroche_etudiez.png'}}" alt="{{'web_label_etudiez' | translate}}" title="{{'web_label_etudiez' | translate}}">
					<div class="pres-thumb-label"><h2>{{'web_label_etudiez' | translate}}</h2>{{'web_label_notions_contenus_ressources' | translate}}</div>	
				</li>
				
				<li>
					<img ng-src="{{res_url_private + 'img/accroche_echangez.png'}}" alt="{{'web_label_partagez' | translate}}" title="{{'web_label_partagez' | translate}}">
					<div class="pres-thumb-label"><h2>{{'web_label_partagez' | translate}}</h2>{{'web_label_questions_idees' | translate}}</div>	
				</li>
				
				<li>
					<img ng-src="{{res_url_private + 'img/accroche_beneficiez.png'}}" alt="{{'web_label_benificiez' | translate}}" title="{{'web_label_benificiez' | translate}}">
					<div class="pres-thumb-label"><h2>{{'web_label_benificiez' | translate}}</h2>{{'web_label_retour_auteurs_experts_participants' | translate}}</div>	
				</li>
				
				<li>
					<img ng-src="{{res_url_private + 'img/accroche_decouvrez.png'}}" alt="{{'web_label_poursuivez' | translate}}" title="{{'web_label_poursuivez' | translate}}">
					<div class="pres-thumb-label"><h2>{{'web_label_poursuivez' | translate}}</h2>{{'web_label_avec_autres_ressources' | translate}}</div>	
				</li>
				
			</ul>
			<footer>
				<span>{{'web_label_former_avec_vos_pairs' | translate}}, <div class="btn-action" ng-click="fermerEtAfficherConnexion()" id="btn-accr-creer-compte">{{'web_button_creez_vous_un_compte' | translate}}</div></span>
				<br>
				<span>{{'web_label_en_savoir_plus' | translate}}, <div class="btn-action" ng-click="fermerEtAfficherPresentation()" id="btn-afficher-plus">{{'web_button_cliquez_ici' | translate}}.</div></span>
			</footer>
		</section>
	</div> 
</div>