<div ng-controller="controller_avatar_upload" class="panel-container-right pf"  ng-show="visible">
	<section class="panel-wrapper" >
	<div class="btn-cross-fermer" ng-click="remove()">x</div>
		<section class="panel-head" >
				<h1 class='panel-title' >{{'title_modifier_avatar' | translate}}</h1>
		</section>
		<section id="avatar_upload" class="formBox">
			<form ng-submit="uploadAvatar()" >
				<img id="avatar_utilisateur"  ng-src='{{src_logo}}'/>
				<input type="file" ng-file-select="recupererLogo($files)" accept="image/*" name="avatar"/>
				<input class="btn-action" type="submit" value="{{'button_utiliser_image' | translate}}" />
			</form>
		</section>
	</section>
</div>