<div ng-controller="controller_fiche_ressource" class="panel-container-left pf" ng-show="visible">
	
	<section id="fiche-ressource-wrapper" class="panel-wrapper">
		<div class="btn-cross-fermer" ng-click="remove()" id="btn-fiche-ressource-fermer">x</div>

		<section id="fiche-ressource-head">
			<div id="fiche-ressource-head-icone">
				<img ng-src="{{ressource.url_logo}}" alt="" style="width:100px;" id="fiche-ressource-img">
				<img ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_fr.png'}}" alt="" id="fiche-ressource-icone-langue">
				
			</div>
			<div id="fiche-ressource-head-inner">
				<h1 id="fiche-ressource-nom-court">{{ressource.nom_court}}</h1>
				<h2 id="fiche-ressource-nom-long">{{ressource.nom_long}}</h2>
			</div>	
		</section>
		<section class="panel-actions panel-actions-tab-select">
			<div id="btn-fiche-ressource-infos" ng-click="afficherSousSection(0)" ng-class="{selected : (panneau_affiche == 0)}" class="btn-tab btn-action">Infos</div>
			<div id="btn-fiche-ressource-apprentissage" ng-click="afficherSousSection(1)" ng-class="{selected : (panneau_affiche == 1)}" ng-show="ressource.id_usage == 1" class="btn-tab btn-action">Objectifs</div>
			<div id="btn-fiche-ressource-section" ng-click="afficherSousSection(2)" ng-class="{selected : (panneau_affiche == 2)}" class="btn-tab btn-action">Sections</div>
		</section>
		<section id="fiche-ressource-tab-wrapper">
			<section id="fiche-ressource-tab-informations" ng-show="panneau_affiche == 0">
				<div id="fiche-ressource-tab-informations-details">
					<span>{{"Theme : " + ressource.theme}}</span>
					<span>{{ressource.espace_nom_long}}</span>
				</div>
				<div id="fiche-ressource-tab-informations-description">
					{{ressource.description}}
				</div>
			</section>
			<section id="fiche-ressource-tab-objectifs-apprentissage" ng-show="panneau_affiche == 1 && ressource.id_usage == 1">
				<h1 class="fiche-ressource-tab-objectifs-apprentissage-header tab-header tab-header-toggle" ng-class="{'tab-header-toggle-inactive' : objectif_apprentissage_affiche }" ng-click="changerAffichageObjectif()">Objectifs d'apprentissage ({{ressource.objectifs_apprentissage.nb_objectifs_valides + "/" + ressource.objectifs_apprentissage.liste_objectifs_apprentissage.length}})</h1>
				<div ng-show="objectif_apprentissage_affiche" ng-if="utilisateur_local.est_connecte">
					<ul>
						<li class="fiche-ressource-tab-objectif-apprentissage" pf-objectif-apprentissage ng-repeat="objectif in ressource.objectifs_apprentissage.liste_objectifs_apprentissage track by objectif.id_objectif">
							<input type="checkbox" ng-model="objectif.est_valide" ng-checked="objectif.est_valide">
							<input type="text" placeholder="Je cherche à atteindre..." ng-model="objectif.nom" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 2000, 'blur': 0} }">
							<div class="fiche-ressource-tab-objectif-apprentissage-delete" ng-click="enleverObjectif(objectif)" ng-show="objectif_apprentissage_edition">–</div>
						</li>
					</ul>
					<div class="btn-action" ng-click="ajouterObjectif()">Ajouter un objectif</div>
					<div class="btn-action" ng-click="editerObjectifs()">Editer les objectifs</div>
				</div>
				
				<div ng-show="objectif_apprentissage_affiche" ng-if="!utilisateur_local.est_connecte">
					<span>Vous devez être connecté pour accéder à cette fonctionnalité.</span>
				</div>
				<h1 class="fiche-ressource-tab-objectifs-apprentissage-header tab-header tab-header-toggle" ng-class="{'tab-header-toggle-inactive' : profil_apprentissage_affiche}" ng-click="changerAffichageProfil()">Mon profil d'apprentissage</h1>
				<div ng-show="profil_apprentissage_affiche" ng-if="utilisateur_local.est_connecte">
					<div pf-question-profil-apprentissage ng-repeat="question in ressource.profil_apprentissage.liste_questions track by question.id_question">
						<h2 class="tab-header">{{question.question}}</h2>
						<ul>
							<li ng-repeat="rep in question.liste_reponses track by rep.id_reponse">
								<input type="radio" ng-model="question.id_reponse_valide" ng-value="rep.id_reponse"><label>{{rep.reponse}}</label>
							</li>
						</ul>
					</div>
				</div>
				
				<div ng-show="profil_apprentissage_affiche" ng-if="!utilisateur_local.est_connecte">
					<span>Vous devez être connecté pour accéder à cette fonctionnalité.</span>
				</div>
			</section>
			<section id="fiche-ressource-tab-capsules" ng-show="panneau_affiche == 2">
				<h1 id="fiche-ressource-tab-capsule-header" class="tab-header">Liste des sections</h1>
				
				<ol>
					<li ng-repeat="capsule in ressource.capsules track by capsule.id_capsule" class="fiche-ressource-tab-capsule">
						<a ng-if="capsule.url_web != ''" ng-href="{{capsule.url_web}}">{{capsule.nom_long}} </a>
						<span class="fiche-ressource-tab-capsule-no-link" ng-if="capsule.url_web == ''">{{capsule.nom_long}}</span>
						<span class="fiche-ressource-tab-capsule-bouton-information" ng-click="capsule.informations_capsule_affichees = (capsule.informations_capsule_affichees == capsule.id_capsule ? null : capsule.id_capsule)">i</span>
						<span class="fiche-ressource-tab-capsule-nombre-messages" ng-show="ressource.nombre_messages[capsule.id_capsule] > 0">{{ressource.nombre_messages[capsule.id_capsule]}}</span>
						<section id="fiche-ressource-tab-capsule-informations" ng-show="capsule.informations_capsule_affichees == capsule.id_capsule">
							<div id="fiche-ressource-tab-capsule-informations-auteurs">
								<span>{{"Auteurs : " + capsule.auteurs}}</span><br>
								<span>{{"Licence : " + capsule.licence}}</span><br>
							</div>
							<div id="fiche-ressource-tab-capsule-informations-crea">
								<span>{{"Créée le " + (capsule.date_creation | date_timestamp)}}</span><br>
								<span ng-if="capsule.date_modification">{{"Mise à jour le " + capsule.date_edition}}</span><br>
							</div>
							<div id="fiche-ressource-tab-capsule-informations-description">
								{{capsule.description}}
							</div>
						</section>
					</li>
				</ol>
			</section>
		</section>
	</section>
</div>