toaster-container(toaster-options="{'position-class': 'toast-bottom-right'}")
div.pf(ng-cloak ng-controller='main_controller' lang='fr')
	#outdated
	include nav_bar.html
	
	include connexion.html
	include accroche.html
	include presentation.html

	include avatar_upload.html
	include fiche_ressource.html
	include succes.html
	include messages.html
	include preferences.html
	include profil_config.html
	include profil.html
	include recherche_profil.html
	include reseau.html
	include ressources.html