doctype html
html.animated
  head
    title PairForm - Document protégé
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-touch.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-animate.min.js")
    script.
      var PF = {
        unauthorized : #{unauthorized || false},
        url_to_follow : "#{url_to_follow}"
      };

    script(src="/private/js/login_controller.js")
    //link(rel='stylesheet', href='//www.pairform.fr/SCWeb/dyn/res/css/supcast.css')
    link(rel="stylesheet" href="//www.pairform.fr/css/bootstrap.min.css")
    link(rel="stylesheet" href="/private/css/login.css")
  body(ng-app="pf_login")
    h1 >> Le document auquel vous accédez est protégé.
    img#logo_ressource(src="#{url_logo}")
    main(ng-controller="controller_connexion")
      .panel.panel-default#loginBox
        section(ng-show="mode == 'connexion'")
          h2.panel-heading Veuillez vous identifier : 
          .panel-body
            form#form_login.form-horizontal(method='post', ng-submit="connecter()")
              .form-group
                label.col-sm-3.control-label Nom d&apos;utilisateur : 
                .col-sm-9
                  input.form-control(type='text', placeholder="Pseudo ou e-mail", name="username", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="connexion.username")
              
              .form-group
                label.col-sm-3.control-label Mot de passe :
                .col-sm-9
                  input.form-control(type='password', name="password", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="connexion.password")
              
              .btn-action(ng-click="mode = 'enregistrement-0'") Pas encore de compte?
              input.btn-action.btn-success(type='submit', value="Accéder au document")

        section(ng-show="mode == 'mot_de_passe'")
          h2.panel-heading Réinitialiser votre mot de passe : 
          .panel-body
            form#form_login.form-horizontal(method='post', ng-submit="renvoyerMotDePasse()")
              .form-group
                label.col-sm-3.control-label Adresse e-mail : 
                .col-sm-9
                  input.form-control(required, type="email", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="mot_de_passe_oublie.username")
              .btn-action(ng-click="mode = 'connexion'") Retour
              input.btn-action.btn-success(type='submit', value="Réinitialiser")
        section(ng-show="mode == 'enregistrement-0'")
          h2.panel-heading Créer un compte : 
          .panel-body
            form#form_login.form-horizontal(method='post', ng-submit="enregistrer()")

              .form-group
                label.col-sm-3.col-xs-12(for="register-username") Pseudo : 
                input.col-sm-8.col-xs-12(required, ng-minlength="4", placeholder="4 caractères min.", type="text", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.username")
              .form-group
                label.col-sm-3.col-xs-12(for="register-password") Mot de passe : 
                input.col-sm-8.col-xs-12(required, ng-minlength="6", placeholder="6 caractères min.", type="password", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.password")
              .form-group
                label.col-sm-3.col-xs-12(for="register-password2") Confirmation : 
                input.col-sm-8.col-xs-12(required, ng-minlength="6", placeholder="6 caractères min.", type="password", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.password2")
              .form-group
                label.col-sm-3.col-xs-12(for="register-email") Adresse e-mail : 
                input.col-sm-8.col-xs-12(required, placeholder="Attention : voir encadré ci dessous", type="email", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.email")
              .form-group
                label.col-sm-3.col-xs-12(for="register-name") Nom / Prénom : 
                input.col-sm-8.col-xs-12(required, placeholder="Nom prénom", type="text", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.name")
              .form-group
                label.col-sm-3.col-xs-12(for="register-etablissement") Établissement : 
                input.col-sm-8.col-xs-12(placeholder="École, entreprise...", type="text", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.etablissement")
              .form-group
                input(required, type="checkbox", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.register_cgu")
                label(class="label-small", for="register-cgu")  En cochant cette case, vous acceptez les 
                a(href="http://www.pairform.fr/CGU_user.html", target="_blank", style="color:#822;")  conditions générales d'utilisation

              .btn-action(ng-click="mode = 'connexion'") Retour
              input.btn-action.btn-success(type='submit', value="Créer votre compte")
        section(ng-show="mode == 'enregistrement-1'")
          h2.panel-heading Validation
          .panel-body 
            h3 Un e-mail de validation vous a été envoyé.
            b Vous devez d'abord valider votre adresse e-mail pour vous connecter sur PairForm.

            .btn-action.btn-success(ng-click="mode = 'connexion'") Se connecter
      div.well.alert-warning.clearfix(ng-show="mode == 'enregistrement-0'")
        .col-sm-2.col-xs-4
          span#attention ⚠
        .col-sm-10.col-xs-12
          h3 Attention
          | Si vous avez été invité(e) à consulter ce document par e-mail, veillez à bien utiliser l'adresse e-mail avec laquelle vous avez été contacté(e).
          br
          | Dans le cas contraire, nous ne pouvons garantir votre accès à ce document.
          
      div.well.clearfix
        .col-sm-2.col-xs-4
          img#logo_espace.img-thumbnail(src="#{url_logo_espace}")
        .col-sm-10.col-xs-12
          | Le gestionnaire de l'établissement 
          b #{espace_nom_long} 
          | a restreint l'accès à ce document à un groupe de personnes.
          br
          | Si vous ne parvenez pas à y accéder, et que vous estimez qu'il s'agit d'une erreur, 
          a(href="mailto:contact@pairform.fr") vous pouvez envoyer un message au gestionnaire de la ressource. 
          
      div.alert.alert-warning
        | Si vous pensez qu'il s'agit d'une autre forme d'erreur, contactez-nous à l'adresse  
        span.label.label-warning 
          | contact - arobase - pairform.fr
        | , nous vous répondrons dans les meilleurs délais.
      footer
        | PairForm - CAPE - Ecole des Mines de Nantes (2015)
        
