<div ng-controller="controller_preferences" class="panel-container-left pf" id="preferences-container" ng-show="visible">
	<section class="panel-wrapper" id="preferences-wrapper">
		<div class="btn-cross-fermer" ng-click="remove()" id="btn-preferences-fermer" ng-click="remove()">x</div>
		<section class="panel-head" id="preferences-head">
			<h1 class='panel-title'>{{'web_label_menu_preferences' | translate}}</h1>
		</section>

		<section class="preferences-container">
			<div id="preferences-wrapper">
			<div>
				<h1>Compte</h1>
				<ul>
					<li><div class="btn-action" ng-click="fonctionPasDisponible()">{{(preferences.connexion_automatique ? 'web_label_desactiver' : 'web_label_activer') | translate}} {{'web_label_connexion_automatique' | translate}}</div></li>
				</ul>
			</div>
			<div>
				<h1>Sur cette ressource</h1>
				<ul>
					<li><div class="btn-action" ng-click="switchNotificationMail()">{{(preferences.notification_mail ? 'web_label_desactiver' : 'web_label_activer') | translate}} {{'web_label_les_notifications' | translate}}</div></li>
					<li><div class="btn-action" ng-if="utilisateur_local.est_admin" ng-click="fonctionPasDisponible()">{{(preferences.afficher_noms_reels ? 'web_label_desactiver' : 'web_label_activer') | translate}} {{'web_label_affichage_des_noms_reels' | translate}}</div></li>
				</ul>
			</div>
			<div>
				<h1>Actions manuelles</h1>
				<ul>
					<li><div class="btn-action" ng-click="reinitialiserMessagesLus()">{{'web_button_reinit_messages_lus' | translate}}</div></li>
					<li><div class="btn-action" ng-click="actualiserMessages()">{{'button_recuperer_nouveaux_messages' | translate}}</div></li>
					<li><div class="btn-action" ng-click="effacerToutesDonnees()">Effacer toutes les données</div></li>
				</ul>
			</div>
		</section>
	</section>
</div>