<div ng-controller="controller_presentation" id="pres-container" ng-show="visible" class="popinWrapper">
	<div class="popinFocus" ng-click="visible = false"></div>
	<div class="popin">
		<div class="btn-pres-fermer btn-cross-fermer" title="{{'web_label_fermer_panneau' | translate}}" ng-click="visible = false">x</div>
		<section class="pres-header">
			<img ng-src="{{res_url_private + 'img/PairformFullFinal@2x.png'}}" alt="{{'web_label_logo_pairform' | translate}}" title="{{'web_label_logo_pairform' | translate}}">
			<p>
				{{'web_label_naviguer_site_pairform' | translate}} <i>{{'web_label_au_coeur_ressource' | translate}}</i>.
			</p>
			<h1>{{'web_label_change' | translate}}</h1>
		</section>
		<hr>
		<section class="pres-section">
			<div class="pres-content">
				<h2>1 - {{'web_label_echanger_avec_pairs' | translate}}</h2>
				<p>
					{{'web_label_commentaires_bulle_rouge' | translate}}
					<br><br>
					<!-- {{'web_label_utilisez_le' | translate}} <b>{{'web_label_clic_droit' | translate}}</b> {{'web_label_votre_souris_visualiser' | translate}}. -->
					{{'web_label_clic_affiche_commentaires' | translate}}
				</p>
			</div>
			<aside class="pres-content-illustration">
				<img ng-src="{{res_url_private + 'img/pres/lire0.png'}}" alt="{{'web_label_clic_droit_commentaire' | translate}}" title="{{'web_label_clic_droit_commentaire' | translate}}">
			</aside>

			<div class="pres-content">
				<!-- <h3>{{'web_label_et_voila' | translate}}</h3> -->
				<p>
					{{'web_label_vous_pouvez' | translate}} : 
					<ul>
						<li>{{'web_label_ecrire_nouveau_message' | translate}},</li>
						<li>{{'web_label_repondre_message_existant' | translate}},</li>
						<li>{{'web_label_voter_utilite_message' | translate}},</li>
						<li>{{'web_label_autres_actions' | translate}}...</li>
					</ul>
				</p>
			</div>
			<aside class="pres-content-illustration">
				<img ng-src="{{res_url_private + 'img/pres/lire1.png'}}" alt="{{'web_label_messages_attaches' | translate}}" title="{{'web_label_messages_attaches' | translate}}">
			</aside>
		</section>
		<hr>
		<section class="pres-section">
			<div class="pres-content">
				<h2>2 - {{'web_label_prenez_notoriete' | translate}}</h2>
				<p>
					{{'web_label_action_reseau_social' | translate}}.
					<br><br>
					{{'web_label_par_exemple' | translate}} : 
					<div>
						<div class="pres-score-container"><div class="pres-score-value">+10</div><div class="pres-score-action">{{'web_label_ecrire_message' | translate}}</div></div>
						<div class="pres-score-container"><div class="pres-score-value">+1</div><div class="pres-score-action">{{'web_label_voter_message' | translate}}</div></div>
						<div class="pres-score-container"><div class="pres-score-value">+30</div><div class="pres-score-action">{{'web_label_gagner_defi' | translate}}</div></div>
						<div class="pres-score-container"><div class="pres-score-value pres-score-value-neg">-30</div><div class="pres-score-action">{{'web_label_se_faire_sup_msg' | translate}}</div></div>
					</div>
				</p>
			</div>
			<aside class="pres-content-illustration no-slide">
				<img ng-src="{{res_url_private + 'img/pres/rep0.png'}}" alt="{{'web_label_profil_utilisateur' | translate}}" title="{{'web_label_profil_utilisateur' | translate}}">
			</aside>
			<div class="pres-content">
					<br>
					{{'web_label_propres_a_chaque_ressource' | translate}}
					<br><br>
					{{'web_label_points_droits' | translate}}
					<br><br><br><br>
					{{'web_label_par_exemple' | translate}} : 
					<ul>
						<li>{{'web_label_sup_msg_autres' | translate}},</li>
						<li>{{'web_label_donner_medailles' | translate}},</li>
						<li>{{'web_label_attribuer_tags' | translate}}.</li>
					</ul>
			</div>
<!-- 			<aside class="pres-content-illustration">
				<img ng-src="{{res_url_private + 'img/pres/rep1.png'}}" alt="{{'web_label_nouveaux_droits' | translate}}" title="{{'web_label_nouveaux_droits' | translate}}">
			</aside> -->
		</section>
		<hr>
		<section class="pres-section">
			<div class="pres-content-full">
				<h2>3 - {{'web_label_creez_un_compte' | translate}}</h2>
				<p>
					{{'web_label_participer_reseau_social_creer_compte' | translate}}
				</p>
				<div class="btn-action" id="btn-pres-creer-compte">{{'button_creer_un_compte' | translate}}</div>
			</div>
		</section>
		<i class="pres-footer">
			<div ng-click="visible = false" class="btn-action btn-pres-fermer">{{'web_label_cliquez_ici' | translate}}</div> {{'web_label_pour_fermer_fenetre' | translate}}.
			<br>
			{{'web_label_afficher_a_propos' | translate}}
		</i>
	</div>
</div>