<div ng-controller="controller_profil_config" class="panel-container-right pf" id="profil-config-panel-container" ng-show="visible">
	<section class="panel-wrapper" id="profil-config-wrapper">
	<div class="btn-cross-fermer" ng-click="remove()" id="btn-profil-config-fermer">x</div>
		<section class="panel-head" id="profil-config-head">
				<h1 class='panel-title' id='profil-config-user'>{{'title_modifier_compte' | translate}}</h1>
		</section>
		<section class="profil-config-container formBox">
			<form ng-submit="enregistrerModifications()" id="profil-config-form">
				<h3>{{'label_mot_de_passe' | translate}} :</h3>
				<span>{{'label_mot_de_passe_ancien' | translate}} : </span><input placeholder="" type="password" id="register-password-old" ng-model="informations.current_password" ng-minlength="6"><br>
				<span>{{'label_mot_de_passe_nouveau' | translate}} : </span><input placeholder="6 {{'web_label_caracteres_min' | translate}}" type="password" id="register-password" ng-model="informations.password" ng-minlength="6" ><br>
				<span>{{'label_mot_de_passe_confirmation' | translate}} : </span><input placeholder="6 {{'web_label_caracteres_min' | translate}}" type="password" id="register-password2" ng-model="informations.password2" ng-minlength="6" ><br>
				<h3>{{'web_label_infos_perso' | translate}} :</h3>
				<span>{{'label_nom' | translate}} / {{'label_prenom' | translate}} : </span><input placeholder="{{'web_label_nom_maj' | translate}} {{'label_prenom' | translate}} " type="text" id="register-name" ng-model="informations.name"><br>
				<span>{{'label_etablissement' | translate}} : </span><input placeholder="{{'web_label_ecole_entreprise' | translate}}" type="text" id="register-etablissement" ng-model="informations.etablissement"><br>
				<h3>{{'label_langues' | translate}} :</h3>
				<span>{{'label_langue_principale' | translate}} : </span><select id="register-langue-principale" ng-model="informations.langue" ng-options="lg.id as lg.label for lg in tableau_langues_label"></select><br>
				<span>{{'label_autres_langues' | translate}} : </span><span id="btn-profil-autres-langues" class="btn-action">{{'button_choisir' | translate}}...</span><br>
				<button id="btn-profil-config-valider"  class="btn-action">{{'button_enregistrer' | translate}}</button>
			</form>
		</section>
	</section>

	<div class="popin formBox" id="popin-choix-autres-langues">
		<section id="choiceOtherLanguagesBox">
			<h1>{{'title_autres_langues' | translate}}</h1>
			<section id="sec-other-languages">
				<ul id="list-other-languages"></ul>
			</section>
			<span id="btn-ok-choice-other-languages"  class="btn-action">OK</span>
		</section>
	</div>
	<div class="popin formBox" id="popin-change-langue-app-profil">
		<section id="changeLanguageAppBoxProfil">
			<h1>{{'title_langue_application' | translate}}</h1>
			<p>{{'label_changer_langue_app' | translate}}</p>
			<span id="btn-yes-change-langue-app-profil"  class="btn-action">{{'button_non' | translate}}</span>
			<span id="btn-no-change-langue-app-profil"  class="btn-action">{{'button_oui' | translate}}</span>
		</section>
	</div>



</div>