<div ng-controller="controller_profil" class="panel-container-right pf" ng-show="visible">
	<section id="profil-wrapper" class="panel-wrapper">
		<div class="btn-cross-fermer" ng-click="remove()" id="btn-profil-fermer">x</div>

		<section id="profil-info">
			<div id="profil-info-avatar">
				<img ng-src="{{utilisateur.avatar_url}}" alt="" id="profil-img">
				<img ng-src="{{res_url_private}}img/langue/icone_drapeau_rond_{{codeFromId(utilisateur.langue_principale)}}.png" alt="" id="profil-icone-langue">
				<div ng-if="is_connected_user" id="profil-info-avatar-label" ng-click="fonctionPasDisponible()">{{'title_modifier_avatar' | translate}}</div>
			</div>
			<div id="profil-info-inner">
				<h1 id="profil-username">{{utilisateur.username}}
					<div ng-if="is_connected_user" id="btn-profil-config" ng-click="afficherProfilConfig()" class="options-cog" title="{{'title_modifier_compte' | translate}}"></div>
				</h1>
				<div id="profil-etablissement">{{utilisateur.etablissement}}</div>
				<div id="profil-status" ng-class="(utilisateur.offline != false) ? 'offline' : 'online'">{{utilisateur.labelStatus}}</div>
			</div>	
		</section>
		<section class="panel-actions">
			<div ng-click="afficherMessagesUtilisateur(utilisateur.id_utilisateur)" id="btn-profil-messages" class="btn-action">
				{{(is_connected_user ? 'button_mes_messages' : 'button_ses_messages') | translate}}
			</div>
			<div ng-click="is_connected_user ? afficherReseau('gestion') :  afficherReseau('ajout', utilisateur)" id="btn-profil-mon-reseau" class="btn-action">
				{{(is_connected_user ? 'button_cercles' : 'button_ajouter') | translate}}
			</div>
			<div ng-if="is_connected_user" ng-click="deconnecter(); remove();" class="btn-action">
				{{'button_deconnexion' | translate}}
			</div>
		</section>
		<section id="profil-succes" >
			<span id="profil-succes-label">
				{{'title_derniers_succes' | translate}} ({{utilisateur.nb_succes_gagnes}}/74)
			</span>
			<div ng-click="afficherSucces(utilisateur.id_utilisateur, utilisateur.succes)" id="profil-succes-container">
				<img ng-repeat="succes_recent in utilisateur.derniers_succes | limitTo:5" ng-src="{{res_url_private + 'img/succes/' + succes_recent.nom_logo + '.png'}}">
			</div>
		</section>
		<section id="profil-niveaux">
			<span id="profil-niveaux-label">{{((is_connected_user == "true") ? 'title_mes_ressources' : 'title_ses_ressources') | translate}}</span>
			<ul id="profil-ressource-container">
				<li ng-repeat="ressource in utilisateur.ressources" class="profil-ressource" >
					
					<img ng-src="{{res_url_root + ressource.url_logo}}" ng-click="afficherFicheRessource(ressource.id_ressource)" class="profil-ressource-image">

					<div class="profil-ressource-inner">
						<div class="profil-ressource-nom">{{ressource.nom_court}}</div>
						<div class="profil-ressource-rang">{{('label_user_' + ressource.nom_categorie.toLowerCase()) | translate}}
						</div>
						<div class="profil-ressource-points">{{ressource.score}} pts</div>
						<div class="btn-action profil-ressource-upgrade" ng-if="utilisateur_local.est_connecte && (utilisateur_local.rank_ressources[ressource.id_ressource].id_categorie >= 4) && (is_connected_user == false)" ng-click="$parent.upgrade_ressource = ($parent.upgrade_ressource == ressource.id_ressource) ? false : ressource.id_ressource">
							Modifier...
							<pf-menu-changer-role class="ui-tooltip-bottom rank-upgrade-wrapper" ng-if="$parent.upgrade_ressource == ressource.id_ressource"/>
						</div>
					</div>
				</li>

			</ul>
		</section>
	</section>
</div>
