<div ng-controller="controller_ressources" class="panel-container-left pf" id="ressources-container" ng-show="visible">
	<section class="panel-wrapper" id="ressources-wrapper">
		<div class="btn-cross-fermer" ng-click="remove()" id="btn-ressources-fermer" ng-click="remove()">x</div>
		<section class="panel-head" id="ressources-head">
			<h1 class='panel-title'>{{'web_title_ressources_pairform' | translate}}</h1>
			<section class="panel-actions" id="ressources-actions">				
				<input ng-model="filtre_ressource.nom_court" type="search" results="5"  autosave="fr.emn.pairform.search" placeholder="{{'web_button_rechercher' | translate}}">
				<div id="btn-ressources-switch" ng-click="switch_sort_mode = 0+!switch_sort_mode" class="btn-action">{{(switch_sort_mode == 1 ? 'web_label_trier_par_etablissement' : 'web_label_trier_par_theme') | translate}}</div>
			</section>
		</section>

		<section class="ressources-container">
			<div id="ressources-wrapper">
				<div ng-repeat="(espace_nom_court, ressources) in res_sorted[switch_sort_mode] | orderBy:espace_nom_court" class="ressources">
					<h2 class="ressources-title">{{espace_nom_court}}</h2>
					<div class="ressources-items-container">
						<div ng-repeat="ressource in ressources | filter:filtre_ressource" 
							ng-attr-data-count="{{(typeof(nombre_messages[ressource.id_ressource]) != 'undefined') ? nombre_messages[ressource.id_ressource] : '0'}}" 
							title="{{ressource.description + '&#013;&#013;Auteurs : ' + ressource.auteur}}" 
							 ng-click="afficherFicheRessource(ressource.id_ressource)">
							<img class="ressources-item-icon" alt="{{ressource.nom_court}}" ng-src="{{ressource.url_logo}}"><span>{{ressource.nom_court}}</span>
							<img class="icone_drap_res" ng-src="{{res_url_private}}img/langue/icone_drapeau_rond_{{ressource.code_langue}}.png" alt="{{ressource.code_langue}}"/>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</div>