<div ng-controller="controller_succes" class="panel-container-left pf" ng-show="visible">

	<section id="success-wrapper" class="panel-wrapper">
		<section id="success-head">
		<div class="btn-cross-fermer" ng-click="remove()" id="btn-succes-fermer">x</div>
		<h1 ng-if="mode == 'user'" class='success-label' id='success-user'>{{'web_label_succes_debloques' | translate}} ({{userSuccessCount}}/{{allSuccessCount}})</h1>
		<h1 ng-if="mode != 'user'" class='success-label' id='success-global'>{{'web_label_liste_des' | translate}} {{allSuccessCount}} {{'web_label_succes' | translate}}</h1>
		</section>
		<section id="success-results">
			<ul id="success-list-results">
				<li class='success-result' ng-repeat="succes_row in succes">
					<img ng-src="{{res_url_private}}img/succes/{{succes_row.succes_est_gagne == 1 ? succes_row.nom_logo : 'default'}}.png" class='success-img'>
					<div class='success-inner'>
						<h2 class='success-titre'>{{succes_row.nom}}</h2>
						<div class='success-description'>{{succes_row.description}}</div>
					</div>
				</li>
			</ul>
		</section>
	</section>
</div>