div(ng-controller="connexion")
  #popin-connexion.formBox
    section#loginBox(ng-show="mode == 'connexion'")
      h1 {{"title_connexion" | translate}}
      form#formLog(ng-submit="connecter()", method="post")
        label {{"label_identifiant" | translate}} : 
        input(type="text", placeholder="{{'label_identifiant' | translate}}", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="connexion.username")
        br
        label {{"label_mot_de_passe" | translate}} :
        input(type="password", placeholder="{{'label_mot_de_passe' | translate}}", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="connexion.password")
        br
        input.btn-action(type="button", ng-click="mode = 'enregistrement-0'", value="{{'button_creer_un_compte' | translate}}")
        input.btn-action(type="button", ng-click="mode = 'mot_de_passe'", value="{{'web_button_mdp_oublie' | translate}}")
        input.btn-action(type="submit", value="{{'web_button_valider' | translate}}")
    section#passwordForgotBox(ng-show="mode == 'mot_de_passe'")
      h1 {{"title_reinitialiser_mot_de_passe" | translate}}
      form#formPasswordForgot(ng-submit="renvoyerMotDePasse()", method="post")
        label {{"label_identifiant" | translate}} : 
        input(type="email", required="", placeholder="{{'label_identifiant' | translate}}", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="mot_de_passe_oublie.username")
        br
        input.btn-action(type="button", ng-click="mode = 'connexion'", value="{{'button_connexion' | translate}}")
        input.btn-action(type="submit", value="{{'web_button_valider' | translate}}")
    section#registerBox(ng-show="mode == 'enregistrement-0'")
      h1 {{"title_nouveau_compte" | translate}}
      form#formRegister(ng-submit="enregistrer()", method="post")
        label(for="register-username") {{"label_pseudo" | translate}} : 
        input(type="text", required="", ng-minlength="4", placeholder="4 {{'web_label_caracteres_min' | translate}}", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.username")
        br
        label(for="register-password") {{"label_mot_de_passe" | translate}} : 
        input(type="password", required="", ng-minlength="6", placeholder="6 {{'web_label_caracteres_min' | translate}}", value="", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.password")
        br
        label(for="register-password2") {{"label_mot_de_passe_confirmation" | translate}} : 
        input(type="password", required="", ng-minlength="6", placeholder="6 {{'web_label_caracteres_min' | translate}}", value="", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.password2")
        br
        label(for="register-email") {{"label_email" | translate}} : 
        input(type="email", required="", placeholder="mail@exemple.com", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.email")
        br
        label(for="register-name") {{"label_nom" | translate}} / {{"label_prenom" | translate}} : 
        input(type="text", required="", placeholder="{{'web_label_nom_maj' | translate}} {{'label_prenom' | translate}}", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.name")
        br
        label(for="register-langue") {{"label_langue_principale_2" | translate}} : 
        select(ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.langue", ng-options="lg.id as lg.label for lg in tableau_langues_label")
        br
        label(for="register-etablissement") {{"label_etablissement" | translate}} ({{"web_label_optionnel" | translate}}) : 
        input(type="text", placeholder="{{'web_label_ecole_entreprise' | translate}}", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.etablissement")
        br
        input(type="checkbox", required="", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.register_cgu")
        label.label-small(for="register-cgu")
          | {{"web_label_cocher_case" | translate}}
          a(href="https://www.pairform.fr/node/cgu/utilisateur", target="_blank", style="color:#822;") {{"web_label_conditions_generales_utilisation" | translate}}
        input.btn-action(type="button", ng-click="mode = 'connexion'", value="{{'button_connexion' | translate}}")
        input.btn-action(type="submit", value="{{'button_enregistrer' | translate}}")
    section#postRegisterBox(ng-show="mode == 'enregistrement-1'")
      h1 {{"web_title_validation" | translate}}
      div
        h3 {{"label_creation_de_compte_reussi" | translate}}
        span
          | {{"web_label_clique_dehors" | translate}}
  #popin-choix-autres-langues-register.formBox(ng-show="mode == 'langue-1'")
    section#choiceOtherLanguagesBoxRegister
      h1 {{"title_autres_langues" | translate}}
      section#sec-other-languages
        ul#list-other-languages-register
      span#btn-ok-choice-other-languages-register.btn-action OK
  #popin-change-langue-app-register.formBox(ng-show="mode == 'langue-2'")
    section#changeLanguageAppBoxRegister
      h1 {{"title_langue_application" | translate}}
      p {{"label_changer_langue_app" | translate}}
      span#btn-yes-change-langue-app-register.btn-action {{"button_non" | translate}}
      span#btn-no-change-langue-app-register.btn-action {{"button_oui" | translate}}
