toaster-container(toaster-options="{'position-class': 'toast-bottom-right'}")
div.pf(ng-cloak ng-controller='main_controller' lang='fr')
	#outdated
	include nav_bar
	
	include connexion
	include accroche
	include presentation

	include avatar_upload
	include fiche_ressource
	include succes
	include messages
	include carrousel
	include preferences
	include profil_config
	include profil
	include recherche_profil
	include reseau
	include ressources