.comProfil
  a(ng-href="{{'profil/' + message.id_auteur}}")
    img.imgProfil.avatar(ng-click="afficherProfil(message.id_auteur)", ng-src="{{message.url_avatar_auteur}}", title="{{'web_label_clique_visualiser_profil' | translate}})")
  .voteSection
    .vote.voteNo(ng-click="voter(message, -1)", ng-class="{'active' : (message.utilisateur_a_vote == '-1')}", title="{{'web_label_commentaire_inutile' | translate}}") -
    .voteCount(title="Cliquez ici pour afficher les votes négatifs et positifs", ng-click="afficherVotes(message)")
      span.somme-votes(ng-hide="message.toggle_somme_votes") {{message.somme_votes}}
      span.diff-votes(ng-show="message.toggle_somme_votes")
        span.negatif {{message.votes_negatif}}
        span.positif {{message.votes_positif}}
    .vote.voteYes(ng-click="voter(message, 1)", ng-class="{'active' : (message.utilisateur_a_vote == '1')}", title="{{'web_label_commentaire_utile' | translate}})") +
  img.comMedaille(ng-if="message.medaille != ''", ng-src="{{(message.medaille != '') ? (res_url_private + 'img/medaille_' + message.medaille + '.png') : ''}}", title="{{'web_label_message_pertinant_collaborateur' | translate}}")
  img.comDefi(ng-if="message.defi_valide > 0", ng-src="{{res_url_private + 'img/DefiValid.png'}}", title="{{'web_label_reponse_validee_par_defieur' | translate}}")
  img.comDefi(ng-if="message.est_defi == 1", ng-src="{{res_url_private + 'img/DefiActif.png'}}", title="{{'web_label_message_defi_actif' | translate}}")
  img.comDefi(ng-if="message.est_defi == 2", ng-src="{{res_url_private + 'img/DefiFini.png'}}", title="{{'web_label_message_defi_termine' | translate}}")
  img.comGeolocalise(ng-if="message.estGeolocalise", ng-src="{{res_url_private + 'img/marqueur_carte_actif.png'}}", ng-click="showMarqueurs(message)", title="{{'web_label_message_geolocalise' | translate}}")
.comContent
  .comTitle
    h5.comUserName {{::message.pseudo_auteur}}
    span.comUserRank  - {{("label_user_" + message.role_auteur.toLowerCase()) | translate }}
    span.comMessPrive(ng-if="message.prive == 1")  - {{"web_label_message_prive" | translate}}
    .timeCreated {{::message.date_creation | date_timestamp }}
  .comText(ng-bind-html="((message.supprime_par == '0') || (utilisateur_local.rank[capsule.id_capsule].id_categorie >= 3)) ? (message.contenu | linky:'_blank') : ('web_label_msg_supprime' | translate)")
  pf-image-thumbnail(ng-if="message.pieces_jointes.length", images="message.pieces_jointes")
  .actionSection
    .comLinkToRes(ng-if="transversal")
      a(ng-href="{{res_url_root + 'webServices/message/rediriger?id_message=' + message.id_message}}" target="_blank") {{"web_button_context" | translate}}
    .comRepondre(ng-if="!transversal", ng-click="repondre(message)")
      | {{"button_repondre" | translate}}
    //- <div ng-if="message.estGeolocalise" class="comCarte" ng-click="showMarqueurs(message)">{{'web_button_context' | translate}}</div>
    .comSuppr(ng-if="utilisateur_local.est_connecte && ((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 3) || (message.id_auteur == utilisateur_local.id_utilisateur))", ng-click="supprimer(message)")
      | {{(message.supprime_par == "0" ? "button_supprimer" : "web_button_retablir") | translate}}
    .comDonnerMedaille(ng-if="utilisateur_local.est_connecte && (((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4)) && (message.id_auteur != utilisateur_local.id_utilisateur))", ng-click="visible_menu_medaille = visible_menu_medaille ? undefined : message.id_message")
      | {{"label_medaille" | translate}}
      pf-menu-medaille(ng-if="visible_menu_medaille == message.id_message")
    .comAjouterTags(ng-if="utilisateur_local.est_connecte && utilisateur_local.rank[capsule.id_capsule].id_categorie >= 2", ng-click="visible_menu_tags = visible_menu_tags ? undefined : message.id_message")
      | {{"label_tags" | translate}}
      pf-menu-tags(stop-event="click", ng-if="visible_menu_tags == message.id_message")
    .comSupprDef(ng-if="utilisateur_local.est_connecte && utilisateur_local.rank[capsule.id_capsule].id_categorie == 5", ng-click="supprimer(message,true)")
      | {{"web_label_sup_msg_definitivement" | translate}}
    .comValiderMessage(ng-if="utilisateur_local.est_connecte && (((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4)) && (message.message_parent.est_defi == 1))", ng-click="validerMessageDefi(message)")
      | {{(message.defi_valide == "0" ? "web_label_valider" : "web_label_invalider") | translate}}
    .comTerminerDefi(ng-if="utilisateur_local.est_connecte && (((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4)) && (message.id_auteur == utilisateur_local.id_utilisateur) && (message.est_defi == 1))", ng-click="terminerDefi(message)")
      | {{"button_terminer_defi" | translate}}
    .comPartagerMessage(ng-click="partagerMessage(message)")
      | partager
      pf-menu-partager(stop-event="click", ng-if="visible_menu_partager == message.id_message")
    .comValiderMessage(draggable="true", ng-if="utilisateur_local.est_connecte && (utilisateur_local.rank[capsule.id_capsule].id_categorie >= 2)", ng-click="deplacerMessage(message)")
      | d&#233;placer
    //-
                            <div ng-if="utilisateur_local.est_connecte && ((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4) || (message.id_auteur == utilisateur_local.id_utilisateur))" ng-click="visible_menu_langue = visible_menu_langue ? undefined : message.id_message" class="comModifierLangue">
                                <img ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codeFromId(message.id_langue) + '.png'}}" alt="langue">
                                <pf-menu-langue ng-if="visible_menu_langue == message.id_message" stop-event/>
                            </div> 
    .comModifierLangue(ng-if="utilisateur_local.est_connecte && ((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4) || (message.id_auteur == utilisateur_local.id_utilisateur))", ng-click="fonctionPasDisponible()")
      img(ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codeFromId(message.id_langue) + '.png'}}", alt="langue")
      //- <pf-menu-langue ng-if="visible_menu_langue == message.id_message" stop-event/>
.comTagsContainer(ng-show="message.tags.length > 0")
  .comTagsLabel(ng-repeat="tag in parseJSON(message.tags)")
    | div (id="{{tag}}")
    span(ng-if="utilisateur_local.est_connecte && utilisateur_local.rank[capsule.id_capsule].id_categorie >= 2", ng-click="supprimerTag(message, tag)") x