div.container.last-messages-container(ng-controller="messages")
  h1.page-header 
    img(src="#{url_serveur_node}/public/img/icone/messages.png", alt="messages")
    | Messages
    .finder.finder-top-right
      input.form-control(ng-model='filtre_recherche', type='search', ng-minlength='3', placeholder='{{"LABEL.RESSOURCE.CHERCHER" | translate}}')

  a.left.messages-control.control-hidden
    //- span.glyphicon.glyphicon-chevron-left
  .last-messages(ng-repeat="capsule in messages_par_capsules | search:filtre_recherche | limitTo:limit | orderBy:'nom_long_ressource' track by capsule.id_capsule")
    .header.inline-children
      a(ng-href="{{capsule.id_capsule}}")
        img.ressources-item-icon(ng-src="{{capsule.url_logo}}")
      div
        h5 {{capsule.nom_long_capsule}}
        span {{capsule.nom_long_ressource}}
    pf-message-list(messages="capsule.messages" transversal="transversal" limit="5" utilisateur_local="utilisateur_local")
  a.right.messages-control
    //- span.glyphicon.glyphicon-chevron-right