.message-list-action-wrapper
  input(type="search", ng-model="filtre_messages", results="5", autosave="fr.emn.pairform.search", placeholder="{{'web_button_rechercher' | translate}}")
.message-list-wrapper(ng-class="{'no-margin' : transversal}")
  pf-message.comBox(ng-repeat="message in messages_sorted_array = (messages | orderMessages:this) | search:filtre_messages | limitTo:limit track by message.id_message")
    include message

.message-list-charger.btn-action(ng-click="increaseLimit()") Afficher plus de messages