mixin modal(var_visible)
  .modal-view.popinWrapper(ng-show="$root.#{var_visible}")
    .popinFocus(ng-click="$root.#{var_visible} = false")
    .popin
      if block
        block
      else
        p Pas de contenu