#preferences-container.panel-container-left.pf(ng-controller="preferences")
  h1.page-header 
    img(src="#{url_serveur_node}/public/img/icone/preferences.png", alt="preferences")
    | Preferences
  section#preferences-wrapper.panel-wrapper
    section.preferences-container
      #preferences-wrapper.container
        //- .col-sm-12.large-div
        //-   h1 Compte


        //-       .btn-action(ng-click="fonctionPasDisponible()")
        //-         | {{(preferences.connexion_automatique ? "web_label_desactiver" : "web_label_activer") | translate}} {{"web_label_connexion_automatique" | translate}}
        //-       label(for="register-langue") {{"label_langue_principale_2" | translate}} : 
        //-       select(ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="id_langue", ng-init="id_langue = current_code_langue", ng-change="selectLangue(id_langue)", ng-options="lg.id as lg.label for lg in tableau_labels")
        
        .col-sm-12.large-div.container
          h1.page-header Notifications
          .alert.alert-info(role="alert") 
            h2
              i.glyphicon.glyphicon-info-sign
              | Fréquence des notifications
            | Il y a trois types de notifications :
            ol
              li #[b Les résumés] : tous les soirs, un mail vous résume l'activité (les messages les plus votés…) sur ces documents.
              li #[b Les documents favoris] : toutes les deux heures, vous êtes averti si un message est posté sur ce document.
              li #[b Les réponses] : si quelqu'un vous répond, vous êtes averti dans l'heure si vous n'avez pas lu sa réponse.

          .finder.pf-centered.col-sm-6.row
            .input-group
              input.form-control(ng-model='recherche_ressource', type='text', placeholder='{{"LABEL.RESSOURCE.CHERCHER" | translate}}', list='id_liste_ressources')
              .input-group-btn
                button.btn.btn-default(type='submit')
                  i.glyphicon.glyphicon-search

          .col-sm-12.table-responsive(ng-repeat="ressource in capsules_notifications | filter:recherche_ressource  | orderBy:'nom_court' track by ressource.id_ressource")
            table.table.table-condensed
              thead
                th.col-xs-8
                  img(ng-src="{{ressource.url_logo}}")
                  span {{ressource.nom_court}}
                th.col-xs-2
                  //- .btn-action(ng-click="switchNotificationMailRessource(ressource)")
                    | {{"web_label_desactiver" | translate}} toutes  {{"web_label_les_notifications" | translate}}
                th.col-xs-2
                  //- .btn-action(ng-click="switchWatchMailRessource(ressource)")
                    | Enlever tous les favoris

              tr(ng-repeat="capsule in ressource.capsules track by capsule.id_capsule | orderBy:'capsule.notification_mail'")
                td.col-xs-8 {{capsule.nom_long_capsule}}
                td.col-xs-2
                  .btn-action(ng-click="switchNotificationMail(capsule)")
                    | {{(capsule.notification_mail ? "web_label_desactiver" : "web_label_activer") | translate}} {{"web_label_les_notifications" | translate}}

                td.col-xs-2
                  .btn-action(ng-click="switchWatchMail(capsule)")
                    img(ng-src="{{res_url_private + 'img/' + (capsule.watch_mail ? 'watch_on.png' : 'watch_off.png')}}")
                    | {{capsule.watch_mail ? "Favori" : "Non-favori"}}
            //- li
              .btn-action(ng-if="utilisateur_local.est_admin", ng-click="fonctionPasDisponible()")
                | {{(preferences.afficher_noms_reels ? "web_label_desactiver" : "web_label_activer") | translate}} {{"web_label_affichage_des_noms_reels" | translate}}
        
        //- .col-sm-12.large-div
        //-   h1 Actions manuelles
        //-   ul
        //-     li
        //-       .btn-action(ng-click="reinitialiserMessagesLus()") {{"web_button_reinit_messages_lus" | translate}}
        //-     li
        //-       .btn-action(ng-click="actualiserMessages()") {{"button_recuperer_nouveaux_messages" | translate}}
        //-     li
        //-       .btn-action(ng-click="effacerToutesDonnees()") {{"button_effacer_donnees" | translate}}
