#profil-config-panel-container(ng-controller="profil_config")
  section#profil-config-wrapper.panel-wrapper
    #btn-profil-config-fermer.btn-cross-fermer(ng-click="remove()") x
    section#profil-config-head.panel-head
      h1#profil-config-user.panel-title {{"title_modifier_compte" | translate}}
    section.profil-config-container.formBox
      form#profil-config-form(ng-submit="enregistrerModifications()")
        h3 {{"label_mot_de_passe" | translate}} :
        span {{"label_mot_de_passe_ancien" | translate}} : 
        input#register-password-old(type="password", placeholder="", ng-model="informations.current_password", ng-minlength="6")
        br
        span {{"label_mot_de_passe_nouveau" | translate}} : 
        input#register-password(type="password", placeholder="6 {{'web_label_caracteres_min' | translate}}", ng-model="informations.password", ng-minlength="6")
        br
        span {{"label_mot_de_passe_confirmation" | translate}} : 
        input#register-password2(type="password", placeholder="6 {{'web_label_caracteres_min' | translate}}", ng-model="informations.password2", ng-minlength="6")
        br
        h3 {{"web_label_infos_perso" | translate}} :
        span {{"label_nom" | translate}} / {{"label_prenom" | translate}} : 
        input#register-name(type="text", placeholder="{{'web_label_nom_maj' | translate}} {{'label_prenom' | translate}} ", ng-model="informations.name")
        br
        span {{"label_etablissement" | translate}} : 
        input#register-etablissement(type="text", placeholder="{{'web_label_ecole_entreprise' | translate}}", ng-model="informations.etablissement")
        br
        h3 {{"label_langues" | translate}} :
        span {{"label_langue_principale" | translate}} : 
        select#register-langue-principale(ng-model="informations.langue", ng-options="lg.id as lg.label for lg in tableau_langues_label")
        br
        span {{"label_autres_langues" | translate}} : 
        span#btn-profil-autres-langues.btn-action {{"button_choisir" | translate}}...
        br
        button#btn-profil-config-valider.btn-action {{"button_enregistrer" | translate}}
  #popin-choix-autres-langues.popin.formBox
    section#choiceOtherLanguagesBox
      h1 {{"title_autres_langues" | translate}}
      section#sec-other-languages
        ul#list-other-languages
      span#btn-ok-choice-other-languages.btn-action OK
  #popin-change-langue-app-profil.popin.formBox
    section#changeLanguageAppBoxProfil
      h1 {{"title_langue_application" | translate}}
      p {{"label_changer_langue_app" | translate}}
      span#btn-yes-change-langue-app-profil.btn-action {{"button_non" | translate}}
      span#btn-no-change-langue-app-profil.btn-action {{"button_oui" | translate}}
