#recherche-container.panel-container-left.pf(ng-controller="utilisateurs")  
  h1.page-header 
    img(src="#{url_serveur_node}/public/img/icone/reseau.png", alt="reseau")
    | Utilisateurs
  section#search-wrapper.panel-wrapper
    section#ressources-head.panel-head
      h1.panel-title
        | {{(mode == "recherche_profil" ? "web_label_menu_recherche" : "web_button_ajouter_une_personne_cercle") | translate}}
      section#search-actions.panel-actions
        input(type="search", ng-model="filtre_utilisateurs", results="5", name="username", autosave="fr.emn.pairform", placeholder="{{'label_pseudo' | translate}}")
    section#search-results
      h1.search-not-found {{"web_label_aucun_resultat" | translate}}
      ul#search-list-results
        li.search-result-item(ng-click="mode == 'recherche_profil' ? afficherProfil(utilisateur.id_utilisateur) : angular.noop()", ng-repeat="utilisateur in utilisateurs_array | search:filtre_utilisateurs:['username','etablissement']:'OR' | limitTo:limit")
          img.search-img(ng-src="{{utilisateur.image}}", alt="")
          .search-inner
            h1.search-name {{utilisateur.username}}
            .search-etablissement {{utilisateur.etablissement}}
          .reseaux-add.search-add-item(ng-click="ajouterUtilisateurDansReseauDepuisRecherche(utilisateur)", ng-if="mode == 'reseau'", title="{{'button_ajouter' | translate}}") +

    .btn-action.pull-right(ng-click="increaseLimit()") Afficher plus d'utilisateurs