include mixins
#profil-config-panel-container(ng-controller="reseau")
  h1.page-header 
    img(src="#{url_serveur_node}/public/img/icone/reseau.png", alt="reseau")
    | Reseau
  section#reseaux-wrapper.panel-wrapper
    //- section#reseaux-head.panel-head
    //-   h1#reseaux-user.panel-title {{"title_cercles" | translate}}
    section#cercles-container.reseaux-container
      span.sous-section-label {{"title_mes_cercles" | translate}}
      span.reseaux-add.reseaux-add-item(ng-if="mode == 'gestion'", ng-click="afficherFormReseau('ajout_cercle')", title="{{'title_creer_cercle' | translate}}") +
      section.reseaux-add-item-form(ng-if="mode == 'gestion'", ng-show="sous_mode == 'ajout_cercle'")
        input(type="text", placeholder="{{'label_nom' | translate}}", ng-model="$parent.nouveau_reseau")
        span.reseaux-cancel.reseaux-cancel-item(ng-click="afficherFormReseau(false)", title="{{'button_annuler' | translate}}") &#10008;
        span.reseaux-valid.reseaux-valid-item(ng-click="ajouterReseau('cercle')", title="{{'web_button_valider' | translate}}") &#10004;
      ul.reseaux-liste
        li.reseaux-item(ng-repeat="cercle in cercles track by cercle.id_collection", data-id_collection="{{cercle.id}}>")
          span.reseaux-item-label {{cercle.nom}}
          .reseaux-valid.reseaux-select-item(ng-if="mode == 'usage'", ng-click="utiliserReseau(cercle)", title="{{'web_button_selectionner' | translate}}") &#10004;
          .reseaux-add.reseaux-add-to-item(ng-if="mode == 'ajout'", ng-click="ajouterUtilisateurDansReseauDepuisReseau(cercle)", title="{{'web_button_ajouter_a_ce_cercle' | translate}}") +
          .reseaux-cancel.reseaux-delete-item(ng-if="mode == 'gestion'", ng-click="supprimerReseau(cercle, cercles)", title="{{'web_button_supprimer_ce_cercle' | translate}}") &#10008;
          ul.reseaux-liste-user(ng-class="{'focused-reseau' : cercle == reseau_selected}")
            .reseaux-add.reseaux-add-user(ng-if="mode == 'gestion'", ng-click="selectionUtilisateurPourReseau(cercle)", title="{{'web_button_ajouter_une_personne_cercle' | translate}}") +
            li.reseaux-user(ng-repeat="profil in cercle.profils track by profil.id_utilisateur")
              .reseaux-cancel.reseaux-delete-user(ng-if="(mode == 'gestion') || (mode == 'ajout')", ng-click="supprimerUtilisateurReseau(profil, cercle)", title="{{'web_button_supprimer_cet_utilisateur' | translate}}") &#10008;
              a(ng-href="{{'profil/' + profil.id_utilisateur}}")
                img.avatar(ng-src="{{profil.avatar_url || profil.image}}", alt="")
                figcaption {{profil.username}}
    section#classes-container.reseaux-container
      span.sous-section-label {{"title_classes" | translate}}
      span.reseaux-add.reseaux-add-item(ng-if="mode == 'gestion'", ng-click="afficherFormReseau('ajout_classe')", data-type="classe", title="{{'web_button_creer_classe' | translate}}") +
      section.reseaux-add-item-form(ng-if="mode == 'gestion'", ng-show="sous_mode == 'ajout_classe'")
        input(type="text", placeholder="{{'web_label_nom_classe' | translate}}", ng-model="$parent.nouveau_reseau")
        span.reseaux-cancel.reseaux-cancel-item(ng-click="afficherFormReseau(false)", title="{{'button_annuler' | translate}}") &#10008;
        span.reseaux-valid.reseaux-valid-item(ng-click="ajouterReseau('classe')", title="{{'web_button_valider' | translate}}") &#10004;
      ul.reseaux-liste
        li.reseaux-item(ng-repeat="classe in classes track by classe.id_collection", data-id_collection="{{classe.id}}>")
          span.reseaux-item-label {{classe.nom}}
          .reseaux-valid.reseaux-select-item(ng-if="mode == 'usage'", ng-click="utiliserReseau(classe)", title="{{'web_button_selectionner' | translate}}") &#10004;
          .reseaux-add.reseaux-add-to-item(ng-if="mode == 'ajout'", ng-click="ajouterUtilisateurDansReseauDepuisReseau(classe)", title="{{'web_button_ajouter_a_cette_classe' | translate}}") +
          .reseaux-cancel.reseaux-delete-item(ng-if="mode == 'gestion'", ng-click="supprimerReseau(classe, classes)", title="{{'web_button_supprimer_cette_classe' | translate}}") &#10008;
          span.reseaux-item-cle-label Cl&#233; : {{classe.cle}}
          ul.reseaux-liste-user
            .reseaux-add.reseaux-add-user(ng-if="mode == 'gestion'", ng-click="selectionUtilisateurPourReseau(classe)", title="{{'web_button_ajouter_une_personne_classe' | translate}}") +
            li.reseaux-user(ng-repeat="profil in classe.profils track by profil.id_utilisateur")
              a(ng-href="{{'profil/' + profil.id_utilisateur}}")
                img.avatar(ng-src="{{profil.avatar_url || profil.image}}", alt="")
                figcaption {{profil.username}}
    section#classes-rejointes-container.reseaux-container
      span.sous-section-label {{"title_classes_rejointes" | translate}}
      span.reseaux-add.reseaux-add-item.reseaux-rejoindre-item(ng-if="mode == 'gestion'", ng-click="afficherFormReseau('rejoint_classe')", data-type="rejoindre_classe", title="{{'title_rejoindre_classe' | translate}}") +
      section.reseaux-add-item-form(ng-if="mode == 'gestion'", ng-show="sous_mode == 'rejoint_classe'")
        input(type="text", placeholder="{{'label_clef_classe' | translate}}", ng-model="$parent.nouveau_reseau")
        span.reseaux-cancel.reseaux-cancel-item(ng-click="afficherFormReseau(false)", title="{{'button_annuler' | translate}}") &#10008;
        span.reseaux-valid.reseaux-valid-item(ng-click="ajouterReseau('classeRejoindre')", title="{{'web_button_valider' | translate}}") &#10004;
      ul.reseaux-liste
        li.reseaux-item(ng-repeat="classeRejointe in classesRejointes track by classeRejointe.id_collection", data-id_collection="{{classeRejointe.id}}>")
          span.reseaux-item-label {{classeRejointe.nom}}
          .reseaux-valid.reseaux-select-item(ng-if="mode == 'usage'", ng-click="utiliserReseau(classeRejointe)", title="{{'web_button_selectionner' | translate}}") &#10004;
          span.reseaux-item-cle-label {{"label_clef" | translate}} : {{classeRejointe.cle}}
          ul.reseaux-liste-user
            li.reseaux-user(ng-repeat="profil in classeRejointe.profils track by profil.id_utilisateur")
              a(ng-href="{{'profil/' + profil.id_utilisateur}}")
                img.avatar(ng-src="{{profil.avatar_url || profil.image}}", alt="")
                figcaption {{profil.username}}

+modal("select_utilisateur")
    include utilisateurs