.pf(ng-controller="ressource")
  section#fiche-ressource-wrapper.panel-wrapper
    #btn-fiche-ressource-fermer.btn-cross-fermer(ng-click="remove()") x
    section#fiche-ressource-head
      #fiche-ressource-head-icone
        img#fiche-ressource-img(ng-src="{{ressource.url_logo}}", alt="", style="width:100px;")
        img#fiche-ressource-icone-langue(ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_fr.png'}}", alt="")
      #fiche-ressource-head-inner
        h1#fiche-ressource-nom-court {{ressource.nom_court}}
        h2#fiche-ressource-nom-long {{ressource.nom_long}}
    section.panel-actions.panel-actions-tab-select
      #btn-fiche-ressource-infos.btn-tab.btn-action(ng-click="afficherSousSection(0)", ng-class="{selected : (panneau_affiche == 0)}") Infos
      #btn-fiche-ressource-apprentissage.btn-tab.btn-action(ng-click="afficherSousSection(1)", ng-class="{selected : (panneau_affiche == 1)}", ng-show="ressource.id_usage == 1") Objectifs
      #btn-fiche-ressource-section.btn-tab.btn-action(ng-click="afficherSousSection(2)", ng-class="{selected : (panneau_affiche == 2)}") Sections
    section#fiche-ressource-tab-wrapper
      section#fiche-ressource-tab-informations(ng-show="panneau_affiche == 0")
        #fiche-ressource-tab-informations-details
          span {{"Theme : " + ressource.theme}}
          span {{ressource.espace_nom_long}}
        #fiche-ressource-tab-informations-description
          | {{ressource.description}}
      section#fiche-ressource-tab-objectifs-apprentissage(ng-show="panneau_affiche == 1 && ressource.id_usage == 1")
        h1.fiche-ressource-tab-objectifs-apprentissage-header.tab-header.tab-header-toggle(ng-class="{'tab-header-toggle-inactive' : objectif_apprentissage_affiche }", ng-click="changerAffichageObjectif()")
          | Objectifs d"apprentissage ({{ressource.objectifs_apprentissage.nb_objectifs_valides + "/" + ressource.objectifs_apprentissage.liste_objectifs_apprentissage.length}})
        div(ng-show="objectif_apprentissage_affiche", ng-if="utilisateur_local.est_connecte")
          ul
            li.fiche-ressource-tab-objectif-apprentissage(pf-objectif-apprentissage="", ng-repeat="objectif in ressource.objectifs_apprentissage.liste_objectifs_apprentissage track by objectif.id_objectif")
              input(type="checkbox", ng-model="objectif.est_valide", ng-checked="objectif.est_valide")
              input(type="text", placeholder="Je cherche à atteindre...", ng-model="objectif.nom", ng-model-options="{ updateOn: 'default blur', debounce: {'default': 2000, 'blur': 0} }")
              .fiche-ressource-tab-objectif-apprentissage-delete(ng-click="enleverObjectif(objectif)", ng-show="objectif_apprentissage_edition") &#8211;
          .btn-action(ng-click="ajouterObjectif()") Ajouter un objectif
          .btn-action(ng-click="editerObjectifs()") Editer les objectifs
        div(ng-show="objectif_apprentissage_affiche", ng-if="!utilisateur_local.est_connecte")
          span Vous devez &#234;tre connect&#233; pour acc&#233;der &#224; cette fonctionnalit&#233;.
        h1.fiche-ressource-tab-objectifs-apprentissage-header.tab-header.tab-header-toggle(ng-class="{'tab-header-toggle-inactive' : profil_apprentissage_affiche}", ng-click="changerAffichageProfil()") Mon profil d"apprentissage
        div(ng-show="profil_apprentissage_affiche", ng-if="utilisateur_local.est_connecte")
          div(pf-question-profil-apprentissage="", ng-repeat="question in ressource.profil_apprentissage.liste_questions track by question.id_question")
            h2.tab-header {{question.question}}
            ul
              li(ng-repeat="rep in question.liste_reponses track by rep.id_reponse")
                input(type="radio", ng-model="question.id_reponse_valide", ng-value="rep.id_reponse")
                label {{rep.reponse}}
        div(ng-show="profil_apprentissage_affiche", ng-if="!utilisateur_local.est_connecte")
          span Vous devez &#234;tre connect&#233; pour acc&#233;der &#224; cette fonctionnalit&#233;.
      section#fiche-ressource-tab-capsules(ng-show="panneau_affiche == 2")
        h1#fiche-ressource-tab-capsule-header.tab-header Liste des sections
        ol
          li.fiche-ressource-tab-capsule(ng-repeat="capsule in ressource.capsules track by capsule.id_capsule")
            a(ng-if="capsule.url_web != ''", ng-href="{{capsule.url_web}}") {{capsule.nom_long}} 
            span.fiche-ressource-tab-capsule-no-link(ng-if="capsule.url_web == ''") {{capsule.nom_long}}
            span.fiche-ressource-tab-capsule-bouton-information(ng-click="capsule.informations_capsule_affichees = (capsule.informations_capsule_affichees == capsule.id_capsule ? null : capsule.id_capsule)") i
            span.fiche-ressource-tab-capsule-nombre-messages(ng-show="ressource.nombre_messages[capsule.id_capsule] > 0") {{ressource.nombre_messages[capsule.id_capsule]}}
            section#fiche-ressource-tab-capsule-informations(ng-show="capsule.informations_capsule_affichees == capsule.id_capsule")
              #fiche-ressource-tab-capsule-informations-auteurs
                span {{"Auteurs : " + capsule.auteurs}}
                br
                span {{"Licence : " + capsule.licence}}
                br
              #fiche-ressource-tab-capsule-informations-crea
                span {{"Cr&#233;&#233;e le " + (capsule.date_creation | date_timestamp)}}
                br
                span(ng-if="capsule.date_modification") {{"Mise &#224; jour le " + capsule.date_edition}}
                br
              #fiche-ressource-tab-capsule-informations-description
                | {{capsule.description}}
