include mixins

+modal("modal_connexion")
  include connexion
  
#sidebar(ng-controller="sidebar")
  #profil(ng-if="!utilisateur_local || !utilisateur_local.est_connecte")
    a.btn-action(ng-click="$root.modal_connexion = true") Connexion
  #profil(ng-if="utilisateur_local && utilisateur_local.est_connecte")
    //- img.bg-blur(ng-src="{{utilisateur_local.avatar_url}}")
    //- a(ng-href="{{'profil/' + utilisateur_local.id_utilisateur}}")
    img.avatar(ng-src="{{utilisateur_local.avatar_url}}")
    .profil-infos
      h5#profil-name {{utilisateur_local.username}}
      //- span#profil-pts {{utilisateur_local.rank[capsule.id_capsule].score}}
      //- span#profil-pts-label  {{"label_pts" | translate}}
  ul
    li 
      a(href="dashboard") 
        img(src="#{url_serveur_node}/public/img/icone/dashboard.png", alt="dashboard")
        span Tableau de bord
    li 
      a(href="messages") 
        img(src="#{url_serveur_node}/public/img/icone/messages.png", alt="messages")
        span Messages
    li 
      a(href="profil/moi")
        img(src="#{url_serveur_node}/public/img/icone/profil.png", alt="profil")
        span Mon profil
    li 
      a(href="reseau") 
        img(src="#{url_serveur_node}/public/img/icone/reseau.png", alt="reseau")
        span Mon réseau
    li 
      a(href="kiosque") 
        img(src="#{url_serveur_node}/public/img/icone/kiosque.png", alt="kiosque")
        span Kiosque
    li 
      a(href="utilisateurs") 
        img(src="#{url_serveur_node}/public/img/icone/utilisateur.png", alt="reseau")
        span Utilisateurs
    li 
      a(href="preferences") 
        img(src="#{url_serveur_node}/public/img/icone/preferences.png", alt="preferences")
        span Préférences
    //- li 
      a(href="aide") Aide
    li 
      a(href="backoffice") 
        img(src="#{url_serveur_node}/public/img/icone/backoffice.png", alt="backoffice")
        span Mes ressources

  //- h2 Administration
  //- ul
