doctype html
html.animated
	head
		title PairForm - Document protégé
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		script(src='#{url_serveur_node}/public/lib/js/jquery-1.9.0.js')
		script(src='#{url_serveur_node}/public/lib/js/toastr.min.js')
		link(rel='stylesheet', href='#{url_serveur_node}/public/lib/css/toastr.min.css')
		script(src="#{url_serveur_node}/public/lib/js/angular.min.js")
		script(src="#{url_serveur_node}/public/lib/js/angular-touch.min.js")
		script(src="#{url_serveur_node}/public/lib/js/angular-animate.min.js")
		script(src="#{url_serveur_node}/public/lib/js/angular-translate-2.7.2.min.js")
		script(src="#{url_serveur_node}/public/lib/js/angular-translate-loader-static-files.js")

		script.
			var PF = {
				unauthorized : #{unauthorized || false},
				url_serveur_node : "#{url_serveur_node}",
				url_to_follow : "#{url_to_follow}",
				gate_keeper : {
					id_capsule :  #{id_capsule},
					id_ressource : #{id_ressource}
				}
			};

		script(src="#{url_serveur_node}/private/js/login_controller.js")
		link(rel="stylesheet" href="#{url_serveur_node}/public/lib/css/bootstrap.min.css")
		link(rel="stylesheet" href="#{url_serveur_node}/private/css/login.css")

	body(ng-app="pf_login")
		br
		if id_capsule
			img#logo_ressource(src="#{url_logo}")
		else
			img#logo_ressource(src="#{url_serveur_node}/private/img/accueil/Header_A.jpg")
		main(ng-controller="controller_connexion")
			.panel.panel-default#loginBox
				section(ng-show="mode == 'connexion'")
					.panel-heading 
						h2 
							if id_capsule
								| Le document auquel vous accédez est protégé
							else
								| Connectez vous
					.panel-body
						form#form_login.form-horizontal(method='post', ng-submit="connecter()")
							.form-group
								label.col-sm-3.control-label {{"LABEL.COMPTE.IDENTIFIANT" | translate}} :
								.col-sm-9
									input.form-control(type='text', placeholder="Pseudo ou e-mail", name="username", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="connexion.username")
							
							.form-group
								label.col-sm-3.control-label {{"LABEL.COMPTE.MOT_DE_PASSE" | translate}} :
								.col-sm-9
									input.form-control(type='password', placeholder="Mot de passe", name="password", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="connexion.password")
							
							.btn-action(ng-click="mode = 'enregistrement-0'") Créer un compte
							input.btn-action.btn-success(type='submit', value="Accéder au document")

				section(ng-show="mode == 'mot_de_passe'")
					h2.panel-heading Réinitialiser votre mot de passe : 
					.panel-body
						form#form_login.form-horizontal(method='post', ng-submit="renvoyerMotDePasse()")
							.form-group
								label.col-sm-3.control-label {{"LABEL.COMPTE.EMAIL" | translate}} :
								.col-sm-9
									input.form-control(required, type="email", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="mot_de_passe_oublie.username")
							.btn-action(ng-click="mode = 'connexion'") Retour
							input.btn-action.btn-success(type='submit', value="Réinitialiser")
				section(ng-show="mode == 'enregistrement-0'")
					h2.panel-heading {{"LABEL.COMPTE.TITLE_NOUVEAU_COMPTE" | translate}} : 
					.panel-body
						form#form_login.form-horizontal(name="form_enregistrement" method='post', ng-submit="form_enregistrement.$valid && enregistrer()")

							.form-group
								label.col-sm-3.col-xs-12(for="register-username") {{"LABEL.COMPTE.PSEUDO" | translate}} :
								input.col-sm-8.col-xs-12(required, pattern=".{4,}", ng-minlength="4", title="4 caractères min.", placeholder="4 caractères min.", type="text", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.username")
							.form-group
								label.col-sm-3.col-xs-12(for="register-password") {{"LABEL.COMPTE.MOT_DE_PASSE" | translate}} :
								input.col-sm-8.col-xs-12(required, pattern=".{6,}", ng-minlength="6", title="6 caractères min.", placeholder="6 caractères min.", type="password", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.password")
							.form-group
								label.col-sm-3.col-xs-12(for="register-password2") {{"LABEL.COMPTE.MOT_DE_PASSE_CONFIRMATION" | translate}} :
								input.col-sm-8.col-xs-12(required, pattern=".{6,}", ng-minlength="6", title="6 caractères min.", placeholder="6 caractères min.", type="password", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.password2")
							.form-group
								label.col-sm-3.col-xs-12(for="register-email") {{"LABEL.COMPTE.EMAIL" | translate}} :
								input.col-sm-8.col-xs-12(required, placeholder="Attention : voir encadré ci dessous", type="email", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.email")
							.form-group
								label.col-sm-3.col-xs-12(for="register-name") {{"LABEL.COMPTE.NOM" | translate}} / {{"LABEL.COMPTE.PRENOM" | translate}} :
								input.col-sm-8.col-xs-12(required, placeholder="Nom prénom", type="text", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.name")
							.form-group
								label.col-sm-3.col-xs-12(for="register-etablissement") {{"LABEL.COMPTE.ETABLISSEMENT" | translate}} ({{"LABEL.OPTIONNEL" | translate}}) :
								input.col-sm-8.col-xs-12(placeholder="École, entreprise...", type="text", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.etablissement")
							.form-group
								input(required, type="checkbox", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model="enregistrement.register_cgu")
								label.label-small(for="register-cgu")
									| {{"LABEL.COMPTE.COCHER_CASE" | translate}}
									a(href="https://www.pairform.fr/node/cgu/utilisateur", target="_blank", style="color:#822;") {{"LABEL.COMPTE.CONDITIONS_GENERALES_UTILISATION" | translate}}

							.btn-action(ng-click="mode = 'connexion'") Retour
							input.btn-action.btn-success(type='submit', value="Créer votre compte")
				section(ng-show="mode == 'enregistrement-1'")
					h2.panel-heading Validation
					.panel-body 
						h3 Un e-mail de validation vous a été envoyé.
						b Vous devez d'abord valider votre adresse e-mail pour vous connecter sur PairForm.

						.btn-action.btn-success(ng-click="mode = 'connexion'") Se connecter
			if id_capsule
				div.well.alert-warning.clearfix(ng-show="mode == 'enregistrement-0'")
					.col-sm-2.col-xs-4
						span#attention ⚠
					.col-sm-10.col-xs-12
						h3 Attention
						| Si vous avez été invité(e) à consulter ce document par e-mail, veillez à bien utiliser l'adresse e-mail avec laquelle vous avez été contacté(e).
						br
						| Dans le cas contraire, nous ne pouvons garantir votre accès à ce document.
						
				div.well.clearfix
					.col-sm-2.col-xs-4
						img#logo_espace.img-thumbnail(src="#{url_logo_espace}")
					.col-sm-10.col-xs-12
						| Le gestionnaire de l'espace 
						b #{espace_nom_long} 
						| a restreint l'accès à ce document à un groupe de personnes.
						br
						| Si vous ne parvenez pas à y accéder, et que vous estimez qu'il s'agit d'une erreur, 
						a(href="mailto:contact@pairform.fr") vous pouvez envoyer un message au gestionnaire de la ressource. 
			else
				div.well.clearfix
					.col-sm-2.col-xs-4
						span#attention ⚠
					.col-sm-10.col-xs-12
						| Vous devez être connecté pour continuer. 
						br
						br
						| Si vous n'avez pas encore de compte, vous pouvez vous en créer un quelques minutes en cliquant sur "Creer un compte".
			div.alert.alert-warning
				| Si vous pensez qu'il s'agit d'une erreur, contactez-nous à l'adresse  
				span.label.label-warning 
					| contact - arobase - pairform.fr
				| , nous vous répondrons dans les meilleurs délais.
			footer
				| PairForm - CAPE - Ecole des Mines de Nantes (2015)
				
