.tile{
	/* background: #F3F3F3; */
	/* border: 1px solid #E2E2E2; */
	border-radius: 4px;
	/* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) inset; */
	margin: 4px 0;
}
.tile > h2 {
	margin: 4px 0;
}
.last-messages pf-message-list{
	/* max-height: 680px; */
	overflow-y:auto;
}
.last-ressources .ressources-items-container {
	/* white-space: nowrap; */
	/* overflow-x: auto; */
	border-top: 1px solid white;
	box-shadow: 0 -1px 0px rgb(214, 214, 214);
}
.last-ressources .ressources-items-container div {
	margin: 6px 10px 0;
	vertical-align: top;
	display: inline-block;
	position: relative;
	max-width: 60px;
}
.last-ressources .ressources-items-container div:first-child {
	/* margin-left: 50px; */
}
/*.last-ressources .ressources-items-container div .ressources-item-icon {*/
.ressources-item-icon {
	display: block;
	border-radius: 16px;
	width: 60px;
	margin: 0 auto;
	/*  transition: All 0.2s ease-in-out;
	-webkit-transition: All 0.2s ease-in-out;
	-moz-transition: All 0.2s ease-in-out;
	-o-transition: All 0.2s ease-in-out;
	-webkit-filter: grayscale(100%);*//* Chrome 19+, Safari 6+, Safari 6+ iOS */
	-webkit-backface-visibility: hidden;
}
.last-ressources .ressources-items-container div .ressources-item-icon:hover {
	-webkit-filter: grayscale(0%);
}
.last-ressources .ressources-items-container div span {
	color: #5F5F5F;
	line-height: 1em;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	display: inline-block;
	max-width: 80px;
	width:100%;
	white-space: normal;
	margin-top: 0.2em;
	text-align: center;
}
.last-ressources .ressources-items-container div img.icone_drap_res {
	position: absolute;
	right: 3px;
	top: 42px;
	width: 16px;
}
.last-ressources .ressources-title {
	display: block;
	padding: 1px 20px;
	border-radius: 4px;
	font-weight: 100;
	font-size: 20px;
	color: rgba(34, 34, 34, 1);
}

.last-ressources .ressources-items-container div:not([data-count='0'])::after {
	content:attr(data-count);
	min-width: 12px;
	font-size: 15px;
	font-weight: 300;
	text-shadow: 0 1px rgba(0, 0, 0, 0.62);
	text-align:center;
	/*position:relative;*/
	color:#EFEFEF;
	display:inline;
	z-index: 0;
	border-radius: 24px;
	padding: 0px 4px;
	/*min-width:22px;*/
	/* border: 1px solid #eee; */
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	margin:0 4px
	background: #5CBDD9;
	background: -moz-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%, #5CBDD9), color-stop(100%, #0D8CD7));
	background: -webkit-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -o-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -ms-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
	background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CBDD9', endColorstr='#0D8CD7', GradientType=1);
	position: absolute;
	margin: -65px -24px;
}
.last-ressources .ressources-items-container div .ui-tooltip-top{
	display: none;
}




/* Notifications */



.tile ul {
	list-style: none;
	/*display: none;*/
	padding: 0;
	border-radius: 10px;
	/* box-shadow: 0 5px 23px -10px rgba(0, 0, 0, 1); */
	opacity: 1;
	transition: all ease-in-out .2s;
}



.tile ul li > .content-action {
	position: absolute;
	right: 0px;
	background: -moz-linear-gradient(left,  rgba(240,240,240,0) 0%, rgba(240,240,240,0) 2%, rgba(240,240,240,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,240,240,0)), color-stop(2%,rgba(240,240,240,0)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(240,240,240,0) 0%,rgba(240,240,240,0) 2%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(240,240,240,0) 0%,rgba(240,240,240,0) 2%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(240,240,240,0) 0%,rgba(240,240,240,0) 2%,rgba(240,240,240,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(240,240,240,0) 0%,rgba(240,240,240,0) 2%,rgba(240,240,240,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f0f0', endColorstr='#f0f0f0',GradientType=1 ); /* IE6-9 */
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
.tile ul li > .content-action > *{
	display:inline-block;
	width: 25px;
	text-align: center;
	font-size: 16px;
	color: rgba(90, 90, 90, 0.83);
	/* background: orange; */
}

.tile ul li:not(:last-child){border-bottom: 1px solid rgba(175, 175, 175, 0.3);}
.tile ul li{
	text-align: left;
	background: white;
	margin: 4px 0;
	padding: 2px 2px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.tile ul li:hover{
	background-color: rgba(0,0,0,0.05);
}
.tile ul li > * {
	display: inline-block;
	max-width: 75%;
	vertical-align: middle;
}
.tile ul li > .content-wrapper > span:first-child {
	font-size: 14px;
	color: rgb(100, 100, 100);
}

.tile ul li > .content-wrapper > span {
	color: rgb(155, 155, 155);
	font-size: 12px;
	line-height: 14px;
	display: block;
}
.tile ul li-header {
	text-align: center;
}
.tile ul li > .illustration {
	width: 30px;
	height: 30px;
	font-size: 16px;
	text-align: center;
	margin: 0 8px;
	background-size: 24px;
	background-position: 50%;
	background-repeat: no-repeat;
}

.tile ul li > .illustration.negatif{
	color: rgb(255, 173, 0);
}

.tile ul li > .illustration.positif{
	color: green;
}