
.formBox h1 {
	font-size: 1.5em;
	color: black;
	line-height: 1.5em;
	padding: 10px 0px;
}
.formBox form,
.formBox div {
	line-height: 36px;
	padding: 20px 0px;
	border-top: 1px solid rgb(247, 247, 247);
	box-shadow: 0 -1px 0 rgb(218, 218, 218);
}
.formBox form input[type=text],
.formBox div input[type=text],
.formBox form input[type=email],
.formBox div input[type=email],
.formBox form input[type=password],
.formBox div input[type=password] {
	float: right;
	height: 26px;
    padding: 0 4px;
	width: 130px;
	/* border: 1px solid rgb(199, 199, 199); */
	border: 1px solid rgb(199, 199, 199);
}
.formBox form select {
	float: right;
	width: 130px;
	margin: 7px 2px 0px 0px;
}
.formBox form input[type=submit],
.formBox div input[type=submit] {
	margin: 40px auto 0px;
	float: right;
	border: 0;
}
.formBox form input[type=button],
.formBox div input[type=button] {
	margin-top: 40px;
	float: left;
}
#popin-choix-autres-langues, #popin-choix-autres-langues-register, 
#popin-change-langue-app-register, #popin-change-langue-app-profil {
	display: none;
}
.formBox #registerBox .label-small{
	font-size: 10px;
	line-height: normal;
	display: inline-block;
	float: right;
	width: 90%;
}

.formBox #registerBox #register-cgu {
	float: left;
}
.formBox #postRegisterBox {
	max-width: 320px;
}
.formBox #postRegisterBox h3 {
	margin-bottom: 10px;
}
.formBox #postRegisterBox div {
	line-height: normal;
}
.formBox #postRegisterBox div span:last-child {
	font-style: italic;
}


.onoffswitch {
	position: relative; width: 76px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	text-align: left;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #808080; border-radius: 26px;
}

.onoffswitch-inner {
	width: 200%; margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
	float: left; width: 50%; height: 26px; padding: 0; line-height: 26px;
	font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	border-radius: 26px;
	box-shadow: 0px 13px 0px rgba(0,0,0,0.08) inset;
}

.onoffswitch-inner:before {
	content: "Oui";
	padding-left: 10px;
	background-color: #F28C1F; color: #F2F2F2;
	border-radius: 26px 0 0 26px;
}

.onoffswitch-inner:after {
	content: "Non";
	padding-right: 10px;
	background-color: #F2F2F2; color: #7D7D7D;
	text-align: right;
	border-radius: 0 26px 26px 0;
}

.onoffswitch-switch {
	width: 26px; margin: 0px;
	background: #F2F2F2;
	border: 2px solid #808080; border-radius: 26px;
	position: absolute; top: 0; bottom: 0; right: 46px;
	-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
	background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
	background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
	background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
	background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
	box-shadow: 0 1px 1px white inset;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px; 
}