.logo_espace{
	max-width: 100px;
	display:inline-block;
	border-radius:4px
}

.espace-container{

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	/*margin: 0px auto;*/
}
.espace .background{
	/*margin-bottom: 10px;*/
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	/* background-size: cover; */
	background-position: 50%;
	background-size: 100px 100px;
	background-color: white;
	-webkit-transition: all ease-in-out .5s;
	-o-transition: all ease-in-out .5s;
	transition: all ease-in-out .5s;
}
.espace.small-espace{
	/*min-width: 50px;*/
	/*min-height: 50px;*/
	max-width: 100px;
	max-height: 100px;
}
.espace.large-espace{
	/*min-width: 160px;*/
	/*min-height: 160px;*/
	max-width: 250px;
	max-height: 280px;
}
.espace.huge-espace{
	/*min-width: 200px;*/
	/*min-height: 200px;*/
	max-width: 360px;
	/*max-height: 360px;*/
}
.espace .espace-content.image img{
	width: 100%;
}

.espace .nombre_ressources{
	float: right;
	background-color: rgba(255, 126, 0, 0.66);
	padding: 0 7px;
}
.espace .small-nombre{
	background-color: rgba(255, 255, 255, 0.66);
}
.espace .large-nombre{
	background-color: rgba(255, 68, 0, 0.66);
}
.espace .huge-nombre{
	background-color: rgba(255, 0, 0, 0.66);
}
.espace-group{
	width: calc(100% - 160px);
}
.espace{
	-webkit-transition: all ease-in-out .4s;
	-o-transition: all ease-in-out .4s;
	transition: all ease-in-out .4s;
	position: relative;
	display:inline-block;
	margin-right:10px;
	border: 1px solid #E2E2E2;
}
.espace:hover{
	/*-webkit-transform: scale(1.05);*/

	-webkit-filter: saturate(150%);
	-ms-filter: saturate(150%);
	-o-filter: saturate(150%);
	filter: saturate(150%);
}
.espace.flipped{
	width: initial !important;
	padding: 35px;
	height: auto !important;
}

hr{
	border-top: 1px solid rgba(255, 255, 255, 0.21);
	box-shadow: 0 1px 0px black;
}
.espace .brand {
	position: absolute;
	bottom: 0px;
	background: linear-gradient(transparent -20%, rgb(95, 95, 95) 46%);
	/* height: 30px; */
	left: 0px;
	right: 0px;
	text-align: center;
	color: #EFEFEF;
}
.pf-centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.finder-no-results{
	color: black;
	text-align: center;
}
.espace .brand .badge, .espace .espace-status .badge{
	right: 0px;
}
.espace.flipped .espace-content.image{
	/*z-index: 200;*/
/*	-webkit-transition: all ease-in-out .8s;
-o-transition: all ease-in-out .8s;
transition: all ease-in-out .8s;
*/	-webkit-filter: blur(4px);
-ms-filter: blur(4px);
-o-filter: blur(4px);
filter: blur(4px);
background: white;
/*-webkit-transform: rotateY(180deg) scale(1.5);*/
}
.espace.flipped .espace-content.image img{
opacity: 0.4;
}