#comBar {
	/*cursor: move;*/
	box-sizing: border-box;
	z-index: 2000;
	font-size: 14px;
	position: fixed;
	min-width: 795px;
	height: 50%;
	/*width: 60%; */
	bottom: 0px;
	overflow: auto;
	/*resize: both;*/
	background: #ECECEC;
/*  background: -moz-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(20%, #eaeaea), color-stop(80%, #dddddd), color-stop(100%, #dbdbdb));
	background: -webkit-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	background: -o-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	background: -ms-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	background: linear-gradient(to bottom, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dbdbdb', GradientType=0);
*/  opacity: 0.98;

	padding: 20px 0px 20px 20px;
	box-shadow: 1px -1px 5px rgba(0, 0, 0, 0.2);
	border-top-right-radius: 4px;
	
	transition:all ease-in-out .2s;
}

#comBar .btn-cross-fermer {
	top: -14px;
	margin-right: -8px;
}

#comBar #comAction {
	display: inline-block;
	position: fixed;
	vertical-align: top;
	padding: 0 20px;
}
#comBar #comAction > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#comBar #comAction > ul li {
	cursor: pointer;
	display: block;
	line-height: 22px;
	/*width: 155px;*/
	width: 150px;

	margin-bottom: 8px;
	/*transition: All 0.2s ease-in-out;
	-webkit-transition: All 0.2s ease-in-out;
	-moz-transition: All 0.2s ease-in-out;
	-o-transition: All 0.2s ease-in-out;
	-webkit-filter: grayscale(100%);
	-webkit-transform: translate3d(0, 0, 0);*/
	/* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

#comBar #comAction > ul li img {
	vertical-align: middle;
}
pf-message-list{
	display: block;
}
pf-message-list .message-list-action-wrapper{
	margin-bottom: 10px;
}
pf-message-list .message-list-action-wrapper input[type=search]{
	display: block;
}

#comAction::before {
	content: "";
	position: absolute;
background: rgba(236, 236, 236, 0.9);
	top: -20px;
	left: -2px;
	width: 101%;
	display: block;
	height: 20px;
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

pf-message::before.active::before{
	opacity:1;
}

pf-message {
	padding: 12px 8px 2px 8px;
	min-width: 220px;
	/* padding: 20px; */
	display: block;
	box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.3);
	margin-bottom: 10px;
	border-radius: 4px;
	z-index: 25;
	clear: both;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	/*
      -webkit-transition: -webkit-transform .3s ease;
      -webkit-transform-origin-x: 0px;
      -webkit-transform-origin-y: 0px;
      -webkit-transform-origin-z: 0px;    
      -webkit-transform-style: preserve-3d;
      
      &:hover {
        -webkit-background-size: 225px 220px;
      
        -webkit-transform: rotateX(10deg);
      }
      */
	background: rgb(251, 251, 251);
}
pf-message.highlighted {
	-webkit-animation: highlight ease-in-out 1s normal forwards;
	-moz-animation: highlight ease-in-out 1s normal forwards;
	-o-animation: highlight ease-in-out 1s normal forwards;
	animation: highlight ease-in-out 1s normal forwards;
	-webkit-backface-visibility:hidden;
}

@-webkit-keyframes highlight{
	0% { 
		-webkit-transform: scale(1);
	}
	50%{
	 -webkit-transform: scale(1.05); 
	}
	100% { 
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes highlight{
	0% { 
		-moz-transform: scale(1);
	}
	50%{
	 -moz-transform: scale(1.05); 
	}
	100% { 
		-moz-transform: scale(1);
	}
}
@-o-keyframes highlight{
	0% { 
		-o-transform: scale(1);
	}
	50%{
	 -o-transform: scale(1.05); 
	}
	100% { 
		-o-transform: scale(1);
	}
}
@keyframes highlight{
	0% { 
		transform: scale(1);
	}
	50%{
	 transform: scale(1.05); 
	}
	100% { 
		transform: scale(1);
	}
}


pf-message.rank-1 .comContent .comTitle .comUserRank{
	color: rgb(50, 113, 21);
}
pf-message.rank-1{
		border-left: 2px rgba(53, 171, 0, 0.81) solid;
}
pf-message.rank-2 .comContent .comTitle .comUserRank{
	color: rgba(17, 46, 197, 0.63);
}
pf-message.rank-2{
		border-left: 3px rgba(17, 46, 197, 0.63) solid;
}
pf-message.rank-3 .comContent .comTitle .comUserRank{
	color: rgb(169, 2, 2);
}
pf-message.rank-3{
		border-left: 4px rgb(199, 0, 0) solid;
}
pf-message.rank-4 .comContent .comTitle .comUserRank{
	color: rgb(230, 167, 1);
}
pf-message.rank-4{
		border-left: 5px rgba(255, 184, 0, 1) solid;
}
pf-message.rank-5 .comContent .comTitle .comUserRank{
	color: rgb(74, 74, 74) ;
}
pf-message.rank-5{
		border-left: 7px rgb(74, 74, 74) solid;
}
pf-message .comProfil {
	margin-right: 6px;
	float: left;
}
pf-message .comProfil .voteSection {
	vertical-align: top;
	margin: 0 auto;
	line-height: 24px;
	height: 23px;
}
pf-message .comProfil .voteSection div{
	display: inline-block;
}
pf-message .comProfil .voteSection .vote {/* Firefox 10+, Firefox on Android *//* IE6-9 */
	cursor: pointer;
	margin: 0 auto;
	
    color: #444444;
    background: #e0e0e0;
    width: 20px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	border-radius: 6px;
}
pf-message .comProfil .voteSection .voteYes {
	float: right;	
}
pf-message .comProfil .voteSection .voteNo {
	float: left;
}
pf-message .comProfil .voteSection .voteYes:hover,
pf-message .comProfil .voteSection .voteYes.active {
	/*background: url("../img/arrow_right.png") no-repeat;*/
	color: green;
	background: rgba(0, 228, 38, 0.1);
}
pf-message .comProfil .voteSection .voteNo:hover,
pf-message .comProfil .voteSection .voteNo.active {
	/*background: url("../img/arrow_left.png") no-repeat;*/
	color: red;
	background: rgba(250, 104, 93, 0.1);
}
pf-message .comProfil .voteSection .voteCount {
	font-size: 16px;
	text-align: center;
	color: #444;
	vertical-align: top;
	margin: 0px 3px;
}
pf-message .comProfil .voteSection .voteCount .diff-votes{
	font-size: 14px;
}

pf-message .comProfil .voteSection .voteCount .negatif{
	color: orange;
	display: block;
	line-height: 16px;
	border-bottom: 1px solid rgb(174, 174, 174);
}
pf-message .comProfil .voteSection .voteCount .positif{
	color: green;
	display: block;
	line-height: 20px;
}
pf-message .comProfil .imgProfil {
	overflow: hidden;
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	-webkit-backface-visibility: hidden;
}
pf-message .comContent {
	display: inline-block;
	width: calc(100% - 65px);
	width: -moz-calc(100% - 65px);
	width: -webkit-calc(100% - 65px);
}
pf-message .comContent .comTitle {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
pf-message .comContent .comTitle .comUserName {
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	color: #444;
}
pf-message .comContent .comTitle .comUserRank {
	font-size: 10px;
	/* font-style: italic; */
	color: grey;
}
pf-message .comContent .comTitle .timeCreated {
	/* font-style: italic; */
	font-size: 12px;
	color: #8C8C8C;
	float: right;
	font-size: 12px;
	display: inline-block;
	line-height: 18px;
}
pf-message .comContent .comText {
	min-height: 40px;
	margin: 10px 0;
	white-space: pre-line;
	/*text-overflow: ellipsis;
	overflow-x: hidden;*/
	word-wrap: break-word;
	resize: none;
	color: rgb(49, 49, 49);
	font-size: 12px;
}
pf-message .comContent .textEdit {
	width: 100%;
	min-height: 40px;
	margin-top: 10px;
	border: none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}
pf-message .comContent .actionSection {
	font-size: 11px;
	color: grey;
	text-align: right;
}
pf-message .comContent .actionSection > div {
  display: inline-block;
  border-right: 1px solid #AAA;
  padding: 0 3px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
pf-message .comContent .actionSection > div:hover {
	color: white;
	background-color: grey;
}
pf-message .comContent .actionSection .comSupprDef:hover {
	background-color: red;
}

pf-message .comContent .actionSection > div:last-child {
	border-right: 0px solid #FFF;
}
pf-message .comModifierLangue img{
	width: 14px;
}
pf-message .supprime {
	opacity: 0.4;
}
pf-message.reponse, pf-message #formComBar.reponse{
  margin-left: 30px;
}
pf-message.reponse:before , pf-message #formComBar.reponse:before{
  content: "\21b5";
  position: absolute;
  font-size: 3em;
  color: rgb(255, 255, 255);
  text-shadow: -1px 1px 2px rgb(175, 175, 175);
  margin-left: -70px;
  display: none;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
}
pf-message .comMedaille,pf-message .comDefi,pf-message .comGeolocalise {
	width: 32px;
	height: auto;
	vertical-align: top;
}


pf-message .comTagsLabel {

	display: inline;
	background: rgb(232, 232, 232);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;
	padding: 2px 10px;
	margin-right: 5px;
	border-radius: 18px;
	color: #666;
}

pf-message .comTagsLabel > span {
		background: rgb(171, 45, 45);
		font-size: 14px;
		line-height: 15px;
		color: white;
		width: 16px;
		text-align: center;
		border-radius: 14px;
		cursor: pointer;
		display:none;
}

pf-message .comTagsLabel:hover > span {
		display: inline-block;
}
pf-message.dragging {
	-webkit-animation: turnToIcon ease-in-out 0.4s normal forwards;
	-o-animation: turnToIcon ease-in-out 0.4s normal forwards;
	animation: turnToIcon ease-in-out 0.4s normal forwards;
}

#comBar .comModifierLangue img {
height: 15px;
vertical-align: middle;
}

.pf pf-image-thumbnail {
 display:block;
}

.pf .comPjs {
	opacity: 1;
	border-radius: 8px;
	margin-top: 0px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: rgba(255, 255, 255, 0);
	padding: 2px 6px;
	background: rgba(242, 242, 242, 0.9);
	/*border: 1px solid rgba(190, 190, 190, 0.8);*/
	width: 354px;
	/* padding-right: 150px; */
	text-align: left;
	transition: All 0.2s ease-in-out;
	-webkit-transition: All 0.2s ease-in-out;
	-moz-transition: All 0.2s ease-in-out;
	-o-transition: All 0.2s ease-in-out;
}

.pf .comPjs .comPj {
 display:inline-block;
 cursor: pointer;
 border-radius: 8px;
 margin-right: 6px;
}

.pf .comPjs .comPj img{
 
 height: 40px;
 cursor: pointer;
 /*border-radius: 8px;*/
 background: url("../img/loading.svg") no-repeat;
 background-size: contain;
	box-shadow: 0 1px 2px -1px black;
}
@-webkit-keyframes turnToIcon{
	
	0% { 
		/*background-image: none;*/
		-webkit-transform: scale(1);
		/*opacity: 1;*/
	}
	100% { 
		-webkit-transform: scale(0.2);
		opacity: 1;
	}
 /* 85%{
		-webkit-transform: scale(0.2);
		background-image: url("../img/lire.png");
		background-repeat: no-repeat;
		background-size: 28px 28px;
		background-position: 6px 6px;
		opacity: 0;
	}
	100%{
		-webkit-transform: scale(0.2);
		opacity: 1;
	}*/

}

.pf-message, .pf.pf-message {
	opacity: 0.98;
	z-index: 300;
	display: none;
	position: absolute;
	font-size: 16px;
	padding: 15px;
	color: #ffffff;
	text-align: left;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.pf-message.valid {
	background-color: #39B521;
}
.pf-message.error {
	background-color: #c04848;
}
.pf-message.info {
	background-color: #101CC4;
}
.pf-message.success {
	background-color: #111;
	color: #ddd;
}
.pf-message .success-image {
	width: 64px;
	height: 64px;
	display: inline-block;
	border-radius: 20%;
	line-height: 64px;
}
.pf-message .success-title {
	font-size: 16px;
	color: #EEE;
}
.pf-message .success-inner {
	display: inline-block;
	margin: 0 8px;
	vertical-align: top;
}
.pf-message .message-inner {
	position: relative;
}
.pf-message .message-text {
	padding: 15px;
}
.pf-message .message-close {
	padding: 2px 6px 3px 6px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #fcb2b1 !important;
	line-height: 1;
	border: 1px solid rgba(255, 255, 255, 0.2);
	margin-top: 8px;
	margin-right: 8px;
	position: absolute;
	top: 0px;
	right: 0px;
}


/* Overrides */

#comBar #comCloser{
/* margin-left: -5px; */
/* z-index: 20001; */
}
#comBar #comAction{
	/* display: none; */
	display: block;
	position: fixed;
	border-right: 0px;
	box-shadow: none;
	padding: 0px 20px;  
	text-align: center;
background: rgba(236, 236, 236, 0.9);
z-index: 20000;
}

#comBar{
	min-width: 580px;
	max-width: 580px;
	border-radius: 4px;
	padding: 20px 0;
	left: 0px;
	resize:vertical;
	max-height: calc(100% - 34px);
}


#comBar:not(.ng-animate):not(.sticky):not(:hover){
	/*opacity: 0.5;*/
	transition-delay: 2.5s;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	filter: url(blur.svg#blur);
}
#comBar.expanded:not(.ng-animate):not(.sticky):not(:hover){
	left: -330px;
}

#comBar:not(.ng-animate):not(.sticky):not(.expanded):not(:hover){
	bottom: -150px;
	left: -330px;
}
#comBar.ng-animate,
#comBar:hover{
	opacity: 0.98;
}

#comBar.ng-hide{
	/*bottom: -50%;*/
	opacity: 0;
	left: -330px;
}
#comBar:not(.expanded).ng-hide{
	bottom: -150px;
}

#comBar.expanded{
	height: calc(100% - 34px);
}

#comBar.detached{
	box-shadow: 0px 20px 20px -15px rgba(0, 0, 0, 0.3);
}

	
#comBar #comAction ul li {
		display: inline-block;
}


pf-carte {
	box-shadow: 0 20px 14px -14px rgba(0, 0, 0, 0.3);
	border: 1px solid #C7C7C7;
	display: block;
}
pf-carte .olAlphaImg {
	width: 32px !important;
	height: 32px !important;
	margin-left: -5px;
	margin-top: -4px;
}
pf-carte .olControlAttribution {
	bottom: 0px;
	right: 0px;
	background: rgba(255, 255, 255, 0.85);
	padding: 0 6px;
	border-top-left-radius: 10px;
}
pf-carte .olControlZoom  {
	bottom: 4px;
	left: 0px;
}
pf-carte .olControlZoom .olButton {
	padding: 2px 6px;
	margin:4px;
	font-size:16px;
	background: rgba(255, 255, 255, 0.85);
	border-radius:14px;
	color: #3E3D3D;
}


#comBar .btn-cross-fermer.btn-cross-expand {
	margin-right: 12px;
	/* margin-top:1px; */
	background-color: #009C00;
	border: 1px rgb(5, 113, 35) solid;
}

#comBar .btn-cross-fermer.btn-cross-expand.expanded{
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}

.comPartager-container{
	transition: opacity ease-in-out .2s;
 -moz-transform: translate(-63%,-150%);
 -webkit-transform: translate(-63%,-150%);
 -o-transform: translate(-63%,-150%);

	transform: translate(-63%,-150%);
	width: 150px;
	word-wrap: break-word;
}
.comDonnerMedaille-container{
	transition: opacity ease-in-out .2s;
 -moz-transform: translate(-60%,-135%);
 -webkit-transform: translate(-60%,-135%);
 -o-transform: translate(-60%,-135%);
 transform: translate(-60%,-135%);
}
.comModifierLangue-container{
	margin-top: -60px;
	margin-left: -48px;
	padding: 0 5px;
}

.comMessPrive {
	color: rgb(223, 101, 0);
	font-weight: 200;
	font-size: 12px;
}


.profil-ressource-upgrade {
	padding: 2px 8px;
	margin: 0;
	min-width: initial;
}

pf-menu-changer-role.ui-tooltip-bottom{ 
	-moz-transform: translate(-60%,-145%);
	-webkit-transform: translate(-60%,-145%);
	-o-transform: translate(-60%,-145%);
	transform: translate(-60%,-145%);
	
}
pf-menu-tags .ui-tooltip-bottom{ 
	transition: opacity ease-in-out .2s;
	-moz-transform: translate(-90%,-145%);
	-webkit-transform: translate(-90%,-145%);
	-o-transform: translate(-90%,-145%);
	transform: translate(-90%,-145%);
	padding: 5px;
	opacity: 1;
}
pf-menu-tags .ui-tooltip-bottom input {
	resize: none;
	height: 20px;
	width: 170px;
}
pf-menu-tags .ui-tooltip-bottom::after {
	left: 60px;
}
.comTagsContainer {
	margin-top: 8px;
}

.last-messages-container{
	/* max-width: 2000px; */
	height: calc(100vh - 40px);
	box-sizing: border-box;
	white-space: nowrap;
	overflow-x: auto;
	/* position: relative; */
}
.last-messages-container .last-messages {
	max-width: 400px;
	min-width: 320px;
	display: inline-block;
	vertical-align: top;
	background: #EFF0F0;
	border: 1px solid #E6E6E6;
	margin-top: 10px;
	margin-right: 20px;
	padding: 10px;
}


.messages-control{
	position: fixed;
	/*	top: 0;
	bottom: 0;*/
	max-width: 150px;
	min-width: 50px;
	width: 15%;
	height: calc(100vh - 20px);
	/*opacity: .5;
	filter: alpha(opacity=80);*/
	font-size: 20px;
	top: 10px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	z-index: 2;
	transition:opacity ease-in-out .3s;
	vertical-align: middle;
}
.messages-control .glyphicon{
	top: 215px;
}
.messages-control:hover{
	opacity: 0.7;
	display: block;
}
.messages-control.control-hidden{
	opacity: 0;
	display: none;
}
.left.messages-control{
	margin-left: -24px;
	cursor: w-resize;
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.right.messages-control{
	right: 10px;
	cursor: e-resize;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(98%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.message-list-charger {
    display: block;
}