
#pres-wrapper{
	position: fixed;
	top: 34px;
	left:0px;
	width: 100%;
	height: 100%;
	overflow:scroll;
	z-index: 2005;
}
#pres-container{
	font-weight: 200;
}
#pres-container .popin {
	height: 80%;
	overflow-y: scroll;
	overflow-x: hidden;
}
#pres-container h1, #pres-container h2, #pres-container h3{
	font-weight: 100;
	text-transform: initial;
	background: transparent;
	color: rgb(209, 98, 11);
	text-shadow: 0 -1px rgba(255, 238, 211, 0.75), 0 1px rgba(148, 84, 6, 0.43);
	padding: 0px;
	position: initial;
	margin: 0 0 10px 0;
	border: none;
}
#pres-container h1{
	font-size: 34px;
}
#pres-container h2{
	font-size: 26px;
}

#pres-container h3{
	font-size: 22px;
}
#pres-container hr{
	border-top: 1px solid #BEBEBE;
	box-shadow: 0 -1px 0px #F5F5F5;
	margin: 40px;
	clear: both;
}
#pres-items-container p{
	font-size: 18px;
	text-align: inherit;
	margin: 1em 0;
}
.pres-header{
	text-align: center;
}

.pres-section{
	padding: 20px;
	min-height: 220px;
	width: 900px;
	margin: 0 auto;
	clear: both;
}
.pres-content{
	float: left;
	clear: left;
	width: 350px;
}
.pres-content-illustration{
	float: right;
	overflow: hidden;
	width: 530px;
	padding: 2px 1px;
	position: relative;
}

.pres-content-illustration > img{
	position: relative;
	right: -150px;
	outline: 1px solid rgb(207, 207, 207);
	vertical-align: middle;
	-webkit-transition: all ease-in-out .5s;
	-moz-transition: all ease-in-out .5s;
	-o-transition: all ease-in-out .5s;
	transition: all ease-in-out .5s;
}
.pres-content-illustration.no-slide > img{
	float: right;
	right: 0px;
}
.pres-content-illustration:not(.no-slide):hover > img{
	right: 0px;
}
.pres-score-container{
	display: inline-block;
	vertical-align: top;
}
.pres-score-value{
	font-size: 26px;
	text-align: center;
	color: green;
}
.pres-score-value-neg{
	color: red;
}
.pres-score-action{
	font-size: 12px;
	color: gray;
	max-width: 85px;
	text-align: center;
}
#btn-pres-creer-compte{
	margin: 0 auto;
	display: block;
	width: 180px;
}
.pres-footer{
	text-align: center;
	display: block;
}