
#profil-wrapper > section{
	margin-bottom:8px;
}
#profil-wrapper > section > span{
}
#profil-wrapper .btn-action {
	min-width: 130px;
}

#profil-info{
	margin-left: 9px;

}
#profil-info-avatar-label {
	background-color: rgba(0, 0, 0, 0.55);
	border-radius: 70px;
	color: rgb(231, 231, 231);
	cursor: pointer;
	font-weight: 200;
	height: 28px;
	line-height: 14px;
	margin-top: -100%;
	opacity: 0;
	padding: 26px 0px;
	position: absolute;
	text-align: center;
	transition: opacity ease-in-out .2s, margin-top ease-in-out .2s;
	width: 100%;
	display: block;
	box-sizing: content-box;
}
#profil-icone-langue {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
#profil-info-avatar {
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 80px;
}
#profil-info-avatar:hover #profil-info-avatar-label  {
	/* margin-top: -100%; */
	opacity: 1;
}

.profil-ressource-upgrade:hover::after {
	background-color: orange;
}
.profil-ressource.profil-ressource-locked, .ressource-locked{
	position: relative;
}
.profil-ressource.profil-ressource-locked img, .ressource-locked img{
	-webkit-filter: blur(4px); -moz-filter: blur(4px); -o-filter: blur(4px); -ms-filter: blur(4px); filter: blur(4px); filter: url(blur.svg#blur);
	/*position: relative;*/
}
.profil-ressource.profil-ressource-locked::before{
	position: absolute;
	content: "";
	background: url('../img/lock_48.png') no-repeat;
	width: 48px;
	height: 48px;
	z-index: 2;
	bottom: 15px;
	left: 8px;
}

.ressource-locked::before{
	position: absolute;
	content: "";
	background: url('../img/lock_48.png') no-repeat 50% 25%;
	
	z-index: 2;
	width: 100%;
	height: 100%;
}

#avatar_utilisateur{
	background: rgba(255, 255, 255, 0.5);
}
#avatar_utilisateur, #profil-img{
	width: 80px;
	height: 80px;
}
#profil-info-inner {
		max-width: 255px;
}
#profil-info-inner, .profil-ressource-inner{
		display: inline-block;

		vertical-align: top;
		margin-left: 8px;
		position: relative;
}
#profil-username{
		font-size: 28px;

		font-weight: 100;
		text-shadow: 0 -1px #E2E2E2;
		font-weight: 100;
}
#profil-etablissement{
		margin-top: 12px;

}
#profil-status {
		font-style: italic;
		margin-top: 10px;
}
#profil-status.online {
		color: rgb(4, 153, 16);
}
#profil-status.offline {
color: rgb(99, 0, 0);
}
#btn-profil-config {
	position: static;
	display: inline-block;
	cursor: pointer;
}
#profil-actions{
	/* margin: 0 auto;
	width: 260px;*/
}

#profil-badge-container, #profil-succes-container, #profil-ressource-container{
	padding: 10px;
	margin-top: 4px;
	border-top: 1px solid rgb(247, 247, 247);
	box-shadow: 0 -1px 0 rgb(218, 218, 218);
	display: block;
}

 #profil-ressource-container{
	padding: 10px 0px;
 }
#profil-badge-container > img, #profil-succes-container > img{
	border-radius: 20%;
	margin-right: 4px;
	width: 64px;
	height: 64px;
	cursor: pointer;
}
#profil-succes-label{

}
#profil-niveaux ul{
	/*overflow-y: auto;
	overflow-y: overlay;*/
	/*height: 360px;*/
}
#profil-niveaux-label{

}
#profil-ressource-container > li{
	list-style:none;
	padding: 4px 0;
	display: inline-block;
	width: 177px;
	border-bottom: 1px solid rgb(238, 238, 238); 
	box-shadow: 0 1px 0 rgb(218, 218, 218);
}
#profil-ressource{

}
.profil-ressource-image{
	width: 64px;
	height: 64px;
}
.profil-ressource-inner{

}
.profil-ressource-nom{
	font-size: 14px;

	width: 100px;
	color: #797979;
}
.profil-ressource-rang{
	text-overflow: ellipsis;

}
.profil-ressource-points{
	font-weight: 700;

}

.rank-upgrade-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.rank-upgrade-list-item {
	margin-bottom: 4px;
	display: block;
}

.rank-upgrade-list-item:last-child {
	background: rgb(255, 220, 176);
}

#profil-config-form input, #profil-config-form select{
	width: 200px;
}

#btn-profil-autres-langues{
	width: 188px;
	float: right;
}

#btn-register-autres-langues{
	width: 120px;
	float: right;
}

#popin-choix-autres-langues, #popin-choix-autres-langues-register, 
#popin-change-langue-app-register, #popin-change-langue-app-profil {
	min-height: 1px;
}
#popin-choix-autres-langues #btn-ok-choice-other-languages,
#popin-choix-autres-langues-register #btn-ok-choice-other-languages-register
{
	float: right;
}
#popin-change-langue-app-register .btn-action, #popin-change-langue-app-profil .btn-action {
	float: right;
}
#popin-change-langue-app-register p, #popin-change-langue-app-profil p {
	font-size: 12px;
	margin: 10px 0px;
}
#sec-other-languages{
	padding: 4px 4px 4px 0;
	overflow-y: auto;
	/*overflow-y: overlay;*/
	max-height: 200px;
}
#sec-other-languages ul{
	list-style: none;
	padding-left: 0px;
	margin: 0;
}
#sec-other-languages ul li{
	border-bottom: 1px solid rgb(238, 238, 238); 
	box-shadow: 0 1px 0 rgb(218, 218, 218);
	height: 40px;
	padding: 4px;
	position: relative;

	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
}
#sec-other-languages ul li:hover{
	background-color: #eda32b;
}
#sec-other-languages ul li img{
	position: absolute;
	left: 10px;
	top: 10px;
}
#sec-other-languages ul li .name-langue{
	position: absolute;
	/*font-size: 25px;*/
	top: 10px;
	left: 50px;
}
#sec-other-languages ul li input[type=checkbox]{
	position: absolute;
	right: 10px;
	top: 16px;
}
