
/************************************************************/
/***** écran ou fenêtre de recherche dans une liste *********/
/************************************************************/


#search-field{

	border-bottom: 1px solid rgb(238, 238, 238); 
	box-shadow: 0 1px 0 rgb(218, 218, 218);
}
#search-field input[type=search]{
	width: 200px;
	margin-left: 30px;
	display: inline-block;
}
#search-field #search-actions {
	margin: 4px auto;
}
#search-results{
	padding: 4px;
	overflow-y: auto;
	overflow-y: overlay;
}
#search-results ul{
	list-style: none;
	padding-left: 0px;
	margin: 0;
}
#search-result-item-template{
	 display: none;
}
#search-results .search-result-item{
	cursor: pointer;
	border-bottom: 1px solid rgb(238, 238, 238); 
	box-shadow: 0 1px 0 rgb(218, 218, 218);
	height: 50px;
	padding: 4px;

	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
}
#search-results .search-result-item a{
	display:block;
}
#search-results .search-result-item:hover{
	background-color: #eda32b;
}
#search-results .search-not-found{
	font-size: 32px;
	font-weight: 100;
	text-align: center;
	display: none;
}
#search-results .search-result-item .search-result{
}
#search-results .search-result-item .search-img{
	display: inline-block;
	height: 40px;
}
#search-results .search-result-item.online::before {
	content: "";
	display: inline-block;
	position: relative;
	width: 8px;
	height: 8px;
	right: 5px;
	top: -20px;
	border-radius: 50%;
	border: 1px solid rgb(223, 223, 223);
	box-shadow: 0 0 2px gray;
	background-color: rgb(18, 179, 18);
	margin-left: 4px;
}
#search-results .search-result-item .search-inner{
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
	max-width: 275px;
}
#search-results .search-result-item .search-name, #search-results .search-result-item .search-etablissement {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#search-results .search-result-item .search-name{
	font-size: 24px;

	font-weight: 100;
	text-shadow: 0 -1px #E2E2E2;
	font-weight: 100;
}
#recherche-container.network-add .reseaux-add.search-add-item {
	opacity: 1;
	position: relative;
	right: 10px;
	top: 14px;
	float: right;
	display: inline-block;
	visibility: visible;
}