
.reseaux-container  ul.reseaux-liste{
	overflow-y: auto;
	overflow-y: overlay;

	border-top: 1px solid rgb(247, 247, 247);
	box-shadow: 0 -1px 0 rgb(218, 218, 218);
	margin: 6px 0;
	padding: 4px;
	clear: both;
	color: #555;
}
#reseaux-panel-container{
	z-index: 1900;
}
#reseaux-panel-container .btn-action{
	margin: 0 auto;
	display: block;
	width: 160px;
}
.reseaux-container ul.reseaux-liste > li{
	list-style:none;
	padding: 4px 0;
	/* display: inline-block; */
	/* width: 372px; */
	border-bottom: 1px solid rgb(238, 238, 238);
	box-shadow: 0 1px 0 rgb(218, 218, 218);
}
.reseaux-container .reseaux-liste-user{
	background-color: rgba(0,0,0,0.05);
	border-radius: 4px;
	padding: 2px 6px;
	margin-top: 4px;
	overflow-x: auto;
	white-space: nowrap;
	min-height: 76px;
	clear: both;
}
.reseaux-container li.reseaux-user{
	display: inline-block;
	padding: 2px 6px;
	cursor: pointer;
	position: relative;
}
li.reseaux-user img{
	/* border-radius: 8px; */
	width: 50px;
	height: 50px;
	margin: 0 auto;
	display: block;
}
li.reseaux-user figcaption{
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 80px;
}
.reseaux-item-cle-label {
	float: right;
	clear: left;
}
.reseaux-add {
	transition:opacity 0.2s ease-in-out;
	cursor: pointer;
	color: white;
	width: 20px;
	height: 20px;
	font-size: 24px;
	line-height: 16px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	background-color: rgb(79, 118, 240);
	border: 2px solid white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.56);
	border-radius: 50%;
}
.reseaux-cancel {
	transition:opacity 0.2s ease-in-out;
	display: inline-block;
	cursor: pointer;
	color: white;
	width: 20px;
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	background-color: rgb(214, 34, 34);
	border: 2px solid white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.56);
	border-radius: 50%;
}

.reseaux-valid {
	transition:opacity 0.2s ease-in-out;
	display: inline-block;
	cursor: pointer;
	color: white;
	width: 20px;
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	background-color: rgb(20, 155, 9);
	border: 2px solid white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.56);
	border-radius: 50%;
}
.reseaux-add-item-form{
	float: right;
}
.reseaux-add-user{
	position: absolute;
	z-index: 2000;
	margin-left: -18px;
	margin-top: 22px;
}
.reseaux-add.search-add-item {
	/* position: relative; */
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}
.reseaux-cancel-item, .reseaux-valid-item{
	display: inline-block;
	opacity: 1;
}
.reseaux-delete-item{
	position: absolute;
	z-index: 2000;
	margin-left: 15px;
	margin-top: -4px;
	/*opacity: 0;
	display: none;*/
}

.reseaux-select-item{
	position: absolute;
	z-index: 2000;
	margin-left: 15px;
	margin-top: -4px;
	/*opacity: 0;
	display: none;*/
}

.reseaux-delete-user{
	position: absolute;
	z-index: 2000;
	margin-left: -10px;
	margin-top: -5px;
	opacity: 0;
	display: none;
}
.reseaux-add-item{
	display: inline;
	float: right;
}
.reseaux-rejoindre-item{
background-color: rgb(221, 150, 0);
}

li.reseaux-user:hover .reseaux-delete-user{
	display: inline-block;
	opacity: 1;
}

.focused-reseau {
	box-shadow: 0 0 4px 2px rgba(255, 133, 0, 0.74);
}