.hasComment.readed:before {
    color:rgb(94, 94, 94);
    background: #d1d1d1;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #d1d1d1 36%, #a8a8a8 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(36%, #d1d1d1), color-stop(100%, #a8a8a8));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #d1d1d1 36%, #a8a8a8 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #d1d1d1 36%, #a8a8a8 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #d1d1d1 36%, #a8a8a8 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #d1d1d1 36%, #a8a8a8 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#a8a8a8', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
.hasComment.readed {
    border-left:1px solid #d1d1d1;
    box-shadow: -1px 0 0px #a8a8a8;
}
.hasComment:before {
    content:attr(data-count);
    font-size:20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    text-shadow: 0 1px #444;
    text-align:center;
    position:relative;
    color:#EFEFEF;
    display:inline-block;
    z-index:2000;
    top:0px;
    left:0px;
    border-radius:50%;
    padding:0px 6px;
    /*min-width:22px;*/
    border:2px solid #eee;
    box-shadow: -1px 1px 4px #444;
    margin:0 4px;
    background: #ff0505;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ff0505 28%, #9e0000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%, #ff0505), color-stop(100%, #9e0000));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #ff0505 28%, #9e0000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #ff0505 28%, #9e0000 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #ff0505 28%, #9e0000 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #ff0505 28%, #9e0000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0505', endColorstr='#9e0000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
.hasComment {
    border-left:1px solid #ff0505;
    box-shadow: -1px 0 0px #9e0000;
    padding-left:4px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.selected {
  text-shadow: 0 0 4px rgba(223, 157, 59, 0.7);
}

.selected img{
  box-shadow: 0 0 4px 2px rgba(223, 157, 59, 0.7);
}

img{
    
    -webkit-transition:box-shadow 0.5s ease-in-out;
    -mozilla-transition:box-shadow 0.5s ease-in-out;
    transition:box-shadow 0.5s ease-in-out;
}

p{
    
    -webkit-transition:text-shadow 0.5s ease-in-out;
    -mozilla-transition:text-shadow 0.5s ease-in-out;
    transition:text-shadow 0.5s ease-in-out;
}
