/* General HTML CSS */
html{
	margin: 0px;
	padding: 0px;
}

body{
	margin: 3px;
	padding: 0px;
	height: 100%;
	font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

table{
	padding: 0px;
	margin: 0px;
	border-collapse: collapse; 
}

h1, h2, h3, h4, h5, h6{
	padding:0px;
	margin:0px;
	font-weight: 100;
}
h1{
	font-size: 2.6em;
	color: #636363;
}
h2{
	font-size:2em;
	color:#636363;
}
h3{
	font-size: 1.5em;
	color: #636363;
}
h4, h5, h6{
	font-size: 1.4em;
	color: #636363;
}
p{
	text-align: justify;
	font-size: 1.2em;
	margin: 0.2em 1em 0.7em 1em;
}

.hidden{
	position: absolute;
	top:-5000px;
	left:-5000px;
	overflow: hidden;
	width:1px;
	height:1px;
	color:black
}

#tplRgt .hidden, #tplLft .hidden, #tplBtm .hidden, #tplTop .hidden{
	color:white
}

/************************************************ SupCast ************************************************/

.mainContent{
	background-color: transparent;
	/*background-color: rgb(221, 221, 221);*/
	color: rgb(85,85,85);
}

.mainContent_co {
	margin: 2px;
}
/* inlineStyles */
.op_txt_is_emp, 
.op_sTxt_is_emp, 
.op_labelTxt_is_emp, 
.op_clozeTxt_is_emp,
.op_qTxt_is_emp{
	font-weight: bold;
	color: rgb(85,85,85);
}

ul.op_txt_il,
ul.op_sTxt_il,
ul.op_clozeTxt_il,
ul.op_qTxt_il{
	list-style-image: none;

}
/* imagesInline */
.op_txt_tim_form img,
.op_txt_tim_form object,
.embedObj,
.op_txt_tim_ico img,
.op_qTxt_tim_form img,
.op_qTxt_tim_form object,
.op_qTxt_tim_ico img {
	max-width: 100%;
	height: auto;
}
