doctype html
html
  head
    title PairForm indisponible
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel="stylesheet" href="//www.pairform.fr/css/bootstrap.min.css")
    style(type='text/css').
      body{
      background: url("//www.pairform.fr/img/bg.png") 50% 0% no-repeat rgb(50,50,50);
      font-family: 'Helvetica';
      font-weight: 200;
      height: 100%;
      margin: 0%;
      }
      @font-face {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 100;
      src: local('Raleway Thin'), local('Raleway-Thin'), url('//www.pairform.fr/SCWeb/dyn/res/fonts/Raleway Thin.woff') format('woff');
      }
      @font-face {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 200;
      src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url('//www.pairform.fr/SCWeb/dyn/res/fonts/Raleway ExtraLight.woff') format('woff');
      }
      h1, h2 {
      font-family: 'Raleway';
      font-weight:100;
      margin: 0 0 10px 0;
      font-size: 24px;
      color: #FFF;
      text-shadow: 0px 1px 0px #000;
      }
      main{
        max-width: 720px;
        margin: 0 auto;
        overflow: hidden;
      }
      footer{
        text-align: center;
        color: rgba(255, 255, 255, 0.75);
      }
  body
    h1 >> PairForm est momentanément indisponible.
    main
      .panel.panel-default
        h2.panel-heading Que faire ?
        .panel-body
          ul
            li Réessayez dans quelques instants,
            li Retournez sur #[a(href="http://www.pairform.fr") www.pairform.fr] pour reprendre votre navigation
      .alert.alert-warning
        | Si vous pensez qu'il s'agit d'une autre forme d'erreur, contactez-nous à l'adresse  
        span.label.label-warning 
          | contact - arobase - pairform.fr
        | , nous vous répondrons dans les meilleurs délais.
    footer
      | PairForm - CAPE - Ecole des Mines de Nantes (2015)