
#presBox{
	font-weight: 200;
	min-width: 900px;
}
#presBox h1, #presBox h2{
	font-weight: 100;
	font-size: 30px;
	text-transform: initial;
	background: transparent;
	color: rgb(209, 98, 11);
	text-shadow: 0 -1px rgba(255, 238, 211, 0.75), 0 1px rgba(148, 84, 6, 0.43);
	padding: 0px;
	position: initial;
	margin: 0 0 10px 0;
	border: none;
}
#presBox h1{
	text-align: center;
	font-size: 30px;
}
#presBox #pres-thumbnails-list{
	list-style:none;
	padding: 0;
}
#presBox #pres-thumbnails-list li{
	display: inline-block;
	width: 175px;
	padding: 0 20px;
	border-right: 1px solid rgb(184, 184, 184);
	box-shadow: 1px 0 0 rgb(252, 252, 252);
	vertical-align: top;
	text-align: center;
	opacity: 0;
	/*-webkit-transform:scale(0.9);
	transition:-webkit-transform ease-in-out 0.2s;*/
}
/*  #presBox #pres-thumbnails-list li:hover{
	-webkit-transform:scale(1);
}*/

#presBox #pres-thumbnails-list li:last-child{
	border-right: none;
	box-shadow: none;
}

#presBox #pres-thumbnails-list li:nth-child(1) {
	-webkit-animation: fadeIn 0.2s ease-in-out 1s 1 normal forwards;
	-moz-animation: fadeIn 0.2s ease-in-out 1s 1 normal forwards;
	-o-animation: fadeIn 0.2s ease-in-out 1s 1 normal forwards;
	animation: fadeIn 0.2s ease-in-out 1s 1 normal forwards;
}
#presBox #pres-thumbnails-list li:nth-child(2) {
	-webkit-animation: fadeIn 0.2s ease-in-out 1.5s 1 normal forwards;
	-moz-animation: fadeIn 0.2s ease-in-out 1.5s 1 normal forwards;
	-o-animation: fadeIn 0.2s ease-in-out 1.5s 1 normal forwards;
	animation: fadeIn 0.2s ease-in-out 1.5s 1 normal forwards;
}
#presBox #pres-thumbnails-list li:nth-child(3) {
	-webkit-animation: fadeIn 0.2s ease-in-out 2s 1 normal forwards;
	-moz-animation: fadeIn 0.2s ease-in-out 2s 1 normal forwards;
	-o-animation: fadeIn 0.2s ease-in-out 2s 1 normal forwards;
	animation: fadeIn 0.2s ease-in-out 2s 1 normal forwards;
}
#presBox #pres-thumbnails-list li:nth-child(4) {
	-webkit-animation: fadeIn 0.2s ease-in-out 2.5s 1 normal forwards;
	-moz-animation: fadeIn 0.2s ease-in-out 2.5s 1 normal forwards;
	-o-animation: fadeIn 0.2s ease-in-out 2.5s 1 normal forwards;
	animation: fadeIn 0.2s ease-in-out 2.5s 1 normal forwards;
}
#presBox #pres-thumbnails-list li:nth-child(5) {
	-webkit-animation: fadeIn 0.2s ease-in-out 3s 1 normal forwards;
	-moz-animation: fadeIn 0.2s ease-in-out 3s 1 normal forwards;
	-o-animation: fadeIn 0.2s ease-in-out 3s 1 normal forwards;
	animation: fadeIn 0.2s ease-in-out 3s 1 normal forwards;
}
.pf i.utilisation_cookies{
	display: block;
	margin-top: 14px;
	font-size: 12px;
}

@-webkit-keyframes fadeIn {
	from { 
		opacity: 0;
	}
	to { 
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	from { 
		opacity: 0;
	}
	to { 
		opacity: 1;
	}
}
@-o-keyframes fadeIn {
	from { 
		opacity: 0;
	}
	to { 
		opacity: 1;
	}
}
@keyframes fadeIn {
	from { 
		opacity: 0;
	}
	to { 
		opacity: 1;
	}
}