/* FlowPaper */

.flowpaper-fixedlayout-text.pf-commentable {
  position:absolute !important;
}
.flowpaper-reflow-wrapper {
    top: 34px;
}

.flowpaper-fixedlayout-text.pf-commentable::after {
   margin-right: -30px; 
   margin-top: -4px;
}

.flowpaper-fixedlayout-text.pf-commentable.hasComment::after {
  margin-right: -50px; 
}

/* Storyline 2 */
div#slidecontainer .pf-commentable {
    position: absolute !important;
}