#fiche-ressource-head > * {
    display: inline-block;
vertical-align: middle;
position: relative;

}
#fiche-ressource-icone-langue {
position: absolute;
right: 0px;
bottom: 0px;
}

#fiche-ressource-wrapper h1 {
	font-size: 22px;
}
#fiche-ressource-wrapper #fiche-ressource-nom-court{
	font-size: 32px;
}
.panel-actions.panel-actions-tab-select {
    width: 350px;
    margin: 10px auto;
    background-color: rgb(247, 247, 247); border-radius: 4px; box-shadow: 0 1px 0 rgb(199, 195, 195);
}

.btn-action.btn-tab {
    background: none;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    transition: background ease-in-out .2s;
}

.btn-action.btn-tab.selected{
	background: rgba(0,0,0,0.1);
}
.btn-action.btn-tab:hover{
	background: rgba(0,0,0,0.2);
}

/*#fiche-ressource-tab-wrapper > section.ng-hide-add.ng-hide-add-active,
#fiche-ressource-tab-wrapper > section.ng-hide-remove.ng-hide-remove-active {
  transition:all ease-in-out 5s;
}
*/

#fiche-ressource-tab-wrapper > section.ng-enter, #fiche-ressource-tab-wrapper > section.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  display:block!important;
}

#fiche-ressource-tab-wrapper > section.ng-hide-add,
#fiche-ressource-tab-wrapper > section.ng-hide-remove {
  display:block!important;
}
 
#fiche-ressource-tab-wrapper > section.ng-hide {
  opacity:0;
}

.fiche-ressource-tab-capsule:first-child  {
    border-top-right-radius: 20px;
}
.fiche-ressource-tab-capsule:last-child  {
    border-bottom-right-radius: 20px;
  }
.fiche-ressource-tab-capsule  {
    padding: 10px 10px;
    border-bottom: 1px solid rgba(228, 228, 228, 0.7);
    font-weight: 200;
    transition: background ease-in-out 0.2s;
}

#fiche-ressource-tab-capsules > ol {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}
.fiche-ressource-tab-capsule-bouton-information {
    float: right;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(145, 145, 145);
    cursor: pointer;
    color: rgb(82, 82, 82);
    text-shadow: 0 0 2px rgb(142, 142, 142);
    padding: 0 7px;
    border-radius: 20px;
    transition:all ease-in-out .2s;
}
.fiche-ressource-tab-capsule-bouton-information:hover {
    background: orange;
}

#fiche-ressource-tab-wrapper > .ng-hide, #fiche-ressource-tab-objectifs-apprentissage > .ng-hide{
  opacity: 0;
  max-height: 0;
}
#fiche-ressource-tab-wrapper > *, #fiche-ressource-tab-objectifs-apprentissage > div{
  /*max-height: 9000px;*/
  transition:all ease-in-out .2s;
  /*max-height: auto;*/
}
#fiche-ressource-tab-wrapper .tab-header, #fiche-ressource-tab-informations > div {
	clear: left;
    padding: 10px 4px;
    border-bottom: 1px solid rgb(237, 237, 237);
    box-shadow: 0 1px 0px rgb(215, 215, 215);
}
#fiche-ressource-tab-wrapper .tab-header.tab-header-toggle{
	cursor: pointer;
}
#fiche-ressource-tab-wrapper .tab-header.tab-header-toggle::after{
	content: "\276f";
	position: relative;
	right: 0px;
	display: inline-block;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.41);
	opacity: 0;
	transition: all ease-in-out .2s;
}
#fiche-ressource-tab-wrapper .tab-header.tab-header-toggle.tab-header-toggle-inactive:hover::after{
	right: -30px;
	opacity: 1;
}
#fiche-ressource-tab-informations > div > span:last-child {
	float: right;
}
#fiche-ressource-tab-informations > div > span{
	max-width: 50%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	height: 17px;
}
.fiche-ressource-tab-capsule-no-link{
  color: lightgray;
}
.fiche-ressource-tab-capsule-nombre-messages{
	float: right;
	font-size: 16px;
    font-family: Helvetica;
    font-weight: 200;
    text-shadow: 0 1px rgba(0, 0, 0, 0.62);
    text-align:center;
    /*position:relative;*/
    color:#EFEFEF;
    display:inline;
    z-index: 0;
    border-radius: 14px;
    padding: 0px 5px;
    /*min-width:22px;*/
    /* border: 1px solid #eee; */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    margin:0 4px;
    background: #5CBDD9;
    background: -moz-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%, #5CBDD9), color-stop(100%, #0D8CD7));
    background: -webkit-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
    background: -o-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
    background: -ms-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
    background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
    background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CBDD9', endColorstr='#0D8CD7', GradientType=1);
}

.fiche-ressource-tab-objectif-apprentissage input[type=text] {
    width: 85%;
    line-height: 22px;
}

.fiche-ressource-tab-objectif-apprentissage {
    margin-bottom: 10px;
}
.fiche-ressource-tab-objectif-apprentissage-delete {
    position: relative;
    display: inline-block;
    background: rgb(200, 24, 9);
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    text-shadow: 0 0 4px white;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.34);
    cursor: pointer;
}
body #loading-bar .bar{
    top: 33px;
    background-color: orange;
}

body #loading-bar .peg {
  -moz-box-shadow: orange 1px 0 6px 1px;
  -ms-box-shadow: orange 1px 0 6px 1px;
  -webkit-box-shadow: orange 1px 0 6px 1px;
  box-shadow: orange 1px 0 6px 1px;
}

nav #sidebar {
    position: fixed;
    background: rgba(15, 15, 15, 0.85);
    color: whitesmoke;
    font-family: Raleway;
    font-weight: 300;
    font-size: 12px;
    text-shadow: 0px 1px 0px black;
    left: 0px;
    height: 100%;
    width: 72px;
    transition:all ease-in-out .2s;
}
nav #sidebar.ng-hide{
    left: -72px;
  opacity: 0;
}
nav #sidebar ul {
    list-style: none;
    padding: 0;
}

nav #sidebar ul li {
  min-height: 54px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 4px 0px;
  margin-bottom: 10px;
  line-height: 14px;
  text-align: center;
}

nav #sidebar ul li img{
  display: block;
  margin: 0 auto 4px auto;
  height: 32px;
}
nav #sidebar ul li.disabled {
  opacity: 0.4;
  cursor: default;
}

.centered, .popin {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Animations */
/*li.ng-leave{
  height: 0px !important;
  overflow: hidden;
  opacity: 0;
}
li.ng-enter{
  height: initial;
  opacity: 1;
}
*{
  transition:all ease-in-out .2s;
}*/
div.popinWrapper.ng-hide[ng-controller=controller_connexion]{
  display: block !important;
  visibility: hidden;
}
.popinWrapper{
  position: fixed;
z-index: 250;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
}
.popinWrapper.hide{
  display: none;
}
.popinWrapper.ng-hide-add{
  -webkit-animation: scaleIn ease-in-out .4s reverse;
  -moz-animation: scaleIn ease-in-out .4s reverse;
  -o-animation: scaleIn ease-in-out .4s reverse;
  animation: scaleIn ease-in-out .4s reverse;
}
.popinWrapper.ng-hide-remove{
  -webkit-animation: scaleIn ease-in-out .4s ;
  -moz-animation: scaleIn ease-in-out .4s ;
  -o-animation: scaleIn ease-in-out .4s ;
  animation: scaleIn ease-in-out .4s ;
}

@-webkit-keyframes scaleIn{
  
  0%{
    opacity: 0;
    -webkit-transform:scale(1.5);
  }
    
  100%{
    opacity: 1;
    -webkit-transform:scale(1);
  }
}
@-moz-keyframes scaleIn{
  
  0%{
    opacity: 0;
    -moz-transform:scale(1.5);
  }
    
  100%{
    opacity: 1;
    -moz-transform:scale(1);
  }
}
@-o-keyframes scaleIn{
  
  0%{
    opacity: 0;
    -o-transform:scale(1.5);
  }
    
  100%{
    opacity: 1;
    -o-transform:scale(1);
  }
}
@keyframes scaleIn{
  
  0%{
    opacity: 0;
    transform:scale(1.5);
  }
    
  100%{
    opacity: 1;
    transform:scale(1);
  }
}
.pf [ng-repeat]{
    -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
/*.pf [ng-repeat]:nth-child(2n){
  transition-delay: 0.2s !important;
}
.pf [ng-repeat]:nth-child(3n){
  transition-delay: 0.4s !important;
}
.pf [ng-repeat]:nth-child(5n){
  transition-delay: 0.1s !important;
}
 */

.pf [ng-repeat].ng-leave-active{
    -webkit-transform: scaleY(0.8) scaleX(0.8);
    -moz-transform: scaleY(0.8) scaleX(0.8);
    -ms-transform: scaleY(0.8) scaleX(0.8);
    -o-transform: scaleY(0.8) scaleX(0.8);
    transform: scaleY(0.8) scaleX(0.8);
    /*height: 0px;*/
    opacity: 0;
}
 .pf [ng-repeat].ng-enter{
    /*position: relative;*/
    -webkit-transform: scaleY(0.8) scaleX(0.8);
    -moz-transform: scaleY(0.8) scaleX(0.8);
    -ms-transform: scaleY(0.8) scaleX(0.8);
    -o-transform: scaleY(0.8) scaleX(0.8);
    transform: scaleY(0.8) scaleX(0.8);
    /*height: initial;*/
    opacity: 0;
}
.pf [ng-repeat].ng-enter-active{
    /*position: relative;*/
    -webkit-transform: scaleY(1) scaleX(1);
    -moz-transform: scaleY(1) scaleX(1);
    -ms-transform: scaleY(1) scaleX(1);
    -o-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1);
    /*height: initial;*/
    opacity: 1;
}

.pf [ng-repeat].ng-move{

    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all !important;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all !important;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all !important;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all !important;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all !important;
    opacity: 0;
}
.pf [ng-repeat].ng-move-active{
    opacity: 1;
}

.comDonnerMedaille-container{
  margin-top: -100px;
  margin-left: -120px;
}
.comModifierLangue-container{
  margin-top: -60px;
  margin-left: -48px;
  padding: 0 5px;
}

#fiche-ressource-tab-capsule-informations.ng-hide{
  opacity: 0;
}

#fiche-ressource-tab-capsule-informations {
  transition:all ease-in-out .2s;
  height: initial;
    margin-top: 10px;
    font-size: 13px;
    color: rgb(84, 84, 84);
}
.pf [ng-click]{
  cursor: pointer;
}
.comMessPrive {
  color: rgb(223, 101, 0);
  font-weight: 200;
  font-size: 12px;
}

input[type=search].ng-dirty{
  border-radius: 12px;
  padding: 4px;
  border: 1px rgb(181, 181, 181) solid;
}
input.ng-invalid.ng-dirty {
box-shadow: 0 0 4px 1px red inset;
}

input.ng-valid.ng-dirty {
box-shadow: 0 0 4px 1px #247C0C inset;
}

.profil-ressource-upgrade {
padding: 2px 8px;
margin: 0;
min-width: initial;
}

pf-menu-changer-role.ui-tooltip-bottom{ 
 -moz-transform: translate(-60%,-145%);
 -webkit-transform: translate(-60%,-145%);
 -o-transform: translate(-60%,-145%);
 transform: translate(-60%,-145%);
width: 150px;
}