div[ng-controller=main_controller], div[ng-controller=controller_injecteur] {
	display: none;
}
body.pf-wait *, body.pf-wait
{
	cursor: progress !important;
}

.pf{
	font-family: Helvetica, Arial, sans-serif !important;
	color: #222;
	font-size: 14px;
}
.pf h1,.pf h2,.pf h3,.pf h4,.pf h5,.pf h6{
	font-family: 'Raleway';
	font-weight: 200;
	margin-top: initial;
	margin-bottom: initial;
	color: #222;
	border: none;
	text-transform: none;
	background: none;
	font-size: initial;
	padding: initial;
}

.pf h1,.pf h2,.pf h3,.pf h4,.pf h5 {
	margin: 0 initial;
}
.pf *, .pf *:before, .pf *:after {
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box;
	box-sizing: content-box; 
 font-family: inherit;
 font-style: initial;
 font-weight: initial;
}
.pf label{
	font-weight: normal;
	margin-bottom: initial;
	display: initial;
}
.pf input, .pf textarea, .pf select {
    line-height: initial;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #E8E8E8;
    background-color: #FFF;
    color: #484848;
    font-size: inherit;
    margin: initial;
}
.pf hr{
  border-top: 1px solid #BEBEBE;
  box-shadow: 0 -1px 0px #F5F5F5;
  margin: 20px 4px;
  clear: both;
  height: initial;
  border-bottom: none;
  padding: 0;
}
/***************
	 Commentaires 
****************/

.btn-action{
	padding: 6px;
	margin: 4px;
	line-height: 14px;
	font-size: 15px;
	display: inline-block;
	min-width: 100px;
	color: #333;
	border: none;
	text-shadow: none;
	background-color: rgb(247, 247, 247);
	border-radius: 4px;
	box-shadow: 0 1px 0 rgb(199, 195, 195);
	text-align: center;
	cursor: pointer;

	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
}
.btn-action:hover{
	background-color: #BBB;
}
.pf a {
	text-decoration: none;
	cursor: pointer;
	color: #111111;
	transition: All 0.2s ease-in-out;
	-webkit-transition: All 0.2s ease-in-out;
	-moz-transition: All 0.2s ease-in-out;
	-o-transition: All 0.2s ease-in-out;
}
.pf a:visited {
	color: #111111;
}
.pf a:hover,
.pf a:active {
	color: #DB6C00;
}


.pf [ng-click]{
	cursor: pointer;
}

input[type=search]{

	-webkit-appearance: none;
	box-sizing: border-box;
	/*height: 100%;*/
	width: 100%;
	border: 1px solid rgb(226, 226, 226);
	border-radius: 12px;
	resize: none;
	background-color: white;
}
input[type=search].ng-dirty{
	border-radius: 12px;
	padding: 4px;
	border: 1px rgb(181, 181, 181) solid;
}
form input.ng-invalid.ng-dirty {
	box-shadow: 0 0 4px 1px red inset;
}

form input.ng-valid.ng-dirty {
	box-shadow: 0 0 4px 1px #247C0C inset;
}



/* Décalage du contenu quand la barre PF est là */

/* Scenari 4.1 - style PF */
[ng-controller="main_controller"] + .pf_sc41 {
	transition: margin-top ease-in-out .4s;
	margin-top: 35px;
}

[ng-controller="main_controller"] + .pf_sc41 #tplMnu{
	margin-top: 30px;
}

@media only screen and (max-width: 960px) {
	[ng-controller="main_controller"] + .pf_sc41 #tplMnu{
		margin-top: 0px;
	}
}

.pf .pf-user-avatar {
	border-radius: 50px;
}