.pf [ng-repeat]{
	-webkit-transition: .15s ease-out all;
	-moz-transition: .15s ease-out all;
	-ms-transition: .15s ease-out all;
	-o-transition: .15s ease-out all;
	transition: .15s ease-out all;
}

.pf [ng-repeat].ng-enter ~ [ng-repeat].ng-leave, 
.pf [ng-repeat].ng-enter-active ~ [ng-repeat].ng-leave-active,
.pf [ng-repeat] ~ [ng-repeat].ng-leave, 
.pf [ng-repeat] ~ [ng-repeat].ng-leave-active{
	display: none !important;
}

.pf [ng-repeat].ng-leave{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	/*height: initial;*/
	opacity: 1;
}

.pf [ng-repeat].ng-enter-stagger, .pf [ng-repeat].ng-leave-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: .05s;

  /* As of 1.4.4, this must always be set: it signals ngAnimate
    to not accidentally inherit a delay property from another CSS class */
  transition-duration: 0s;
}

.pf [ng-repeat].ng-leave-active{
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
	/*height: 0px;*/
	opacity: 0;
}
 .pf [ng-repeat].ng-enter{
	/*position: relative;*/
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
	/*height: initial;*/
	opacity: 0;
}
.pf [ng-repeat].ng-enter-active{
	/*position: relative;*/
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	/*height: initial;*/
	opacity: 1;
}

.pf [ng-repeat].ng-move{

	-webkit-transition: .1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all !important;
	-moz-transition: .1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all !important;
	-ms-transition: .1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all !important;
	-o-transition: .1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all !important;
	transition: .1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all !important;
	opacity: 0;
}
.pf [ng-repeat].ng-move-active{
	opacity: 1;
}