
/* Boite + formulaire d'écriture de message */
.popinFocus {
	z-index: 150;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.15);
	/*-webkit-filter:blur(3px) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));*/

	position: fixed;
	top: 0px;
	left: 0px;
}

.popin {
	z-index: 201;
	min-width: 360px;
	max-width: 900px;
	min-height: 200px;
	border-radius: 8px;
	box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.4);
	background: #f4f4f4;
	/* Old browsers */

	background: -moz-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	/* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(20%, #eaeaea), color-stop(80%, #dddddd), color-stop(100%, #dbdbdb));
	/* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	/* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	/* Opera 11.10+ */

	background: -ms-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	/* IE10+ */

	background: linear-gradient(to bottom, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	/* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dbdbdb', GradientType=0);
	/* IE6-9 */

	opacity: 0.98;
	padding: 20px;
	position: fixed;
	font-size: 14px;
}


/***************************** Classes **********************************/

.panel-wrapper{
	width: 384px;
	/*font-family: "HelveticaNeue-Light";*/
	background: #f4f4f4;
	background: -moz-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(20%, #eaeaea), color-stop(80%, #dddddd), color-stop(100%, #dbdbdb));
	background: -webkit-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	background: -o-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	background: -ms-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	background: linear-gradient(to bottom, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dbdbdb', GradientType=0);
	/* IE6-9 */

	color: #333;
	padding: 8px;
	font-size: 15px;
}

.panel-wrapper .panel-title{
	font-size: 32px;
	font-weight: 100;
	text-align: center;
	padding: 0 10%;
}
.panel-wrapper .panel-head{
	padding-bottom: 12px;
/*    border-bottom: 1px solid rgb(238, 238, 238); 
	box-shadow: 0 1px 0 rgb(218, 218, 218);*/
}

.panel-wrapper .panel-actions{
	text-align: center;
}
.panel-wrapper h3{
	font-weight: 100;
}

.panel-container-right.ng-hide{
	right: -400px;
}

.panel-container-right{
	box-shadow: -2px 2px 5px -1px rgba(0, 0, 0, 0.3);
	border-bottom-left-radius: 4px;
	position: fixed;
	top: 34px;
	width: 400px;
	/*display: none;*/
	opacity: 0.98;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	right: 0px;
	z-index: 2000;
	max-height: calc(100% - 33px);
	overflow-y: auto;
	overflow-x: hidden;
	transition:all ease-in-out .2s;
}
.panel-container-right-second-level{
	margin-right: 396px;
	z-index: 1900;
 border-right: 1px solid rgb(197, 197, 197); 
}

.panel-container-left.ng-hide{
	left: -400px;
}

.panel-container-left{
	box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.3);
	border-bottom-right-radius: 4px;
	position: fixed;
	top: 34px;
	width: 400px;
	/*display: none;*/
	opacity: 0.98;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	left: 0px;
	z-index: 2000;
	max-height: calc(100% - 33px);
	overflow-y: auto;
	overflow-x: hidden;
	transition:all ease-in-out .2s;
}

.panel-container-left-second-level{
	margin-left: 396px;
	z-index: 1900;
 border-left: 1px solid rgb(197, 197, 197); 
}
.panel-wrapper ul{
	list-style: none;
	padding: 0px;
}
.panel-wrapper .sous-section-label{
	font-size: 16px;
line-height: 30px;
margin: 4px;
}

.btn-cross-fermer {
	background: rgb(247, 80, 80);
	box-shadow: 0px 2px 4px 1px rgba(255, 255, 255, 0.25) inset;
	position: absolute;
	right: 4px;
	top: 4px;
	float: right;
	font-size: 11px;
	line-height: 12px;
	font-weight: bolder;
	content: "x";
	width: 12px;
	height: 12px;
	color: transparent;
	z-index: 20000;
	/* text-shadow: 0px 1px 1px black; */
	text-align: center;
	border-radius: 50%;
	border: 1px rgb(214, 57, 57) solid;
	/* box-shadow: 0 0 1px rgb(136, 136, 136); */
	opacity: 0.8;
	cursor: pointer;
	transition: all ease-in-out .2s;
}

.btn-cross-fermer:hover {
	opacity: 1;
	/* background: rgb(241, 155, 0); */
	color: rgba(0, 0, 0, 0.55);
}


.centered, .popin {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Animations */
div.popinWrapper.ng-hide[ng-controller=controller_connexion]{
	display: block !important;
	visibility: hidden;
}
.popinWrapper{
	position: fixed;
	z-index: 2500;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
}
.popinWrapper.hide{
	display: none;
}
.popinWrapper.ng-hide-add{
	-webkit-animation: scaleIn ease-in-out .4s reverse;
	-moz-animation: scaleIn ease-in-out .4s reverse;
	-o-animation: scaleIn ease-in-out .4s reverse;
	animation: scaleIn ease-in-out .4s reverse;
}
.popinWrapper.ng-hide-remove{
	-webkit-animation: scaleIn ease-in-out .4s ;
	-moz-animation: scaleIn ease-in-out .4s ;
	-o-animation: scaleIn ease-in-out .4s ;
	animation: scaleIn ease-in-out .4s ;
}

@-webkit-keyframes scaleIn{
	
	0%{
		opacity: 0;
		-webkit-transform:scale(1.5);
	}
		
	100%{
		opacity: 1;
		-webkit-transform:scale(1);
	}
}
@-moz-keyframes scaleIn{
	
	0%{
		opacity: 0;
		-moz-transform:scale(1.5);
	}
		
	100%{
		opacity: 1;
		-moz-transform:scale(1);
	}
}
@-o-keyframes scaleIn{
	
	0%{
		opacity: 0;
		-o-transform:scale(1.5);
	}
		
	100%{
		opacity: 1;
		-o-transform:scale(1);
	}
}
@keyframes scaleIn{
	
	0%{
		opacity: 0;
		transform:scale(1.5);
	}
		
	100%{
		opacity: 1;
		transform:scale(1);
	}
}