
/************************************************************/
/******************** Recherche profil **********************/
/************************************************************/



#profil-search-field{

	border-bottom: 1px solid rgb(238, 238, 238); 
	box-shadow: 0 1px 0 rgb(218, 218, 218);
	/*height: 30px;*/
}

#profil-search-field input[type=search]{
	width: 200px;
	margin-left: 30px;
	display: inline-block;
}

#profil-search-field #profil-search-actions {
	/* width: 250px; */
	margin: 4px auto;
}

#profil-search-results{
	padding: 4px;
	overflow-y: auto;
	overflow-y: overlay;
	/*max-height: 600px;*/
}

#profil-search-results ul{
	list-style: none;
	padding-left: 0px;

	margin: 0;
}
#profil-search-result-user-template{
	 display: none;
}
#profil-search-results .profil-search-result-user{
	cursor: pointer;
	border-bottom: 1px solid rgb(238, 238, 238); 
	box-shadow: 0 1px 0 rgb(218, 218, 218);
	height: 50px;
	padding: 4px;

	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
}

#profil-search-results .profil-search-result-user:hover{
	background-color: #eda32b;
}
#profil-search-results .profil-search-not-found{
	font-size: 32px;
	font-weight: 100;
	text-align: center;
	display: none;
}
#profil-search-results .profil-search-result-user .profil-search-result{

}
#profil-search-results .profil-search-result-user .profil-search-img{
	display: inline-block;
	width: 50px;
	height: 50px;
}
#profil-search-results .profil-search-result-user.online::before {
	content: "";
	display: inline-block;
	position: relative;
	width: 8px;
	height: 8px;
	right: 5px;
	top: -20px;
	border-radius: 50%;
	border: 1px solid rgb(223, 223, 223);
	box-shadow: 0 0 2px gray;
	background-color: rgb(18, 179, 18);
	margin-left: 4px;
}
#profil-search-results .profil-search-result-user .profil-search-inner{
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
	max-width: 275px;
}
#profil-search-results .profil-search-result-user .profil-search-username, #profil-search-results .profil-search-result-user .profil-search-etablissement {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#profil-search-results .profil-search-result-user .profil-search-username{
	font-size: 24px;

	font-weight: 100;
	text-shadow: 0 -1px #E2E2E2;
	font-weight: 100;

}
#profil-recherche-container.network-add .reseaux-add.profil-search-add-user {
	opacity: 1;
	position: relative;
	right: 10px;
	top: 14px;
	float: right;
	display: inline-block;
	visibility: visible;
}