
#fiche-ressource-head > * {
	display: inline-block;
	vertical-align: middle;
	position: relative;

}
#fiche-ressource-head-inner {
	max-width: 250px;
}
#fiche-ressource-icone-langue {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

#fiche-ressource-wrapper h1 {
	font-size: 22px;
}
#fiche-ressource-wrapper #fiche-ressource-nom-court{
	font-size: 32px;
}
.panel-actions.panel-actions-tab-select {
	width: 350px;
	margin: 10px auto;
	background-color: rgb(247, 247, 247); border-radius: 4px; box-shadow: 0 1px 0 rgb(199, 195, 195);
}

.btn-action.btn-tab {
	background: none;
	box-shadow: none;
	margin: 0;
	border-radius: 0;
	transition: background ease-in-out .2s;
}

.btn-action.btn-tab.selected{
	background: rgba(0,0,0,0.1);
}
.btn-action.btn-tab:hover{
	background: rgba(0,0,0,0.2);
}

#fiche-ressource-tab-wrapper > section.ng-enter, #fiche-ressource-tab-wrapper > section.ng-leave {
	-webkit-transition:0.5s linear all;
	transition:0.5s linear all;
	display:block!important;
}

#fiche-ressource-tab-wrapper > section.ng-hide-add,
#fiche-ressource-tab-wrapper > section.ng-hide-remove {
	display:block!important;
}
 
#fiche-ressource-tab-wrapper > section.ng-hide {
	opacity:0;
}

.fiche-ressource-tab-capsule:first-child  {
	border-top-right-radius: 20px;
}
.fiche-ressource-tab-capsule:last-child  {
	border-bottom-right-radius: 20px;
	}
.fiche-ressource-tab-capsule  {
	padding: 10px 10px;
	border-bottom: 1px solid rgba(228, 228, 228, 0.7);
	font-weight: 200;
	transition: background ease-in-out 0.2s;
}
.fiche-ressource-tab-capsule > a {
	width: 250px;
	display: inline-table;
}
#fiche-ressource-tab-capsules > ol {
	background: rgba(255, 255, 255, 0.75);
	border-radius: 10px;
}
.fiche-ressource-tab-capsule-bouton-information {
	display: inline-block;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(145, 145, 145);
	cursor: pointer;
	color: rgb(82, 82, 82);
	text-shadow: 0 0 2px rgb(142, 142, 142);	
	line-height: normal;
	padding: 0 7px;
	border-radius: 20px;
	transition:all ease-in-out .2s;
}
.fiche-ressource-tab-capsule-bouton-information:hover {
	background: orange;
}

#fiche-ressource-tab-wrapper > .ng-hide, #fiche-ressource-tab-objectifs-apprentissage > .ng-hide{
	opacity: 0;
	max-height: 0;
}
#fiche-ressource-tab-wrapper > *, #fiche-ressource-tab-objectifs-apprentissage > div{
	transition:all ease-in-out .2s;
}
#fiche-ressource-tab-wrapper .tab-header, #fiche-ressource-tab-informations > #fiche-ressource-tab-informations-details {
	clear: left;
	padding: 10px 4px;
	border-bottom: 1px solid rgb(237, 237, 237);
	box-shadow: 0 1px 0px rgb(215, 215, 215);
}
#fiche-ressource-tab-wrapper .tab-header.tab-header-toggle{
	cursor: pointer;
}
#fiche-ressource-tab-wrapper .tab-header.tab-header-toggle::after{
	content: "\276f";
	position: relative;
	right: 0px;
	display: inline-block;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.41);
	opacity: 0;
	transition: all ease-in-out .2s;
}
#fiche-ressource-tab-wrapper .tab-header.tab-header-toggle.tab-header-toggle-inactive:hover::after{
	right: -30px;
	opacity: 1;
}
#fiche-ressource-tab-informations > div > span:last-child {
	float: right;
}
#fiche-ressource-tab-informations > div > span{
	max-width: 50%;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	height: 17px;
}
/* Pour respecter le format entré par l'auteur de la ressource */
#fiche-ressource-tab-informations-description {
	white-space: pre-line;
}
.fiche-ressource-tab-capsule-no-link{
	color: lightgray;
}
.fiche-ressource-tab-capsule-nombre-messages{
	display: inline-block;
	font-size: 16px;
	font-family: Helvetica;
	font-weight: 200;
	text-shadow: 0 1px rgba(0, 0, 0, 0.62);
	text-align:center;
	/*position:relative;*/
	color:#EFEFEF;
	display:inline;
	z-index: 0;
	border-radius: 14px;
	padding: 0px 5px;
	/*min-width:22px;*/
	/* border: 1px solid #eee; */
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	margin:0 4px;
	background: #5CBDD9;
	background: -moz-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%, #5CBDD9), color-stop(100%, #0D8CD7));
	background: -webkit-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -o-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: -ms-radial-gradient(center, ellipse cover, #5CBDD9 28%, #0D8CD7 100%);
	background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
	background: radial-gradient(ellipse at center, #5CBDD9 28%, #0D8CD7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CBDD9', endColorstr='#0D8CD7', GradientType=1);
}

.fiche-ressource-tab-objectif-apprentissage input[type=text] {
	width: 85%;
	line-height: 22px;
}

.fiche-ressource-tab-objectif-apprentissage {
	margin-bottom: 10px;
}
.fiche-ressource-tab-objectif-apprentissage-delete {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	color: rgba(90, 90, 90, 0.83);
	cursor: pointer;
}

#fiche-ressource-tab-capsule-informations.ng-hide{
	opacity: 0;
}

#fiche-ressource-tab-capsule-informations {
	transition:all ease-in-out .2s;
	height: initial;
	margin-top: 10px;
	font-size: 13px;
	color: rgb(84, 84, 84);
}

#profil-wrapper .profil-ressource-upgrade {
    min-width: 70px;
}