
/************************************************************************************************************************/
/************************************************************************************************************************/
/*********** Focus message et hasComment, pf-commentable */ 
/************************************************************************************************************************/
/************************************************************************************************************************/


.hasComment.readed:not(area):not(h1):not(h2):not(h3):not(a)  {
	border-left:1px solid #d1d1d1;
	box-shadow: -1px 0 0px #F0F0F0;
}


.hasComment:not(area):not(h1):not(h2):not(h3):not(a) {
	border-left: 1px solid #5CBDD9;
	box-shadow: -1px 0 0px #BEE0EA;
	padding-left: 3px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	/*cursor: pointer;*/
}

area.hasComment{
	position: absolute;
	display: block;
}

.homeBtn.hasComment, #label-title.hasComment {
	border: none;
	box-shadow: none;
	position: relative;
}
.homeBtn.hasComment::before, #label-title.hasComment::before {
	/*position: absolute;
	font-size: 1.2em;
	top: -5px;
	left: -5px;*/
	position: absolute;
	line-height: 20px;
	font-size: 16px;
	top: 5px;
	left: 10px;
}
#label-title.hasComment[data-count='0']:not(.readed)::before{
	display: none;
}


/* Desactive la selection de test dans la zone de contenu */
.focusedItem, .focusedItem h1, .focusedItem h2, .focusedItem h3, .focusedItem h4 {
	background-color: rgb(189, 239, 255) !important;
	transition: all ease-out .2s !important;
	
    /*backface-visibility: hidden !important;*/
    transform: scale(1.0168) !important;

	box-shadow: 0 4px 6px -2px lightgray !important;
}

.activeMenuToggle a.mnu_tgle_c:before {
	position: absolute;
	content: "\2022";
	font-size: 1.4em;
	font-family: Helvetica;
	color: #5CBDD9;
	text-shadow: 0 0 3px #0D8CD7;
	top:0px;
	left: -4px;
	line-height: 1em;
}



.pf-commentable{
	/*cursor: url("../private//img/comment_32.png"), auto;*/

	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	 /*pointer-events:none;*/
}
.pf-commentable[ng-drop]{
	outline: 2px dotted blue;
}
.pf-commentable:hover{
 	/*text-shadow: 0 0 3px rgba(255, 92, 0, 0.4); */

	/*-webkit-transform:scale(1.2);*/
}

.pf-commentable.hasComment:not(.readed)::after{
	 background: url("../private/img/comment_blue_64.png") no-repeat; 
	background-size: contain;
    font-weight: 600;

    color: #3ba6ce;
    text-shadow: 0px -1px 0px #dcf5ff;
}
.pf-commentable.hasComment::after{
	content:attr(data-count);
	opacity: 1;
	 background: url("../private/img/comment_readed_gray_64.png") no-repeat; 
	background-size: contain;
	color: #525252;
    padding: 4px 8px 4px 28px;
	right: 0px;
	border-radius: 200px;


}

.pf-commentable::after {
	font-size: 16px;
    font-family: Raleway;
    font-weight: 400;
	text-align:center;
	cursor: pointer;
	-webkit-transition: all .2 ease-out;
	-moz-transition: all .2 ease-out;
	-o-transition: all .2 ease-out;
	transition: all ease-out .2s;
	right: 20px;
	opacity:0;
}
.pf-commentable:not(a)::after{
	content: "";
	background: url("../private/img/comment_unreaded_64.png") no-repeat;
	background-size: contain;
	padding: 6px 14px 6px 14px;
	box-sizing: content-box;
	height: 16px;
	position: relative;
	color: rgba(239, 239, 239, 0);
	display: inline;
	z-index: 100;
	margin:0 4px;
    border-radius: 26px;
}

div.pf-commentable, img.pf-commentable, object.pf-commentable, video.pf-commentable, li.pf-commentable {
	position:relative;
}

div.pf-commentable::after, img.pf-commentable::after, object.pf-commentable::after, video.pf-commentable::after, li.pf-commentable::after {
	position: absolute;
    top: 0px;
    background: url(../private/img/comment_readed_gray_64.png) no-repeat,rgba(255, 255, 255, 0.8);
    background-size: contain;
}
.pf-commentable:not(a):hover::after{
 	right: 0px;
 	opacity:1;
 	/*-webkit-transform:scale(1.2);*/
}
.pf-commentable.resInFlow{
	position: relative;
}
.pf-commentable.resInFlow::before{
	left: 10px;
	top: 10px;
	position: absolute;
	line-height: 120%;
}



a[pf-commentable].hasComment{
	display: inline-block;
}
a[pf-commentable].hasComment > * {
	display: inline-block;
}
a[pf-commentable].hasComment::after{
	position: relative; 
	/*z-index: 1;*/
	/* display: inline-block; */
	font-size: inherit;
    margin-left: 5px;
    padding-left: 2em;
    margin-left: 5px;
}


/* Special liens scenari */
a[pf-commentable].navBtn.hasComment::after {
	position: absolute;
}


/************************************************************************************************************************/
/************************************************************************************************************************/
/*********** Déplacement des messages */ 
/************************************************************************************************************************/
/************************************************************************************************************************/


.pf-droppable{
	outline: 2px dashed rgb(223, 118, 0);
}
.pf-droppable-hover{
	outline: 2px dashed rgb(0, 171, 9);
}

/************************************************************************************************************************/
/************************************************************************************************************************/
/*********** Tooltips */
/************************************************************************************************************************/
/************************************************************************************************************************/

.ui-tooltip-top,
.ui-tooltip-bottom,
.ui-tooltip-right {
	z-index: 205;
	opacity: 0.98;
	/*min-height: 120px;
	min-width: 260px;*/
	color: #ffffff;
	cursor: normal;
	display: -moz-inline-stack;
	display: inline-block;
	font-size: 12px;
	font-family: arial;
	padding: .5em 1em;
	position: absolute;
	/*position:relative;*/

	text-align: center;
	text-shadow: 0 -1px 1px #111111;
	-webkit-border-top-left-radius: 4px ;
	-webkit-border-top-right-radius: 4px ;
	-webkit-border-bottom-right-radius: 4px ;
	-webkit-border-bottom-left-radius: 4px ;
	-khtml-border-top-left-radius: 4px ;
	-khtml-border-top-right-radius: 4px ;
	-khtml-border-bottom-right-radius: 4px ;
	-khtml-border-bottom-left-radius: 4px ;
	-moz-border-radius-topleft: 4px ;
	-moz-border-radius-topright: 4px ;
	-moz-border-radius-bottomright: 4px ;
	-moz-border-radius-bottomleft: 4px ;
	border-top-left-radius: 4px ;
	border-top-right-radius: 4px ;
	border-bottom-right-radius: 4px ;
	border-bottom-left-radius: 4px ;
	-o-box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	-moz-box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	-khtml-box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	-webkit-box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	background-color: #3b3b3b;
	background-image: -moz-linear-gradient(top, #555555, #222222);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555555), color-stop(1, #222222));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555, EndColorStr=#222222);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555, EndColorStr=#222222);
}
.ui-tooltip-top:after,
.ui-tooltip-bottom:after,
.ui-tooltip-right:after {
	content: "\25B8";
	display: block;
	font-size: 4em;
	height: 0;
	line-height: 0;
	position: absolute;
}
.ui-tooltip-right:after {
	color: #2a2a2a;
	bottom: 0;
	left: 1px;
	text-align: center;
	text-shadow: 1px 0 2px #000000;
/*  -o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-khtml-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);*/
	width: 30px;
	height: 30px;
	right: 0px;
	/* position: absolute; */
	/* top: 0px; */
	/* display: inline-block; */
}
.ui-tooltip-bottom:after {
	color: #2a2a2a;
	bottom: 0;
	left: 1px;
	text-align: center;
	text-shadow: 1px 0 2px #000000;
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-khtml-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	width: 100%;
}
.ui-tooltip-bottom select {
	background: rgba(255, 255, 255, 0);
	font-family: "Helvetica";
	color: white;
	border: none;
	height: 30px;
}
.ui-tooltip-top:after {
	bottom: auto;
	color: #4f4f4f;
	left: -2px;
	top: 0;
	text-align: center;
	text-shadow: none;
	text-shadow: 1px 0px 0px black;
	-o-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-khtml-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	width: 100%;
}

.ui-tooltip-top.onHome:after {
	bottom: 0px;
	color: #2C2C2C;
	left: -9px;
	text-align: center;
	text-shadow: 1px 0px 0px black;
	-o-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-khtml-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	width: auto;
	top: auto;
}
.ui-tooltip-top.onHome.atTop:after {
	bottom: auto;
	color: #2C2C2C;
	left: -9px;
	text-align: center;
	text-shadow: 1px 0px 0px black;
	-o-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-khtml-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	width: auto;
	top: 0px;
}

.ui-tooltip-bottom{
	transform:translate(0px);
	transition:all ease-in-out .2s;
}
.ng-enter .ui-tooltip-bottom{
	transform:translateY(-10px);
	opacity: 0;
}
.ng-leave .ui-tooltip-bottom{
	transform:translateY(10px);
	opacity: 0;
}