//- include index.html

doctype html
html(ng-app='vitrine', lang='fr')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='{{"META.DESCRIPTION" | translate}}')
        meta(name='author', content='{{"META.AUTEUR" | translate}}')
        meta(name='keywords', content='{{"META.KEYWORDS" | translate}}')
        meta(name='langage', content='{{"META.LANGAGE" | translate}}')
        meta(name='google-site-verification', content="S_X9E5CawtD3BNGQ4ABq9BlbhPzwZIeTAVxWPQcRnYQ")

        title {{"TITRE.PAIRFORM" | translate}}

        link(rel='shortcut icon', href="public/ico/favicon.png")
        link(href='public/lib/css/bootstrap.min.css', rel="stylesheet")
        // Custom styles for this template
        link(href='public/css/pairform.css', rel="stylesheet")
        link(href='private/css/vitrine.css', rel="stylesheet")
        // Bootstrap core CSS
        // link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css', rel="stylesheet")
        // link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', rel="stylesheet")

        script(src='public/lib/js/angular.min.js')
        script(src='public/lib/js/angular-translate.min.js')
        script(src='public/lib/js/angular-translate-loader-static-files.js')
        script(src='public/lib/js/ngStorage.js')
        script(src='private/js/routes.js')
        script(type='textE/javascript').
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-40687872-2', 'pairform.fr');
            ga('send', 'pageview');

    body(ng-controller="controleurVitrine")
        //
          NAVBAR
          ================================================== 
        .navbar-wrapper
            .container
                .navbar.navbar-inverse.navbar-fixed-top
                    .container
                        .navbar-header
                            .navbar-brand
                                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                                    span.icon-bar
                                    span.icon-bar
                                    span.icon-bar
                                img(src='public/img/PairformLogo.png')
                        .navbar-collapse.collapse
                            ul.nav.navbar-nav
                                li: a(href='#top') {{"NAVIGATEUR.ACCUEIL" | translate}}
                                li
                                    a.dropdown-toggle(href='#projet', data-toggle='dropdown') {{"NAVIGATEUR.PROJET.TITRE" | translate}}
                                        b.caret
                                    ul.dropdown-menu
                                        li: a(href='#projet-finalite') {{"NAVIGATEUR.PROJET.FINALITE" | translate}}
                                        li: a(href='#projet-benefices') {{"NAVIGATEUR.PROJET.BENEFICES" | translate}}
                                        li: a(href='#projet-fonctions') {{"NAVIGATEUR.PROJET.FONCTIONS" | translate}}
                                        li: a(href='#projet-usages') {{"NAVIGATEUR.PROJET.USAGES" | translate}}
                                li
                                    a.dropdown-toggle(href='#utilisateurs', data-toggle='dropdown') {{"NAVIGATEUR.UTILISATEURS.TITRE" | translate}}
                                        b.caret
                                    ul.dropdown-menu
                                        li
                                            a(href='#utilisateurs-apprenant') {{"NAVIGATEUR.UTILISATEURS.APPRENANT" | translate}}
                                        li
                                            a(href='#utilisateurs-formateur') {{"NAVIGATEUR.UTILISATEURS.FORMATEUR" | translate}}
                                        li
                                            a(href='#utilisateurs-professionel') {{"NAVIGATEUR.UTILISATEURS.PROFESSIONEL" | translate}}
                                        li
                                            a(href='#utilisateurs-auteur') {{"NAVIGATEUR.UTILISATEURS.AUTEUR" | translate}}
                                li: a(href='#store') {{"NAVIGATEUR.BIBLIOTHEQUE" | translate}}
                                li: a(href='#proposer') {{"NAVIGATEUR.PROPOSER" | translate}}

                                li
                                    a.dropdown-toggle(href='#language', data-toggle='dropdown')
                                        img.drapeau-langue(alt='language', ng-src='public/img/drapeau_langue/{{"NAVIGATEUR.IMG_LANGUE" | translate}}.png') 
                                        b.caret
                                    ul.dropdown-menu
                                        li
                                            a(href='javascript:void(0)', data-ng-click="changerLangue('en')")
                                                img.drapeau-langue(alt='language', src='public/img/drapeau_langue/flag_en.png')
                                                span English
                                        li
                                            a(href='javascript:void(0)', data-ng-click="changerLangue('es')")
                                                img.drapeau-langue(alt='language', src='public/img/drapeau_langue/flag_es.png')
                                                span Español
                                        li
                                            a(href='javascript:void(0)', data-ng-click="changerLangue('fr')")
                                                img.drapeau-langue(alt='language', src='public/img/drapeau_langue/flag_fr.png')
                                                span Français
                                // 
                                  li 
                                    a(href='#telecharger') Télécharger
                                  li 
                                    a(href='#equipe') Qui sommes-nous ?

                            .navbar-login
                                a(href='https://itunes.apple.com/fr/app/pairform/id673935516?mt=8&uo=4', target='itunes_store')
                                    img(alt='{{"NAVIGATEUR.STORES.ALT_APPSTORE" | translate}}', ng-src='public/img/store/{{"IMAGES.IMG_APPSTORE" | translate}}')
                                a(href='https://play.google.com/store/apps/details?id=cape.pairform')
                                    img(alt='{{"NAVIGATEUR.STORES.ALT_PLAY_STORE" | translate}}', ng-src='public/img/store/{{"IMAGES.IMG_GOOGLE_PLAY" | translate}}')
                                // a(class='btn btn-large btn-primary', href='mailto:contact&#64pairform.fr?subject=[PairForm] Demande version beta&body=Note: expliquez votre démarche : qui êtes-vous? Pourquoi voulez vous essayer PairForm? Dans quel contextEe?') Déposez votre ressource
                                // ou  a(class='btn btn-large btn-primary', href='#') Connectez vous

        //
           Carousel
              ================================================== 
        #top.carousel.slide
            // Indicators
            ol.carousel-indicators
                li.active(data-target='#top', data-slide-to='0')
                li(data-target='#top', data-slide-to='1')
                li(data-target='#top', data-slide-to='2')
            .carousel-inner
                .item.active
                    // img(data-src='js/holder.js/1920x900/auto', data-original='img/Slide0.png', alt='')
                    // img(src='private/img/Slide0.png', alt='First slide')

                    #carousel-item-0.carousel-item-background
                    .container
                        .carousel-caption
                            h1 {{"CAROUSEL.RESEAU_SOCIAL.TITRE" | translate}}
                            p
                                | {{"CAROUSEL.RESEAU_SOCIAL.TEXTE" | translate}}
                            p
                                a.btn.btn-large.btn-primary(ng-href='mailto:contact@pairform.fr?subject=[PairForm] {{"CAROUSEL.RESEAU_SOCIAL.BOUTON_DEPOSER_RESSOURCE.SUJET_MAIL" | translate}}&body={{"CAROUSEL.RESEAU_SOCIAL.BOUTON_DEPOSER_RESSOURCE.CORPS_MAIL" | translate}}') {{"CAROUSEL.RESEAU_SOCIAL.BOUTON_DEPOSER_RESSOURCE.VALUE" | translate}}
                .item
                    // img(src='private/img/Slide0.png', alt='First slide')
                    #carousel-item-1.carousel-item-background
                    .container
                        .carousel-caption
                            h1 {{"CAROUSEL.FORMATION.TITRE" | translate}}
                            p {{"CAROUSEL.FORMATION.TEXTE" | translate}}
                            p
                                // a(class="btn btn-large btn-primary", href="#") Comment déployer?
                .item
                    // img(src="private/img/Slide0.png", alt="First slide")
                    #carousel-item-2.carousel-item-background
                    .container
                        .carousel-caption
                            h1 {{"CAROUSEL.ENVIRONNEMENT.TITRE" | translate}}
                            p
                                | {{"CAROUSEL.ENVIRONNEMENT.TEXTE" | translate}}
                            p
                                // a(class="btn btn-large btn-primary", href="#") Browse gallery
            a.left.carousel-control(href='#top', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href='#top', data-slide='next')
                span.glyphicon.glyphicon-chevron-right
        // /.carousel
        //
           Marketing messaging and featurettes
              ================================================== 
        // Wrap the rest of the page in another container to center all the content.
        .container.marketing
            // Three columns of textE below the carousel
            .row
                .col-lg-4
                    img.size256(src='private/img/apprendre2.png', alt='{{"MARKETING_MESSAGING.APPRENDRE.TITRE" | translate}}')
                    h2 {{"MARKETING_MESSAGING.APPRENDRE.TITRE" | translate}}
                    p
                        | {{"MARKETING_MESSAGING.APPRENDRE.TEXTE" | translate}}
                // /.col-lg-4
                .col-lg-4
                    img.size256(src='private/img/communiquer.png', alt='{{"MARKETING_MESSAGING.COMMUNIQUER.TITRE" | translate}}')
                    h2 {{"MARKETING_MESSAGING.COMMUNIQUER.TITRE" | translate}}
                    p
                        | {{"MARKETING_MESSAGING.COMMUNIQUER.TEXTE" | translate}}
                // /.col-lg-4
                .col-lg-4
                    img.size256(src='private/img/partager.png', alt='{{"MARKETING_MESSAGING.PARTAGER.TITRE" | translate}}')
                    h2 {{"MARKETING_MESSAGING.PARTAGER.TITRE" | translate}}
                    p
                        | {{"MARKETING_MESSAGING.PARTAGER.TEXTE" | translate}}
                    // 
                        p
                        a(class="btn btn-default", href="#") View details &raquo;
                // /.col-lg-4
            // /.row
            h2.label-centered {{"MARKETING_DEVICES.TITRE" | translate}}...
            // Three columns of textE below the carousel
            .row
                .col-lg-4
                    img.size256(src='private/img/PFWeb_planche_12.png', alt='PairForm {{"MARKETING_DEVICES.SMARTPHONE.TITRE" | translate}}')
                    h2 {{"MARKETING_DEVICES.SMARTPHONE.TITRE" | translate}}
                    p
                        | {{"MARKETING_DEVICES.SMARTPHONE.TEXTE" | translate}}
                // /.col-lg-4
                .col-lg-4
                    img.size256(src='private/img/PFWeb_planche_11.png', alt='PairForm {{"MARKETING_DEVICES.TABLETTE.TITRE" | translate}}')
                    h2 {{"MARKETING_DEVICES.TABLETTE.TITRE" | translate}}
                    p
                        | {{"MARKETING_DEVICES.TABLETTE.TEXTE" | translate}}
                // /.col-lg-4
                .col-lg-4
                    img.size256(src='private/img/PFWeb_planche_16.png', alt='PairForm {{"MARKETING_DEVICES.WEB.TITRE" | translate}}')
                    h2 {{"MARKETING_DEVICES.WEB.TITRE" | translate}}
                    p
                        | {{"MARKETING_DEVICES.WEB.TEXTE" | translate}}
                // /.col-lg-4
            // /.row
        #projet.jumbotron.anchorHeader
            h1 {{"FONCTIONNALITES.TITRE" | translate}}
        .container.marketing
            // START THE FEATURETTES
            #projet-finalite.row.featurette
                .col-md-7
                    h2.featurette-heading {{"FONCTIONNALITES.FINALITES.TITRE" | translate}} 
                    ul
                        li
                            b {{"FONCTIONNALITES.FINALITES.FORMATION.TITRE" | translate}}
                            | {{"FONCTIONNALITES.FINALITES.FORMATION.TEXTE" | translate}}
                        li
                            b {{"FONCTIONNALITES.FINALITES.RELATION.TITRE" | translate}}
                            | {{"FONCTIONNALITES.FINALITES.RELATION.TEXTE" | translate}}
                        li
                            b {{"FONCTIONNALITES.FINALITES.ENTRAIDE.TITRE" | translate}}
                            | {{"FONCTIONNALITES.FINALITES.ENTRAIDE.TEXTE" | translate}}
                        li
                            b {{"FONCTIONNALITES.FINALITES.EXPERIENCE.TITRE" | translate}}
                            | {{"FONCTIONNALITES.FINALITES.EXPERIENCE.TEXTE" | translate}}
                    p
                .col-md-5
                    img.featurette-image.img-responsive(src='private/img/PFWeb_planche_01.png', alt='{{"FONCTIONNALITES.FINALITES.ALT_IMG" | translate}}')
            hr.featurette-divider
            #projet-benefices.row.featurette
                .col-md-5
                    img.featurette-image.img-responsive(src='private/img/PFWeb_planche_02.png', alt='{{"FONCTIONNALITES.BENEFICES.ALT_IMG" | translate}}')
                .col-md-7
                    h2.featurette-heading {{"FONCTIONNALITES.BENEFICES.TITRE" | translate}}
                    ul
                        li
                            | {{"FONCTIONNALITES.BENEFICES.RESSOURCES" | translate}}
                        li
                            | {{"FONCTIONNALITES.BENEFICES.RESEAU.TITRE" | translate}}
                            ul
                                li {{"FONCTIONNALITES.BENEFICES.RESEAU.INTELLIGENCE" | translate}}
                                li
                                    | {{"FONCTIONNALITES.BENEFICES.RESEAU.RELATION" | translate}}
                                li {{"FONCTIONNALITES.BENEFICES.RESEAU.PARTICIPATION" | translate}}
                                li {{"FONCTIONNALITES.BENEFICES.RESEAU.PARTENAIRES" | translate}}
                        li {{"FONCTIONNALITES.BENEFICES.OUVERTURE" | translate}}
                        li {{"FONCTIONNALITES.BENEFICES.VISIBILITE" | translate}}
                        li {{"FONCTIONNALITES.BENEFICES.USAGES" | translate}}
                    p
            hr.featurette-divider
            #projet-fonctions.row.featurette
                .col-md-7
                    h2.featurette-heading {{"FONCTIONNALITES.FONCTIONS.TITRE" | translate}}
                    p.lead
                    ul
                        li
                            | {{"FONCTIONNALITES.FONCTIONS.RESEAU_SOCIAL" | translate}}
                        li {{"FONCTIONNALITES.FONCTIONS.EVALUATION_MESSAGES" | translate}}
                        li {{"FONCTIONNALITES.FONCTIONS.RELATION" | translate}}
                        li {{"FONCTIONNALITES.FONCTIONS.GESTION_GROUPES" | translate}}
                        li {{"FONCTIONNALITES.FONCTIONS.MOTIVATION" | translate}}
                        li {{"FONCTIONNALITES.FONCTIONS.SUPPORTS" | translate}}
                        li {{"FONCTIONNALITES.FONCTIONS.STORE" | translate}}
                        li {{"FONCTIONNALITES.FONCTIONS.PROCESSUS_SOUMISSION" | translate}}
                    p
                .col-md-5
                    img.featurette-image.img-responsive(src='private/img/PFWeb_planche_03.png', alt='{{"FONCTIONNALITES.FONCTIONS.ALT_IMG" | translate}}')
            hr.featurette-divider
            #projet-usages.row.featurette
                .col-md-5
                    img.featurette-image.img-responsive(src='private/img/PFWeb_planche_04.png', alt='{{"FONCTIONNALITES.USAGES.ALT_IMG" | translate}}')
                .col-md-7
                    h2.featurette-heading {{"FONCTIONNALITES.USAGES.TITRE" | translate}}
                    ul
                        li {{"FONCTIONNALITES.USAGES.RECHERCHE_INFOS" | translate}}
                        li {{"FONCTIONNALITES.USAGES.ACQUISITION_CONNAISSANCES" | translate}}
                        li {{"FONCTIONNALITES.USAGES.APPRENTISSAGE" | translate}}
                        li {{"FONCTIONNALITES.USAGES.PARTAGE" | translate}}
                        li {{"FONCTIONNALITES.USAGES.MISE_EN_PERSPECTIVE" | translate}}
                        li {{"FONCTIONNALITES.USAGES.VEILLE" | translate}}
                        li {{"FONCTIONNALITES.USAGES.DIAGNOSTIC" | translate}}
                        li
                            | {{"FONCTIONNALITES.USAGES.RECHERCHE_PARTENAIRES" | translate}}
                        li
                            | {{"FONCTIONNALITES.USAGES.RENFORCER_LIEN" | translate}}
                        li {{"FONCTIONNALITES.USAGES.FORMATIONS" | translate}}
                    p
            // /END THE FEATURETTES
        #utilisateurs.jumbotron.anchorHeader
            h1 {{"PUBLIC.TITRE" | translate}}
        .container.marketing
            // START THE FEATURETTES
            #utilisateurs-apprenant.row.featurette
                .col-md-7
                    h2.featurette-heading {{"PUBLIC.APPRENANTS.TITRE" | translate}}
                    | {{"PUBLIC.APPRENANTS.APPRENANTS" | translate}}
                    ul
                        li {{"PUBLIC.APPRENANTS.COUPLE" | translate}}
                        li {{"PUBLIC.APPRENANTS.COMPLEMENT" | translate}}
                        li {{"PUBLIC.APPRENANTS.AUTO_FORMATION" | translate}}
                        li {{"PUBLIC.APPRENANTS.FORMATION_CONTINUE" | translate}}
                        li {{"PUBLIC.APPRENANTS.FORMATIONS_INTER_ENTREPRISES" | translate}}
                        li {{"PUBLIC.APPRENANTS.FORMATION_A_VIE" | translate}}
                        li {{"PUBLIC.APPRENANTS.UNIVERSITE_3_AGE" | translate}}
                .col-md-5
                    img.featurette-image.img-responsive(src='private/img/PFWeb_planche_05.png', alt='{{"PUBLIC.APPRENANTS.ALT_IMG" | translate}}')
            hr.featurette-divider
            #utilisateurs-formateur.row.featurette
                .col-md-5
                    img.featurette-image.img-responsive(src='private/img/PFWeb_planche_06.png', alt='{{"PUBLIC.FORMATEURS.ALT_IMG" | translate}}')
                .col-md-7
                    h2.featurette-heading {{"PUBLIC.FORMATEURS.TITRE" | translate}}
                    p.lead
                    ul
                        li {{"PUBLIC.FORMATEURS.OUTIL" | translate}}
                        li {{"PUBLIC.FORMATEURS.SOCIAL_LEARNING" | translate}}
                        li {{"PUBLIC.FORMATEURS.ACCROITRE_VISIBILITE" | translate}}
                        li {{"PUBLIC.FORMATEURS.ADHESION" | translate}}
                    p
            hr.featurette-divider
            #utilisateurs-professionel.row.featurette
                .col-md-7
                    h2.featurette-heading {{"PUBLIC.PROFESSIONNELS.TITRE" | translate}}
                    p.lead
                    ul
                        li {{"PUBLIC.PROFESSIONNELS.PARTAGER" | translate}}
                        li {{"PUBLIC.PROFESSIONNELS.RELATION" | translate}}
                        li {{"PUBLIC.PROFESSIONNELS.MISE_A_NIVEAU" | translate}}
                        li {{"PUBLIC.PROFESSIONNELS.ELARGIR_RESEAU" | translate}}
                    p
                .col-md-5
                    img.featurette-image.img-responsive(src='private/img/PFWeb_planche_07.png', alt='{{"PUBLIC.PROFESSIONNELS.ALT_IMG" | translate}}')
            hr.featurette-divider
            #utilisateurs-auteur.row.featurette
                .col-md-5
                    img.featurette-image.img-responsive(src='private/img/PFWeb_planche_08.png', alt='{{"PUBLIC.AUTEURS.ALT_IMG" | translate}}')
                .col-md-7
                    h2.featurette-heading {{"PUBLIC.AUTEURS.TITRE" | translate}}
                    ul
                        li {{"PUBLIC.AUTEURS.ACCROITRE_VISIBILITE" | translate}}
                        li {{"PUBLIC.AUTEURS.DEVELOPPER_COMMUNAUTE" | translate}}
                        li {{"PUBLIC.AUTEURS.DIALOGUER" | translate}}
                        li {{"PUBLIC.AUTEURS.CONTACTER" | translate}}
                    p
            // /END THE FEATURETTES
        #store.jumbotron.anchorHeader
            h1 {{"RESSOURCES.TITRE" | translate}}
        .container.marketing
            // Three columns of textE below the carousel
            .row
                .col-lg-4
                    img.featurette-image.img-responsive(src='private/img/multimedia.png', alt='{{"RESSOURCES.MULTIMEDIAS.ALT_IMG" | translate}}')
                    h2 {{"RESSOURCES.MULTIMEDIAS.TITRE" | translate}}
                    p
                        | {{"RESSOURCES.MULTIMEDIAS.TEXTE" | translate}}
                // /.col-lg-4
                .col-lg-4
                    img.featurette-image.img-responsive(src='private/img/communiquer2.png', alt='{{"RESSOURCES.APPRENTISSAGE.ALT_IMG" | translate}}')
                    h2 {{"RESSOURCES.APPRENTISSAGE.TITRE" | translate}}
                    p
                        | {{"RESSOURCES.APPRENTISSAGE.TEXTE" | translate}}
                // /.col-lg-4
                .col-lg-4
                    img.featurette-image.img-responsive(src='private/img/communaute.png', alt='{{"RESSOURCES.COMMUNAUTES.ALT_IMG" | translate}}')
                    h2 {{"RESSOURCES.COMMUNAUTES.TITRE" | translate}}
                    p
                        | {{"RESSOURCES.COMMUNAUTES.TEXTE" | translate}}
                // /.col-lg-4
            // /.row
        h2#store-res.label-centered {{"RESSOURCES_DISPONIBLES" | translate}}
        //
          ?php
                  include_once("mod/shelf.php");
                ?
        #proposer.jumbotron.anchorHeader
            h1 {{"AJOUTER_RESSOURCE" | translate}}
        //
           Marketing messaging and featurettes
              ================================================== 
        // Wrap the rest of the page in another container to center all the content.
        .container.marketing
            // Three columns of textE below the carousel
            .row
                p
                    | {{"MISE_EN_LIGNE_RESSOURCE.TEXTE_EN_DEVELOPPEMENT" | translate}}
                    a.btn.btn-large.btn-primary(href='mailto:contact@pairform.fr?subject=[PairForm] {{"CAROUSEL.RESEAU_SOCIAL.BOUTON_DEPOSER_RESSOURCE.SUJET_MAIL" | translate}}&body={{"CAROUSEL.RESEAU_SOCIAL.BOUTON_DEPOSER_RESSOURCE.CORPS_MAIL" | translate}}') {{"MISE_EN_LIGNE_RESSOURCE.TEXTE_BOUTON" | translate}}
                    | {{"MISE_EN_LIGNE_RESSOURCE.TEXTE_EXPERIMENTATION" | translate}}
                br
                p {{"APPORTS_PAIRFORM.TITRE" | translate}}
                .col-lg-4
                    img.featurette-image.img-responsive(src='private/img/structurer.png', alt='{{"APPORTS_PAIRFORM.STRUCTURER.ALT_IMG" | translate}}')
                    h2 {{"APPORTS_PAIRFORM.STRUCTURER.TITRE" | translate}}
                    p {{"APPORTS_PAIRFORM.STRUCTURER.TEXTE" | translate}}
                        a(href='mailto:contact@pairform.fr') {{"APPORTS_PAIRFORM.STRUCTURER.CONTACT" | translate}}
                // /.col-lg-4
                .col-lg-4
                    img.featurette-image.img-responsive(src='private/img/controler.png', alt='{{"APPORTS_PAIRFORM.CONTROLER.ALT_IMG" | translate}}')
                    h2 {{"APPORTS_PAIRFORM.CONTROLER.TITRE" | translate}}
                    p {{"APPORTS_PAIRFORM.CONTROLER.TEXTE" | translate}}
                // /.col-lg-4
                .col-lg-4
                    img.featurette-image.img-responsive(src='private/img/publier.png', alt='{{"APPORTS_PAIRFORM.PUBLIER.ALT_IMG" | translate}}')
                    h2 {{"APPORTS_PAIRFORM.PUBLIER.TITRE" | translate}}
                    p {{"APPORTS_PAIRFORM.PUBLIER.TEXTE" | translate}}
                // /.col-lg-4
            // /.row
        .container.marketing
            hr.featurette-divider
            // FOOTER
            footer
                p.pull-right
                    a(href='#') {{"FOOTER.HAUT_PAGE" | translate}}
                p
                    | {{"FOOTER.COPYRIGHT" | translate}}
                    // 
                        a(href="#") CGU &middot; 
                        a(href="#") Licence
        // /.container
        //
            Bootstrap core JavaScript
            ================================================== 
        // Placed at the end of the document so the pages load faster
        script(type='textE/javascript').
            // <![CDATA[
            $('.navbar-nav').onePageNav({
            currentClass: "active",
            scrollOffset: 50,
            scrollSpeed: 1200
            });
            // ]]>
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='public/lib/js/bootstrap.min.js')
        script(src='public/lib/js/holder.js')
        script(src='public/lib/js/jquery.scrollTo.js')
        script(src='public/lib/js/jquery.nav.js')
        script(type='textE/javascript', src='public/lib/js/scrollorama/jquery.superscrollorama.js')
        script(type='textE/javascript', src='public/lib/js/scrollorama/greensock/TweenMax.min.js')
        script(type='textE/javascript', src='public/js/pairform.js')
        // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
        //if lt IE 9
            script(src='js/html5shiv.js')
            script(src='js/respond.min.js')
        //if lt IE 9
            script(src='js/html5shiv.js')
            script(src='js/respond.min.js')
        //if lt IE 9
            script(src='js/html5shiv.js')
            script(src='js/respond.min.js')
        //if lt IE 9
            script(src='js/html5shiv.js')
            script(src='js/respond.min.js')

