doctype html
html(lang='fr')
	head
		meta(charset='utf-8')
		meta(name='hash_ressource', content='00000000')
		meta(name='pf_vitrine')
		meta(name='generator', content='special')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', ng-attr-content='{{"META.DESCRIPTION" | translate}}')
		meta(name='author', ng-attr-content='{{"META.AUTEUR" | translate}}')
		meta(name='keywords', ng-attr-content='{{"META.KEYWORDS" | translate}}')
		meta(name='langage', ng-attr-content='{{"META.LANGAGE" | translate}}')
		meta(name='google-site-verification', content='S_X9E5CawtD3BNGQ4ABq9BlbhPzwZIeTAVxWPQcRnYQ')

		title PairForm

		link(rel='shortcut icon', href='public/ico/favicon.png')
		link(href='public/lib/css/bootstrap.min.css', rel='stylesheet')
		

		//- link(href="private/css/accueil.css", rel="stylesheet")
		//- link(href="private/css/angular.css", rel="stylesheet")
		//- link(href="private/css/circle.css", rel="stylesheet")
		//- link(href="private/css/demo.css", rel="stylesheet")
		//- link(href="private/css/equipe.css", rel="stylesheet")
		//- link(href="private/css/fonts.css", rel="stylesheet")
		//- link(href="private/css/general.css", rel="stylesheet")
		//- link(href="private/css/keyframes.css", rel="stylesheet")
		//- link(href="private/css/kiosque.css", rel="stylesheet")

		link(href="dist/pf_vitrine.css", rel="stylesheet")

		
		script(src='public/lib/js/jquery.js', type='text/javascript')
		script(src='public/lib/js/bootstrap.min.js', type='text/javascript')
		script(src='private/js/masonry.min.js', type='text/javascript')
		script(src='app')
		script.
			PF.globals.selector = ".pf-demo span, .pf-demo li";
			PF.globals.selectorRes = "none";
			PF.globals.selectorPage = "none";
			PF.globals.selectorContent = ".pf-demo";
		//- script(src='private/js/pf_vitrine.js', type='text/javascript')
		script(src='dist/pf_vitrine.min.js', type='text/javascript')
		script(type="text/javascript" src="https://pairform.agilecrm.com/stats/min/agile-min.js") 
		script(type="text/javascript").
			_agile.set_account('3orstj0mtk9n33am84bme2dp17', 'pairform'); _agile.track_page_view();

	body
		include menu

		main.site-vitrine.container-fluid.clearfix
			.spin-box
			div(ng-view)

		//- script(type='text/javascript').
		//- 	var _paq = _paq || [];
		//- 	_paq.push(['trackPageView']);
		//- 	_paq.push(['enableLinkTracking']);
		//- 	(function() {
		//- 		var u="//imedia.emn.fr/piwik/piwik/";
		//- 		_paq.push(['setTrackerUrl', u+'piwik.php']);
		//- 		_paq.push(['setSiteId', 2]);
		//- 		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		//- 		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		//- 	})();
		//- noscript
		//- 	p #[img(src='//imedia.emn.fr/piwik/piwik/piwik.php?idsite=2', style='border:0;' alt='')]
				
