.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		button.navbar-toggle(type='button')
			span.sr-only {{"MENU.AFFICHER" | translate}}
			span.icon-bar
			span.icon-bar
			span.icon-bar

		.navbar-header
			a.navbar-brand.hidden-sm(href='#/accueil')
				img(src='public/img/PairformLogo.png')
			//- p.navbar-text.hidden-xs.hidden-sm.hidden-md - Bêta
			//- p.navbar-text.hidden-xs.hidden-sm.hidden-md {{"MENU.SLOGAN" | translate}}
		.collapse.navbar-collapse.navbar-right#navigation-bar
			ul.nav.navbar-nav
				li(menu-item): a(href='#/accueil') {{"MENU.ACCUEIL" | translate}}
				li(menu-item): a(href='#/kiosque') {{"MENU.KIOSQUE" | translate}}
				//- li(menu-item): a(href='#/formation') {{"MENU.FORMATION" | translate}}
				//- li(menu-item): a(href='#/integrationPF') {{"MENU.INTEGRATION_PF" | translate}}
				li(menu-item): a(href='#/tarif') {{"MENU.TARIF_CGU" | translate}}
				//- li(menu-item): a(href='#/media') {{"MENU.MEDIA" | translate}}
				li(menu-item): a(href='#/equipe') {{"MENU.EQUIPE" | translate}}
				//- li(menu-item)
					a.dropdown-toggle(href='', data-toggle='dropdown') {{"MENU.EN_SAVOIR_PLUS" | translate}}
						span &nbsp;
						b.caret
					ul.dropdown-menu
						li(menu-item): a(href='#/media') {{"MENU.MEDIA" | translate}}
						li(menu-item): a(href='#/equipe') {{"MENU.EQUIPE" | translate}}
