[ng-view] section:first-child {
  margin-top: 20px;
}

/* Override de la taille du widget twitter, pour qu'il soit responsive. */
#twitter-widget-0 { 
  width: 100% !important; 
}
.row{	
  margin-bottom: 20px;
}
.alert-info {
  color: #0489C3;
  background-color: #D5E7EF;
  border-color: #00A4EC;
}
.pf-background{
  color: black;
  background: -moz-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(20%, #eaeaea), color-stop(80%, #dddddd), color-stop(100%, #dbdbdb));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f4f4f4 0%, #eaeaea 20%, #dddddd 80%, #dbdbdb 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dbdbdb', GradientType=0);
}
body {
	background: url("../img/bg.png") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Raleway';
}
menu {
	position: fixed;
	width: 200px;
	height: 200px;
}


header {
	text-align: center;
	color: white;
}

footer {
  color: rgb(208, 208, 208);
  text-align: center;
}
.page-header{

  border-bottom: 1px solid rgba(255, 255, 255, 0.21);
  box-shadow: 0 1px 0px black;
}
.btn.btn-info{
	background-color:rgba(0, 164, 236, 1);
}
h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;
	font-family: 'Raleway';
}

h1 {
	font-size: 20px;
}
h2, h1 small{
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h1,h2,h3{
	font-weight: 300;
}

.navbar{
	-webkit-transition: opacity ease-in-out .5s;
	-o-transition: opacity ease-in-out .5s;
	transition: opacity ease-in-out .5s;
	-webkit-transition-delay: .8s;
	-o-transition-delay: .8s;
	transition-delay: .8s;
	opacity: 0;
}
[ng-controller="main_controller"]:not(.ng-cloak) + .navbar{
	opacity: 1;
}
[ng-view].ng-leave{
	-webkit-animation: scaleOutSoft ease-in-out .5s;
	-moz-animation: scaleOutSoft ease-in-out .5s;
	-o-animation: scaleOutSoft ease-in-out .5s;
	animation: scaleOutSoft ease-in-out .5s;
	transform-origin:50% 0%;
}

[ng-view].ng-enter{
	opacity: 0;
	transform-origin:50% 0%;
	-webkit-animation: scaleInSoft ease-in-out .5s;
	-moz-animation: scaleInSoft ease-in-out .5s;
	-o-animation: scaleInSoft ease-in-out .5s;

	animation: scaleInSoft ease-in-out .5s;
	
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}

.demo-content-illustration{
	opacity: 0;
	-webkit-animation: enterFromRight ease-in-out 1s forwards;
	-webkit-animation-delay: 2s;

	-moz-animation: enterFromRight ease-in-out 1s forwards;
	-moz-animation-delay: 2s;

	-o-animation: enterFromRight ease-in-out 1s forwards;
	-o-animation-delay: 2s;

	animation: enterFromRight ease-in-out 1s forwards;
	animation-delay: 2s;
}

@-webkit-keyframes enterFromRight {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes enterFromRight {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes enterFromRight {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes enterFromRight {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.tile-container{

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	/*margin: 0px auto;*/
}
.tile{
	/*margin-bottom: 10px;*/
	min-width: 120px;
	min-height: 120px;
	max-width: 150px;
	background-repeat: no-repeat;
	/* background-size: cover; */
	background-position: 50%;
	background-size: 100px 100px;
	background-color: white;
	-webkit-transition: all ease-in-out .5s;
	-o-transition: all ease-in-out .5s;
	transition: all ease-in-out .5s;
}
.tile.small-tile{
	/*min-width: 50px;*/
	/*min-height: 50px;*/
	max-width: 100px;
	max-height: 100px;
}
.tile.large-tile{
	/*min-width: 160px;*/
	/*min-height: 160px;*/
	max-width: 250px;
	max-height: 280px;
}
.tile.huge-tile{
	/*min-width: 200px;*/
	/*min-height: 200px;*/
	max-width: 360px;
	/*max-height: 360px;*/
}
.tile .tile-content.image img{
	width: 100%;
}

.tile .nombre_ressources{
	float: right;
	background-color: rgba(255, 126, 0, 0.66);
	padding: 0 7px;
}
.tile .small-nombre{
	background-color: rgba(255, 255, 255, 0.66);
}
.tile .large-nombre{
	background-color: rgba(255, 68, 0, 0.66);
}
.tile .huge-nombre{
	background-color: rgba(255, 0, 0, 0.66);
}
.metro .tile-group{
	width: calc(100% - 160px);
}
.metro .tile{
	-webkit-transition: all ease-in-out .4s;
	-o-transition: all ease-in-out .4s;
	transition: all ease-in-out .4s;
}
.metro .tile:hover{
	/*-webkit-transform: scale(1.05);*/

	-webkit-filter: saturate(150%);
	-ms-filter: saturate(150%);
	-o-filter: saturate(150%);
	filter: saturate(150%);
}
.metro .tile.flipped{
	width: initial !important;
	padding: 35px;
	height: auto !important;
}

hr{
	border-top: 1px solid rgba(255, 255, 255, 0.21);
	box-shadow: 0 1px 0px black;
}
.tile .brand {
	position: absolute;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.75);
	left: 0px;
	right: 0px;
	text-align: center;
}
.pf-centered {
	margin: 0 auto;
	float: none;
}

.finder-no-results{
	color: black;
	text-align: center;
}
.metro .tile .brand .badge, .metro .tile .tile-status .badge{
	right: 0px;
}
.metro .tile.flipped .tile-content.image{
	/*z-index: 200;*/
/*	-webkit-transition: all ease-in-out .8s;
-o-transition: all ease-in-out .8s;
transition: all ease-in-out .8s;
*/	-webkit-filter: blur(4px);
-ms-filter: blur(4px);
-o-filter: blur(4px);
filter: blur(4px);
background: white;
/*-webkit-transform: rotateY(180deg) scale(1.5);*/
}
.metro .tile.flipped .tile-content.image img{
opacity: 0.4;
}
.ressources.kiosque-recherche {
width: auto;
}
.ressources.kiosque-recherche .ressources-items-container{
background: white;
overflow-x: scroll;
overflow-y: hidden;
-webkit-transition: all ease-in-out .4s;
-o-transition: all ease-in-out .4s;
transition: all ease-in-out .4s;
top: 0px;
opacity: 1;
position: relative;
/*z-index: -1;*/
}
.ressources .large-tile .ressources-items-container.kiosque,
.ressources .huge-tile .ressources-items-container.kiosque{
transition-delay:.3s;
}
.ressources .ressources-items-container.kiosque{
-webkit-transition: all ease-in-out .2s;
-o-transition: all ease-in-out .2s;
transition: all ease-in-out .2s;
opacity: 1;
padding-bottom: 10px;
}
.ressources .ressources-items-container.kiosque.ng-hide{

opacity: 0;
}
.ressources .ressources-items-container.kiosque.ng-hide-add{
}
.ressources .ressources-items-container.kiosque.ng-hide-remove{
/*display: none;*/
}
.ressources.kiosque-recherche .ressources-items-container.ng-hide{
top: -20px;
opacity: 0;
}
.ressources.kiosque-recherche .ressources-items-container.ng-hide-remove, .ressources.kiosque-recherche .ressources-items-container.ng-hide-remove{
display: block !important;
}

.ressources.kiosque-recherche .ressources-items-container div{
-webkit-transition: all ease-in-out .4s;
-o-transition: all ease-in-out .4s;
transition: all ease-in-out .4s;
cursor: pointer;
}
.ressources.kiosque-recherche .ressources-items-container div{
opacity: 1;
}
.ressources.kiosque-recherche .ressources-items-container div.ng-leave {
opacity: 0;
}
.ressources.kiosque-recherche .ressources-items-container div.ng-leave, .ressources.kiosque-recherche .ressources-items-container div.ng-enter {
/*display: block !important;*/
}
.ressources.kiosque{
width: auto;
margin: auto;
margin-bottom: 10px;
cursor: pointer;
}
.ressources .ressources-items-container.kiosque{
	position: relative;
	white-space: initial;
	border-top: none;
	overflow-x: initial;
	box-shadow: none;
	background: rgba(255, 255, 255, 0.85);
  cursor: initial;
}
.ressources .ressources-items-container.kiosque div{
margin: 10px 20px;
cursor: pointer;
}
.ressources .ressources-items-container.kiosque div:hover{

-webkit-filter: saturate(150%);
-ms-filter: saturate(150%);
-o-filter: saturate(150%);
filter: saturate(150%);
}
/*.ressources .ressources-items-container.kiosque div:not([data-count='0'])::after{
margin: -105px 50px;	
}*/

/* Demo section */

.demo-section {
	margin: 0vh 5vw;
	/* background: red; */
	/*float: left;*/
}
/* Spin box */
.spin-box {
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	border-radius: 100%;
	width: 32px;
	height: 32px;
	box-shadow: 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf;
	-webkit-animation: spin ease infinite 4s;
	-moz-animation: spin ease infinite 4s;
	-o-animation: spin ease infinite 4s;
	animation: spin ease infinite 4s;
}
@-webkit-keyframes spin {
	0%,
	100% {
		box-shadow: 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf;
	}
	25% {
		box-shadow: -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf, 32px 32px #4f4d49;
	}
	50% {
		box-shadow: -32px -32px #4f4d49, 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf;
	}
	75% {
		box-shadow: 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49;
	}
}
@-moz-keyframes spin {
	0%,
	100% {
		box-shadow: 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf;
	}
	25% {
		box-shadow: -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf, 32px 32px #4f4d49;
	}
	50% {
		box-shadow: -32px -32px #4f4d49, 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf;
	}
	75% {
		box-shadow: 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49;
	}
}
@-o-keyframes spin {
	0%,
	100% {
		box-shadow: 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf;
	}
	25% {
		box-shadow: -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf, 32px 32px #4f4d49;
	}
	50% {
		box-shadow: -32px -32px #4f4d49, 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf;
	}
	75% {
		box-shadow: 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49;
	}
}
@keyframes spin {
	0%,
	100% {
		box-shadow: 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf;
	}
	25% {
		box-shadow: -32px 32px #dfdfdf, -32px -32px #4f4d49, 32px -32px #dfdfdf, 32px 32px #4f4d49;
	}
	50% {
		box-shadow: -32px -32px #4f4d49, 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf;
	}
	75% {
		box-shadow: 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49;
	}
}

.navbar-brand {
	padding: 0px 15px;
}
.navbar-brand img {
    height: 44px;
    padding-left: 10px;
}
.navbar-brand p {
	padding: 10px;
}
.navbar-default {
	top:35px;
	z-index: 5;
	background-color: rgba(255, 255, 255, 0.88);
}

.navbar-default .navbar-toggle {
    border-color: rgb(195, 195, 195);
    box-shadow: 0 1px 1px white;
    border-radius: 80px;
    padding: 9px 6px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(255, 159, 91);
    box-shadow: 0 1px 1px rgb(186, 85, 0);
}

main.container-fluid{
	/*width: 80%;*/
	/*min-width: 720px;*/
	margin: 86px auto 0px auto;
	color: white;
}
.thumbnail, .panel {
	color: black;
	margin-bottom: 10px;
}
.page-header h1 {
	/*font-size: 28px;*/
	font-weight: 400;
	text-shadow: 0px 1px 2px rgba(36, 36, 36, 0.16);
}

.equipe-personne {
	position: relative;
}
img.float-left{
	float: left;
  	clear: both;
	border-radius: 2px;

	width: 90px;
	margin: 6px;
}
.equipe-personne h1{
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.equipe-presentation {
	padding: 12px;
}
.equipe-presentation img {
	margin: 0px 12px 12px 0px;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-heavy-webfont.eot');
	src: url('../fonts/raleway/raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-heavy-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-heavy-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-heavy-webfont.svg#ralewayheavy') format('svg');
	font-weight: 900;
	font-style: normal;

}



@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-extrabold-webfont.eot');
	src: url('../fonts/raleway/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-extrabold-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-extrabold-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
	font-weight: 800;
	font-style: normal;

}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-bold-webfont.eot');
	src: url('../fonts/raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-bold-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-bold-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
	font-weight: 700;
	font-style: normal;

}


@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-semibold-webfont.eot');
	src: url('../fonts/raleway/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-semibold-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-semibold-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
	font-weight: 600;
	font-style: normal;

}


@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-medium-webfont.eot');
	src: url('../fonts/raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-medium-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-medium-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-medium-webfont.svg#ralewaymedium') format('svg');
	font-weight: 500;
	font-style: normal;

}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-regular-webfont.eot');
	src: url('../fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-regular-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
	font-weight: 400;
	font-style: normal;

}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-light-webfont.eot');
	src: url('../fonts/raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-light-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-light-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-light-webfont.svg#ralewaylight') format('svg');
	font-weight: 300;
	font-style: normal;

}




@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-extralight-webfont.eot');
	src: url('../fonts/raleway/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-extralight-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-extralight-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-extralight-webfont.svg#ralewayextralight') format('svg');
	font-weight: 200;
	font-style: normal;

}



@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/raleway-thin-webfont.eot');
	src: url('../fonts/raleway/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/raleway/raleway-thin-webfont.woff') format('woff'),
	url('../fonts/raleway/raleway-thin-webfont.ttf') format('truetype'),
	url('../fonts/raleway/raleway-thin-webfont.svg#ralewaythin') format('svg');
	font-weight: 100;
	font-style: normal;
}

.circle-container {
    position: relative;
  	font-size: 20px;
    width: 24em;
    height: 24em;
    /*padding: 2.8em; */
    /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
  /* border: dashed 2px rgb(103, 103, 103); */
  	background: rgba(255, 255, 255, 0.05);    
  	border-radius: 50%;
    margin: 1.75em auto 0;

}
.circle-container * {
	
	-webkit-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
}
.circle-container.theme-entreprise .circle-element:hover .circle-title {
  background: rgb(34, 145, 234);
  color: rgb(220, 232, 255);
}
.circle-container.theme-enseignement .circle-element:hover .circle-title {
  background: rgb(223, 127, 0);
  color: rgb(255, 241, 218);
}
.circle-element:hover ~ .circle-center{
	-webkit-filter: blur(16px);
}
.circle-element:hover ~ .circle-content{
	opacity: 1;
}
.circle-container .circle-content .circle-description{
	font-size: 14px;
	text-shadow: 0px 1px 1px rgb(208, 208, 208);
	color: rgb(6, 6, 6);
	font-weight: 500;
	display: none;
	text-align: center;
	letter-spacing: 0.05em;
}

.circle-container .circle-content{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
	background: rgba(255, 255, 255, 0.75);
	border-radius: 50%;
	-webkit-transition: opacity ease-in-out .4s;
	-o-transition: opacity ease-in-out .4s;
	transition: opacity ease-in-out .4s;
	opacity: 0;
}
.circle-container .circle-center .center-animation{	
  pointer-events: none;
  z-index: 0;
  position: absolute;
}
.pf-real-center{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.circle-container .circle-element {
    display: block;
    /* overflow: hidden; */
    position: absolute;
    z-index: 2;
    top: 50%; 
    left: 50%;
    width: 8em; 
    /*height: 4em;*/
    text-align: center;
    /* background: red; */
    margin: -2em -4em; /* 2em = 4em/2 */ /* half the width */
}

.circle-container .circle-element .circle-title{
    color: rgb(48, 48, 48);
    font-size: 20px;
    line-height: 1em;
    padding: 8px 24px;
    border-radius: 4px;
    font-variant: small-caps;
    cursor: pointer;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.circle-container .circle-element:hover .circle-description{
  margin-top: 8px;
  opacity: 1;
}


.circle-element:nth-child(1):hover ~ .circle-content .circle-description:nth-child(1){
	display: block;
}
.circle-element:nth-child(1) {
    -webkit-transform: translate(12em);
    -moz-transform: translate(12em);
    -ms-transform: translate(12em);
    -o-transform: translate(12em);
    transform: translate(12em);
} /* 12em = half the width of
 the wrapper */

.circle-element:nth-child(2):hover ~ .circle-content .circle-description:nth-child(2){
	display: block;
}
.circle-element:nth-child(2) {
    -webkit-transform: rotate(45deg) translate(12em) rotate(-45deg);
    -moz-transform: rotate(45deg) translate(12em) rotate(-45deg);
    -ms-transform: rotate(45deg) translate(12em) rotate(-45deg);
    -o-transform: rotate(45deg) translate(12em) rotate(-45deg);
    transform: rotate(45deg) translate(12em) rotate(-45deg);
}


.circle-element:nth-child(3):hover ~ .circle-content .circle-description:nth-child(3){
	display: block;
}
.circle-element:nth-child(3) {
    -webkit-transform: rotate(135deg) translate(12em) rotate(-135deg);
    -moz-transform: rotate(135deg) translate(12em) rotate(-135deg);
    -ms-transform: rotate(135deg) translate(12em) rotate(-135deg);
    -o-transform: rotate(135deg) translate(12em) rotate(-135deg);
    transform: rotate(135deg) translate(12em) rotate(-135deg);
}


.circle-element:nth-child(4):hover ~ .circle-content .circle-description:nth-child(4){
	display: block;
}
.circle-element:nth-child(4) {
    -webkit-transform: translate(-12em);
    -moz-transform: translate(-12em);
    -ms-transform: translate(-12em);
    -o-transform: translate(-12em);
    transform: translate(-12em);
}


.circle-element:nth-child(5):hover ~ .circle-content .circle-description:nth-child(5){
	display: block;
}
.circle-element:nth-child(5) {
    -webkit-transform: rotate(225deg) translate(12em) rotate(-225deg);
    -moz-transform: rotate(225deg) translate(12em) rotate(-225deg);
    -ms-transform: rotate(225deg) translate(12em) rotate(-225deg);
    -o-transform: rotate(225deg) translate(12em) rotate(-225deg);
    transform: rotate(225deg) translate(12em) rotate(-225deg);
}


.circle-element:nth-child(6):hover ~ .circle-content .circle-description:nth-child(6){
	display: block;
}
.circle-element:nth-child(6) {
    -webkit-transform: rotate(315deg) translate(12em) rotate(-315deg);
    -moz-transform: rotate(315deg) translate(12em) rotate(-315deg);
    -ms-transform: rotate(315deg) translate(12em) rotate(-315deg);
    -o-transform: rotate(315deg) translate(12em) rotate(-315deg);
    transform: rotate(315deg) translate(12em) rotate(-315deg);
}
.presentation-row {
  margin-bottom: 0px;
  padding: 20px;
}

.presentation-row .presentation-illustration > img {
	margin: 0 auto;
  border-radius: 4px;
}
.presentation-row .presentation-illustration > figcaption {
	font-style: italic;
	text-align: center;
	font-size: 12px;
	color: rgb(231, 231, 231);
	margin-top: 6px;
}

.presentation-row h1 {
	margin: 10px 0;
  	text-shadow: 0 1px 2px black;
  	color: rgb(236, 125, 0);
}
.store-icons{
	float: right;
}
.store-icons a{
	margin-left:8px;
}
.store-icons a img{
	vertical-align: top;
}
.flat-timeline {
	text-align: center;
}
.flat-timeline img {
	max-width: 120px;
	width: 100%;
	display: block;
	margin: 0 auto;
}
.flat-timeline a div {
  margin-top: 24px;
}
.timeline-container{
	position: relative;
	/*height: 100%;*/
	height: 80vh;
}
.timeline-container .timeline-elements-container {
    width: 800px;
}
.timeline-container .timeline-arrow{
  	height: 280px;
}
.timeline-container .timeline-element img{
	width: 100%;
}
.timeline-container .timeline-element{
	display: inline-block;
	/* top: 0%; */
	vertical-align: top;
	max-width: 160px;
	color: white;
}
.timeline-container .timeline-element:nth-child(even){
	margin-top: 300px;
}
.timeline-container .timeline-element h2{
    color: rgb(236, 125, 0);
	font-weight: 400;
	text-shadow: 0 1px 2px black;
}
.timeline-container .timeline-button-final {
  position: absolute;
  right: -40px;
  top: 37%;
}

/* Liens de la navbar */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: whitesmoke;
    background-color: rgb(0, 164, 236);
}

.navbar-default .navbar-nav>li>a {
    color: rgb(0, 164, 236);
    transition: all ease-in-out .2s;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color: rgb(0, 128, 219);   
}    

.navbar-fixed-top, .navbar-fixed-bottom{
	border-bottom: 2px rgb(0, 164, 236) solid;
}

/* Demo */
.groupe-peripherique > * {
    display: block;
}

.groupe-peripherique {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
}

.groupe-peripheriques {
	/*margin: 0 auto;*/
  white-space: nowrap;
}

.hidden-xs-inline{
	display: inline-block;
}
@media (max-width: 767px){
	.hidden-xs-inline {
	  display: none!important;
	}
}


@-webkit-keyframes scaleOutSoft{
  
  0%{
    opacity: 1;
    -webkit-transform:scale(1);
  }
    
  100%{
    opacity: 0;
    -webkit-transform:scale(0.8);
  }
}
@-moz-keyframes scaleOutSoft{
  
  0%{
    opacity: 1;
    -moz-transform:scale(1);
  }
    
  100%{
    opacity: 0;
    -moz-transform:scale(0.8);
  }
}
@-o-keyframes scaleOutSoft{
  
  0%{
    opacity: 1;
    -o-transform:scale(1);
  }
    
  100%{
    opacity: 0;
    -o-transform:scale(0.8);
  }
}
@keyframes scaleOutSoft{
  
  0%{
    opacity: 1;
    transform:scale(1);
  }
    
  100%{
    opacity: 0;
    transform:scale(0.8);
  }
}

@-webkit-keyframes scaleInSoft{
  
  0%{
    opacity: 0;
    -webkit-transform:scale(1.2);
  }
    
  100%{
    opacity: 1;
    -webkit-transform:scale(1);
  }
}
@-moz-keyframes scaleInSoft{
  
  0%{
    opacity: 0;
    -moz-transform:scale(1.2);
  }
    
  100%{
    opacity: 1;
    -moz-transform:scale(1);
  }
}
@-o-keyframes scaleInSoft{
  
  0%{
    opacity: 0;
    -o-transform:scale(1.2);
  }
    
  100%{
    opacity: 1;
    -o-transform:scale(1);
  }
}
@keyframes scaleInSoft{
  
  0%{
    opacity: 0;
    transform:scale(1.2);
  }
    
  100%{
    opacity: 1;
    transform:scale(1);
  }
}