/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	margin-bottom: 60px;

	border-bottom: 1px solid white;
	/* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
	margin-top: -60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 750px;
	background-color: #777;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
}
#carousel-item-0{
	background-image:url('../img/PFWeb_slide0.png');
}
#carousel-item-1{
	background-image:url('../img/PFWeb_slide1.png');
}
#carousel-item-2{
	background-image:url('../img/PFWeb_slide2.png');
}
.carousel-item-background{
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
}
.carousel-item-background:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 250px;
	background: rgba(0,0,0,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 43%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(43%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 43%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 43%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 43%,rgba(0,0,0,0.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 43%,rgba(0,0,0,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0)', endColorstr='rgba(0,0,0,0.8)',GradientType=0 ); /* IE6-9 */
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
	padding-left: 15px;
	padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	text-align: center;
	margin-bottom: 20px;
}
.marketing h2 {
	font-weight: normal;
}
.marketing .col-lg-4 p {
	margin-left: 10px;
	margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
	margin: 5px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
	/* Remove the edge padding needed for mobile */
	.marketing {
		padding-left: 0;
		padding-right: 0;
	}

	/* Navbar positioning foo */
	.navbar-wrapper {
		margin-top: 20px;
	}
	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
	/*border-radius: 4px;*/
	}

	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}

	.featurette-heading {
		font-size: 50px;
	}
}
.anchorHeader{
	margin-top: 12px;
	padding: 12px;

	line-height: 100%;

	box-shadow: 0px -1px 0px rgba(248, 248, 248, 1), 0px 1px 0px rgba(245, 245, 245, 1);


	border-top: 1px solid rgba(70, 70, 70, 1);
	background: url(../img/tweed.png) repeat 0 0;
	border-bottom: 1px solid rgba(27, 27, 27, 1);
}
.anchorHeader h1 {
	text-align: center;
	font-style: italic;
	color: rgb(228, 228, 228);
	text-shadow: 0px -1px 2px rgb(0, 0, 0);
	font-size: 50px;
}
@media (min-width: 992px) {
	.featurette-heading {
		margin-top: 120px;
	}
}

.label-centered{
	text-align: center;
	margin-bottom: 40px;
}
.size256{
	width: 256px;
	height: auto;
}

/* Ressources */

.shelf {
	margin: 0 auto;
	background: url("../img/Shelf.png") no-repeat;
	height: 157px;
	max-width: 1023px;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

#shelf-wrapper .shelf:first-child{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#shelf-wrapper .shelf:last-child{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}


#shelf-wrapper .shelf:first-child .res-container div{
  /*-webkit-animation: shake 2s infinite ease-in-out;
  -moz-animation: shake 2s infinite ease-in-out;
  -o-animation: shake 2s infinite ease-in-out;*/
}
@-webkit-keyframes shake {
	0% { -webkit-transform: rotate(0deg)}
	15% { -webkit-transform: rotate(-4deg)}
	30% { -webkit-transform: rotate(4deg)}
	45% { -webkit-transform: rotate(-4deg)}
	60% { -webkit-transform: rotate(4deg)}
	75% { -webkit-transform: rotate(0deg)}
}
@-moz-keyframes shake {
	0% { -moz-transform: rotate(0deg)}
	15% { -moz-transform: rotate(-4deg)}
	30% { -moz-transform: rotate(4deg)}
	45% { -moz-transform: rotate(-4deg)}
	60% { -moz-transform: rotate(4deg)}
	75% { -moz-transform: rotate(0deg)}
}
@-o-keyframes shake {
	0% { -o-transform: rotate(0deg)}
	15% { -o-transform: rotate(-4deg)}
	30% { -o-transform: rotate(4deg)}
	45% { -o-transform: rotate(-4deg)}
	60% { -o-transform: rotate(4deg)}
	75% { -o-transform: rotate(0deg)}
}

.shelf .res-container {
	height: 138px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	width: 960px;
	margin: 0 30px;
}
.shelf .res-container div {
	margin: 10px 20px 0;
	vertical-align: top;
	display: inline-block;
	position: relative;
}
.shelf .res-container div:first-child {
/* margin-left: 50px; */
}
.shelf .res-container div .res-icon {
	display: block;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
	border-radius: 16px;
	width: 80px;
	margin: 0 auto;
	/*  transition: All 0.2s ease-in-out;
	-webkit-transition: All 0.2s ease-in-out;
	-moz-transition: All 0.2s ease-in-out;
	-o-transition: All 0.2s ease-in-out;
	-webkit-filter: grayscale(100%);*/
	/* Chrome 19+, Safari 6+, Safari 6+ iOS */

	-webkit-backface-visibility: hidden;
}
.shelf .res-container div .res-icon:hover {
	-webkit-filter: grayscale(0%);
}
.shelf .res-container div span {
	color: #dddddd;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	display: inline-block;
	max-width: 80px;
	width:100%;
	margin-top: 0.2em;
	text-align: center;
	white-space: normal;
	line-height: 16px;
}
.shelf .shelf-title {
	display: block;
	margin: 0 40px;
	padding: 1px 20px;
	border-radius: 4px;
	font-style: italic;
	font-variant: small-caps;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 0px 0px 2px #210d00;
}
.shelf .res-container div:not([data-count='0'])::after {
	content: attr(data-count);
	font-size: 16px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	text-shadow: 0 1px #444;
	text-align: center;
	position: absolute;
	color: #EFEFEF;
	display: inline-block;
	z-index: 0;
	border-radius: 14px;
	padding: 0px 6px;
	border: 2px solid #eee;
	box-shadow: -1px 1px 4px #444;
	margin: -85px -20px;
	background: #ff0505;
	background: -moz-radial-gradient(center, ellipse cover, #ff0505 28%, #9e0000 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%, #ff0505), color-stop(100%, #9e0000));
	background: -webkit-radial-gradient(center, ellipse cover, #ff0505 28%, #9e0000 100%);
	background: -o-radial-gradient(center, ellipse cover, #ff0505 28%, #9e0000 100%);
	background: -ms-radial-gradient(center, ellipse cover, #ff0505 28%, #9e0000 100%);
	background: radial-gradient(ellipse at center, #ff0505 28%, #9e0000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0505', endColorstr='#9e0000', GradientType=1);
}

.shelf .res-container div:hover .ui-tooltip-top{
	display: block;

	-webkit-animation: translate 0.5s 1 ease-in-out;
	-moz-animation: translate 0.5s 1 ease-in-out;
	-o-animation: translate 0.5s 1 ease-in-out;
	-webkit-animation-fill-mode: forwards;
	margin-top: 14px;
}

@-webkit-keyframes translate {
	0% {
		margin-top: 0px;
		opacity: 0;
	}
	100% {
		margin-top: 14px;
		opacity: 1;
	}
}
@-moz-keyframes translate {
	0% {
		margin-top: 0px;
		opacity: 0;
	}
	100% {
		margin-top: 14px;
		opacity: 1;
	}
}
@-o-keyframes translate {
	0% {
		margin-top: 0px;
		opacity: 0;
	}
	100% {
		margin-top: 14px;
		opacity: 1;
	}
}
.ui-tooltip-top,
.ui-tooltip-bottom {
	z-index: 205;
	-webkit-transition: all ease-in-out .5s;
	/*min-height: 120px;
	min-width: 260px;*/
	display: none;
	opacity: 0;
	color: #ffffff;
	cursor: normal;
	width: 400px;
	margin-top: 0px;
	margin-left: -160px;
	font-size: 12px;
	font-family: arial;
	padding: .5em 1em;
	position: absolute;
	border: none;
	/*position:relative;*/

	text-align: center;
	text-shadow: 0 -1px 1px #111111;
	-webkit-border-top-left-radius: 4px ;
	-webkit-border-top-right-radius: 4px ;
	-webkit-border-bottom-right-radius: 4px ;
	-webkit-border-bottom-left-radius: 4px ;
	-khtml-border-top-left-radius: 4px ;
	-khtml-border-top-right-radius: 4px ;
	-khtml-border-bottom-right-radius: 4px ;
	-khtml-border-bottom-left-radius: 4px ;
	-moz-border-radius-topleft: 4px ;
	-moz-border-radius-topright: 4px ;
	-moz-border-radius-bottomright: 4px ;
	-moz-border-radius-bottomleft: 4px ;
	border-top-left-radius: 4px ;
	border-top-right-radius: 4px ;
	border-bottom-right-radius: 4px ;
	border-bottom-left-radius: 4px ;
	-o-box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	-moz-box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	-khtml-box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	-webkit-box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	box-shadow: 0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	background-color: #3b3b3b;
	background-image: -moz-linear-gradient(top, #555555, #222222);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555555), color-stop(1, #222222));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555, EndColorStr=#222222);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555, EndColorStr=#222222);
}
.ui-tooltip-top:after,
.ui-tooltip-bottom:after {
	content: "\25B8";
	display: block;
	font-size: 4em;
	height: 0;
	line-height: 0;
	position: absolute;
}
.ui-tooltip-bottom:after {
	color: #2a2a2a;
	bottom: 0;
	left: 1px;
	text-align: center;
	text-shadow: 1px 0 2px #000000;
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-khtml-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	width: 100%;
}
.ui-tooltip-top:after {
	bottom: auto;
	color: #4f4f4f;
	left: -2px;
	top: 0;
	text-align: center;
	text-shadow: none;
	text-shadow: 1px 0px 0px black;
	-o-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-khtml-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	width: 100%;
}