
    <div class="container marketing">
      <hr class="featurette-divider">
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Haut de page</a></p>
        <p>&copy; 2013 CAPE - Ecole des Mines de Nantes, France &middot; <!-- <a href="#">CGU</a> &middot; <a href="#">Licence</a> --></p>
      </footer>

    </div><!-- /.container -->