html {
	background-color: #FDFDFD;
}

body{
	height: 100%;
	min-width: 500px;
	background-image: url(../img/wsp/bodyLeft.png);
	background-position: left;
	background-repeat: repeat-y;
}
#tplPage{
	background-image: url(../img/wsp/pageIco.png);
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 29px;
	position: absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
}
#tplHeadInfo{
	min-height: 26px;
	border-bottom: 2px solid #edb77d;
	padding-top: 3px;
	padding-left: 5px;
}
#tplHeadInfo > span{
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	font-style: italic;
}
#tplTitle{
	margin: 10px;
}

#tplTabs{
	position: absolute;
	top:110px;
	left:39px;
	bottom:10px;
	right:10px;
}
#tplTabBar{
	display: table-cell;
	vertical-align: bottom;
}
.imp{
	font-weight: bold;
}
span.dk_wspM_headMsg_default {
	background-image: url(../img/wsp/createWspArrow.png);
	background-position: left top;
	background-repeat: no-repeat;
	margin-left: 50px;
	padding-left: 35px;
}
.dk_wspM_name {
	font-size: 1.5em;
	font-weight: bold;
	color: #003E80;
}
