/* Transformers' CSS*/

/******************/
/*	tooltips	*/
/******************/
.tooltip_a {
	cursor: pointer;
	text-decoration: none;
}
a.tooltip_act{
	color:#4e6080;
}
.ttSimple_a {
	cursor: pointer;
	text-decoration: none;
}
.tooltip,
.infoBtn_fra,
.ttSimple{
	border: 1px solid gray;
	background: url(../img/txt/fondTT.png) top left repeat-y white;
	padding:5px
}

/* workaround pour erreur javascript sur IE6 broder="Medium" entrainant echec de conversion en int */
.ttSimple_fra,
.tooltip_fra {
	border-right:0px none;
	border-left:0px none;
	border-top:0px none;
	border-bottom:0px none;
}

.tooltip_ti,
.infoBtn_ti{
	font-size: 14px;
	font-weight: bold;
	background-color: #60749c;
	color:white;
	position: relative;
	padding: 0 18px 0 5px;
	cursor: default;
	min-height:16px;
}
.tooltip_x,
.op_txt_tt_x,
.infoBtn_x,
.op_labelTxt_tt_x,
.op_qTxt_tt_x{
	background: url(../img/txt/cross2.png) top left no-repeat;
	text-decoration: none;
	display: block;
	position:absolute;
	top: 5px;
	right:5px;
	width: 16px;
	height: 16px;
}
.tooltip_x span,
.infoBtn_x span{
	display: none;
}
.ttSimple_co,
.tooltip_co,
.infoBtn_co{
	padding: 4px 4px 0px 4px;
}
.ttSimple p,
.tooltip p,
.infoBtn_fra p{
	text-align: left;
	font-size: 0.9em;
}
/* ----- footnotes ------- */
ol.footnotes{
	margin: 40px 20px 20px 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px dashed #4463A1;
	font-size:90%;
}
li.footnotes_it{
	margin-bottom: 10px;
}
div.footnotes_itti .tooltip_x,
div.footnotes_itti .op_txt_tt_x,
div.footnotes_itti .infoBtn_x,
div.footnotes_itti .op_labelTxt_tt_x,
div.footnotes_itti .op_qTxt_tt_x{
	display: none;
}
div.footnotes_itti{
	font-weight: bold;
	color:#4463A1;
}



/********************/
/* Classes for Text */
/********************/
q:before, 
q:after {
	content: "";
}

/* Weblink */
.op_txt_ul,
.op_sTxt_ul,
.op_labelTxt_ul,
.op_clozeTxt_ul,
.op_qTxt_ul,
.sfile_lnk,
.op_eSite_link_S,
.op_eSite_link_L{
	text-decoration: none;
	color: #4463A1;
	background: url(../img/txt/refLink.gif) no-repeat center right;
	padding-right: 20px;
}
.op_txt_ul:hover,
.op_sTxt_ul:hover,
.op_labelTxt_ul:hover,
.op_clozeTxt_ul:hover,
.op_qTxt_ul:hover,
.sfile_lnk:hover,
.op_eSite_link_S:hover,
.op_eSite_link_L:hover{
	text-decoration: underline;
	background: url(../img/txt/goLink.gif) no-repeat center right;
}

/* RefItem */
.ddDropTi .op_txt_ul_acr,
.ddDropTi .op_labelTxt_ul_acr,
.ddDropTi .op_clozeTxt_ul_acr,
.ddDropTi .op_qTxt_ul_acr,
.ddDropTi .op_txt_ul_glos,
.ddDropTi .op_labelTxt_ul_glos,
.ddDropTi .op_clozeTxt_ul_glos,
.ddDropTi .op_qTxt_ul_glos,
.ddDropTi .op_txt_ul_ref,
.ddDropTi .op_labelTxt_ul_ref,
.ddDropTi .op_clozeTxt_ul_ref,
.ddDropTi .op_qTxt_ul_ref{
	background-color:#eeeff1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-left:3px;
}

.op_txt_ul_acr,
.op_labelTxt_ul_acr,
.op_clozeTxt_ul_acr,
.op_qTxt_ul_acr{
	background: url(../img/txt/abr.gif) no-repeat center right;
	padding-right: 18px;
	color: #426aaf;
	text-decoration:none;
}
.op_txt_ul_glos,
.op_labelTxt_ul_glos,
.op_clozeTxt_ul_glos,
.op_qTxt_ul_glos{
	background: url(../img/txt/glos.gif) no-repeat center right;
	padding-right: 16px;
	color: #426aaf;
	text-decoration:none;
}
.op_txt_ul_bib,
.op_labelTxt_ul_bib,
.op_clozeTxt_ul_bib,
.op_qTxt_ul_bib{
	background: url(../img/txt/bib.gif) no-repeat center right;
	padding-right: 16px;
	color: #426aaf;
	text-decoration:none;
}
.op_txt_ul_ref,
.op_labelTxt_ul_ref,
.op_clozeTxt_ul_ref,
.op_qTxt_ul_ref{
	background: url(../img/txt/ref.gif) no-repeat center right;
	padding-right: 18px;
	color: #426aaf;
	text-decoration:none;
}
.op_txt_ul_docLnk,
.op_clozeTxt_ul_docLnk,
.op_qTxt_ul_docLnk{
	text-decoration: none;
	background: url(../img/txt/note.gif) no-repeat center right;
	padding-right: 12px;
	color: #394e81;
	text-decoration:none;
}
.op_txt_ul_resLnk,
.op_clozeTxt_ul_resLnk,
.op_qTxt_ul_resLnk{
	text-decoration: none;
	background: url(../img/txt/zoom.gif) no-repeat center right;
	padding-right: 18px;
	color: #394e81;
	text-decoration:none;
}
.op_txt_ul_ucLnk,
.op_clozeTxt_ul_ucLnk,
.op_qTxt_ul_ucLnk{
	background: url(../img/txt/expUc.gif) no-repeat center right;
	padding-right: 12px;
	color: #4a6aa1;
	text-decoration:none;
}

.op_txt_ul_acr:hover,
.op_labelTxt_ul_acr:hover,
.op_clozeTxt_ul_acr:hover,
.op_qTxt_ul_acr:hover,
.op_txt_ul_glos:hover,
.op_labelTxt_ul_glos:hover,
.op_clozeTxt_ul_glos:hover,
.op_qTxt_ul_glos:hover,
.op_txt_ul_ref:hover,
.op_labelTxt_ul_ref:hover,
.op_clozeTxt_ul_ref:hover,
.op_qTxt_ul_ref:hover,
.op_txt_ul_bib:hover,
.op_labelTxt_ul_bib:hover,
.op_clozeTxt_ul_bib:hover,
.op_qTxt_ul_bib:hover,
.op_txt_ul_docLnk:hover,
.op_clozeTxt_ul_docLnk:hover,
.op_qTxt_ul_docLnk:hover,
.op_txt_ul_resLnk:hover,
.op_clozeTxt_ul_resLnk:hover,
.op_qTxt_ul_resLnk:hover,
.op_txt_ul_ucLnk:hover,
.op_clozeTxt_ul_ucLnk:hover,
.op_qTxt_ul_ucLnk:hover{
	text-decoration: underline;
}
sup a {
	color:#4a6aa1;
}
/* inlineStyles */
.op_txt_is_emp, 
.op_sTxt_is_emp, 
.op_labelTxt_is_emp, 
.op_clozeTxt_is_emp,
.op_qTxt_is_emp{
	font-weight: bold;
	color: #0866EC;
}
.op_sPara_is_emp{
	font-weight: bold;
}

.ddDropTi .op_txt_is_emp, 
.ddDropTi .op_sTxt_is_emp, 
.ddDropTi .op_labelTxt_is_emp, 
.ddDropTi .op_clozeTxt_is_emp,
.ddDropTi .op_qTxt_is_emp,
.ddDropTi .op_sPara_is_emp{
	color:white;
	font-size:1.1em
}
.op_txt_is_spec, 
.op_sTxt_is_spec, 
.op_sPara_is_spec, 
.op_labelTxt_is_spec, 
.op_clozeTxt_is_spec,
.op_qTxt_is_spec{
	font-style: italic;
}
.op_clozeTxt_is_representative{
	background-color: #0866EC;
	color: white;
	font-weight: bold;
	padding: 0 3px 0 3px;
}
.op_txt_is_quote,
.op_labelTxt_is_quote,
.op_clozeTxt_is_quote{
	font-style: italic;
	color: #394e81;
	font-family: Georgia, "DejaVu Serif Condensed", "DejaVu Serif","Palatino Linotype", "Lucida Bright", serif;
}

.op_txt_is_quote,
.op_labelTxt_is_quote,
.op_clozeTxt_is_quote{
	font-style: italic;
	color: #394e81;
	font-family: Georgia, "DejaVu Serif Condensed", "DejaVu Serif","Palatino Linotype", "Lucida Bright", serif;
}

.ddDropTi .op_txt_is_quote,
.ddDropTi .op_labelTxt_is_quote,
.ddDropTi .op_clozeTxt_is_quote{
	color: white;
}

.ddDropTi .op_txt_is_code, 
.ddDropTi .op_labelTxt_is_code, 
.ddDropTi .op_clozeTxt_is_code,
.ddDropTi .op_qTxt_is_code{
	color:white;
}
/* Tableau */
.op_txt_tb, .op_clozeTxt_tb{
	margin:auto;
	margin-bottom:3px;
}
.op_txt_tb caption, .op_clozeTxt_tb caption{
	caption-side: bottom;
	color: #686868;
	font-style: italic;
	margin-bottom:10px;
}
.op_txt_tbcl_head, .op_clozeTxt_tbcl_head{
	background-color : #e2e7f1;
}
.op_txt_tbtr_head, .op_clozeTxt_tbtr_head{
	background-color : #4463A1;
}
.op_txt_tb th *, .op_clozeTxt_tb th *{
	text-align : right;
	color : #3C4961;
}
.op_txt_tbtr_head th *, .op_clozeTxt_tbtr_head th *{
	text-align : center;
	color : #FFFFFF;
}
.op_clozeTxt_tbtr_head th input {
	/* l'input est sur fond blanc alors le contenu du trou doit rester noir même en header */
	color : #000000;
}


.op_txt_tb td, .op_clozeTxt_tb td,
.op_txt_tb th, .op_clozeTxt_tb th{
	border : 1px solid #4463A1;
	padding: 0px 3px;
}
.op_txt_tbtd_num *, .op_clozeTxt_tbtd_num *{
	text-align : right;
}
.op_txt_tbtd_word *, .op_clozeTxt_tbtd_word *{
	text-align : center;
}
.op_txt_tb p, .op_clozeTxt_tb p{
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0.3em;
}

/* textLeafs */
.op_bibTxt_tl_title{
	font-style: italic;
}
.op_bibTxt_tl_auth{
	font-weight: bold;
}
.op_bibTxt_tl_ed{
}
.op_bibTxt_tl_date{
	color: #5F5F5F;
}
span.op_listingTxt_tl_note{
	font-style: italic;
}

/* imagesInline */
.op_txt_tim_form img,
.op_txt_tim_form object,
.embedObj,
.op_txt_tim_ico img,
.op_qTxt_tim_form img,
.op_qTxt_tim_form object,
.op_qTxt_tim_ico img {
	border: none;
	vertical-align: middle;
}

/* lists*/
ol.op_txt_ol, 
ol.op_clozeTxt_ol,
ol.op_qTxt_ol {
	color: #4061A3;
	font-weight: bold;
}
ul.op_txt_il,
ul.op_sTxt_il,
ul.op_clozeTxt_il,
ul.op_qTxt_il{
	list-style-image: url(../img/txt/puce1.gif);
}
ul.op_txt_il ol,
ul.op_sTxt_il ol,
ul.op_clozeTxt_il ol,
ul.op_qTxt_il ol {
	list-style-image: none;
	/*sinon ol herite de son ul parent l'image de la puce*/
}
ul.op_txt_il ul,
ul.op_sTxt_il ul,
ul.op_clozeTxt_il ul,
ul.op_qTxt_il ul{
	list-style-image: url(../img/txt/puce2.gif);
}
ul.op_txt_il ul ul,
ul.op_sTxt_il ul ul,
ul.op_clozeTxt_il ul ul,
ul.op_qTxt_il ul ul{
	list-style-image: url(../img/txt/puce3.gif);
}
.op_txt_ili p,
.op_sTxt_ili p,
.op_clozeTxt_ili p,
.op_qTxt_ili p,
.op_txt_oli p,
.op_sTxt_oli p,
.op_clozeTxt_oli p,
.op_qTxt_oli p{
	margin-left: 0px;
	color: black;
	font-weight: normal;
}

/* paragraph */
.op_listingTxt_p{
	margin: 0.3em 1em;
	color: #686868;
	font-family:	monospace;
}



/*************/
/*	binaries */
/*************/
a.zoom{
	text-decoration: none;
	background: url(../img/txt/zoom.gif) no-repeat center;
	padding: 0px 10px;
	margin-left: 5px;
	font-size: 15px;
	display: inline-block; /* hack IE7 */
	height: 20px; /* hack IE7 */
}
a.zoom:hover{
	background: url(../img/txt/zoom_in.gif) no-repeat center;
}
a.zoom span{
	display: none;
}
.ttInfo_a{
	margin-left: 5px;
}
.ttInfo_a img{
	border:0px;
	vertical-align: middle;
}

.resInFlow{
	text-align: center;
	margin: 1em;
}


.resInFlow_ti{
	color: #686868;
	font-style: italic;
}

.linkInFlow{
	margin: 1em;
}

.simu{
	margin-left: 10px;
	background:url(../img/blocks/simuBig.gif) top left no-repeat;
	padding-left:40px;
	min-height:40px
}
.simu_ti{
	text-align: left;
	font-size:1.4em;
}
.simuLnk {
	color:#4463A1;
	text-decoration: none;
	background:transparent url(../img/txt/vidInd.png) no-repeat scroll right center;
	padding-right:24px;
	
}
.simuLnk:hover {
	text-decoration: underline;
}

.simu_co{
	text-align: center;
}
.simuExp_closed, .simuExp_open{
	color: #686868;
	text-align: left;
	text-decoration: none;
	font-size:1.1em;
}
.simuExp_closed{
	background:url(../img/blocks/explicationSimu.gif) center left no-repeat;
}
.simuExp_open{
	background:url(../img/blocks/explicationSimuOpened.gif) center left no-repeat;
}

.simuExp_ti{
	padding-left:15px;
}
.simuExp_ti:hover{
	text-decoration: underline;
}
.simuExp_co{
	border-left: 2px solid #359632;
	text-align: center;
	margin-left:4px
}
.simuExp_co p{
	font-size: 12px;
	margin: 0px 5px 5px 5px;
}
.eWeb{
	margin:0 auto;
}
.eWeb_wide{
	margin-right:10px;
}
.infoVideo p,
.infoVideo,
.infoAudio p,
.infoAudio{
	text-align:center;
}
/********************/
/*		Listing	 */
/********************/
.listingBk{
	border-left: 1px solid gray;
	margin: 0px 15px;
	padding-bottom: 5px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px; 
}

/********************/
/*		 Quotes	 */
/********************/
.bkquoteOpen{
	background-image: url(../img/blocks/bkquoteOpen.png);
	background-repeat: no-repeat;
	background-position: top left;
	margin-left: 30px;
}
.bkquoteClose{
	background-image: url(../img/blocks/bkquoteClose.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	margin-right: 30px;
}
blockquote{
	font-size: 0.9em;
	font-family: Georgia, "DejaVu Serif Condensed", "DejaVu Serif","Palatino Linotype", "Lucida Bright", serif;
	margin: 0.3em 25px;
	padding: 1px 5px;
	background-color: #f7f8f8;
}
blockquote p{
	margin-left: 0px;
	margin-right: 0px;
}
.blocks_co .bkquoteOpen{
	background-image: url(../img/blocks/bkquoteOpenBlue.png);
}
.blocks_co .bkquoteClose{
	background-image: url(../img/blocks/bkquoteCloseBlue.png);
}
.blocks_co blockquote{
	background-color: #f5faff;
}
.warning .bkquoteOpen{	
	background-image: url(../img/blocks/bkquoteOpenRed.png);
}
.warning .bkquoteClose{
	background-image: url(../img/blocks/bkquoteCloseRed.png);
}
.warning blockquote{
	background-color: #ffe9e8;
}
/********************/
/* Classes for blocks */
/********************/

.mainContent_ti{
	font-size: 2em;
	text-align: center;
	margin: 1em;
}

/* bottom margin inside overflow=auto div does not work in some browsers, */
/* using http://www.brunildo.org/test/scroll-child-marginV.html method as a workaround */

.info{
}
.basic_ti, .legal_ti, .complement_ti, .method_ti, .syntax_ti, .simulation_ti,
.remind_ti, .def_ti, .example_ti, .remark_ti, .advice_ti, .warning_ti,
.obj_ti {
	font-size: 1.5em;
	color:#4a6aa1;
	background-position: center right;
	background-repeat: no-repeat;
	position:relative;
	padding-top:10px;
}
.warning_ti{
	color: #FF4F45;
}
.info_ti{
	font-size: 1.4em;
	color:#4463A1;
	padding: 5px 0px 0px 0px;
	margin-left:14px;
}

.basic, .legal, .complement, .method, .syntax, .simulation,
.remind, .def, .example, .remark, .advice, .warning, .obj{
	background-image:url(../img/blocks/shadow_bottom.gif);
	background-position:center bottom;
	background-repeat:repeat-x;
	padding-bottom:8px;
	margin: 1.6em 1em 1.3em 1em;
}
.blocks_co, .obj_co{
background-color:#f3f8ff;
border:2px solid #4463A1;
}

.pbTi{
	position:absolute;
	right:0px;
	bottom:0px;
	display:block;
	background-position:bottom left;
	background-repeat:no-repeat;
}

.basic_ti .pbTi{
	background-image: url(../img/blocks/basic.png);
	padding-top:29px;
	padding-left:32px;
}
.legal_ti .pbTi{
	background-image: url(../img/blocks/legal.png);
	padding-top:31px;
	padding-left:31px;
}
.complement_ti .pbTi{
	background-image: url(../img/blocks/complement.png);
	padding-top:28px;
	padding-left:37px;
}
.method_ti .pbTi{
	background-image: url(../img/blocks/method.png);
	padding-top:33px;
	padding-left:31px;
}
.syntax_ti .pbTi{
	background-image: url(../img/blocks/syntax.png);
	padding-top: 36px;
	padding-left: 32px;
}
.simulation_ti .pbTi{
	background-image: url(../img/blocks/simul.png);
	padding-top: 30px;
	padding-left: 33px;
}
.advice_ti .pbTi{
	background-image: url(../img/blocks/advice.png);
	padding-top: 31px;
	padding-left: 34px;
}
.def_ti .pbTi{
	background-image: url(../img/blocks/def.png);
	padding-top: 31px;
	padding-left: 36px;
}
.example_ti .pbTi{
	background-image: url(../img/blocks/example.png);
	padding-top:27px;
	padding-left:30px;
}
.remark_ti .pbTi{
	background-image: url(../img/blocks/remark.png);
	padding-top:31px;
	padding-left:34px;
}
.remind_ti .pbTi{
	background-image: url(../img/blocks/remind.png);
	padding-top:25px;
	padding-left:32px;
}
.warning_ti .pbTi{
	background-image: url(../img/blocks/warning.png);
	padding-top: 32px;
	padding-left: 33px;
}
.obj_ti{
	background: url(../img/blocks/obj.png) top left no-repeat;
}
.expUcDiv_co{
	padding-left: 2em;
	background: url(../img/blocks/part.png) top left no-repeat;
	margin-left: 5px;
}
.expUcDiv_ti{
	color: #424242;
	padding-left: 20px;
	font-weight: normal;
}
.collapse{
	background: url(../img/blocks/topleft.jpg) top left no-repeat;
	border: 2px solid #D6E2F1;
	margin: 1em 1em 1em 1em;
}
.collapse_open{
	background: url(../img/blocks/plus.png) top left no-repeat;
}
.collapse_closed{
background: url(../img/blocks/minus.png) top left no-repeat;
margin-bottom: 1em;
}
.collapse_ti{
	font-size: 1.5em;
	font-weight: bold;
	color:#728CB0;
	padding-left: 35px;
}
.collapse_tiIn{
}
.collapse_co{
background: url(../img/blocks/bottomright.jpg) bottom right no-repeat;
padding: 1em 1em 1em 1em;
}
.collapse_closed .a{
background: url(../img/blocks/bottomright.jpg) bottom right no-repeat;
}
.collapse a{
	text-decoration: none;
}


.objBox{
	margin: 20px 10%;
	padding: 10px;
	border: 2px solid #4463A1;
	background-color: #e7efff;
}
.objBox_ti{
	font-weight: bold;
	color:#4463A1;
	font-size:1.2em
}
.objBoxIn{
	padding: 10px;
}


.quest{
	background-color:#EDF2F9;
	border:2px solid #4463A1;
	margin: 20px 10px;
}


/* Warning */
.warning .blocks_co{
	border: 2px solid #FF4F45;
	background-color: #FFCFCC;
}
.warning ul.op_txt_il{
	list-style-image: url(../img/txt/puce1Red.gif);
}
.warning ul.op_txt_il ul{
	list-style-image: url(../img/txt/puce2Red.gif);
}
.warning ul.op_txt_il ul ul{
	list-style-image: url(../img/txt/puce3Red.gif);
}

.warning a.op_txt_ul{
	color: #b44a4a;
	background: url(../img/txt/refLinkRed.gif) no-repeat center right;
}
.warning a.op_txt_ul:hover{
	background: url(../img/txt/goLinkRed.gif) no-repeat center right;
}
.warning span.op_txt_ul_acr{
	background: url(../img/txt/abrRed.gif) no-repeat center right;
	color: #b44a4a;
}
.warning span.op_txt_ul_glos{
	background: url(../img/txt/glosRed.gif) no-repeat center right;
	color: #b44a4a;
}
.warning span.op_txt_ul_bib{
	background: url(../img/txt/bibRed.gif) no-repeat center right;
	color: #b44a4a;
}
.warning span.op_txt_ul_ref {
	background: url(../img/txt/refRed.gif) no-repeat center right;
	color: #b44a4a;
}
.warning .op_txt_ul_docLnk {
	background: url(../img/txt/noteRed.gif) no-repeat center right;
	color: #b44a4a;
}
.warning .op_txt_ul_resLnk{
	background: url(../img/txt/zoom.gif) no-repeat center right;
	color: #b44a4a;
}
.warning .op_txt_is_emp{
	color: #ca0000;
}

/***************************************/
/* Classes for Images and Ressources */
/***************************************/

.op_txtRes_tab{
	margin: 5px 0px;
	table-layout: fixed;
}
.op_txtRes_cellResRgt, .op_txtRes_cellResLft{
}

.txtRes{
	text-align: center;
}

.txtRes_ti{
	color: #686868;
	font-style: italic;
	margin-top: 0px;
	padding-top: 0px;
}
p.txtRes_ti span{
	margin-right: 5px;
}
.captionImg{
	text-align: center;
	margin-bottom: 2em;
}

.eSite_page_size_L, .eSite_page_size_S {
	margin-bottom:10px;
}
.eSite_page_size_L_ti {
	width:95%;
}
.eSite_page_size_S_ti {
	width:500px;
}

.eSite_page_size_L_ti, .eSite_page_size_S_ti {
	text-align:center;
	font-style:italic;
	color: #686868;
	padding-top:0px;
	margin-top:0px;
}

.captionImg_ti{
	font-family: Georgia, "DejaVu Serif Condensed", "DejaVu Serif","Palatino Linotype", "Lucida Bright", serif;
	color: #686868;
	min-height: 20px;
	font-size: 1.1em;
}
.captionImg_ti p{
	text-align: center;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.captionImg_co a, .captionImg_co img{
	text-decoration: none;
	border: none;
}
.op_resM_label{
}
.op_resM_title{
	background: url(../img/blocks/captionImg_small.png) no-repeat top left;
	padding-left: 22px;
	text-decoration: underline;
	margin-right: 1em;
}
.op_resM_author, .op_resM_date{
	margin-right: 0.5em;
}
.op_resM_desc{
	font-style: italic;
}

.legalInfo img {
	border: none;
	vertical-align:middle;
}

/*****************/
/*	 Metadata	*/
/*****************/
p.mField{
	background: url(../img/txt/puce2.gif) no-repeat top left;
	padding-left: 16px;
	margin: 4px 0px 4px 0px;
}

p.infoInTT{
	text-align:center;
	color: #686868;
	font-style: italic;
	margin-top:8px;
}


.mField_ti{
	font-weight: bold;
	color: #4463A1;
	margin-top: 5px;
}

.idxFra .mField_ti{
	color:#A056B0
}

.mDiv{
	padding-left: 16px;
	background: url(../img/txt/puce2.gif) no-repeat top left;
}
.mDiv p{
	margin: 4px 0px 4px 0px;
}
.mDiv_ti{
	font-weight: bold;
	color: #4463A1;
}


/****************/
/*	 PractUc	*/
/****************/

.practUcDesc{
	/*border: 2px solid #D6E2F1;*/
	border: 2px solid #4463A1;
	padding: 0.2em 1em;
	margin: 1em 3em;
}
.practUcDesc_ti{
	text-align: center;
}
.practUcDesc_co{
/*	background: url(../img/quiz/practSol2.png) no-repeat top left;
	padding-left: 45px;*/
}
.practUcQuest_co{
	background: url(../img/quiz/practQuest.png) no-repeat 10px top;
	padding-left: 42px;
	min-height:40px;
}
.op_practUcQ_hint_ti.collapse_ti,
.op_practUcQ_sol_ti.collapse_ti{
	color: #6e6e6e;
	font-family: Geneva, Verdana, sans-serif;
	font-size: 1.3em;
}
.op_practUcQ_hint_co.collapse_co,
.op_practUcQ_sol_co.collapse_co{
	margin-left: 9px;
	border-left: 1px solid #6e6e6e;
}
.op_practUcQ_hint_co.collapse_co{
	background: url(../img/quiz/practHint.png) no-repeat 10px 10px;
	padding-left: 42px;
}
.op_practUcQ_sol_co.collapse_co{
	background: url(../img/quiz/practSol2.png) no-repeat 10px 10px;
	padding-left: 42px;
}
.op_practUcQ_sol.collapse, 
.op_practUcQ_hint.collapse{
	background: none;
	border: none;
}
.op_practUcQ_hint_closed.collapse_closed,
.op_practUcQ_sol_closed.collapse_closed{
	background: url(../img/quiz/practOpen.png) no-repeat top left;
}

.op_practUcQ_hint_open.collapse_open,
.op_practUcQ_sol_open.collapse_open{
	background: url(../img/quiz/practClose.png) no-repeat top left;
}
.op_practUcQ_hint_ti.collapse_ti,
.op_practUcQ_sol_ti.collapse_ti{
padding-left: 25px;
}

/****************/
/*	 Deco	 */
/****************/
.decoUe, .decoUeDiv, .decoIntro, .decoConclu, .decoQuest, .decoAssmntUa, .decoCourseUa, .decoExpUc, .decoPractUc, .decoTrainUc,.decoVidUc{
	width: 240px;
	height: 200px;
}
.decoIntro{
	background: url(../img/deco/introIco.png) center center no-repeat;
}
.decoConclu{
	background: url(../img/deco/concluIco.png) center center no-repeat;
}
.decoAssmntUa{
	background: url(../img/deco/assmntUaIco.png) center center no-repeat;
}
.decoCourseUa{
	background: url(../img/deco/courseUaIco.png) center center no-repeat;
}
.decoExpUc{
	background: url(../img/deco/expUcIco.png) center center no-repeat;
}
.decoVidUc{
	background: url(../img/deco/vidUcIco.png) center center no-repeat;
}
.decoQuest{
	background: url(../img/deco/questIco.png) center center no-repeat;
}
.decoPractUc{
	background: url(../img/deco/practUcIco.png) center center no-repeat;
}
.decoTrainUc{
	background: url(../img/deco/trainUcIco.png) center center no-repeat;
}
.decoUe{
	background: url(../img/deco/ueIco.png) center center no-repeat;
}
.decoUeDiv{
	background: url(../img/deco/ueDivIco.png) center center no-repeat;
}
.practUcDesc,.practUcQuest{
	margin-bottom:20px;
}
ol.footnotes *:target {
	background-color: #eeecdd; 
}

/****************/
/*	 Zoom	 */
/****************/
.scImgZmOver{
	background-color: black;
}
div.scImgZmCvs{
	background-repeat: no-repeat;
	background-position: center center;
	background-image:url("../img/scImg/throbber.gif");
}
div.scImgZmFra{
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:5px;
}
div.scImgZmTlb{
	min-height:16px;
	left:0;
	right:0;
}
div.scImgZmTi{
	padding-right:16px;
	color:gray;
	font-style: italic;
	text-align: center;
}
.capTi{
}
a.scImgZmBtnCls{
	position:absolute;
	width:16px;
	height:16px;
	right:3px;
	bottom:3px;
	background-repeat: no-repeat;
	background-image:url("../img/scImg/btnCls.gif");
}
a.scImgZmBtnCls:hover{
	background-image:url("../img/scImg/btnClsOvr.gif");
}
a.scImgZmBtnCls span{
	display: none;
}
.scImgZmCo img{
	background-color: white;
}
.imgZoom,
.swfZoom {
	cursor: url(../skin/img/txt/zoom.cur), url(../img/txt/zoom.cur), pointer;
}
.imgZoom img,
.swfZoom img {
	border:0px;
}
.scImgZmMag{
	-webkit-box-shadow:	0px 0px 4px 4px #888;
	-moz-box-shadow:	0px 0px 4px 4px #888;
	box-shadow:	0px 0px 4px 4px #888;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
cursor:crosshair;
}
.scImgZmMagMax{
	cursor:crosshair;
}
.intructionM {
	color: #666;
	margin-top:20px;
}
/****************/
/*	 Gallery	 */
/****************/
.gallery{
	margin:0.2em 1em 0.7em;
}
.gallery_co{
}
.scImgSep{
	display: none;
}
span.galPv{
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 2px;
	background-color: white;
}
a.galPvLnk:hover {
	opacity:0.8;
}
img.imgPv{
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
}
div.scImgGalOver,
div.scImgZmOver{
	background-color: black;
}
div.scImgGalFra{
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
div.scImgGalCo,
div.scImgGalImgFra{
	background-color: white;
}
div.scImgGalTi{
	font-style: italic;
	color: #686868;
	cursor: default;
	font-size:12px;
}
div.scImgGalTbr span.scImgGalCount{
	font-style: italic;
	color: #686868;
	cursor: default;
}
div.scImgGalTbr span{
	display: none;
	position: absolute;
}
div.scImgGalTbr a{
	display: block;
	width:16px;
	height:16px;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	bottom:3px;
}
a.scImgGalBtnPrv{
	background-image:url("../img/scImg/btnPrv.gif");
	left:330px;
}
a.scImgGalBtnPrv:hover{
	background-image:url("../img/scImg/btnPrvOvr.gif");
}
a.scImgGalBtnNoPrv{
	background-image:url("../img/scImg/btnNoPrv.gif");
	left:330px;
	cursor: default;
}
a.scImgGalBtnNxt{
	background-image:url("../img/scImg/btnNxt.gif");
	right:330px;
}
a.scImgGalBtnNxt:hover{
	background-image:url("../img/scImg/btnNxtOvr.gif");
}
a.scImgGalBtnNoNxt{
	background-image:url("../img/scImg/btnNoNxt.gif");
	right:330px;
	cursor: default;
}
a.scImgGalBtnCls{
	background-image:url("../img/scImg/btnCls.gif");
	right:5px;
}
a.scImgGalBtnCls:hover{
	background-image:url("../img/scImg/btnClsOvr.gif");
}
a.scImgGalBtnPse{
	background-image:url("../img/scImg/btnPse.gif");
	left:352px;
}
a.scImgGalBtnPse:hover{
	background-image:url("../img/scImg/btnPseOvr.gif");
}
a.scImgGalBtnPly{
	background-image:url("../img/scImg/btnPly.gif");
	left:352px;
}
a.scImgGalBtnPly:hover{
	background-image:url("../img/scImg/btnPlyOvr.gif");
}
/** vidUc */
.vidUcBk {
		height: 98%;
		left: 0;
		margin: 0 5px 5px;
		position: absolute;
		top: 0;
		width: 98%;
}

/* === CodeMirror =========================================================== */
.CodeMirror-static{
	margin-left:40px;
}
.CodeMirror-static pre {
	/* Reset some styles that the rest of the page might have set */
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	border-width: 0;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	white-space: pre;
	word-wrap: normal;
	line-height: inherit;
	color: inherit;
	z-index: 2;
	position: relative;
	overflow: visible;

	border-right: 30px solid transparent;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	font-family: monospace;
	tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
}
.CodeMirror-line{
	position: relative;
}
.CodeMirror-linenumber{
	position: absolute;
	top:0;
	left:-38px;
	width:30px;

	padding: 0 3px 0 5px;
	min-width: 20px;
	min-height: 16px;
	text-align: right;
	color: #999;
	background-color: #f7f7f7;
}

.cm-keyword {color: #708;}
.cm-atom {color: #219;}
.cm-number {color: #164;}
.cm-def {color: #00f;}
.cm-variable {color: black;}
.cm-variable-2 {color: #05a;}
.cm-variable-3 {color: #085;}
.cm-property {color: black;}
.cm-operator {color: black;}
.cm-comment {color: #a50;}
.cm-string {color: #a11;}
.cm-string-2 {color: #f50;}
.cm-meta {color: #555;}
.cm-error {color: #f00;}
.cm-qualifier {color: #555;}
.cm-builtin {color: #30a;}
.cm-bracket {color: #997;}
.cm-tag {color: #170;}
.cm-attribute {color: #00c;}
.cm-header {color: blue;}
.cm-quote {color: #090;}
.cm-hr {color: #999;}
.cm-link {color: #00c;}

.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-invalidchar {color: #f00;}
/* === STOP - CodeMirror ==================================================== */

/* === SMALL & TOUCH screens ================================================ */
div.tplFra_small .pbTi{
	font-size:0.7em;
	line-height:25px;
}
div.tplFra_touch .imgZoom{
	display:inline-block;
	padding-left:18px;
	background-position:left center;
	background-repeat:no-repeat;
	background-image:url(../img/txt/zoom.gif);
}
div.tplFra_touch .ttInfo_a {
	margin-right: 5px;
}
div.scImgGalFra_touch div.scImgGalTbr a {
	width:30px;
}
div.scImgGalFra_touch .scImgGalBtnPrv,
div.scImgGalFra_touch .scImgGalBtnNoPrv {
	left:300px;
}
div.scImgGalFra_touch .scImgGalBtnNxt,
div.scImgGalFra_touch .scImgGalBtnNoNxt {
	right:300px;
}
div.scImgGalFra_touch .scImgGalBtnPly,
div.scImgGalFra_touch .scImgGalBtnPse {
	left:345px;
}
div.scImgGalFra_touch .scImgGalBtnCls {
	background-position: center right;
}
