  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PairForm, la première plateforme d'apprentissage en ligne reposant sur un réseau social au cœur du cours!">
    <meta name="author" content="Maen Juganaikloo">
    <meta name="keywords" content="Réseau social ressource apprendre internet ligne enseignement supérieur">
    <meta name="langage" content="fr-FR">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title>PairForm, le réseau social au cœur de la ressource</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/pairform.css" rel="stylesheet">
    <!-- Bootstrap core CSS --><!-- 
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->

    <script>
      
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40687872-2', 'pairform.fr');
        ga('send', 'pageview');
    </script>
    <meta name="google-site-verification" content="S_X9E5CawtD3BNGQ4ABq9BlbhPzwZIeTAVxWPQcRnYQ" />
  </head>