
<!-- NAVBAR
================================================== -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <img src="img/PairformFullFinal.png">
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="#top">Accueil</a></li>
                <li>
                  <a href="#projet" class="dropdown-toggle" data-toggle="dropdown">Projet<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#projet-finalite">Finalité</a></li>
                    <li><a href="#projet-benefices">Bénéfices</a></li>
                    <li><a href="#projet-fonctions">Fonctions</a></li>
                    <li><a href="#projet-usages">Usages</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#utilisateurs" class="dropdown-toggle" data-toggle="dropdown">Utilisateurs<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#utilisateurs-apprenant">Apprenant</a></li>
                    <li><a href="#utilisateurs-formateur">Formateur</a></li>
                    <li><a href="#utilisateurs-professionel">Professionel</a></li>
                    <li><a href="#utilisateurs-auteur">Auteur</a></li>
                  </ul>
                </li>
                <li><a href="#store">Bibliothèque</a></li>
                <li><a href="#proposer">Proposer</a></li>
                <!-- <li><a href="#telecharger">Télécharger</a></li>
                <li><a href="#equipe">Qui sommes-nous ?</a></li> -->
              </ul> 
              <div class="navbar-login">
                <a href="https://itunes.apple.com/fr/app/pairform/id673935516?mt=8&uo=4" target="itunes_store">
                  <img alt="Disponible sur l'App Store"
                       src="img/appstore.png" />
                </a>
                <a href="https://play.google.com/store/apps/details?id=cape.pairform">
                  <img alt="Disponible sur le Play Store"
                       src="https://developer.android.com/images/brand/fr_app_rgb_wo_45.png" />
                </a>
                <!-- <a class="btn btn-large btn-primary" href="mailto:contact&#64pairform.fr?subject=[PairForm] Demande version beta&body=Note: expliquez votre démarche : qui êtes-vous? Pourquoi voulez vous essayer PairForm? Dans quel contexte?">Déposez votre ressource</a> -->
                 <!-- ou  <a class="btn btn-large btn-primary" href="#">Connectez vous</a> -->
              </div>
              
            </div>
          </div>
        </div>

      </div>
    </div>